n8n Backup - 09 March 2026/Module 7 - Minutes of Meeting (MoM)/New MoM created.json
{
  "name": "New MoM created",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        304,
        48
      ],
      "id": "d76673c2-6a83-42b7-970a-d5fbac405967",
      "name": "Respond to Webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-Mom-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        -160
      ],
      "id": "8e520f58-f2ff-41c5-baa1-e90ed0bdf021",
      "name": "Webhook",
      "webhookId": "e3596f6a-e006-4df1-9027-4172551df482",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "notificaions@lockated.com",
        "toEmail": "={{ $json.attendee_email}}",
        "subject": "= Minutes of Meeting Published – {{$json.title}}\n",
        "html": "=Dear {{$json.RecipientName}},\n\nThe Minutes of Meeting (MoM) for the meeting titled <b>{{$json.title}}</b>, held on {{$json.meeting_date}}, have been formally published.\n\nMeeting Summary:\n• Meeting Title: {{$json.title}}\n• Date & Time: {{$json.meeting_date}}\n• Organized By: {{$json.created_by_name}}\n\nPlease review key discussions, decisions taken, and assigned action items.\n\nAccess MoM:\n{{$json.mom_url}}\n\nRegards,\nMeeting Governance Office\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        112,
        -48
      ],
      "id": "12f5dd7d-4cb0-4cb4-9166-016ab09d8588",
      "name": "Attendees",
      "webhookId": "eed3ea72-b72f-413b-b7b7-75ca5001f09e",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "m6pGNPu76sBcBXtf",
          "name": "Task Management SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  md.id            AS mom_id,\n  md.title         AS mom_title,\n  md.meeting_date,\n  md.created_at    AS mom_created_at,\n\n  ma.id            AS attendee_id,\n  ma.name          AS attendee_name,\n  su.email         AS attendee_email\n\nFROM mom_details md\n\nJOIN mom_attendees ma\n  ON ma.mom_detail_id = md.id\n  AND ma.attendees_type = 'FmUser'\n\nJOIN spree_users su\n  ON su.id = ma.attendees_id\n\nWHERE\n  md.created_at >= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n  AND su.email IS NOT NULL\n  AND su.email != '';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -112,
        -144
      ],
      "id": "57ede7f4-0811-48a4-a092-c1ba07b53e39",
      "name": "Execute a SQL query2",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "FGCPCtEG47rFAJ4J",
          "name": "New FM UAT Task Management Database"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        32
      ],
      "id": "453f9dfa-58cd-4ec9-a0d1-edfac87b15ee",
      "name": "Schedule Trigger",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM mom_tasks ORDER BY created_at DESC limit 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -368,
        -336
      ],
      "id": "3d19e68f-22e7-4cef-991d-7ddb3c9b5bd1",
      "name": "Show Tables",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "FGCPCtEG47rFAJ4J",
          "name": "New FM UAT Task Management Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM mom_details order  by created_at DESC limit 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -128,
        -304
      ],
      "id": "45fbeafc-0de7-4bdd-8ac7-25feef643a18",
      "name": "MOM Details",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "FGCPCtEG47rFAJ4J",
          "name": "New FM UAT Task Management Database"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        []
      ]
    },
    "Attendees": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Attendees",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0d54f96b-ab16-4726-a09b-d7d979bf52f6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cef8c9ed95a800214bddfac974636ee18f281f75a4bb6a9a439ad49c2d156498"
  },
  "id": "rYgEiQl9gRVF8lUO",
  "tags": []
}