Module 4 - ISSUES/Issue overdue.json
{
  "name": "Issue overdue",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "issue-overdue",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -464,
        -144
      ],
      "id": "c55f2fc6-610e-4941-8115-95513f2fa255",
      "name": "Webhook",
      "webhookId": "c3d3e125-e0d3-40e2-a591-7a323038e3d7",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        224,
        -64
      ],
      "id": "264925ef-9e02-4338-8e92-f480218213ce",
      "name": "Respond to Webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "notificaions@lockated.com",
        "toEmail": "={{$json.issue_owner_email}},{{$json.project_manager_email}}",
        "subject": "=Issue I overdue by {{$json.overdue_days}} days.",
        "html": "=Hello,\n\nThe following issue is overdue.\n\nIssue: {{$json.issue_title}}\nProject: {{$json.project_title}}\nOverdue by: {{$json.overdue_days}} day(s)\n\nPlease take the necessary action.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        16,
        -128
      ],
      "id": "f76cf9b5-38e1-43e8-a309-692f52135288",
      "name": "Issue Owner, PM",
      "webhookId": "1946c57f-e0b0-4210-b7e8-d91ac3d4269b",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "m6pGNPu76sBcBXtf",
          "name": "Task Management SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  i.id                    AS issue_id,\n  i.title                 AS issue_title,\n\n  -- convert end_date to IST\n  CONVERT_TZ(i.end_date, '+00:00', '+05:30') AS issue_end_date_ist,\n\n  -- overdue days based on IST date\n  DATEDIFF(\n    DATE(CONVERT_TZ(UTC_TIMESTAMP(), '+00:00', '+05:30')),\n    DATE(CONVERT_TZ(i.end_date, '+00:00', '+05:30'))\n  ) AS overdue_days,\n\n  pm.id                   AS project_id,\n  pm.title                AS project_title,\n\n  -- issue owner\n  io.email                AS issue_owner_email,\n\n  -- project manager\n  pmo.email               AS project_manager_email\n\nFROM issues i\n\nJOIN spree_users io\n  ON io.id = i.responsible_person_id\n\nJOIN project_managements pm\n  ON pm.id = i.project_management_id\n\nJOIN spree_users pmo\n  ON pmo.id = pm.owner_id\n\nWHERE\n  DATE(CONVERT_TZ(i.end_date, '+00:00', '+05:30'))\n    < DATE(CONVERT_TZ(UTC_TIMESTAMP(), '+00:00', '+05:30'))\n  AND i.status NOT IN ('completed', 'closed');\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -224,
        -240
      ],
      "id": "13266ed9-a627-4e24-a890-f56c06c64721",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "FGCPCtEG47rFAJ4J",
          "name": "New FM UAT Task Management Database"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        32
      ],
      "id": "83adf4ea-e7e9-4049-9b9c-caeb8b0e26f0",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Issue Owner, PM": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Issue Owner, PM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0fdf413e-522b-4ffb-b8ab-dfaa0917a261",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cef8c9ed95a800214bddfac974636ee18f281f75a4bb6a9a439ad49c2d156498"
  },
  "id": "O0XsBWxEMUOtyS5O",
  "tags": []
}