n8n Backup - 17 April 2026/Production___Task_Assigned_copy_IYvzml1ma9BhCqMl.json
{
  "data": {
    "updatedAt": "2026-04-16T09:21:59.295Z",
    "createdAt": "2026-04-15T11:43:48.061Z",
    "id": "IYvzml1ma9BhCqMl",
    "name": "Production - Task Assigned copy",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "715edd15-697c-4597-842c-84db7e572593",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          528,
          -304
        ],
        "id": "c78a7eb9-8495-4844-8506-279a5b2f2985",
        "name": "Webhook",
        "webhookId": "715edd15-697c-4597-842c-84db7e572593",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.responsible_person_email}}\n",
          "subject": "=New Task Assigned: {{$json.task_title}}\n\n\n",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{$json.responsible_person_first_name}} {{$json.responsible_person_last_name}},\n  </p>\n\n  <p>\n    You have been assigned a new task requiring your attention.\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Task Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Description</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.description}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.status}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Priority</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.priority}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Assigned To</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        {{$json.responsible_person_first_name}} {{$json.responsible_person_last_name}}\n      </td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Start Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_start_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Planned End Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_end_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Estimated Time (hrs)</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.estimated_time}}</td>\n    </tr>\n\n<tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n<tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.task_id}}\" target=\"_blank\">\n          View Task Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    Please begin execution and keep the task status updated.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>Task Management System</strong>\n  </p>\n\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          80,
          -272
        ],
        "id": "bf464ef4-b87a-4753-8720-a3fc6d393900",
        "name": "Task Owner",
        "webhookId": "d5df5d87-b39f-4a95-a118-c0932a8090a6",
        "credentials": {
          "smtp": {
            "id": "e6BxRubia0RizPKp",
            "name": "Lockated Local SMTP"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          496,
          -48
        ],
        "id": "dc42a685-b5f3-46b0-a4f4-2b09c1f47ba7",
        "name": "Respond to Webhook",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  t.id            AS task_id,\n  t.title         AS task_title,\n  t.description,\n  t.status,\n  t.priority,\n  t.target_date,\n  t.created_at    AS task_created_at,\n  t.parent_id     AS parent_id,\n  t.estimated_hour AS estimated_time,\n  CONVERT_TZ(t.expected_start_date, '+00:00', '+05:30') AS task_start_date,\n  CONVERT_TZ(t.target_date, '+00:00', '+05:30') AS task_end_date,\n\n  m.id            AS milestone_id,\n  m.title         AS milestone_title,\n\n  pm.id           AS project_id,\n  pm.title        AS project_title,\n\n  u.id            AS responsible_person_id,\n  u.firstname     AS responsible_person_first_name,\n  u.lastname      AS responsible_person_last_name,\n  u.email         AS responsible_person_email,\n\n  GROUP_CONCAT(obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(obs.email ORDER BY obs.id) AS observer_emails\n\nFROM task_managements t\n\nJOIN spree_users u\n  ON u.id = t.responsible_person_id\n\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\nLEFT JOIN project_managements pm\n  ON pm.id = t.project_management_id\n\nLEFT JOIN task_users tu\n  ON tu.task_id = t.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  t.created_at >= UTC_TIMESTAMP() - INTERVAL 10 MINUTE\n  AND t.parent_id IS NULL\n  AND u.organization_id IN (13, 14, 59, 84)\n\nGROUP BY t.id;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -192,
          -256
        ],
        "id": "06383223-47dd-44c5-ba23-8dab6ca28d82",
        "name": "Fetch the created annd assigned tasks in pas 1 hr",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "cSpNSxxLQn5eFDMK",
            "name": "Task Management Production Database"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 10
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -464,
          0
        ],
        "id": "c8d1e6cb-7e6f-4f2f-8b12-d1cd77b3b023",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * from task_managements ORDER by created_at DESC LIMIT 5;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -288,
          -464
        ],
        "id": "9da1c650-888d-4c35-ab02-c120c57560f6",
        "name": "Execute a SQL query",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "FGCPCtEG47rFAJ4J",
            "name": "New FM UAT Task Management Database"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * FROM task_users ORDER BY created_at DESC LIMIT 5;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -160,
          48
        ],
        "id": "984f29e6-cea6-40fd-9a87-a36f59b5d353",
        "name": "Execute a SQL query1",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "FGCPCtEG47rFAJ4J",
            "name": "New FM UAT Task Management Database"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  t.id            AS task_id,\n  t.title         AS task_title,\n  t.description,\n  t.status,\n  t.priority,\n  t.target_date,\n  t.created_at    AS task_created_at,\n  t.parent_id     AS parent_id,\n  t.estimated_hour AS estimated_time,\n  CONVERT_TZ(t.expected_start_date, '+00:00', '+05:30') AS task_start_date,\n  CONVERT_TZ(t.target_date, '+00:00', '+05:30') AS task_end_date,\n\n  -- milestone\n  m.id            AS milestone_id,\n  m.title         AS milestone_title,\n\n  -- project\n  pm.id           AS project_id,\n  pm.title        AS project_title,\n\n  -- responsible person\n  u.id            AS responsible_person_id,\n  u.firstname     AS responsible_person_first_name,\n  u.lastname      AS responsible_person_last_name,\n  u.email         AS responsible_person_email,\n\n  -- observers (aggregated)\n  GROUP_CONCAT(DISTINCT obs.id) AS observer_ids,\n  GROUP_CONCAT(DISTINCT obs.firstname) AS observer_first_names,\n  GROUP_CONCAT(DISTINCT obs.lastname) AS observer_last_names,\n  GROUP_CONCAT(DISTINCT obs.email) AS observer_emails\n\nFROM task_managements t\n\nJOIN spree_users u\n  ON u.id = t.responsible_person_id\n\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\nLEFT JOIN project_managements pm\n  ON pm.id = t.project_management_id\n\n-- join task_users for observers\nLEFT JOIN task_users tu\n  ON tu.task_id = t.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\n-- join spree_users again for observer details\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  t.created_at >= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n  AND t.parent_id IS NULL\n\nGROUP BY t.id;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -128,
          240
        ],
        "id": "41821fc9-5219-47c0-8c7d-ee47d78a91ac",
        "name": "Fetch the created annd assigned tasks in pas 1 hr1",
        "credentials": {
          "mySql": {
            "id": "FGCPCtEG47rFAJ4J",
            "name": "New FM UAT Task Management Database"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const emails = (item.json.observer_emails || '').split(',');\n  const firstNames = (item.json.observer_first_names || '').split(',');\n  const lastNames = (item.json.observer_last_names || '').split(',');\n\n  for (let i = 0; i < emails.length; i++) {\n    if (!emails[i]) continue;\n\n    items.push({\n      json: {\n        ...item.json,\n\n        observer_email: emails[i].trim(),\n        observer_first_name: firstNames[i]?.trim(),\n        observer_last_name: lastNames[i]?.trim()\n      }\n    });\n  }\n}\n\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          64,
          -32
        ],
        "id": "c11f5287-f207-4495-962e-73622cb532d3",
        "name": "Code in JavaScript",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  t.id            AS task_id,\n  t.title         AS task_title,\n  t.description,\n  t.status,\n  t.priority,\n  t.target_date,\n  t.created_at    AS task_created_at,\n  t.parent_id     AS parent_id,\n  t.estimated_hour AS estimated_time,\n  CONVERT_TZ(t.expected_start_date, '+00:00', '+05:30') AS task_start_date,\n  CONVERT_TZ(t.target_date, '+00:00', '+05:30') AS task_end_date,\n\n  -- milestone (optional)\n  m.id            AS milestone_id,\n  m.title         AS milestone_title,\n\n  -- project (direct from task)\n  pm.id           AS project_id,\n  pm.title        AS project_title,\n\n  -- responsible person\n  u.id            AS responsible_person_id,\n  u.firstname     AS responsible_person_first_name,\n  u.lastname      AS responsible_person_last_name,\n  u.email         AS responsible_person_email\n\nFROM task_managements t\n\nJOIN spree_users u\n  ON u.id = t.responsible_person_id\n\n-- milestone join\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\n-- project join directly from task\nLEFT JOIN project_managements pm\n  ON pm.id = t.project_management_id\n\nWHERE\n  t.created_at >= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n  AND t.parent_id IS NULL;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -464,
          272
        ],
        "id": "56c403f4-948c-49b9-9271-c304a4158eea",
        "name": "Fetch the created annd assigned tasks in pas 1 hr2 Without Observers",
        "credentials": {
          "mySql": {
            "id": "FGCPCtEG47rFAJ4J",
            "name": "New FM UAT Task Management Database"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.observer_email}}",
          "subject": "=Added as Observer: {{$json.task_title}}\n\n\n",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{$json.observer_first_name}} {{$json.observer_last_name}},\n  </p>\n\n  <p>\n    You have been added as an observer to this task to monitor its progress.\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Task Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Description</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.description}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.status}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Priority</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.priority}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Assigned To</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        {{$json.responsible_person_first_name}} {{$json.responsible_person_last_name}}\n      </td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Start Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_start_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Planned End Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_end_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Estimated Time (hrs)</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.estimated_time}}</td>\n    </tr>\n\n<tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n<tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.task_id}}\" target=\"_blank\">\n          View Task Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    No action is required from your side. You will be notified of any updates.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>Task Management System</strong>\n  </p>\n\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          320,
          80
        ],
        "id": "4396348c-04b2-47b6-bac8-d6a9c2e5ad35",
        "name": "Observers",
        "webhookId": "c02b3f12-fc53-4919-baaa-06ef4594049e",
        "credentials": {
          "smtp": {
            "id": "e6BxRubia0RizPKp",
            "name": "Lockated Local SMTP"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  t.id            AS task_id,\n  t.title         AS task_title,\n  t.description,\n  t.status,\n  t.priority,\n  t.target_date,\n  t.created_at    AS task_created_at,\n  t.parent_id     AS parent_id,\n  t.estimated_hour AS estimated_time,\n  CONVERT_TZ(t.expected_start_date, '+00:00', '+05:30') AS task_start_date,\n  CONVERT_TZ(t.target_date, '+00:00', '+05:30') AS task_end_date,\n\n  -- milestone\n  m.id            AS milestone_id,\n  m.title         AS milestone_title,\n\n  -- project\n  pm.id           AS project_id,\n  pm.title        AS project_title,\n\n  -- responsible person\n  u.id            AS responsible_person_id,\n  u.firstname     AS responsible_person_first_name,\n  u.lastname      AS responsible_person_last_name,\n  u.email         AS responsible_person_email,\n\n  -- observers (aggregated)\n  GROUP_CONCAT(DISTINCT obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(DISTINCT obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(DISTINCT obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(DISTINCT obs.email ORDER BY obs.id) AS observer_emails\n\nFROM task_managements t\n\nJOIN spree_users u\n  ON u.id = t.responsible_person_id\n\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\nLEFT JOIN project_managements pm\n  ON pm.id = t.project_management_id\n\n-- join task_users for observers\nLEFT JOIN task_users tu\n  ON tu.task_id = t.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\n-- join spree_users again for observer details\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  t.created_at >= UTC_TIMESTAMP() - INTERVAL 10 MINUTE\n  AND t.parent_id IS NULL\n\nGROUP BY t.id;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -688,
          128
        ],
        "id": "2b47b1fd-5d3e-4464-b936-9ba598a76781",
        "name": "Without Ogranization id Fetch the created annd assigned tasks in pas 1 hr2",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "cSpNSxxLQn5eFDMK",
            "name": "Task Management Production Database"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Task Owner": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch the created annd assigned tasks in pas 1 hr": {
        "main": [
          [
            {
              "node": "Task Owner",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            },
            {
              "node": "Execute a SQL query1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch the created annd assigned tasks in pas 1 hr",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch the created annd assigned tasks in pas 1 hr1": {
        "main": [
          []
        ]
      },
      "Observers": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Observers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": {
      "node:Schedule Trigger": {
        "recurrenceRules": []
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "8d936f8d-c173-478e-87e3-019ca4cd75ab",
    "activeVersionId": "8d936f8d-c173-478e-87e3-019ca4cd75ab",
    "versionCounter": 66,
    "triggerCount": 2,
    "shared": [
      {
        "updatedAt": "2026-04-15T11:43:48.068Z",
        "createdAt": "2026-04-15T11:43:48.068Z",
        "role": "workflow:owner",
        "workflowId": "IYvzml1ma9BhCqMl",
        "projectId": "s9jeiIUr8G6hBG6i",
        "project": {
          "updatedAt": "2026-01-28T12:34:21.552Z",
          "createdAt": "2025-12-24T09:57:24.391Z",
          "id": "s9jeiIUr8G6hBG6i",
          "name": "N8N Admin <n8n@lockated.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
          "projectRelations": [
            {
              "updatedAt": "2025-12-24T09:57:24.391Z",
              "createdAt": "2025-12-24T09:57:24.391Z",
              "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "projectId": "s9jeiIUr8G6hBG6i",
              "user": {
                "updatedAt": "2026-04-16T03:51:58.000Z",
                "createdAt": "2025-12-24T09:57:23.917Z",
                "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
                "email": "n8n@lockated.com",
                "firstName": "N8N",
                "lastName": "Admin",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "automationGoalDevops": [
                    "ci-cd",
                    "cloud-infrastructure-orchestration",
                    "monitoring-alerting",
                    "reporting"
                  ],
                  "companyType": "saas",
                  "role": "it"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                  "userActivatedAt": 1767166205042,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1770088091114
                  },
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-04-15",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [
      {
        "updatedAt": "2026-04-15T11:32:35.314Z",
        "createdAt": "2026-04-15T11:32:35.314Z",
        "id": "L0EeV7qZEpOHtqXt",
        "name": "Production Ready"
      },
      {
        "updatedAt": "2026-04-15T11:43:40.011Z",
        "createdAt": "2026-04-15T11:43:40.011Z",
        "id": "eTJLoPlvourxGwI2",
        "name": "Module 2 - TASKS, KANBAN"
      }
    ],
    "parentFolder": {
      "updatedAt": "2026-04-15T11:42:46.759Z",
      "createdAt": "2026-04-15T11:42:46.759Z",
      "id": "wEunMK7VV3S5FJHt",
      "name": "Production Ready",
      "parentFolderId": "PU5w19QcjKw8DNO8"
    },
    "activeVersion": {
      "updatedAt": "2026-04-16T09:22:01.000Z",
      "createdAt": "2026-04-16T09:21:59.297Z",
      "versionId": "8d936f8d-c173-478e-87e3-019ca4cd75ab",
      "workflowId": "IYvzml1ma9BhCqMl",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "715edd15-697c-4597-842c-84db7e572593",
            "responseMode": "responseNode",
            "options": {}
          },
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2.1,
          "position": [
            528,
            -304
          ],
          "id": "c78a7eb9-8495-4844-8506-279a5b2f2985",
          "name": "Webhook",
          "webhookId": "715edd15-697c-4597-842c-84db7e572593",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{$json.responsible_person_email}}\n",
            "subject": "=New Task Assigned: {{$json.task_title}}\n\n\n",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{$json.responsible_person_first_name}} {{$json.responsible_person_last_name}},\n  </p>\n\n  <p>\n    You have been assigned a new task requiring your attention.\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Task Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Description</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.description}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.status}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Priority</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.priority}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Assigned To</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        {{$json.responsible_person_first_name}} {{$json.responsible_person_last_name}}\n      </td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Start Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_start_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Planned End Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_end_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Estimated Time (hrs)</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.estimated_time}}</td>\n    </tr>\n\n<tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n<tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.task_id}}\" target=\"_blank\">\n          View Task Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    Please begin execution and keep the task status updated.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>Task Management System</strong>\n  </p>\n\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            80,
            -272
          ],
          "id": "bf464ef4-b87a-4753-8720-a3fc6d393900",
          "name": "Task Owner",
          "webhookId": "d5df5d87-b39f-4a95-a118-c0932a8090a6",
          "credentials": {
            "smtp": {
              "id": "e6BxRubia0RizPKp",
              "name": "Lockated Local SMTP"
            }
          }
        },
        {
          "parameters": {
            "respondWith": "allIncomingItems",
            "options": {}
          },
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.5,
          "position": [
            496,
            -48
          ],
          "id": "dc42a685-b5f3-46b0-a4f4-2b09c1f47ba7",
          "name": "Respond to Webhook",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  t.id            AS task_id,\n  t.title         AS task_title,\n  t.description,\n  t.status,\n  t.priority,\n  t.target_date,\n  t.created_at    AS task_created_at,\n  t.parent_id     AS parent_id,\n  t.estimated_hour AS estimated_time,\n  CONVERT_TZ(t.expected_start_date, '+00:00', '+05:30') AS task_start_date,\n  CONVERT_TZ(t.target_date, '+00:00', '+05:30') AS task_end_date,\n\n  m.id            AS milestone_id,\n  m.title         AS milestone_title,\n\n  pm.id           AS project_id,\n  pm.title        AS project_title,\n\n  u.id            AS responsible_person_id,\n  u.firstname     AS responsible_person_first_name,\n  u.lastname      AS responsible_person_last_name,\n  u.email         AS responsible_person_email,\n\n  GROUP_CONCAT(obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(obs.email ORDER BY obs.id) AS observer_emails\n\nFROM task_managements t\n\nJOIN spree_users u\n  ON u.id = t.responsible_person_id\n\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\nLEFT JOIN project_managements pm\n  ON pm.id = t.project_management_id\n\nLEFT JOIN task_users tu\n  ON tu.task_id = t.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  t.created_at >= UTC_TIMESTAMP() - INTERVAL 10 MINUTE\n  AND t.parent_id IS NULL\n  AND u.organization_id IN (13, 14, 59, 84)\n\nGROUP BY t.id;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -192,
            -256
          ],
          "id": "06383223-47dd-44c5-ba23-8dab6ca28d82",
          "name": "Fetch the created annd assigned tasks in pas 1 hr",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "cSpNSxxLQn5eFDMK",
              "name": "Task Management Production Database"
            }
          }
        },
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "minutes",
                  "minutesInterval": 10
                }
              ]
            }
          },
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.3,
          "position": [
            -464,
            0
          ],
          "id": "c8d1e6cb-7e6f-4f2f-8b12-d1cd77b3b023",
          "name": "Schedule Trigger"
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT * from task_managements ORDER by created_at DESC LIMIT 5;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -288,
            -464
          ],
          "id": "9da1c650-888d-4c35-ab02-c120c57560f6",
          "name": "Execute a SQL query",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "FGCPCtEG47rFAJ4J",
              "name": "New FM UAT Task Management Database"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT * FROM task_users ORDER BY created_at DESC LIMIT 5;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -160,
            48
          ],
          "id": "984f29e6-cea6-40fd-9a87-a36f59b5d353",
          "name": "Execute a SQL query1",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "FGCPCtEG47rFAJ4J",
              "name": "New FM UAT Task Management Database"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  t.id            AS task_id,\n  t.title         AS task_title,\n  t.description,\n  t.status,\n  t.priority,\n  t.target_date,\n  t.created_at    AS task_created_at,\n  t.parent_id     AS parent_id,\n  t.estimated_hour AS estimated_time,\n  CONVERT_TZ(t.expected_start_date, '+00:00', '+05:30') AS task_start_date,\n  CONVERT_TZ(t.target_date, '+00:00', '+05:30') AS task_end_date,\n\n  -- milestone\n  m.id            AS milestone_id,\n  m.title         AS milestone_title,\n\n  -- project\n  pm.id           AS project_id,\n  pm.title        AS project_title,\n\n  -- responsible person\n  u.id            AS responsible_person_id,\n  u.firstname     AS responsible_person_first_name,\n  u.lastname      AS responsible_person_last_name,\n  u.email         AS responsible_person_email,\n\n  -- observers (aggregated)\n  GROUP_CONCAT(DISTINCT obs.id) AS observer_ids,\n  GROUP_CONCAT(DISTINCT obs.firstname) AS observer_first_names,\n  GROUP_CONCAT(DISTINCT obs.lastname) AS observer_last_names,\n  GROUP_CONCAT(DISTINCT obs.email) AS observer_emails\n\nFROM task_managements t\n\nJOIN spree_users u\n  ON u.id = t.responsible_person_id\n\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\nLEFT JOIN project_managements pm\n  ON pm.id = t.project_management_id\n\n-- join task_users for observers\nLEFT JOIN task_users tu\n  ON tu.task_id = t.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\n-- join spree_users again for observer details\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  t.created_at >= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n  AND t.parent_id IS NULL\n\nGROUP BY t.id;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -128,
            240
          ],
          "id": "41821fc9-5219-47c0-8c7d-ee47d78a91ac",
          "name": "Fetch the created annd assigned tasks in pas 1 hr1",
          "credentials": {
            "mySql": {
              "id": "FGCPCtEG47rFAJ4J",
              "name": "New FM UAT Task Management Database"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const emails = (item.json.observer_emails || '').split(',');\n  const firstNames = (item.json.observer_first_names || '').split(',');\n  const lastNames = (item.json.observer_last_names || '').split(',');\n\n  for (let i = 0; i < emails.length; i++) {\n    if (!emails[i]) continue;\n\n    items.push({\n      json: {\n        ...item.json,\n\n        observer_email: emails[i].trim(),\n        observer_first_name: firstNames[i]?.trim(),\n        observer_last_name: lastNames[i]?.trim()\n      }\n    });\n  }\n}\n\nreturn items;"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            64,
            -32
          ],
          "id": "c11f5287-f207-4495-962e-73622cb532d3",
          "name": "Code in JavaScript",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  t.id            AS task_id,\n  t.title         AS task_title,\n  t.description,\n  t.status,\n  t.priority,\n  t.target_date,\n  t.created_at    AS task_created_at,\n  t.parent_id     AS parent_id,\n  t.estimated_hour AS estimated_time,\n  CONVERT_TZ(t.expected_start_date, '+00:00', '+05:30') AS task_start_date,\n  CONVERT_TZ(t.target_date, '+00:00', '+05:30') AS task_end_date,\n\n  -- milestone (optional)\n  m.id            AS milestone_id,\n  m.title         AS milestone_title,\n\n  -- project (direct from task)\n  pm.id           AS project_id,\n  pm.title        AS project_title,\n\n  -- responsible person\n  u.id            AS responsible_person_id,\n  u.firstname     AS responsible_person_first_name,\n  u.lastname      AS responsible_person_last_name,\n  u.email         AS responsible_person_email\n\nFROM task_managements t\n\nJOIN spree_users u\n  ON u.id = t.responsible_person_id\n\n-- milestone join\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\n-- project join directly from task\nLEFT JOIN project_managements pm\n  ON pm.id = t.project_management_id\n\nWHERE\n  t.created_at >= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n  AND t.parent_id IS NULL;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -464,
            272
          ],
          "id": "56c403f4-948c-49b9-9271-c304a4158eea",
          "name": "Fetch the created annd assigned tasks in pas 1 hr2 Without Observers",
          "credentials": {
            "mySql": {
              "id": "FGCPCtEG47rFAJ4J",
              "name": "New FM UAT Task Management Database"
            }
          }
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{$json.observer_email}}",
            "subject": "=Added as Observer: {{$json.task_title}}\n\n\n",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{$json.observer_first_name}} {{$json.observer_last_name}},\n  </p>\n\n  <p>\n    You have been added as an observer to this task to monitor its progress.\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Task Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Description</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.description}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.status}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Priority</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.priority}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Assigned To</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        {{$json.responsible_person_first_name}} {{$json.responsible_person_last_name}}\n      </td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Start Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_start_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Planned End Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_end_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Estimated Time (hrs)</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.estimated_time}}</td>\n    </tr>\n\n<tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n<tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.task_id}}\" target=\"_blank\">\n          View Task Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    No action is required from your side. You will be notified of any updates.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>Task Management System</strong>\n  </p>\n\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            320,
            80
          ],
          "id": "4396348c-04b2-47b6-bac8-d6a9c2e5ad35",
          "name": "Observers",
          "webhookId": "c02b3f12-fc53-4919-baaa-06ef4594049e",
          "credentials": {
            "smtp": {
              "id": "e6BxRubia0RizPKp",
              "name": "Lockated Local SMTP"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  t.id            AS task_id,\n  t.title         AS task_title,\n  t.description,\n  t.status,\n  t.priority,\n  t.target_date,\n  t.created_at    AS task_created_at,\n  t.parent_id     AS parent_id,\n  t.estimated_hour AS estimated_time,\n  CONVERT_TZ(t.expected_start_date, '+00:00', '+05:30') AS task_start_date,\n  CONVERT_TZ(t.target_date, '+00:00', '+05:30') AS task_end_date,\n\n  -- milestone\n  m.id            AS milestone_id,\n  m.title         AS milestone_title,\n\n  -- project\n  pm.id           AS project_id,\n  pm.title        AS project_title,\n\n  -- responsible person\n  u.id            AS responsible_person_id,\n  u.firstname     AS responsible_person_first_name,\n  u.lastname      AS responsible_person_last_name,\n  u.email         AS responsible_person_email,\n\n  -- observers (aggregated)\n  GROUP_CONCAT(DISTINCT obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(DISTINCT obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(DISTINCT obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(DISTINCT obs.email ORDER BY obs.id) AS observer_emails\n\nFROM task_managements t\n\nJOIN spree_users u\n  ON u.id = t.responsible_person_id\n\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\nLEFT JOIN project_managements pm\n  ON pm.id = t.project_management_id\n\n-- join task_users for observers\nLEFT JOIN task_users tu\n  ON tu.task_id = t.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\n-- join spree_users again for observer details\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  t.created_at >= UTC_TIMESTAMP() - INTERVAL 10 MINUTE\n  AND t.parent_id IS NULL\n\nGROUP BY t.id;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -688,
            128
          ],
          "id": "2b47b1fd-5d3e-4464-b936-9ba598a76781",
          "name": "Without Ogranization id Fetch the created annd assigned tasks in pas 1 hr2",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "cSpNSxxLQn5eFDMK",
              "name": "Task Management Production Database"
            }
          }
        }
      ],
      "connections": {
        "Webhook": {
          "main": [
            [
              {
                "node": "Respond to Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Task Owner": {
          "main": [
            [
              {
                "node": "Respond to Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Fetch the created annd assigned tasks in pas 1 hr": {
          "main": [
            [
              {
                "node": "Task Owner",
                "type": "main",
                "index": 0
              },
              {
                "node": "Code in JavaScript",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Schedule Trigger": {
          "main": [
            [
              {
                "node": "Execute a SQL query",
                "type": "main",
                "index": 0
              },
              {
                "node": "Execute a SQL query1",
                "type": "main",
                "index": 0
              },
              {
                "node": "Fetch the created annd assigned tasks in pas 1 hr",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Fetch the created annd assigned tasks in pas 1 hr1": {
          "main": [
            []
          ]
        },
        "Observers": {
          "main": [
            [
              {
                "node": "Respond to Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code in JavaScript": {
          "main": [
            [
              {
                "node": "Observers",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "N8N Admin",
      "name": "Version 8d936f8d",
      "description": "",
      "autosaved": false,
      "workflowPublishHistory": [
        {
          "createdAt": "2026-04-16T09:22:01.714Z",
          "id": 155,
          "workflowId": "IYvzml1ma9BhCqMl",
          "versionId": "8d936f8d-c173-478e-87e3-019ca4cd75ab",
          "event": "activated",
          "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98"
        }
      ]
    },
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "73eff0dfe0fe865818e60f1d3053ceefd1fd39d3bcd956c05a08c500587ea2f0"
  }
}