n8n Backup - 17 April 2026/Rustomjee_BigQuery_Category___Booking__1___within_first_30_days_from_the_site_visit_XRBcpeompu0RsEOc.json
{
  "data": {
    "updatedAt": "2026-04-03T08:15:36.791Z",
    "createdAt": "2026-03-07T07:09:59.056Z",
    "id": "XRBcpeompu0RsEOc",
    "name": "Rustomjee BigQuery Category - Booking- 1 - within first 30 days from the site visit",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {},
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -288,
          -64
        ],
        "id": "f7c2923f-5b5f-47c3-9b00-c1b2ecad1650",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT *\nFROM \n  powerbi-implementation.dataWarehouse_prod.sales_sv_oppr LIMIT 1000\n",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          -160,
          -288
        ],
        "id": "f6adb52b-c760-4fbe-9d9c-9f515b96c5ac",
        "name": "Execute a SQL query",
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT *\nFROM \n  powerbi-implementation.dataWarehouse_prod.sales_booking LIMIT 1000",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          192,
          -240
        ],
        "id": "0c44d206-5467-422e-909a-9e255131a484",
        "name": "Execute a SQL query1",
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const output = [];\n\nfor (const item of items) {\n\n  output.push({\n    json: {\n      customer_id: item.json.customer_id,\n      customer_mobile: item.json.customer_mobile,\n      customer_name: item.json.customer_name,\n      points: 1000,\n      reason: \"Booking within 30 days of Site Visit\",\n      booking_date: item.json.Booking_Date,\n      sv_date: item.json.SV_Date__c,\n      booking_id: item.json.X18_Digit_Booking_ID__c\n    }\n  });\n\n}\n\nreturn output;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          320,
          48
        ],
        "id": "80e38bd5-9e86-489b-8811-4416e8c45a4a",
        "name": "Code in JavaScript3",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT\n  KUNNR AS customer_id,\n  COALESCE(Account_Mobile_Number__c, Account_Mobile_1__c, Mobile_Number__c, PrimaryMobileNumber__c) AS customer_mobile,\n  CONCAT(First_Name__c, ' ', Last_Name__c) AS customer_name,\n  Booking_Date,\n  SV_Date__c,\n  Opportunity_ID__c,\n  X18_Digit_Booking_ID__c,\n  Project_Text__c\nFROM `powerbi-implementation.dataWarehouse_prod.sales_booking`\nWHERE Booking_Date IS NOT NULL\nAND SV_Date__c IS NOT NULL\nAND Status__c = 'Processed'\nAND DATE_DIFF(\n      DATE(Booking_Date),\n      DATE(SV_Date__c),\n      DAY\n    ) BETWEEN 0 AND 30\nAND COALESCE(Account_Mobile_Number__c, Account_Mobile_1__c, Mobile_Number__c, PrimaryMobileNumber__c) IS NOT NULL",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          -16,
          -32
        ],
        "id": "9e6f8325-24bc-48d4-ad73-d2dec74bf9e0",
        "name": "Query to fetch details of person done booking within first 30 days from the site visit",
        "alwaysOutputData": true,
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://runwal-api.lockated.com/loyalty/members/credit_wallet.json",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "QsUjajggGCYJJGKndHkRidBxJN2cIUC06lr42Vru1EQ"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"customer_code\": \"{{ $json.customer_id }}\",\n  \"amount\": {{ $json.points }},\n  \"remarks\": \"{{ $json.reason }}\",\n  \"transaction_note\": \"Demand payment reward\",\n  \"payment_mode\": \"system\",\n  \"topup_by\": \"automation\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          592,
          128
        ],
        "id": "6ce5adab-c7b5-437e-8c14-f4ebae0deff9",
        "name": "HTTP Request",
        "alwaysOutputData": true
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Query to fetch details of person done booking within first 30 days from the site visit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          []
        ]
      },
      "Query to fetch details of person done booking within first 30 days from the site visit": {
        "main": [
          [
            {
              "node": "Code in JavaScript3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript3": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "a5d0d6a2-95f5-411b-8467-7e817070c6cd",
    "activeVersionId": null,
    "versionCounter": 39,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-03-07T07:09:59.071Z",
        "createdAt": "2026-03-07T07:09:59.071Z",
        "role": "workflow:owner",
        "workflowId": "XRBcpeompu0RsEOc",
        "projectId": "s9jeiIUr8G6hBG6i",
        "project": {
          "updatedAt": "2026-01-28T12:34:21.552Z",
          "createdAt": "2025-12-24T09:57:24.391Z",
          "id": "s9jeiIUr8G6hBG6i",
          "name": "N8N Admin <n8n@lockated.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
          "projectRelations": [
            {
              "updatedAt": "2025-12-24T09:57:24.391Z",
              "createdAt": "2025-12-24T09:57:24.391Z",
              "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "projectId": "s9jeiIUr8G6hBG6i",
              "user": {
                "updatedAt": "2026-04-16T03:51:58.000Z",
                "createdAt": "2025-12-24T09:57:23.917Z",
                "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
                "email": "n8n@lockated.com",
                "firstName": "N8N",
                "lastName": "Admin",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "automationGoalDevops": [
                    "ci-cd",
                    "cloud-infrastructure-orchestration",
                    "monitoring-alerting",
                    "reporting"
                  ],
                  "companyType": "saas",
                  "role": "it"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                  "userActivatedAt": 1767166205042,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1770088091114
                  },
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-04-15",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [],
    "parentFolder": {
      "updatedAt": "2026-03-02T14:34:11.511Z",
      "createdAt": "2026-03-02T14:34:11.511Z",
      "id": "Y9zGEIC6huRvstXD",
      "name": "Rustomjee Bigquery",
      "parentFolderId": null
    },
    "activeVersion": null,
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "7626422fd1f0dcaed8c8cd3aee344d6b99ce3db796e068dbbc04108820cd7e4d"
  }
}