n8n Backup - 17 April 2026/Task_Inactivity__no_update_for_3_days__FQBtO2WM87R74rFX.json
{
  "data": {
    "updatedAt": "2026-03-30T10:14:32.652Z",
    "createdAt": "2025-12-26T08:11:54.624Z",
    "id": "FQBtO2WM87R74rFX",
    "name": "Task Inactivity (no update for 3 days)",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "task-inactivity",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -528,
          -240
        ],
        "id": "336b0b3f-b04b-470d-88cf-54478de6853a",
        "name": "Webhook",
        "webhookId": "2ad6cc43-a612-4a42-864e-d67b2bc2797a",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          272,
          16
        ],
        "id": "0c0c4804-1dc5-4402-9b86-a772cde7345c",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "months",
                "monthsInterval": 10,
                "triggerAtDayOfMonth": 29
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -496,
          48
        ],
        "id": "dd381dbd-5e9c-4813-b8f3-62fed9b9f3a4",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  t.id            AS task_id,\n  t.title         AS task_title,\n  t.description,\n  t.status,\n  t.priority,\n  t.target_date,\n  t.created_at    AS task_created_at,\n  t.updated_at    AS last_updated_at,\n  t.parent_id     AS parent_id,\n\n  -- Task Owner\n  rp.id           AS owner_id,\n  rp.firstname    AS owner_first_name,\n  rp.lastname     AS owner_last_name,\n  rp.email        AS owner_email,\n\n  -- Milestone (optional)\n  m.id            AS milestone_id,\n  m.title         AS milestone_title,\n\n  -- Project\n  pm.id           AS project_id,\n  pm.title        AS project_title,\n\n  -- Project Manager\n  pmo.id          AS manager_id,\n  pmo.firstname   AS manager_first_name,\n  pmo.lastname    AS manager_last_name,\n  pmo.email       AS manager_email,\n\n  -- Observers (aggregated)\n  GROUP_CONCAT(DISTINCT obs.id) AS observer_ids,\n  GROUP_CONCAT(DISTINCT obs.firstname) AS observer_first_names,\n  GROUP_CONCAT(DISTINCT obs.lastname) AS observer_last_names,\n  GROUP_CONCAT(DISTINCT obs.email) AS observer_emails\n\nFROM task_managements t\n\n-- Task Owner\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\n-- Project\nJOIN project_managements pm\n  ON pm.id = t.project_management_id\n\n-- Project Manager\nJOIN spree_users pmo\n  ON pmo.id = pm.owner_id\n\n-- Milestone (optional)\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\n-- Observers\nLEFT JOIN task_users tu\n  ON tu.task_id = t.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  t.status IN ('open', 'in_progress', 'on_hold', 'overdue', 'started')\n  AND t.updated_at <= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n  AND t.active = 1\n  AND t.parent_id IS NULL\n\nGROUP BY t.id;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -240,
          -144
        ],
        "id": "c66d8f7c-172e-45cf-9113-92eacd58845d",
        "name": "Execute a SQL query",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "FGCPCtEG47rFAJ4J",
            "name": "New FM UAT Task Management Database"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  t.id            AS task_id,\n  t.title         AS task_title,\n  t.description,\n  t.status,\n  t.priority,\n  t.target_date,\n  t.created_at    AS task_created_at,\n  t.updated_at    AS last_updated_at,\n\n  -- Task Owner\n  rp.id           AS owner_id,\n  rp.firstname    AS owner_first_name,\n  rp.lastname     AS owner_last_name,\n  rp.email        AS owner_email,\n\n  -- Project\n  pm.id           AS project_id,\n  pm.title        AS project_title,\n\n  -- Project Manager\n  pmo.id          AS manager_id,\n  pmo.firstname   AS manager_first_name,\n  pmo.lastname    AS manager_last_name,\n  pmo.email       AS manager_email\n\nFROM task_managements t\n\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\nJOIN project_managements pm\n  ON pm.id = t.project_management_id\n\nJOIN spree_users pmo\n  ON pmo.id = pm.owner_id\n\nWHERE\n  t.status IN ('open', 'in_progress', 'on_hold', 'overdue', 'started')\n  AND t.updated_at <= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n  AND t.active = 1;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -304,
          160
        ],
        "id": "c4d99de9-a1fb-4860-9cd7-03a4a7aaa95d",
        "name": "Execute a SQL query1",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "FGCPCtEG47rFAJ4J",
            "name": "New FM UAT Task Management Database"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.manager_email}}",
          "subject": "=No Recent Update on Task: {{$json.task_title}}",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <p>Dear {{$json.manager_first_name}} {{$json.manager_last_name}},</p>\n\n  <p>We noticed that there has been no update on the task <b>{{$json.task_title}}</b> for the past <b>3 days</b>.</p>\n\n  <h3 style=\"color: #2c3e50;\">Task Snapshot</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.status}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Last Updated On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.last_updated_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Responsible Owner</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.owner_first_name}} {{$json.owner_last_name}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_created_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task End On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.target_date}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task URL</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://fm-matrix.lockated.com/vas/tasks/{{$json.task_id}}\" target=\"_blank\">View Task</a>\n      </td>\n    </tr>\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    Please review the task and update the status or add comments to avoid potential delays.\n  </p>\n\n  <p>\n    Regards,<br/>\n    <strong>PMO – Task Governance</strong>\n  </p>\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          16,
          -144
        ],
        "id": "2843ca97-b6ca-446d-b0b1-c25ac1a88903",
        "name": "PM",
        "webhookId": "ee070c71-f118-42d2-bcbd-5c969ad2943b",
        "alwaysOutputData": true,
        "credentials": {
          "smtp": {
            "id": "e6BxRubia0RizPKp",
            "name": "Lockated Local SMTP"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.owner_email}}",
          "subject": "=No Recent Update on Task: {{$json.task_title}}",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <p>Dear {{$json.owner_first_name}} {{$json.owner_last_name}},</p>\n\n  <p>We noticed that there has been no update on the task <b>{{$json.task_title}}</b> for the past <b>3 days</b>.</p>\n\n  <h3 style=\"color: #2c3e50;\">Task Snapshot</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.status}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Last Updated On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.last_updated_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Responsible Owner</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.owner_first_name}} {{$json.owner_last_name}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_created_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task End On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.target_date}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task URL</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://fm-matrix.lockated.com/vas/tasks/{{$json.task_id}}\" target=\"_blank\">View Task</a>\n      </td>\n    </tr>\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    Please review the task and update the status or add comments to avoid potential delays.\n  </p>\n\n  <p>\n    Regards,<br/>\n    <strong>PMO – Task Governance</strong>\n  </p>\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          16,
          16
        ],
        "id": "b961db2f-b265-43bd-a7dd-3fbd442c01cc",
        "name": "Task Owner",
        "webhookId": "ee070c71-f118-42d2-bcbd-5c969ad2943b",
        "alwaysOutputData": true,
        "credentials": {
          "smtp": {
            "id": "e6BxRubia0RizPKp",
            "name": "Lockated Local SMTP"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  t.id            AS task_id,\n  t.title         AS task_title,\n  t.description,\n  t.status,\n  t.priority,\n  t.target_date,\n  t.created_at    AS task_created_at,\n  t.updated_at    AS last_updated_at,\n  t.parent_id     AS parent_id,\n\n  -- Task Owner\n  rp.id           AS owner_id,\n  rp.firstname    AS owner_first_name,\n  rp.lastname     AS owner_last_name,\n  rp.email        AS owner_email,\n\n  -- Milestone (optional)\n  m.id            AS milestone_id,\n  m.title         AS milestone_title,\n\n  -- Project\n  pm.id           AS project_id,\n  pm.title        AS project_title,\n\n  -- Project Manager\n  pmo.id          AS manager_id,\n  pmo.firstname   AS manager_first_name,\n  pmo.lastname    AS manager_last_name,\n  pmo.email       AS manager_email\n\nFROM task_managements t\n\n-- Responsible Person\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\n-- Project\nJOIN project_managements pm\n  ON pm.id = t.project_management_id\n\n-- Project Manager\nJOIN spree_users pmo\n  ON pmo.id = pm.owner_id\n\n-- Milestone (optional)\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\nWHERE\n  t.status IN ('open', 'in_progress', 'on_hold', 'overdue', 'started')\n  AND t.updated_at <= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n  AND t.active = 1\n  AND t.parent_id IS NULL;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -656,
          160
        ],
        "id": "4b31c407-2612-4a4e-bb85-e702845d76f6",
        "name": "Without Observers",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "FGCPCtEG47rFAJ4J",
            "name": "New FM UAT Task Management Database"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const emails = (item.json.observer_emails || '').split(',');\n  const firstNames = (item.json.observer_first_names || '').split(',');\n  const lastNames = (item.json.observer_last_names || '').split(',');\n\n  for (let i = 0; i < emails.length; i++) {\n    if (!emails[i]) continue;\n\n    items.push({\n      json: {\n        ...item.json,\n        observer_email: emails[i].trim(),\n        observer_first_name: firstNames[i]?.trim(),\n        observer_last_name: lastNames[i]?.trim()\n      }\n    });\n  }\n}\n\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -32,
          176
        ],
        "id": "82eb102a-dcb2-47c7-82e8-aea9a05de24a",
        "name": "Code in JavaScript",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.observer_email}}",
          "subject": "=No Recent Update on Task: {{$json.task_title}}",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <p>Dear {{$json.observer_first_names}} {{$json.observer_last_name}},</p>\n\n  <p>We noticed that there has been no update on the task <b>{{$json.task_title}}</b> for the past <b>3 days</b>.</p>\n\n  <h3 style=\"color: #2c3e50;\">Task Snapshot</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.status}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Last Updated On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.last_updated_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Responsible Owner</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.owner_first_name}} {{$json.owner_last_name}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_created_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task End On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.target_date}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task URL</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://fm-matrix.lockated.com/vas/tasks/{{$json.task_id}}\" target=\"_blank\">View Task</a>\n      </td>\n    </tr>\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    You, as an observer to this task, please take an update from the responsible person or add comments to avoid potential delays.\n  </p>\n\n  <p>\n    Regards,<br/>\n    <strong>PMO – Task Governance</strong>\n  </p>\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          256,
          192
        ],
        "id": "6a0115cb-5af1-4610-aff7-b2708e876caf",
        "name": "Observers",
        "webhookId": "ee070c71-f118-42d2-bcbd-5c969ad2943b",
        "alwaysOutputData": true,
        "credentials": {
          "smtp": {
            "id": "e6BxRubia0RizPKp",
            "name": "Lockated Local SMTP"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          []
        ]
      },
      "Schedule Trigger": {
        "main": [
          []
        ]
      },
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "PM",
              "type": "main",
              "index": 0
            },
            {
              "node": "Task Owner",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PM": {
        "main": [
          []
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Observers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": {
      "node:Schedule Trigger": {
        "recurrenceRules": []
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "b97be273-e8d2-4d37-ba5e-95edccce7d7d",
    "activeVersionId": "b97be273-e8d2-4d37-ba5e-95edccce7d7d",
    "versionCounter": 25,
    "triggerCount": 2,
    "shared": [
      {
        "updatedAt": "2025-12-26T08:11:54.628Z",
        "createdAt": "2025-12-26T08:11:54.628Z",
        "role": "workflow:owner",
        "workflowId": "FQBtO2WM87R74rFX",
        "projectId": "s9jeiIUr8G6hBG6i",
        "project": {
          "updatedAt": "2026-01-28T12:34:21.552Z",
          "createdAt": "2025-12-24T09:57:24.391Z",
          "id": "s9jeiIUr8G6hBG6i",
          "name": "N8N Admin <n8n@lockated.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
          "projectRelations": [
            {
              "updatedAt": "2025-12-24T09:57:24.391Z",
              "createdAt": "2025-12-24T09:57:24.391Z",
              "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "projectId": "s9jeiIUr8G6hBG6i",
              "user": {
                "updatedAt": "2026-04-16T03:51:58.000Z",
                "createdAt": "2025-12-24T09:57:23.917Z",
                "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
                "email": "n8n@lockated.com",
                "firstName": "N8N",
                "lastName": "Admin",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "automationGoalDevops": [
                    "ci-cd",
                    "cloud-infrastructure-orchestration",
                    "monitoring-alerting",
                    "reporting"
                  ],
                  "companyType": "saas",
                  "role": "it"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                  "userActivatedAt": 1767166205042,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1770088091114
                  },
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-04-15",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [],
    "parentFolder": {
      "updatedAt": "2025-12-26T07:16:12.824Z",
      "createdAt": "2025-12-26T07:16:12.824Z",
      "id": "PU5w19QcjKw8DNO8",
      "name": "Module 2 - TASKS, KANBAN, MY TASKS",
      "parentFolderId": null
    },
    "activeVersion": {
      "updatedAt": "2026-03-30T10:14:35.000Z",
      "createdAt": "2026-03-30T10:14:32.654Z",
      "versionId": "b97be273-e8d2-4d37-ba5e-95edccce7d7d",
      "workflowId": "FQBtO2WM87R74rFX",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "task-inactivity",
            "responseMode": "responseNode",
            "options": {}
          },
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2.1,
          "position": [
            -528,
            -240
          ],
          "id": "336b0b3f-b04b-470d-88cf-54478de6853a",
          "name": "Webhook",
          "webhookId": "2ad6cc43-a612-4a42-864e-d67b2bc2797a",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "respondWith": "allIncomingItems",
            "options": {}
          },
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.5,
          "position": [
            272,
            16
          ],
          "id": "0c0c4804-1dc5-4402-9b86-a772cde7345c",
          "name": "Respond to Webhook"
        },
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "months",
                  "monthsInterval": 10,
                  "triggerAtDayOfMonth": 29
                }
              ]
            }
          },
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.3,
          "position": [
            -496,
            48
          ],
          "id": "dd381dbd-5e9c-4813-b8f3-62fed9b9f3a4",
          "name": "Schedule Trigger"
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  t.id            AS task_id,\n  t.title         AS task_title,\n  t.description,\n  t.status,\n  t.priority,\n  t.target_date,\n  t.created_at    AS task_created_at,\n  t.updated_at    AS last_updated_at,\n  t.parent_id     AS parent_id,\n\n  -- Task Owner\n  rp.id           AS owner_id,\n  rp.firstname    AS owner_first_name,\n  rp.lastname     AS owner_last_name,\n  rp.email        AS owner_email,\n\n  -- Milestone (optional)\n  m.id            AS milestone_id,\n  m.title         AS milestone_title,\n\n  -- Project\n  pm.id           AS project_id,\n  pm.title        AS project_title,\n\n  -- Project Manager\n  pmo.id          AS manager_id,\n  pmo.firstname   AS manager_first_name,\n  pmo.lastname    AS manager_last_name,\n  pmo.email       AS manager_email,\n\n  -- Observers (aggregated)\n  GROUP_CONCAT(DISTINCT obs.id) AS observer_ids,\n  GROUP_CONCAT(DISTINCT obs.firstname) AS observer_first_names,\n  GROUP_CONCAT(DISTINCT obs.lastname) AS observer_last_names,\n  GROUP_CONCAT(DISTINCT obs.email) AS observer_emails\n\nFROM task_managements t\n\n-- Task Owner\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\n-- Project\nJOIN project_managements pm\n  ON pm.id = t.project_management_id\n\n-- Project Manager\nJOIN spree_users pmo\n  ON pmo.id = pm.owner_id\n\n-- Milestone (optional)\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\n-- Observers\nLEFT JOIN task_users tu\n  ON tu.task_id = t.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  t.status IN ('open', 'in_progress', 'on_hold', 'overdue', 'started')\n  AND t.updated_at <= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n  AND t.active = 1\n  AND t.parent_id IS NULL\n\nGROUP BY t.id;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -240,
            -144
          ],
          "id": "c66d8f7c-172e-45cf-9113-92eacd58845d",
          "name": "Execute a SQL query",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "FGCPCtEG47rFAJ4J",
              "name": "New FM UAT Task Management Database"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  t.id            AS task_id,\n  t.title         AS task_title,\n  t.description,\n  t.status,\n  t.priority,\n  t.target_date,\n  t.created_at    AS task_created_at,\n  t.updated_at    AS last_updated_at,\n\n  -- Task Owner\n  rp.id           AS owner_id,\n  rp.firstname    AS owner_first_name,\n  rp.lastname     AS owner_last_name,\n  rp.email        AS owner_email,\n\n  -- Project\n  pm.id           AS project_id,\n  pm.title        AS project_title,\n\n  -- Project Manager\n  pmo.id          AS manager_id,\n  pmo.firstname   AS manager_first_name,\n  pmo.lastname    AS manager_last_name,\n  pmo.email       AS manager_email\n\nFROM task_managements t\n\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\nJOIN project_managements pm\n  ON pm.id = t.project_management_id\n\nJOIN spree_users pmo\n  ON pmo.id = pm.owner_id\n\nWHERE\n  t.status IN ('open', 'in_progress', 'on_hold', 'overdue', 'started')\n  AND t.updated_at <= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n  AND t.active = 1;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -304,
            160
          ],
          "id": "c4d99de9-a1fb-4860-9cd7-03a4a7aaa95d",
          "name": "Execute a SQL query1",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "FGCPCtEG47rFAJ4J",
              "name": "New FM UAT Task Management Database"
            }
          }
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{$json.manager_email}}",
            "subject": "=No Recent Update on Task: {{$json.task_title}}",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <p>Dear {{$json.manager_first_name}} {{$json.manager_last_name}},</p>\n\n  <p>We noticed that there has been no update on the task <b>{{$json.task_title}}</b> for the past <b>3 days</b>.</p>\n\n  <h3 style=\"color: #2c3e50;\">Task Snapshot</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.status}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Last Updated On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.last_updated_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Responsible Owner</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.owner_first_name}} {{$json.owner_last_name}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_created_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task End On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.target_date}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task URL</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://fm-matrix.lockated.com/vas/tasks/{{$json.task_id}}\" target=\"_blank\">View Task</a>\n      </td>\n    </tr>\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    Please review the task and update the status or add comments to avoid potential delays.\n  </p>\n\n  <p>\n    Regards,<br/>\n    <strong>PMO – Task Governance</strong>\n  </p>\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            16,
            -144
          ],
          "id": "2843ca97-b6ca-446d-b0b1-c25ac1a88903",
          "name": "PM",
          "webhookId": "ee070c71-f118-42d2-bcbd-5c969ad2943b",
          "alwaysOutputData": true,
          "credentials": {
            "smtp": {
              "id": "e6BxRubia0RizPKp",
              "name": "Lockated Local SMTP"
            }
          }
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{$json.owner_email}}",
            "subject": "=No Recent Update on Task: {{$json.task_title}}",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <p>Dear {{$json.owner_first_name}} {{$json.owner_last_name}},</p>\n\n  <p>We noticed that there has been no update on the task <b>{{$json.task_title}}</b> for the past <b>3 days</b>.</p>\n\n  <h3 style=\"color: #2c3e50;\">Task Snapshot</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.status}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Last Updated On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.last_updated_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Responsible Owner</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.owner_first_name}} {{$json.owner_last_name}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_created_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task End On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.target_date}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task URL</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://fm-matrix.lockated.com/vas/tasks/{{$json.task_id}}\" target=\"_blank\">View Task</a>\n      </td>\n    </tr>\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    Please review the task and update the status or add comments to avoid potential delays.\n  </p>\n\n  <p>\n    Regards,<br/>\n    <strong>PMO – Task Governance</strong>\n  </p>\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            16,
            16
          ],
          "id": "b961db2f-b265-43bd-a7dd-3fbd442c01cc",
          "name": "Task Owner",
          "webhookId": "ee070c71-f118-42d2-bcbd-5c969ad2943b",
          "alwaysOutputData": true,
          "credentials": {
            "smtp": {
              "id": "e6BxRubia0RizPKp",
              "name": "Lockated Local SMTP"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  t.id            AS task_id,\n  t.title         AS task_title,\n  t.description,\n  t.status,\n  t.priority,\n  t.target_date,\n  t.created_at    AS task_created_at,\n  t.updated_at    AS last_updated_at,\n  t.parent_id     AS parent_id,\n\n  -- Task Owner\n  rp.id           AS owner_id,\n  rp.firstname    AS owner_first_name,\n  rp.lastname     AS owner_last_name,\n  rp.email        AS owner_email,\n\n  -- Milestone (optional)\n  m.id            AS milestone_id,\n  m.title         AS milestone_title,\n\n  -- Project\n  pm.id           AS project_id,\n  pm.title        AS project_title,\n\n  -- Project Manager\n  pmo.id          AS manager_id,\n  pmo.firstname   AS manager_first_name,\n  pmo.lastname    AS manager_last_name,\n  pmo.email       AS manager_email\n\nFROM task_managements t\n\n-- Responsible Person\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\n-- Project\nJOIN project_managements pm\n  ON pm.id = t.project_management_id\n\n-- Project Manager\nJOIN spree_users pmo\n  ON pmo.id = pm.owner_id\n\n-- Milestone (optional)\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\nWHERE\n  t.status IN ('open', 'in_progress', 'on_hold', 'overdue', 'started')\n  AND t.updated_at <= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n  AND t.active = 1\n  AND t.parent_id IS NULL;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -656,
            160
          ],
          "id": "4b31c407-2612-4a4e-bb85-e702845d76f6",
          "name": "Without Observers",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "FGCPCtEG47rFAJ4J",
              "name": "New FM UAT Task Management Database"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const emails = (item.json.observer_emails || '').split(',');\n  const firstNames = (item.json.observer_first_names || '').split(',');\n  const lastNames = (item.json.observer_last_names || '').split(',');\n\n  for (let i = 0; i < emails.length; i++) {\n    if (!emails[i]) continue;\n\n    items.push({\n      json: {\n        ...item.json,\n        observer_email: emails[i].trim(),\n        observer_first_name: firstNames[i]?.trim(),\n        observer_last_name: lastNames[i]?.trim()\n      }\n    });\n  }\n}\n\nreturn items;"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -32,
            176
          ],
          "id": "82eb102a-dcb2-47c7-82e8-aea9a05de24a",
          "name": "Code in JavaScript",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{$json.observer_email}}",
            "subject": "=No Recent Update on Task: {{$json.task_title}}",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <p>Dear {{$json.observer_first_names}} {{$json.observer_last_name}},</p>\n\n  <p>We noticed that there has been no update on the task <b>{{$json.task_title}}</b> for the past <b>3 days</b>.</p>\n\n  <h3 style=\"color: #2c3e50;\">Task Snapshot</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.status}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Last Updated On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.last_updated_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Responsible Owner</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.owner_first_name}} {{$json.owner_last_name}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_created_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task End On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.target_date}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task URL</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://fm-matrix.lockated.com/vas/tasks/{{$json.task_id}}\" target=\"_blank\">View Task</a>\n      </td>\n    </tr>\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    You, as an observer to this task, please take an update from the responsible person or add comments to avoid potential delays.\n  </p>\n\n  <p>\n    Regards,<br/>\n    <strong>PMO – Task Governance</strong>\n  </p>\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            256,
            192
          ],
          "id": "6a0115cb-5af1-4610-aff7-b2708e876caf",
          "name": "Observers",
          "webhookId": "ee070c71-f118-42d2-bcbd-5c969ad2943b",
          "alwaysOutputData": true,
          "credentials": {
            "smtp": {
              "id": "e6BxRubia0RizPKp",
              "name": "Lockated Local SMTP"
            }
          }
        }
      ],
      "connections": {
        "Webhook": {
          "main": [
            []
          ]
        },
        "Schedule Trigger": {
          "main": [
            []
          ]
        },
        "Execute a SQL query": {
          "main": [
            [
              {
                "node": "PM",
                "type": "main",
                "index": 0
              },
              {
                "node": "Task Owner",
                "type": "main",
                "index": 0
              },
              {
                "node": "Code in JavaScript",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "PM": {
          "main": [
            []
          ]
        },
        "Code in JavaScript": {
          "main": [
            [
              {
                "node": "Observers",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "N8N Admin",
      "name": "Version b97be273",
      "description": "",
      "autosaved": false,
      "workflowPublishHistory": [
        {
          "createdAt": "2026-03-30T10:14:35.030Z",
          "id": 79,
          "workflowId": "FQBtO2WM87R74rFX",
          "versionId": "b97be273-e8d2-4d37-ba5e-95edccce7d7d",
          "event": "activated",
          "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98"
        }
      ]
    },
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "c3303b8cc913ce4913a10c301fb24e746d10bfedde73647ab0ba1a552b20dfd6"
  }
}