n8n Backup - 17 April 2026/WF01___Content_Tracker_Generation___Updation_Kr4ELy61FxXgMAnm.json
{
  "data": {
    "updatedAt": "2026-04-11T08:19:26.943Z",
    "createdAt": "2026-04-09T05:42:51.380Z",
    "id": "Kr4ELy61FxXgMAnm",
    "name": "WF01 — Content Tracker Generation & Updation",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          -272
        ],
        "id": "cb6b1eb6-a601-451c-a826-07fb57b7f73c",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "documentId": {
            "__rl": true,
            "value": "1NQe4GqzUU4V1DtBT_kPmHYTuAq2c1c2MM9AxrAZvtbs",
            "mode": "list",
            "cachedResultName": "Lockated — Drafts Tracker",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NQe4GqzUU4V1DtBT_kPmHYTuAq2c1c2MM9AxrAZvtbs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NQe4GqzUU4V1DtBT_kPmHYTuAq2c1c2MM9AxrAZvtbs/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Date",
                "lookupValue": "={{ String(new Date().getDate()).padStart(2,'0') + '/' + String(new Date().getMonth()+1).padStart(2,'0') + '/' + new Date().getFullYear() }}"
              },
              {
                "lookupColumn": "Status",
                "lookupValue": "Pending Review"
              }
            ]
          },
          "combineFilters": "OR",
          "options": {
            "dataLocationOnSheet": {
              "values": {
                "rangeDefinition": "detectAutomatically"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          224,
          -272
        ],
        "id": "e5c23873-c676-43ad-bd88-6beb65023ea6",
        "name": "Get row(s) in sheet",
        "alwaysOutputData": true,
        "notesInFlow": true,
        "credentials": {
          "googleApi": {
            "id": "2WI4zaOhhsTGtgv0",
            "name": "Google Service Account account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://openrouter.ai/api/v1/chat/completions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openRouterApi",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {}
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"nvidia/nemotron-3-super-120b-a12b:free\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are the FM Matrix GTM Agent. FM Matrix is a Facility Management SaaS platform sold to commercial real estate, IFM companies, and GCC-based property managers. Draft LinkedIn posts in FM Matrix brand voice: outcome-led, peer-to-peer, proof-based, direct. Never use unverified statistics. Never mention pricing. Always end with a CTA (book a demo / see how it works).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Draft a LinkedIn post for today.\\nTopic: {{$json.Topic}}\\nFormat: {{$json.Format}}\\nTarget persona: {{$json.ICP_Persona}}\\nTarget group: {{$json.TG}}\\nGTM theme: {{$json.GTM_Theme || 'Not specified'}}\\n\\nInclude 5 relevant hashtags. End with a CTA. Keep it under 250 words. Return only the post text, nothing else.\"\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          432,
          -272
        ],
        "id": "54bf6660-de38-42fa-bc61-5b957e25c739",
        "name": "HTTP Request",
        "credentials": {
          "openRouterApi": {
            "id": "mn9ku0ciREPv0YWp",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1NQe4GqzUU4V1DtBT_kPmHYTuAq2c1c2MM9AxrAZvtbs",
            "mode": "list",
            "cachedResultName": "Lockated — Drafts Tracker",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NQe4GqzUU4V1DtBT_kPmHYTuAq2c1c2MM9AxrAZvtbs/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Sheet1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NQe4GqzUU4V1DtBT_kPmHYTuAq2c1c2MM9AxrAZvtbs/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Day_of_Week": "={{ $('Get row(s) in sheet').item.json.Day_of_Week }}",
              "Topic": "={{ $('Get row(s) in sheet').item.json.Topic }}",
              "Post_Content": "={{ $json.choices[0].message.content }}",
              "Date": "={{ $('Get row(s) in sheet').item.json.Date }}",
              "Format": "={{ $('Get row(s) in sheet').item.json.Format }}",
              "TG": "={{ $('Get row(s) in sheet').item.json.TG }}",
              "Status": "={{ $('Get row(s) in sheet').item.json.Status }}",
              "Scheduled_Time": "={{ $('Get row(s) in sheet').item.json.Scheduled_Time }}",
              "Draft_ID": "={{ $('Get row(s) in sheet').item.json.Draft_ID }}"
            },
            "matchingColumns": [
              "Draft_ID"
            ],
            "schema": [
              {
                "id": "Draft_ID",
                "displayName": "Draft_ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Date",
                "displayName": "Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Day_of_Week",
                "displayName": "Day_of_Week",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Topic",
                "displayName": "Topic",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Format",
                "displayName": "Format",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ICP_Persona",
                "displayName": "ICP_Persona",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "TG",
                "displayName": "TG",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Status",
                "displayName": "Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Post_Content",
                "displayName": "Post_Content",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Scheduled_Time",
                "displayName": "Scheduled_Time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Engagement_Log",
                "displayName": "Engagement_Log",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          640,
          -272
        ],
        "id": "8227cad2-b0b3-4a4e-bcf2-0989364b8525",
        "name": "Update row in sheet",
        "credentials": {
          "googleApi": {
            "id": "2WI4zaOhhsTGtgv0",
            "name": "Google Service Account account"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "marketing@lockated.com",
          "toEmail": "suyash.jagdale@lockated.com",
          "subject": "=Content Review For Approval",
          "html": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>Content Review — FM Matrix</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&family=DM+Mono:wght@400;500&display=swap\" rel=\"stylesheet\"/>\n  <style>\n    *, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }\n\n    :root {\n      --bg:        #F5F4F0;\n      --surface:   #FFFFFF;\n      --surface2:  #F9F8F5;\n      --border:    rgba(0,0,0,0.08);\n      --border-md: rgba(0,0,0,0.14);\n      --text-1:    #1A1916;\n      --text-2:    #5C5A54;\n      --text-3:    #9B9890;\n      --green-bg:  #E4F5EC;\n      --green-bd:  #34A85A;\n      --green-tx:  #1A5E34;\n      --red-bg:    #FDECEA;\n      --red-bd:    #E04040;\n      --red-tx:    #7A1A1A;\n      --blue-bg:   #EAF1FD;\n      --blue-bd:   #3A7BDB;\n      --blue-tx:   #1B3D7A;\n      --amber-bg:  #FEF5E4;\n      --amber-bd:  #D4900E;\n      --amber-tx:  #6B4500;\n      --radius-sm: 6px;\n      --radius-md: 10px;\n      --radius-lg: 16px;\n    }\n\n    body {\n      font-family: 'DM Sans', sans-serif;\n      background: var(--bg);\n      min-height: 100vh;\n      display: flex;\n      align-items: flex-start;\n      justify-content: center;\n      padding: 40px 16px;\n      color: var(--text-1);\n    }\n\n    .wrapper { width: 100%; max-width: 780px; }\n\n    /* ── Top bar ── */\n    .topbar {\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      margin-bottom: 20px;\n    }\n    .topbar-brand {\n      font-size: 13px;\n      font-weight: 500;\n      color: var(--text-3);\n      letter-spacing: 0.04em;\n      text-transform: uppercase;\n    }\n    .topbar-brand span { color: var(--text-1); }\n    .badge-pending {\n      display: inline-flex;\n      align-items: center;\n      gap: 6px;\n      font-size: 12px;\n      font-weight: 500;\n      background: var(--amber-bg);\n      color: var(--amber-tx);\n      border: 1px solid var(--amber-bd);\n      padding: 5px 12px;\n      border-radius: 20px;\n    }\n    .badge-pending::before {\n      content: '';\n      width: 7px; height: 7px;\n      border-radius: 50%;\n      background: var(--amber-bd);\n      flex-shrink: 0;\n    }\n\n    /* ── Card ── */\n    .card {\n      background: var(--surface);\n      border: 1px solid var(--border);\n      border-radius: var(--radius-lg);\n      overflow: hidden;\n      box-shadow: 0 2px 12px rgba(0,0,0,0.05);\n    }\n\n    /* ── Header ── */\n    .card-header {\n      padding: 24px 28px 20px;\n      border-bottom: 1px solid var(--border);\n    }\n    .subject {\n      font-size: 16px;\n      font-weight: 500;\n      line-height: 1.45;\n      margin-bottom: 16px;\n      color: var(--text-1);\n    }\n    .meta-row { display: flex; flex-wrap: wrap; gap: 4px 0; }\n    .meta-item {\n      display: flex;\n      align-items: baseline;\n      gap: 6px;\n      font-size: 13px;\n      width: 100%;\n    }\n    .meta-label {\n      color: var(--text-3);\n      font-size: 12px;\n      font-weight: 500;\n      min-width: 36px;\n      letter-spacing: 0.03em;\n    }\n    .meta-value { color: var(--text-2); }\n    .timestamp {\n      font-size: 12px;\n      color: var(--text-3);\n      font-family: 'DM Mono', monospace;\n      margin-top: 14px;\n    }\n\n    /* ── Body ── */\n    .card-body { padding: 28px; }\n\n    .section-label {\n      font-size: 11px;\n      font-weight: 600;\n      color: var(--text-3);\n      letter-spacing: 0.08em;\n      text-transform: uppercase;\n      margin-bottom: 12px;\n    }\n\n    .content-block {\n      background: var(--surface2);\n      border: 1px solid var(--border);\n      border-radius: var(--radius-md);\n      padding: 22px 24px;\n      margin-bottom: 28px;\n    }\n    .content-block p {\n      font-size: 15px;\n      line-height: 1.8;\n      color: var(--text-1);\n      white-space: pre-wrap;\n    }\n\n    /* ── Action buttons (links styled as buttons) ── */\n    .actions-label {\n      font-size: 11px;\n      font-weight: 600;\n      color: var(--text-3);\n      letter-spacing: 0.08em;\n      text-transform: uppercase;\n      margin-bottom: 12px;\n    }\n\n    .btn-group {\n      display: grid;\n      grid-template-columns: repeat(3, 1fr);\n      gap: 10px;\n    }\n\n    .btn {\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      gap: 8px;\n      padding: 13px 16px;\n      border-radius: var(--radius-md);\n      border: 1px solid;\n      font-family: 'DM Sans', sans-serif;\n      font-size: 14px;\n      font-weight: 500;\n      cursor: pointer;\n      text-decoration: none;\n      transition: transform 0.12s, opacity 0.12s;\n    }\n    .btn:hover { opacity: 0.82; transform: translateY(-1px); }\n    .btn:active { transform: scale(0.97); }\n\n    .btn-approve {\n      background: var(--green-bg);\n      border-color: var(--green-bd);\n      color: var(--green-tx);\n    }\n    .btn-reject {\n      background: var(--red-bg);\n      border-color: var(--red-bd);\n      color: var(--red-tx);\n    }\n    .btn-edit {\n      background: var(--blue-bg);\n      border-color: var(--blue-bd);\n      color: var(--blue-tx);\n    }\n\n    /* ── Footer ── */\n    .card-footer {\n      padding: 14px 28px;\n      border-top: 1px solid var(--border);\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      background: var(--surface2);\n    }\n    .footer-note {\n      font-size: 12px;\n      color: var(--text-3);\n    }\n    .footer-note a {\n      color: var(--text-3);\n      text-decoration: underline;\n      text-underline-offset: 2px;\n    }\n    .dfid-badge {\n      font-size: 12px;\n      font-weight: 500;\n      font-family: 'DM Mono', monospace;\n      color: var(--text-3);\n    }\n\n    @media (max-width: 520px) {\n      .btn-group { grid-template-columns: 1fr; }\n      .card-header, .card-body { padding: 20px 18px; }\n      .card-footer { flex-direction: column; gap: 6px; text-align: center; }\n    }\n  </style>\n</head>\n<body>\n<div class=\"wrapper\">\n\n  <div class=\"topbar\">\n    <div class=\"topbar-brand\">Lockated · <span>Marketing Review</span></div>\n    <div class=\"badge-pending\">Pending Review</div>\n  </div>\n\n  <div class=\"card\">\n\n    <!-- Header -->\n    <div class=\"card-header\">\n      <p class=\"subject\">\n        DFID-{{$json.Draft_ID}} | LinkedIn Draft Ready for Review — {{$json.Topic}}\n      </p>\n      <div class=\"meta-row\">\n        <div class=\"meta-item\">\n          <span class=\"meta-label\">From</span>\n          <span class=\"meta-value\">marketing@lockated.com</span>\n        </div>\n        <div class=\"meta-item\">\n          <span class=\"meta-label\">To</span>\n          <span class=\"meta-value\">suyash.jagdale@lockated.com</span>\n        </div>\n        <div class=\"meta-item\">\n          <span class=\"meta-label\">Cc</span>\n          <span class=\"meta-value\">manav.gandhi@lockated.com</span>\n        </div>\n      </div>\n      <div class=\"timestamp\">{{$now.toFormat('MMMM d, yyyy')}} · {{$now.toFormat('h:mm a')}}</div>\n    </div>\n\n    <!-- Body -->\n    <div class=\"card-body\">\n\n      <div class=\"section-label\">LinkedIn post draft</div>\n\n      <div class=\"content-block\">\n        <p>{{$json.Post_Content}}</p>\n      </div>\n\n      <div class=\"actions-label\">Review action</div>\n\n      <div class=\"btn-group\">\n\n        <!-- APPROVE -->\n        <a href=\"https://automation.lockated.com/webhook-test/linkedin-review?action=Approved&id={{$json.Draft_ID}}&content={{encodeURIComponent($json.Post_Content)}}&reply_to={{encodeURIComponent('suyash.jagdale@lockated.com')}}&cc={{encodeURIComponent('manav.gandhi@lockated.com')}}\"\n           class=\"btn btn-approve\">\n          <svg width=\"16\" height=\"16\" viewBox=\"0 0 16 16\" fill=\"none\">\n            <path d=\"M3 8L6.5 11.5L13 5\" stroke=\"currentColor\" stroke-width=\"1.8\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n          </svg>\n          Approve\n        </a>\n\n        <!-- REJECT -->\n        <a href=\"https://automation.lockated.com/webhook-test/linkedin-review?action=Rejected&id={{$json.Draft_ID}}&content={{encodeURIComponent($json.Post_Content)}}&reply_to={{encodeURIComponent('suyash.jagdale@lockated.com')}}&cc={{encodeURIComponent('manav.gandhi@lockated.com')}}\"\n           class=\"btn btn-reject\">\n          <svg width=\"16\" height=\"16\" viewBox=\"0 0 16 16\" fill=\"none\">\n            <path d=\"M4.5 4.5L11.5 11.5M11.5 4.5L4.5 11.5\" stroke=\"currentColor\" stroke-width=\"1.8\" stroke-linecap=\"round\"/>\n          </svg>\n          Reject\n        </a>\n\n        <!-- EDIT -->\n        <a href=\"https://automation.lockated.com/webhook-test/linkedin-review-edit?action=Edit&id={{$json.Draft_ID}}&content={{encodeURIComponent($json.Post_Content)}}&reply_to={{encodeURIComponent('suyash.jagdale@lockated.com')}}&cc={{encodeURIComponent('manav.gandhi@lockated.com')}}\"\n           class=\"btn btn-edit\">\n          <svg width=\"16\" height=\"16\" viewBox=\"0 0 16 16\" fill=\"none\">\n            <path d=\"M11 2.5L13.5 5L6 12.5H3.5V10L11 2.5Z\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n          </svg>\n          Edit\n        </a>\n\n      </div>\n\n    </div>\n\n    <!-- Footer -->\n    <div class=\"card-footer\">\n      <span class=\"footer-note\">Sent automatically via <a href=\"#\">n8n</a> automation</span>\n      <span class=\"dfid-badge\">DFID-{{$json.Draft_ID}}</span>\n    </div>\n\n  </div>\n</div>\n</body>\n</html>",
          "options": {
            "ccEmail": "manav.gandhi@lockated.com"
          }
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          880,
          -272
        ],
        "id": "7dec7628-cce7-4f5b-87bb-3a44ef5bc9a3",
        "name": "Send email",
        "webhookId": "3648c3e4-85f7-4851-8673-6155f0f38d40",
        "credentials": {
          "smtp": {
            "id": "m6pGNPu76sBcBXtf",
            "name": "Task Management SMTP Account"
          }
        }
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update row in sheet": {
        "main": [
          [
            {
              "node": "Send email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send email": {
        "main": [
          []
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "00108c9e-e9ac-4d92-ae0f-fa967953a3ca",
    "activeVersionId": null,
    "versionCounter": 38,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-04-09T05:42:51.386Z",
        "createdAt": "2026-04-09T05:42:51.386Z",
        "role": "workflow:owner",
        "workflowId": "Kr4ELy61FxXgMAnm",
        "projectId": "s9jeiIUr8G6hBG6i",
        "project": {
          "updatedAt": "2026-01-28T12:34:21.552Z",
          "createdAt": "2025-12-24T09:57:24.391Z",
          "id": "s9jeiIUr8G6hBG6i",
          "name": "N8N Admin <n8n@lockated.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
          "projectRelations": [
            {
              "updatedAt": "2025-12-24T09:57:24.391Z",
              "createdAt": "2025-12-24T09:57:24.391Z",
              "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "projectId": "s9jeiIUr8G6hBG6i",
              "user": {
                "updatedAt": "2026-04-16T03:51:58.000Z",
                "createdAt": "2025-12-24T09:57:23.917Z",
                "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
                "email": "n8n@lockated.com",
                "firstName": "N8N",
                "lastName": "Admin",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "automationGoalDevops": [
                    "ci-cd",
                    "cloud-infrastructure-orchestration",
                    "monitoring-alerting",
                    "reporting"
                  ],
                  "companyType": "saas",
                  "role": "it"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                  "userActivatedAt": 1767166205042,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1770088091114
                  },
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-04-15",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [
      {
        "updatedAt": "2026-04-09T05:50:06.216Z",
        "createdAt": "2026-04-09T05:50:06.216Z",
        "id": "G3nbvWMHGcGbTeOI",
        "name": "marketing-support"
      }
    ],
    "parentFolder": {
      "updatedAt": "2026-04-10T12:29:46.071Z",
      "createdAt": "2026-04-10T12:29:46.071Z",
      "id": "ENhlHq7G9T0Q12f1",
      "name": "WF01 — LinkedIn Post Draft Generator",
      "parentFolderId": "Nv4Mxy1IviRIXWgg"
    },
    "activeVersion": null,
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "b00c29290d7e2b9a9f605816fd06372e5b2148d4df98f6fa49a5384cf92a157a"
  }
}