n8n Backup - 29 April 2026/Rustomjee_BigQuery_Category___Long_Term_Loyalty___Credit_Points_on_Anniversaries_882hIACmGS7wVwVs.json
{
  "data": {
    "updatedAt": "2026-04-28T04:07:16.824Z",
    "createdAt": "2026-03-09T11:32:28.459Z",
    "id": "882hIACmGS7wVwVs",
    "name": "Rustomjee BigQuery Category - Long Term Loyalty - Credit Points on Anniversaries",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {},
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -336,
          16
        ],
        "id": "c9388437-84e8-47f0-a5a7-477736f240b2",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT *\nFROM \n  powerbi-implementation.dataWarehouse_prod.sales_booking LIMIT 1000\n",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          176,
          -240
        ],
        "id": "2669ead6-19f6-419c-951b-e68962405a2d",
        "name": "Execute a SQL query",
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT *\nFROM \n  powerbi-implementation.dataWarehouse_prod.sales_leads \n  WHERE LeadSource = \"Loyalty\"",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          480,
          -240
        ],
        "id": "0481cb37-c9b5-49ce-8580-3291ab693cdb",
        "name": "Execute a SQL query1",
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT\nID,\ntoday_delta_additions,\nBooking_Date,\nAgreement_Value__c,\nStatus__c,\nKUNNR,\nAccount_Mobile_Number__c,\nAccount_Mobile_1__c,\nMobile_Number__c,\nFirst_Name__c,\nLast_Name__c,\nProject_Text__c\nFROM `powerbi-implementation.dataWarehouse_prod.sales_booking`\nWHERE Status__c = 'Booked'\nAND Booking_Date IS NOT NULL",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          -144,
          -128
        ],
        "id": "8dad275d-ea58-4f57-81a8-03a0dc93963a",
        "name": "Query to fetch details of Booking - File already shared, File name is Booking",
        "alwaysOutputData": true,
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const today = new Date();\n\nconst todayMonth = today.getMonth();\nconst todayDate = today.getDate();\n\nreturn items.map(item => {\n\nconst bookingDate = new Date(item.json.booking_date);\n\nconst bookingMonth = bookingDate.getMonth();\nconst bookingDay = bookingDate.getDate();\n\nconst yearsCompleted =\ntoday.getFullYear() - bookingDate.getFullYear();\n\nlet points = 0;\n\nif (yearsCompleted === 1) {\npoints = 200;\n}\nelse if (yearsCompleted === 5) {\npoints = 500;\n}\nelse if (yearsCompleted === 10) {\npoints = 1000;\n}\nelse if (yearsCompleted === 15) {\npoints = 1500;\n}\n\nconst isAnniversary =\ntodayMonth === bookingMonth &&\ntodayDate === bookingDay;\n\nreturn {\njson: {\n...item.json,\nyears_completed: yearsCompleted,\npoints: points,\nis_anniversary: isAnniversary\n}\n};\n\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          192,
          16
        ],
        "id": "88ee56dd-7086-437a-bd0b-48435d685946",
        "name": "Calculate years completed and points",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n\nconst data = item.json;\n\nconst mobile =\ndata.Account_Mobile_Number__c ||\ndata.Account_Mobile_1__c ||\ndata.Mobile_Number__c ||\nnull;\n\nconst customer_id =\ndata.KUNNR || mobile;\n\nreturn {\njson: {\nid: data.ID,\ntoday_delta_additions : data.today_delta_additions,\ncustomer_id: customer_id,\nmobile: mobile,\nbooking_date: data.Booking_Date,\nfirst_name: data.First_Name__c,\nlast_name: data.Last_Name__c,\nproject: data.Project_Text__c\n}\n};\n\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          32,
          -32
        ],
        "id": "60273ba4-1ab9-4fe2-926a-9e2f7b40300d",
        "name": "Streamline the data",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "45c60d50-a338-4395-8028-3a71e6bda291",
                "leftValue": "={{$json.is_anniversary}}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "4ff9e130-380b-456e-9c6f-7d8452ab677e",
                "leftValue": "={{$json.points}}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          368,
          0
        ],
        "id": "0d497aeb-6161-40d1-96b9-247e0388f646",
        "name": "If anniversary = true and points is greater than 0",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n\nreturn {\njson: {\nid: item.json.id,\ncustomer_code: item.json.customer_id,\nmobile: item.json.mobile,\namount: item.json.points,\nremarks: \"BOOKING_ANNIVERSARY\",\ntransaction_note: \"Credited points for booking anniversary\",\npayment_mode: \"cash\",\ntopup_by: \"automation\",\nyears_completed: item.json.years_completed,\nbooking_date: item.json.booking_date,\ntoday_delta_additions: item.json.today_delta_additions\n}\n};\n\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          576,
          -96
        ],
        "id": "0515187e-4a86-43b1-a549-acb1f82f0509",
        "name": "Filtered data - today is anniversary",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://runwal-api.lockated.com/loyalty/members/credit_wallet.json",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "QsUjajggGCYJJGKndHkRidBxJN2cIUC06lr42Vru1EQ"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"customer_code\": \"{{ $json.customer_id }}\",\n  \"amount\": {{ $json.points }},\n  \"remarks\": \"{{ $json.event }}\",\n  \"transaction_note\": \"Demand payment reward\",\n  \"payment_mode\": \"system\",\n  \"topup_by\": \"automation\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          768,
          48
        ],
        "id": "3efd36f0-f47b-495c-85f8-576dd4efbdb6",
        "name": "HTTP Request",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "content": "Sample Payload - \nUnique Identifiers - \ncustomer_id = KUNNR,\nid =ID,\ntoday_delta_additions\n\n{\n  \"id\": \"a0EOW000007xhBN2AY\",\n  \"customer_code\": \"474398\",\n  \"mobile\": \"9009443238\",\n  \"amount\": 200,\n  \"remarks\": \"BOOKING_ANNIVERSARY\",\n  \"transaction_note\": \"Credited points for booking anniversary\",\n  \"payment_mode\": \"cash\",\n  \"topup_by\": \"automation\",\n  \"years_completed\": 1,\n  \"booking_date\": \"2025-04-28 12:37:00\",\n  \"today_delta_additions\": \"2026-04-28\"\n}",
          "height": 416,
          "width": 416
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -512,
          -496
        ],
        "id": "86be507a-acc2-4066-870b-dd000664ae46",
        "name": "Sticky Note"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Query to fetch details of Booking - File already shared, File name is Booking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          []
        ]
      },
      "Query to fetch details of Booking - File already shared, File name is Booking": {
        "main": [
          [
            {
              "node": "Streamline the data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate years completed and points": {
        "main": [
          [
            {
              "node": "If anniversary = true and points is greater than 0",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Streamline the data": {
        "main": [
          [
            {
              "node": "Calculate years completed and points",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If anniversary = true and points is greater than 0": {
        "main": [
          [
            {
              "node": "Filtered data - today is anniversary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtered data - today is anniversary": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "1535731d-edaa-4098-a542-c6c136c087a5",
    "activeVersionId": null,
    "versionCounter": 44,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-03-09T11:32:28.467Z",
        "createdAt": "2026-03-09T11:32:28.467Z",
        "role": "workflow:owner",
        "workflowId": "882hIACmGS7wVwVs",
        "projectId": "s9jeiIUr8G6hBG6i",
        "project": {
          "updatedAt": "2026-01-28T12:34:21.552Z",
          "createdAt": "2025-12-24T09:57:24.391Z",
          "id": "s9jeiIUr8G6hBG6i",
          "name": "N8N Admin <n8n@lockated.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
          "projectRelations": [
            {
              "updatedAt": "2025-12-24T09:57:24.391Z",
              "createdAt": "2025-12-24T09:57:24.391Z",
              "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "projectId": "s9jeiIUr8G6hBG6i",
              "user": {
                "updatedAt": "2026-04-29T05:29:58.000Z",
                "createdAt": "2025-12-24T09:57:23.917Z",
                "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
                "email": "n8n@lockated.com",
                "firstName": "N8N",
                "lastName": "Admin",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "automationGoalDevops": [
                    "ci-cd",
                    "cloud-infrastructure-orchestration",
                    "monitoring-alerting",
                    "reporting"
                  ],
                  "companyType": "saas",
                  "role": "it"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                  "userActivatedAt": 1767166205042,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1770088091114
                  },
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-04-28",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [],
    "parentFolder": {
      "updatedAt": "2026-03-02T14:34:11.511Z",
      "createdAt": "2026-03-02T14:34:11.511Z",
      "id": "Y9zGEIC6huRvstXD",
      "name": "Rustomjee Bigquery",
      "parentFolderId": null
    },
    "activeVersion": null,
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "3838eca23e9cffe95f8b66dc17cb7a391f3e16aaa0649287cd350f40ce868255"
  }
}