Module 2 - TASKS, KANBAN, MY TASKS/File attached.json
{
  "name": "File attached",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "file-attached",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        -144
      ],
      "id": "8794e2d0-efb3-4cf5-8e59-d48a48697d0d",
      "name": "Webhook",
      "webhookId": "120b15fa-9cae-4746-be93-6e82547dc828",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        224,
        -64
      ],
      "id": "bce78974-ccc9-4396-9393-d636e364c3e8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "fromEmail": "notifications@lockated.com",
        "toEmail": "={{$json.task_owner_email}}",
        "subject": "=File added to task: {{$json.task_title}}\n",
        "html": "=Hello,\n\nA new file has been added to the task:\n\nTask: {{$json.task_title}}\nFile: {{$json.file_name}}\n\nPlease review it when convenient.\n\nThanks\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        16,
        -192
      ],
      "id": "4ca9824d-8a05-40cf-b4b4-6d50c31be747",
      "name": "Task Owner",
      "webhookId": "c32cf3da-943a-40fb-93c1-ae2a1deff5dc",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "m6pGNPu76sBcBXtf",
          "name": "Task Management SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  af.id                    AS attachment_id,\n  af.document_file_name    AS file_name,\n  af.document_content_type AS file_type,\n  af.created_at            AS file_added_at,\n\n  t.id                     AS task_id,\n  t.title                  AS task_title,\n\n  u.id                     AS task_owner_id,\n  u.email                  AS task_owner_email\nFROM attachfiles af\nJOIN task_managements t\n  ON t.id = af.relation_id\n AND af.relation = 'TaskManagement'\nJOIN spree_users u\n  ON u.id = t.responsible_person_id\nWHERE\n  af.created_at >= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n  AND af.active = 1\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -240,
        -224
      ],
      "id": "6f6b6d86-3cb5-4b4a-beab-05966603d9af",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "FGCPCtEG47rFAJ4J",
          "name": "New FM UAT Task Management Database"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        32
      ],
      "id": "4799c6b6-c6e4-4d5a-8878-f038abc61e03",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Owner": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Task Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5424a08f-b4f4-4ba6-b787-95c44e2952c6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cef8c9ed95a800214bddfac974636ee18f281f75a4bb6a9a439ad49c2d156498"
  },
  "id": "g1MzfwDjqQIiCOq4",
  "tags": []
}