n8n Backup - 09 March 2026/Module 4 - ISSUES/New Issue Created.json
{
  "name": "New Issue Created",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-issue-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        -16
      ],
      "id": "2ecb8541-e08d-47a3-a297-c31fb2e9ddfc",
      "name": "Webhook",
      "webhookId": "dd274af3-5a0c-434e-9ad0-f4f1740248f1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        272,
        48
      ],
      "id": "dc634266-7898-43bb-901f-bfb02df9ed2c",
      "name": "Respond to Webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  i.*,\n  i.id                    AS issue_id,\n  i.title                 AS issue_title,\n  i.created_at            AS issue_created_at,\n  i.status                AS issue_status,\n  i.priority              AS issue_priority,\n\n  pm.id                   AS project_id,\n  pm.title                AS project_title,\n\n  -- issue owner\n  io.email                AS issue_owner_email,\n  io.firstname            AS issue_owner_firstname,\n  io.lastname             AS issue_owner_lastname,\n\n  -- project manager\n  pmo.email               AS project_manager_email,\n  pmo.firstname           AS project_manager_firstname,\n  pmo.lastname            AS project_manager_lastname\n\nFROM issues i\n\n-- issue owner\nJOIN spree_users io\n  ON io.id = i.responsible_person_id\n\n-- project\nJOIN project_managements pm\n  ON pm.id = i.project_management_id\n\n-- project manager\nJOIN spree_users pmo\n  ON pmo.id = pm.owner_id\n\nWHERE\n  i.created_at >= UTC_TIMESTAMP() - INTERVAL 60 MINUTE;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -240,
        -224
      ],
      "id": "587d3156-9743-4ae8-af6d-dd3d16d0d4c2",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "FGCPCtEG47rFAJ4J",
          "name": "New FM UAT Task Management Database"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -480,
        -224
      ],
      "id": "a52d12c5-8a9f-4994-8510-f4ff89c38bd2",
      "name": "Schedule Trigger",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "notificaions@lockated.com",
        "toEmail": "={{$json.issue_owner_email}},{{$json.project_manager_email}}\n",
        "subject": "=New Issue Logged: {{$json.issue_title}}\n\n",
        "html": "=Dear {{$json.project_manager_firstname}} {{$json.project_manager_lastname}},\n\nAn issue has been logged in the system and assigned for review and resolution.\n\n<b>Issue Details</b>\n* Issue Title: {{$json.issue_title}}\n* Description: {{$json.description}}\n* Issue Type: {{$json.issue_type}}\n* Priority: {{$json.issue_priority}}\n* Current Status: {{$json.issue_status}}\n* Related Project ID: {{$json.project_id}}\n* Linked Task ID: {{$json.task_management_id}}\n* Created By: {{$json.created_by_id}}\n* Created On: {{$json.created_at}}\n\nPlease review the issue details and initiate corrective action as appropriate.\n\nRegards,\n<b>Issue & Quality Management System</b>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        64,
        -208
      ],
      "id": "36b3cdce-4034-4610-9a56-9d6c9d40325b",
      "name": "PM",
      "webhookId": "e9ff97d5-8be6-4232-ad97-473c3f4b6725",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "e6BxRubia0RizPKp",
          "name": "Lockated Local SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "notificaions@lockated.com",
        "toEmail": "={{$json.issue_owner_email}},{{$json.project_manager_email}}\n",
        "subject": "=New Issue Logged: {{$json.issue_title}}\n\n",
        "html": "=Dear {{$json.issue_owner_firstname}} {{$json.issue_owner_lastname}},\n\nAn issue has been logged in the system and assigned for review and resolution.\n\n<b>Issue Details</b>\n* Issue Title: {{$json.issue_title}}\n* Description: {{$json.description}}\n* Issue Type: {{$json.issue_type}}\n* Priority: {{$json.issue_priority}}\n* Current Status: {{$json.issue_status}}\n* Related Project ID: {{$json.project_id}}\n* Linked Task ID: {{$json.task_management_id}}\n* Created By: {{$json.created_by_id}}\n* Created On: {{$json.created_at}}\n\nPlease review the issue details and initiate corrective action as appropriate.\n\nRegards,\n<b>Issue & Quality Management System</b>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -32,
        -32
      ],
      "id": "36e5895c-5560-42d9-b70e-cfcc56dc9a9d",
      "name": "Issue Owner",
      "webhookId": "e9ff97d5-8be6-4232-ad97-473c3f4b6725",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "e6BxRubia0RizPKp",
          "name": "Lockated Local SMTP"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        []
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "PM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Issue Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PM": {
      "main": [
        []
      ]
    },
    "Issue Owner": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "53473fc0-46ad-411a-b583-c52ae055cfb6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cef8c9ed95a800214bddfac974636ee18f281f75a4bb6a9a439ad49c2d156498"
  },
  "id": "yQkcmCwlQ9nqiJbM",
  "tags": []
}