n8n Backup - 24 April 2026/Escalation_triggered__based_on_your_matrix__fCInrx9m58VaikTa.json
{
  "data": {
    "updatedAt": "2026-01-12T08:17:46.814Z",
    "createdAt": "2025-12-26T09:02:05.022Z",
    "id": "fCInrx9m58VaikTa",
    "name": "Escalation triggered (based on your matrix)",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          128,
          16
        ],
        "id": "206ab75f-de33-4a32-a3a4-9c3481aa67c2",
        "name": "Respond to Webhook",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "escalation-triggered",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -464,
          -144
        ],
        "id": "8321a28d-5e70-4a4f-8e11-7abae3c3ef8a",
        "name": "Webhook",
        "webhookId": "421d53f4-6764-4224-bbea-bf07a5ea71a1",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "fromEmail": "notificaions@lockated.com",
          "toEmail": "heypiyush112@gmail.com",
          "subject": "= Escalation Alert – {{$json.entity_title}}",
          "html": "=Dear {{$json.RecipientName}},\n\nAn escalation has been triggered based on the defined escalation matrix.\n\nEscalation Details:\n• Entity: {{$json.entity_title}}\n• Type: {{$json.entity_type}}\n• Overdue By: {{$json.overdue_days}} days\n• Current Owner: {{$json.current_owner_name}}\n\nPlease intervene and guide resolution.\n\nRegards,\nPMO – Escalations\n",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          -144,
          -48
        ],
        "id": "b57ac289-b5b1-44f3-9d15-749a4eb770d6",
        "name": "Next level manager",
        "webhookId": "25f737c4-5c18-4384-9804-ed025dfd14f7",
        "alwaysOutputData": true,
        "credentials": {
          "smtp": {
            "id": "m6pGNPu76sBcBXtf",
            "name": "Task Management SMTP Account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Next level manager",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Next level manager": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "cd1c9d12-e5fd-454d-bbe4-ae6fd2ceb757",
    "activeVersionId": null,
    "versionCounter": 45,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2025-12-26T09:02:05.024Z",
        "createdAt": "2025-12-26T09:02:05.024Z",
        "role": "workflow:owner",
        "workflowId": "fCInrx9m58VaikTa",
        "projectId": "s9jeiIUr8G6hBG6i",
        "project": {
          "updatedAt": "2026-01-28T12:34:21.552Z",
          "createdAt": "2025-12-24T09:57:24.391Z",
          "id": "s9jeiIUr8G6hBG6i",
          "name": "N8N Admin <n8n@lockated.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
          "projectRelations": [
            {
              "updatedAt": "2025-12-24T09:57:24.391Z",
              "createdAt": "2025-12-24T09:57:24.391Z",
              "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "projectId": "s9jeiIUr8G6hBG6i",
              "user": {
                "updatedAt": "2026-04-23T18:47:48.000Z",
                "createdAt": "2025-12-24T09:57:23.917Z",
                "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
                "email": "n8n@lockated.com",
                "firstName": "N8N",
                "lastName": "Admin",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "automationGoalDevops": [
                    "ci-cd",
                    "cloud-infrastructure-orchestration",
                    "monitoring-alerting",
                    "reporting"
                  ],
                  "companyType": "saas",
                  "role": "it"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                  "userActivatedAt": 1767166205042,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1770088091114
                  },
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-04-23",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [],
    "parentFolder": {
      "updatedAt": "2025-12-26T09:00:07.087Z",
      "createdAt": "2025-12-26T09:00:07.087Z",
      "id": "dwpm7igDIDsDlEHw",
      "name": "Module 11 - User Management & Roles",
      "parentFolderId": null
    },
    "activeVersion": null,
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "cb036d635229c48f53c34a22d0ba5e85e07e8dd6556e238e58ab74f4d9d9e693"
  }
}