n8n Backup - 24 April 2026/Production___SubTask_Task_overdue_copy_L5TC4hWNJRToFifD.json
{
  "data": {
    "updatedAt": "2026-04-20T12:56:56.591Z",
    "createdAt": "2026-04-15T11:53:51.149Z",
    "id": "L5TC4hWNJRToFifD",
    "name": "Production - SubTask Task overdue copy",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "e4dd1d30-01fb-4170-be2d-a6a0cc098fee",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "8cc105cd-72c1-4385-a87a-4c2245ad3d03",
        "name": "Webhook",
        "webhookId": "e4dd1d30-01fb-4170-be2d-a6a0cc098fee",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          880,
          144
        ],
        "id": "f881aa99-b1dd-4755-8b02-ec37abaca803",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  t.id AS subtask_id,\n  ANY_VALUE(t.title) AS subtask_title,\n  ANY_VALUE(t.created_at) AS subtask_created_on,\n  ANY_VALUE(t.target_date) AS subtask_end_on,\n  ANY_VALUE(t.status) AS subtask_status,\n  ANY_VALUE(t.priority) AS subtask_priority,\n\n  ANY_VALUE(\n    TIMESTAMPDIFF(\n      DAY,\n      DATE(t.target_date),\n      DATE(UTC_TIMESTAMP())\n    )\n  ) AS overdue_days,\n\n  ANY_VALUE(rp.id) AS responsible_person_id,\n  ANY_VALUE(rp.firstname) AS responsible_person_firstname,\n  ANY_VALUE(rp.lastname) AS responsible_person_lastname,\n  ANY_VALUE(rp.email) AS responsible_person_email,\n\n  ANY_VALUE(parent_t.id) AS parent_task_id,\n  ANY_VALUE(parent_t.title) AS parent_task_title,\n\n  ANY_VALUE(pm.id) AS project_id,\n  ANY_VALUE(pm.title) AS project_title,\n\n  ANY_VALUE(m.id) AS milestone_id,\n  ANY_VALUE(m.title) AS milestone_title,\n\n  ANY_VALUE(pmo.id) AS project_manager_id,\n  ANY_VALUE(pmo.firstname) AS project_manager_firstname,\n  ANY_VALUE(pmo.lastname) AS project_manager_lastname,\n  ANY_VALUE(pmo.email) AS project_manager_email,\n\n  GROUP_CONCAT(obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(obs.email ORDER BY obs.id) AS observer_emails\n\nFROM task_managements t\n\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\nLEFT JOIN task_managements parent_t\n  ON parent_t.id = t.parent_id\n\nLEFT JOIN milestones m\n  ON m.id = parent_t.milestone_id\n\nLEFT JOIN project_managements pm\n  ON pm.id = COALESCE(t.project_management_id, parent_t.project_management_id)\n\nLEFT JOIN spree_users pmo\n  ON pmo.id = pm.owner_id\n\nLEFT JOIN task_users tu\n  ON tu.task_id = t.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  DATE(t.target_date) < DATE(UTC_TIMESTAMP())\n  AND t.status NOT IN ('completed', 'closed', 'on_hold')\n  AND t.parent_id IS NOT NULL\n  AND rp.organization_id IN (13, 14, 59, 84)\n\nGROUP BY t.id;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          336,
          64
        ],
        "id": "5c9a7c4c-e258-4702-a820-b9f6eb77c1f8",
        "name": "Execute a SQL query",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "cSpNSxxLQn5eFDMK",
            "name": "Task Management Production Database"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 10,
                "triggerAtMinute": 10
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          32,
          208
        ],
        "id": "75a0a62f-6c92-44a4-8785-559dfaf2176f",
        "name": "Schedule Trigger",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.project_manager_email}}",
          "subject": "=SubTask Overdue: Immediate Attention Required – {{$json.subtask_title}}",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{$json.project_manager_firstname}} {{$json.project_manager_lastname}},\n  </p>\n\n  <p>\n    The subtask <b>{{$json.subtask_title}}</b> has exceeded its planned due date and is currently overdue.\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Overdue Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_created_on}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask End On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_end_on}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_status}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Overdue By</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.overdue_days}} days</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Responsible Owner</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.responsible_person_firstname}} {{$json.responsible_person_lastname}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Parent Task</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.parent_task_title || 'N/A'}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title || 'N/A'}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.subtask_id}}\" target=\"_blank\">\n          View Task Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    Please update the task with completion details or provide a revised plan to avoid escalation.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>PMO – Escalation Desk</strong>\n  </p>\n\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          656,
          64
        ],
        "id": "588b2ef1-79ae-4a63-8a6b-61f38168e3ad",
        "name": "PM",
        "webhookId": "4e2020f1-dda8-410b-a661-dde735e96b66",
        "alwaysOutputData": true,
        "credentials": {
          "smtp": {
            "id": "e6BxRubia0RizPKp",
            "name": "Lockated Local SMTP"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.responsible_person_email}}",
          "subject": "=SubTask Overdue: Immediate Attention Required – {{$json.subtask_title}}",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{$json.responsible_person_firstname}} {{$json.responsible_person_lastname}},\n  </p>\n\n  <p>\n    The subtask <b>{{$json.subtask_title}}</b> has exceeded its planned due date and is currently overdue.\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Overdue Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_created_on}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask End On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_end_on}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_status}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Overdue By</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.overdue_days}} days</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Responsible Owner</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.responsible_person_firstname}} {{$json.responsible_person_lastname}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Parent Task</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.parent_task_title || 'N/A'}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title || 'N/A'}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.subtask_id}}\" target=\"_blank\">\n          View Task Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    Please update the task with completion details or provide a revised plan to avoid escalation.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>PMO – Escalation Desk</strong>\n  </p>\n\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          656,
          272
        ],
        "id": "ce623e53-a456-462e-b479-17b0b3828633",
        "name": "Task Owner",
        "webhookId": "3981fe52-b947-4b9f-b416-e57ce9b900de",
        "credentials": {
          "smtp": {
            "id": "e6BxRubia0RizPKp",
            "name": "Lockated Local SMTP"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  -- =========================\n  -- SUBTASK\n  -- =========================\n  t.id                       AS subtask_id,\n  t.title                    AS subtask_title,\n  t.created_at                AS subtask_created_on,\n  t.target_date               AS subtask_end_on,\n  t.status                    AS subtask_status,\n  t.priority                  AS subtask_priority,\n\n  -- overdue calculation\n  TIMESTAMPDIFF(\n    DAY,\n    DATE(t.target_date),\n    DATE(UTC_TIMESTAMP())\n  )                           AS overdue_days,\n\n  -- responsible person (task owner)\n  rp.id                       AS responsible_person_id,\n  rp.firstname                AS responsible_person_firstname,\n  rp.lastname                 AS responsible_person_lastname,\n  rp.email                    AS responsible_person_email,\n\n  -- =========================\n  -- PARENT TASK\n  -- =========================\n  parent_t.id                 AS parent_task_id,\n  parent_t.title              AS parent_task_title,\n\n  -- =========================\n  -- PROJECT (via self OR parent)\n  -- =========================\n  pm.id                       AS project_id,\n  pm.title                    AS project_title,\n\n  -- =========================\n  -- MILESTONE (via parent task)\n  -- =========================\n  m.id                        AS milestone_id,\n  m.title                     AS milestone_title,\n\n  -- =========================\n  -- PROJECT MANAGER\n  -- =========================\n  pmo.id                      AS project_manager_id,\n  pmo.firstname               AS project_manager_firstname,\n  pmo.lastname                AS project_manager_lastname,\n  pmo.email                   AS project_manager_email\n\nFROM task_managements t\n\n-- responsible person (task owner)\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\n-- parent task\nLEFT JOIN task_managements parent_t\n  ON parent_t.id = t.parent_id\n\n-- milestone via parent task\nLEFT JOIN milestones m\n  ON m.id = parent_t.milestone_id\n\n-- project via self or parent\nLEFT JOIN project_managements pm\n  ON pm.id = COALESCE(t.project_management_id, parent_t.project_management_id)\n\n-- project manager\nLEFT JOIN spree_users pmo\n  ON pmo.id = pm.owner_id\n\nWHERE\n  DATE(t.target_date) < DATE(UTC_TIMESTAMP())   -- overdue\n  AND t.status NOT IN ('completed', 'closed')   -- ignore completed tasks\n  AND t.parent_id IS NOT NULL;                  -- only subtasks",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          272,
          272
        ],
        "id": "2cc0c9dd-6fd8-4bf0-9df9-0ba413afa264",
        "name": "Without Observers",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "FGCPCtEG47rFAJ4J",
            "name": "New FM UAT Task Management Database"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const rows = $input.all().map(i => i.json);\n\nconst observerMap = {};\n\nfor (const r of rows) {\n\n  const emails = (r.observer_emails || '').split(',');\n  const firstNames = (r.observer_first_names || '').split(',');\n  const lastNames = (r.observer_last_names || '').split(',');\n\n  for (let i = 0; i < emails.length; i++) {\n\n    const email = emails[i]?.trim();\n    if (!email) continue;\n\n    if (!observerMap[email]) {\n      observerMap[email] = {\n        observer_email: email,\n        observer_name: `${firstNames[i] || ''} ${lastNames[i] || ''}`.trim(),\n        tasks: []\n      };\n    }\n\n    observerMap[email].tasks.push({\n      ...r, // keep full task info\n      observer_email: email,\n      observer_first_name: firstNames[i]?.trim(),\n      observer_last_name: lastNames[i]?.trim()\n    });\n  }\n}\n\nreturn Object.values(observerMap);"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          528,
          448
        ],
        "id": "29a1ab42-0dce-4929-b1a7-fa0586f005d2",
        "name": "Code in JavaScript",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{ $json.observer_email }}",
          "subject": "=SubTask Overdue: Immediate Attention Required – {{$json.subtask_title}}",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{ $json.observer_first_name }} {{ $json.observer_last_name }},\n  </p>\n\n  <p>\n    The subtask <b>{{$json.subtask_title}}</b> has exceeded its planned due date and is currently overdue.\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Overdue Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_created_on}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask End On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_end_on}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_status}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Overdue By</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.overdue_days}} days</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Responsible Owner</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.responsible_person_firstname}} {{$json.responsible_person_lastname}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Parent Task</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.parent_task_title || 'N/A'}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title || 'N/A'}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.subtask_id}}\" target=\"_blank\">\n          View Task Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    You, as an observer, please take an update from the responsible person for the task with completion details or provide a revised plan to avoid escalation.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>PMO – Escalation Desk</strong>\n  </p>\n\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          832,
          480
        ],
        "id": "821df915-8e81-4c14-8aa3-e0f6ae17fe47",
        "name": "Observers",
        "webhookId": "3dfb73c9-d4a0-478d-afb9-5f891e63a8d6",
        "credentials": {
          "smtp": {
            "id": "e6BxRubia0RizPKp",
            "name": "Lockated Local SMTP"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const rows = $input.all().map(i => i.json);\n\nconst ownerMap = {};\n\nfor (const r of rows) {\n\n  const email = r.responsible_person_email;\n  if (!email) continue;\n\n  const name = `${r.responsible_person_firstname || ''} ${r.responsible_person_lastname || ''}`.trim();\n\n  if (!ownerMap[email]) {\n    ownerMap[email] = {\n      task_owner_email: email,\n      task_owner_name: name,\n      tasks: []\n    };\n  }\n\n  ownerMap[email].tasks.push({\n    subtask_id: r.subtask_id,\n    subtask_title: r.subtask_title,\n    subtask_created_on: r.subtask_created_on,\n    subtask_end_on: r.subtask_end_on,\n    subtask_status: r.subtask_status,\n    overdue_days: r.overdue_days,\n\n    priority: r.subtask_priority || 'N/A',\n\n    parent_task_id: r.parent_task_id || 'N/A',\n    parent_task_title: r.parent_task_title || 'N/A',\n\n    project_title: r.project_title || 'N/A',\n\n    milestone_title: r.milestone_title ?? 'N/A'\n  });\n}\n\n// convert + add total count per owner\nreturn Object.values(ownerMap).map(owner => ({\n  json: {\n    ...owner,\n    total_overdue_subtasks: owner.tasks.length\n  }\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          544,
          -368
        ],
        "id": "d19afcf3-f455-49dc-b5d3-a7f3a0ce4284",
        "name": "Grouped SubTask Owner",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "const rows = $input.all().map(i => i.json);\n\nconst pmMap = {};\n\nfor (const r of rows) {\n\n  const email = r.project_manager_email;\n  if (!email) continue;\n\n  const name = `${r.project_manager_firstname || ''} ${r.project_manager_lastname || ''}`.trim();\n\n  if (!pmMap[email]) {\n    pmMap[email] = {\n      pm_email: email,\n      pm_name: name,\n      tasks: []\n    };\n  }\n\n  pmMap[email].tasks.push({\n    ...r,\n    pm_email: email,\n    pm_name: name\n  });\n}\n\nreturn Object.values(pmMap).map(pm => ({\n  json: {\n    ...pm,\n    total_overdue_subtasks: pm.tasks.length\n  }\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          576,
          -208
        ],
        "id": "d481f8ce-5f59-45c3-87d5-099e5d1a5804",
        "name": "Grouped PM",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "const rows = $input.all().map(i => i.json);\n\nconst observerMap = {};\n\nfor (const r of rows) {\n\n  if (!r.observer_emails) continue;\n\n  const emails = r.observer_emails.split(',');\n  const firstNames = (r.observer_first_names || '').split(',');\n  const lastNames = (r.observer_last_names || '').split(',');\n\n  for (let i = 0; i < emails.length; i++) {\n\n    const email = emails[i];\n    if (!email) continue;\n\n    if (!observerMap[email]) {\n      observerMap[email] = {\n        observer_email: email,\n        observer_name: `${firstNames[i] || ''} ${lastNames[i] || ''}`.trim(),\n        tasks: []\n      };\n    }\n\n    observerMap[email].tasks.push({\n      ...r, // 👈 FULL ROW PRESERVED\n      observer_name: `${firstNames[i] || ''} ${lastNames[i] || ''}`.trim(),\n      observer_email: email\n    });\n  }\n}\n\nreturn Object.values(observerMap);"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          688,
          -80
        ],
        "id": "3a11e44b-a807-45b9-abaa-34f41689919f",
        "name": "Grouped Observers"
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.task_owner_email}}",
          "subject": "=SubTask Overdue: Immediate Attention Required – {{$json.total_overdue_subtasks}} subtasks have been overdue.",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{$json.task_owner_name}},\n  </p>\n\n  <p>\n    You have <b>{{$json.total_overdue_subtasks}}</b> overdue subtask(s).\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Overdue Subtasks Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; font-size: 13px;\">\n\n    <tr style=\"background:#f4f4f4;\">\n      <th style=\"border:1px solid #ddd; padding:8px;\">Subtask</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Owner</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Parent Task</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Project</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Milestone</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Status</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Overdue Days</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Link</th>\n    </tr>\n\n    {{ $json.tasks.map(task => `\n      <tr>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.subtask_title}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${$json.task_owner_name}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.parent_task_title}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.project_title || 'N/A'}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.milestone_title || 'N/A'}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.subtask_status}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.overdue_days}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          <a href=\"https://web.gophygital.work/vas/tasks/${task.subtask_id}\" target=\"_blank\">\n            View\n          </a>\n        </td>\n\n      </tr>\n    `).join('') }}\n\n  </table>\n\n  <p style=\"margin-top:15px;\">\n    Please take necessary action on all overdue subtasks.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>PMO – Escalation Desk</strong>\n  </p>\n\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          928,
          -320
        ],
        "id": "e054a182-e583-4bbd-b187-ef9c31576f75",
        "name": "Task Owner1",
        "webhookId": "3981fe52-b947-4b9f-b416-e57ce9b900de",
        "credentials": {
          "smtp": {
            "id": "e6BxRubia0RizPKp",
            "name": "Lockated Local SMTP"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.pm_email}}",
          "subject": "=SubTasks Overdue in your projects: {{$json.total_overdue_subtasks}} have been overdue in your projects.",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{$json.pm_name}},\n  </p>\n\n  <p>\n    Below are the overdue subtasks in the project you are managing and this require your attention.\n  </p>\n\n  <p>\n    Total Overdue Subtasks: <b>{{$json.total_overdue_subtasks}}</b>\n  </p>\n\n  <table style=\"border-collapse: collapse; width: 100%; font-size: 13px;\">\n\n    <tr style=\"background:#f2f2f2;\">\n      <th style=\"border:1px solid #ddd; padding:8px;\">Subtask</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Created On</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Due Date</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Overdue Days</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Status</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Priority</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Owner</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Project</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Parent Task</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Link</th>\n    </tr>\n\n    {{ $json.tasks.map(task => `\n      <tr>\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.subtask_title}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.subtask_created_on}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.subtask_end_on}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.overdue_days} days\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.subtask_status}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.subtask_priority || 'N/A'}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.responsible_person_firstname} ${task.responsible_person_lastname}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.project_title || 'N/A'}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.parent_task_title || 'N/A'}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          <a href=\"https://web.gophygital.work/vas/tasks/${task.subtask_id}\" target=\"_blank\">\n            Open\n          </a>\n        </td>\n      </tr>\n    `).join('') }}\n\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    As a Project Manager, Please ensure timely closure or update of these subtasks.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>PMO – Escalation Desk</strong>\n  </p>\n\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          1072,
          -176
        ],
        "id": "85f6c078-49d4-48a5-8c06-5a04d0f3868c",
        "name": "PM1",
        "webhookId": "4e2020f1-dda8-410b-a661-dde735e96b66",
        "alwaysOutputData": true,
        "credentials": {
          "smtp": {
            "id": "e6BxRubia0RizPKp",
            "name": "Lockated Local SMTP"
          }
        }
      }
    ],
    "connections": {
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "Grouped SubTask Owner",
              "type": "main",
              "index": 0
            },
            {
              "node": "Grouped PM",
              "type": "main",
              "index": 0
            },
            {
              "node": "Grouped Observers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PM": {
        "main": [
          []
        ]
      },
      "Task Owner": {
        "main": [
          []
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Observers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Grouped SubTask Owner": {
        "main": [
          [
            {
              "node": "Task Owner1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Grouped PM": {
        "main": [
          [
            {
              "node": "PM1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": {
      "node:Schedule Trigger": {
        "recurrenceRules": []
      }
    },
    "meta": null,
    "pinData": {},
    "versionId": "119922a9-66b2-40ef-9815-076e813a6460",
    "activeVersionId": "119922a9-66b2-40ef-9815-076e813a6460",
    "versionCounter": 47,
    "triggerCount": 2,
    "shared": [
      {
        "updatedAt": "2026-04-15T11:53:51.153Z",
        "createdAt": "2026-04-15T11:53:51.153Z",
        "role": "workflow:owner",
        "workflowId": "L5TC4hWNJRToFifD",
        "projectId": "s9jeiIUr8G6hBG6i",
        "project": {
          "updatedAt": "2026-01-28T12:34:21.552Z",
          "createdAt": "2025-12-24T09:57:24.391Z",
          "id": "s9jeiIUr8G6hBG6i",
          "name": "N8N Admin <n8n@lockated.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
          "projectRelations": [
            {
              "updatedAt": "2025-12-24T09:57:24.391Z",
              "createdAt": "2025-12-24T09:57:24.391Z",
              "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "projectId": "s9jeiIUr8G6hBG6i",
              "user": {
                "updatedAt": "2026-04-23T18:47:48.000Z",
                "createdAt": "2025-12-24T09:57:23.917Z",
                "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
                "email": "n8n@lockated.com",
                "firstName": "N8N",
                "lastName": "Admin",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "automationGoalDevops": [
                    "ci-cd",
                    "cloud-infrastructure-orchestration",
                    "monitoring-alerting",
                    "reporting"
                  ],
                  "companyType": "saas",
                  "role": "it"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                  "userActivatedAt": 1767166205042,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1770088091114
                  },
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-04-23",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [
      {
        "updatedAt": "2026-04-15T11:32:35.314Z",
        "createdAt": "2026-04-15T11:32:35.314Z",
        "id": "L0EeV7qZEpOHtqXt",
        "name": "Production Ready"
      },
      {
        "updatedAt": "2026-04-15T11:50:19.612Z",
        "createdAt": "2026-04-15T11:50:19.612Z",
        "id": "Uq7B4y56s5FTtmhz",
        "name": "Module 2.1 - SUBTASKS"
      }
    ],
    "parentFolder": {
      "updatedAt": "2026-04-15T11:49:33.471Z",
      "createdAt": "2026-04-15T11:49:33.471Z",
      "id": "JZBEQrtRyogrut64",
      "name": "Production Ready",
      "parentFolderId": "2EgLHgrVJNh2U0Rt"
    },
    "activeVersion": {
      "updatedAt": "2026-04-20T12:56:59.000Z",
      "createdAt": "2026-04-20T12:56:56.592Z",
      "versionId": "119922a9-66b2-40ef-9815-076e813a6460",
      "workflowId": "L5TC4hWNJRToFifD",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "e4dd1d30-01fb-4170-be2d-a6a0cc098fee",
            "responseMode": "responseNode",
            "options": {}
          },
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2.1,
          "position": [
            0,
            0
          ],
          "id": "8cc105cd-72c1-4385-a87a-4c2245ad3d03",
          "name": "Webhook",
          "webhookId": "e4dd1d30-01fb-4170-be2d-a6a0cc098fee",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "respondWith": "allIncomingItems",
            "options": {}
          },
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.5,
          "position": [
            880,
            144
          ],
          "id": "f881aa99-b1dd-4755-8b02-ec37abaca803",
          "name": "Respond to Webhook"
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  t.id AS subtask_id,\n  ANY_VALUE(t.title) AS subtask_title,\n  ANY_VALUE(t.created_at) AS subtask_created_on,\n  ANY_VALUE(t.target_date) AS subtask_end_on,\n  ANY_VALUE(t.status) AS subtask_status,\n  ANY_VALUE(t.priority) AS subtask_priority,\n\n  ANY_VALUE(\n    TIMESTAMPDIFF(\n      DAY,\n      DATE(t.target_date),\n      DATE(UTC_TIMESTAMP())\n    )\n  ) AS overdue_days,\n\n  ANY_VALUE(rp.id) AS responsible_person_id,\n  ANY_VALUE(rp.firstname) AS responsible_person_firstname,\n  ANY_VALUE(rp.lastname) AS responsible_person_lastname,\n  ANY_VALUE(rp.email) AS responsible_person_email,\n\n  ANY_VALUE(parent_t.id) AS parent_task_id,\n  ANY_VALUE(parent_t.title) AS parent_task_title,\n\n  ANY_VALUE(pm.id) AS project_id,\n  ANY_VALUE(pm.title) AS project_title,\n\n  ANY_VALUE(m.id) AS milestone_id,\n  ANY_VALUE(m.title) AS milestone_title,\n\n  ANY_VALUE(pmo.id) AS project_manager_id,\n  ANY_VALUE(pmo.firstname) AS project_manager_firstname,\n  ANY_VALUE(pmo.lastname) AS project_manager_lastname,\n  ANY_VALUE(pmo.email) AS project_manager_email,\n\n  GROUP_CONCAT(obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(obs.email ORDER BY obs.id) AS observer_emails\n\nFROM task_managements t\n\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\nLEFT JOIN task_managements parent_t\n  ON parent_t.id = t.parent_id\n\nLEFT JOIN milestones m\n  ON m.id = parent_t.milestone_id\n\nLEFT JOIN project_managements pm\n  ON pm.id = COALESCE(t.project_management_id, parent_t.project_management_id)\n\nLEFT JOIN spree_users pmo\n  ON pmo.id = pm.owner_id\n\nLEFT JOIN task_users tu\n  ON tu.task_id = t.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  DATE(t.target_date) < DATE(UTC_TIMESTAMP())\n  AND t.status NOT IN ('completed', 'closed', 'on_hold')\n  AND t.parent_id IS NOT NULL\n  AND rp.organization_id IN (13, 14, 59, 84)\n\nGROUP BY t.id;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            336,
            64
          ],
          "id": "5c9a7c4c-e258-4702-a820-b9f6eb77c1f8",
          "name": "Execute a SQL query",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "cSpNSxxLQn5eFDMK",
              "name": "Task Management Production Database"
            }
          }
        },
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "triggerAtHour": 10,
                  "triggerAtMinute": 10
                }
              ]
            }
          },
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.3,
          "position": [
            32,
            208
          ],
          "id": "75a0a62f-6c92-44a4-8785-559dfaf2176f",
          "name": "Schedule Trigger",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{$json.project_manager_email}}",
            "subject": "=SubTask Overdue: Immediate Attention Required – {{$json.subtask_title}}",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{$json.project_manager_firstname}} {{$json.project_manager_lastname}},\n  </p>\n\n  <p>\n    The subtask <b>{{$json.subtask_title}}</b> has exceeded its planned due date and is currently overdue.\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Overdue Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_created_on}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask End On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_end_on}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_status}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Overdue By</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.overdue_days}} days</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Responsible Owner</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.responsible_person_firstname}} {{$json.responsible_person_lastname}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Parent Task</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.parent_task_title || 'N/A'}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title || 'N/A'}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.subtask_id}}\" target=\"_blank\">\n          View Task Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    Please update the task with completion details or provide a revised plan to avoid escalation.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>PMO – Escalation Desk</strong>\n  </p>\n\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            656,
            64
          ],
          "id": "588b2ef1-79ae-4a63-8a6b-61f38168e3ad",
          "name": "PM",
          "webhookId": "4e2020f1-dda8-410b-a661-dde735e96b66",
          "alwaysOutputData": true,
          "credentials": {
            "smtp": {
              "id": "e6BxRubia0RizPKp",
              "name": "Lockated Local SMTP"
            }
          }
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{$json.responsible_person_email}}",
            "subject": "=SubTask Overdue: Immediate Attention Required – {{$json.subtask_title}}",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{$json.responsible_person_firstname}} {{$json.responsible_person_lastname}},\n  </p>\n\n  <p>\n    The subtask <b>{{$json.subtask_title}}</b> has exceeded its planned due date and is currently overdue.\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Overdue Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_created_on}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask End On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_end_on}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_status}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Overdue By</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.overdue_days}} days</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Responsible Owner</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.responsible_person_firstname}} {{$json.responsible_person_lastname}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Parent Task</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.parent_task_title || 'N/A'}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title || 'N/A'}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.subtask_id}}\" target=\"_blank\">\n          View Task Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    Please update the task with completion details or provide a revised plan to avoid escalation.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>PMO – Escalation Desk</strong>\n  </p>\n\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            656,
            272
          ],
          "id": "ce623e53-a456-462e-b479-17b0b3828633",
          "name": "Task Owner",
          "webhookId": "3981fe52-b947-4b9f-b416-e57ce9b900de",
          "credentials": {
            "smtp": {
              "id": "e6BxRubia0RizPKp",
              "name": "Lockated Local SMTP"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  -- =========================\n  -- SUBTASK\n  -- =========================\n  t.id                       AS subtask_id,\n  t.title                    AS subtask_title,\n  t.created_at                AS subtask_created_on,\n  t.target_date               AS subtask_end_on,\n  t.status                    AS subtask_status,\n  t.priority                  AS subtask_priority,\n\n  -- overdue calculation\n  TIMESTAMPDIFF(\n    DAY,\n    DATE(t.target_date),\n    DATE(UTC_TIMESTAMP())\n  )                           AS overdue_days,\n\n  -- responsible person (task owner)\n  rp.id                       AS responsible_person_id,\n  rp.firstname                AS responsible_person_firstname,\n  rp.lastname                 AS responsible_person_lastname,\n  rp.email                    AS responsible_person_email,\n\n  -- =========================\n  -- PARENT TASK\n  -- =========================\n  parent_t.id                 AS parent_task_id,\n  parent_t.title              AS parent_task_title,\n\n  -- =========================\n  -- PROJECT (via self OR parent)\n  -- =========================\n  pm.id                       AS project_id,\n  pm.title                    AS project_title,\n\n  -- =========================\n  -- MILESTONE (via parent task)\n  -- =========================\n  m.id                        AS milestone_id,\n  m.title                     AS milestone_title,\n\n  -- =========================\n  -- PROJECT MANAGER\n  -- =========================\n  pmo.id                      AS project_manager_id,\n  pmo.firstname               AS project_manager_firstname,\n  pmo.lastname                AS project_manager_lastname,\n  pmo.email                   AS project_manager_email\n\nFROM task_managements t\n\n-- responsible person (task owner)\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\n-- parent task\nLEFT JOIN task_managements parent_t\n  ON parent_t.id = t.parent_id\n\n-- milestone via parent task\nLEFT JOIN milestones m\n  ON m.id = parent_t.milestone_id\n\n-- project via self or parent\nLEFT JOIN project_managements pm\n  ON pm.id = COALESCE(t.project_management_id, parent_t.project_management_id)\n\n-- project manager\nLEFT JOIN spree_users pmo\n  ON pmo.id = pm.owner_id\n\nWHERE\n  DATE(t.target_date) < DATE(UTC_TIMESTAMP())   -- overdue\n  AND t.status NOT IN ('completed', 'closed')   -- ignore completed tasks\n  AND t.parent_id IS NOT NULL;                  -- only subtasks",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            272,
            272
          ],
          "id": "2cc0c9dd-6fd8-4bf0-9df9-0ba413afa264",
          "name": "Without Observers",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "FGCPCtEG47rFAJ4J",
              "name": "New FM UAT Task Management Database"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const rows = $input.all().map(i => i.json);\n\nconst observerMap = {};\n\nfor (const r of rows) {\n\n  const emails = (r.observer_emails || '').split(',');\n  const firstNames = (r.observer_first_names || '').split(',');\n  const lastNames = (r.observer_last_names || '').split(',');\n\n  for (let i = 0; i < emails.length; i++) {\n\n    const email = emails[i]?.trim();\n    if (!email) continue;\n\n    if (!observerMap[email]) {\n      observerMap[email] = {\n        observer_email: email,\n        observer_name: `${firstNames[i] || ''} ${lastNames[i] || ''}`.trim(),\n        tasks: []\n      };\n    }\n\n    observerMap[email].tasks.push({\n      ...r, // keep full task info\n      observer_email: email,\n      observer_first_name: firstNames[i]?.trim(),\n      observer_last_name: lastNames[i]?.trim()\n    });\n  }\n}\n\nreturn Object.values(observerMap);"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            528,
            448
          ],
          "id": "29a1ab42-0dce-4929-b1a7-fa0586f005d2",
          "name": "Code in JavaScript",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{ $json.observer_email }}",
            "subject": "=SubTask Overdue: Immediate Attention Required – {{$json.subtask_title}}",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{ $json.observer_first_name }} {{ $json.observer_last_name }},\n  </p>\n\n  <p>\n    The subtask <b>{{$json.subtask_title}}</b> has exceeded its planned due date and is currently overdue.\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Overdue Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_created_on}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask End On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_end_on}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_status}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Overdue By</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.overdue_days}} days</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Responsible Owner</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.responsible_person_firstname}} {{$json.responsible_person_lastname}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Parent Task</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.parent_task_title || 'N/A'}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title || 'N/A'}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.subtask_id}}\" target=\"_blank\">\n          View Task Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    You, as an observer, please take an update from the responsible person for the task with completion details or provide a revised plan to avoid escalation.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>PMO – Escalation Desk</strong>\n  </p>\n\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            832,
            480
          ],
          "id": "821df915-8e81-4c14-8aa3-e0f6ae17fe47",
          "name": "Observers",
          "webhookId": "3dfb73c9-d4a0-478d-afb9-5f891e63a8d6",
          "credentials": {
            "smtp": {
              "id": "e6BxRubia0RizPKp",
              "name": "Lockated Local SMTP"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const rows = $input.all().map(i => i.json);\n\nconst ownerMap = {};\n\nfor (const r of rows) {\n\n  const email = r.responsible_person_email;\n  if (!email) continue;\n\n  const name = `${r.responsible_person_firstname || ''} ${r.responsible_person_lastname || ''}`.trim();\n\n  if (!ownerMap[email]) {\n    ownerMap[email] = {\n      task_owner_email: email,\n      task_owner_name: name,\n      tasks: []\n    };\n  }\n\n  ownerMap[email].tasks.push({\n    subtask_id: r.subtask_id,\n    subtask_title: r.subtask_title,\n    subtask_created_on: r.subtask_created_on,\n    subtask_end_on: r.subtask_end_on,\n    subtask_status: r.subtask_status,\n    overdue_days: r.overdue_days,\n\n    priority: r.subtask_priority || 'N/A',\n\n    parent_task_id: r.parent_task_id || 'N/A',\n    parent_task_title: r.parent_task_title || 'N/A',\n\n    project_title: r.project_title || 'N/A',\n\n    milestone_title: r.milestone_title ?? 'N/A'\n  });\n}\n\n// convert + add total count per owner\nreturn Object.values(ownerMap).map(owner => ({\n  json: {\n    ...owner,\n    total_overdue_subtasks: owner.tasks.length\n  }\n}));"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            544,
            -368
          ],
          "id": "d19afcf3-f455-49dc-b5d3-a7f3a0ce4284",
          "name": "Grouped SubTask Owner",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "jsCode": "const rows = $input.all().map(i => i.json);\n\nconst pmMap = {};\n\nfor (const r of rows) {\n\n  const email = r.project_manager_email;\n  if (!email) continue;\n\n  const name = `${r.project_manager_firstname || ''} ${r.project_manager_lastname || ''}`.trim();\n\n  if (!pmMap[email]) {\n    pmMap[email] = {\n      pm_email: email,\n      pm_name: name,\n      tasks: []\n    };\n  }\n\n  pmMap[email].tasks.push({\n    ...r,\n    pm_email: email,\n    pm_name: name\n  });\n}\n\nreturn Object.values(pmMap).map(pm => ({\n  json: {\n    ...pm,\n    total_overdue_subtasks: pm.tasks.length\n  }\n}));"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            576,
            -208
          ],
          "id": "d481f8ce-5f59-45c3-87d5-099e5d1a5804",
          "name": "Grouped PM",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "jsCode": "const rows = $input.all().map(i => i.json);\n\nconst observerMap = {};\n\nfor (const r of rows) {\n\n  if (!r.observer_emails) continue;\n\n  const emails = r.observer_emails.split(',');\n  const firstNames = (r.observer_first_names || '').split(',');\n  const lastNames = (r.observer_last_names || '').split(',');\n\n  for (let i = 0; i < emails.length; i++) {\n\n    const email = emails[i];\n    if (!email) continue;\n\n    if (!observerMap[email]) {\n      observerMap[email] = {\n        observer_email: email,\n        observer_name: `${firstNames[i] || ''} ${lastNames[i] || ''}`.trim(),\n        tasks: []\n      };\n    }\n\n    observerMap[email].tasks.push({\n      ...r, // 👈 FULL ROW PRESERVED\n      observer_name: `${firstNames[i] || ''} ${lastNames[i] || ''}`.trim(),\n      observer_email: email\n    });\n  }\n}\n\nreturn Object.values(observerMap);"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            688,
            -80
          ],
          "id": "3a11e44b-a807-45b9-abaa-34f41689919f",
          "name": "Grouped Observers"
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{$json.task_owner_email}}",
            "subject": "=SubTask Overdue: Immediate Attention Required – {{$json.total_overdue_subtasks}} subtasks have been overdue.",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{$json.task_owner_name}},\n  </p>\n\n  <p>\n    You have <b>{{$json.total_overdue_subtasks}}</b> overdue subtask(s).\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Overdue Subtasks Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; font-size: 13px;\">\n\n    <tr style=\"background:#f4f4f4;\">\n      <th style=\"border:1px solid #ddd; padding:8px;\">Subtask</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Owner</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Parent Task</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Project</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Milestone</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Status</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Overdue Days</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Link</th>\n    </tr>\n\n    {{ $json.tasks.map(task => `\n      <tr>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.subtask_title}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${$json.task_owner_name}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.parent_task_title}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.project_title || 'N/A'}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.milestone_title || 'N/A'}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.subtask_status}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.overdue_days}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          <a href=\"https://web.gophygital.work/vas/tasks/${task.subtask_id}\" target=\"_blank\">\n            View\n          </a>\n        </td>\n\n      </tr>\n    `).join('') }}\n\n  </table>\n\n  <p style=\"margin-top:15px;\">\n    Please take necessary action on all overdue subtasks.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>PMO – Escalation Desk</strong>\n  </p>\n\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            928,
            -320
          ],
          "id": "e054a182-e583-4bbd-b187-ef9c31576f75",
          "name": "Task Owner1",
          "webhookId": "3981fe52-b947-4b9f-b416-e57ce9b900de",
          "credentials": {
            "smtp": {
              "id": "e6BxRubia0RizPKp",
              "name": "Lockated Local SMTP"
            }
          }
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{$json.pm_email}}",
            "subject": "=SubTasks Overdue in your projects: {{$json.total_overdue_subtasks}} have been overdue in your projects.",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{$json.pm_name}},\n  </p>\n\n  <p>\n    Below are the overdue subtasks in the project you are managing and this require your attention.\n  </p>\n\n  <p>\n    Total Overdue Subtasks: <b>{{$json.total_overdue_subtasks}}</b>\n  </p>\n\n  <table style=\"border-collapse: collapse; width: 100%; font-size: 13px;\">\n\n    <tr style=\"background:#f2f2f2;\">\n      <th style=\"border:1px solid #ddd; padding:8px;\">Subtask</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Created On</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Due Date</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Overdue Days</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Status</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Priority</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Owner</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Project</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Parent Task</th>\n      <th style=\"border:1px solid #ddd; padding:8px;\">Link</th>\n    </tr>\n\n    {{ $json.tasks.map(task => `\n      <tr>\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.subtask_title}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.subtask_created_on}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.subtask_end_on}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.overdue_days} days\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.subtask_status}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.subtask_priority || 'N/A'}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.responsible_person_firstname} ${task.responsible_person_lastname}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.project_title || 'N/A'}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          ${task.parent_task_title || 'N/A'}\n        </td>\n\n        <td style=\"border:1px solid #ddd; padding:8px;\">\n          <a href=\"https://web.gophygital.work/vas/tasks/${task.subtask_id}\" target=\"_blank\">\n            Open\n          </a>\n        </td>\n      </tr>\n    `).join('') }}\n\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    As a Project Manager, Please ensure timely closure or update of these subtasks.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>PMO – Escalation Desk</strong>\n  </p>\n\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            1072,
            -176
          ],
          "id": "85f6c078-49d4-48a5-8c06-5a04d0f3868c",
          "name": "PM1",
          "webhookId": "4e2020f1-dda8-410b-a661-dde735e96b66",
          "alwaysOutputData": true,
          "credentials": {
            "smtp": {
              "id": "e6BxRubia0RizPKp",
              "name": "Lockated Local SMTP"
            }
          }
        }
      ],
      "connections": {
        "Execute a SQL query": {
          "main": [
            [
              {
                "node": "Grouped SubTask Owner",
                "type": "main",
                "index": 0
              },
              {
                "node": "Grouped PM",
                "type": "main",
                "index": 0
              },
              {
                "node": "Grouped Observers",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Schedule Trigger": {
          "main": [
            [
              {
                "node": "Execute a SQL query",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "PM": {
          "main": [
            []
          ]
        },
        "Task Owner": {
          "main": [
            []
          ]
        },
        "Code in JavaScript": {
          "main": [
            [
              {
                "node": "Observers",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Grouped SubTask Owner": {
          "main": [
            [
              {
                "node": "Task Owner1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Grouped PM": {
          "main": [
            [
              {
                "node": "PM1",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "N8N Admin",
      "name": "Version 119922a9",
      "description": "",
      "autosaved": false,
      "workflowPublishHistory": [
        {
          "createdAt": "2026-04-20T12:56:59.095Z",
          "id": 164,
          "workflowId": "L5TC4hWNJRToFifD",
          "versionId": "119922a9-66b2-40ef-9815-076e813a6460",
          "event": "activated",
          "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98"
        }
      ]
    },
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "802adf7fe2962d7be03d96d6d1ff5aaa2d899af2a23d23fc340426bea7686365"
  }
}