n8n Backup - 24 April 2026/Production___Task_overdue_copy_HvRi3LVN0BZ12oNI.json
{
  "data": {
    "updatedAt": "2026-04-21T07:27:32.601Z",
    "createdAt": "2026-04-15T11:46:40.206Z",
    "id": "HvRi3LVN0BZ12oNI",
    "name": "Production - Task overdue copy",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "7423dfdc-1da3-4489-97e0-ef846e7e466b",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -656,
          -288
        ],
        "id": "33800d9f-11ea-4870-9653-8d5354b821e0",
        "name": "Webhook",
        "webhookId": "7423dfdc-1da3-4489-97e0-ef846e7e466b",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          224,
          -144
        ],
        "id": "3a187c31-2891-4857-9405-f0b6d9088329",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  t.id                       AS task_id,\n  t.title                    AS task_title,\n  CONVERT_TZ(t.created_at, '+00:00', '+05:30')               AS task_created_at,\n  t.target_date              AS task_due_date,\n  t.status                   AS task_status,\n  t.parent_id                AS parent_id,\n\n  TIMESTAMPDIFF(\n    DAY,\n    DATE(t.target_date),\n    DATE(UTC_TIMESTAMP())\n  )                           AS overdue_days,\n\n  m.id                       AS milestone_id,\n  m.title                    AS milestone_title,\n\n  rp.email                   AS task_owner_email,\n  rp.firstname               AS task_owner_firstname,\n  rp.lastname                AS task_owner_lastname,\n\n  pm.id                      AS project_id,\n  pm.title                   AS project_title,\n\n  pmo.email                  AS project_manager_email,\n  pmo.firstname              AS project_manager_firstname,\n  pmo.lastname               AS project_manager_lastname,\n\n  GROUP_CONCAT(obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(obs.email ORDER BY obs.id) AS observer_emails\n\nFROM task_managements t\n\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\nJOIN project_managements pm\n  ON pm.id = t.project_management_id\n\nJOIN spree_users pmo\n  ON pmo.id = pm.owner_id\n\nLEFT JOIN task_users tu\n  ON tu.task_id = t.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  DATE(t.target_date) < DATE(UTC_TIMESTAMP())\n  AND t.status NOT IN ('completed', 'closed', 'on_hold')\n  AND t.parent_id IS NULL\n  AND rp.organization_id IN (13, 14, 59, 84)\n\nGROUP BY t.id;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -320,
          -224
        ],
        "id": "b51891a7-1e26-48e9-a611-e2ac27d5229f",
        "name": "Execute a SQL query",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "cSpNSxxLQn5eFDMK",
            "name": "Task Management Production Database"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 10,
                "triggerAtMinute": 40
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -624,
          -80
        ],
        "id": "7c012085-e54e-45de-8355-bd44eb580b38",
        "name": "Schedule Trigger",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.project_manager_email}}",
          "subject": "=Task Overdue: Immediate Attention Required – {{$json.task_title}}",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <p>Dear {{$json.project_manager_firstname}} {{$json.project_manager_lastname}},</p>\n\n  <p>The task <strong>{{$json.task_title}}</strong> has exceeded its planned due date and is currently overdue.</p>\n\n  <h3 style=\"color: #2c3e50;\">Overdue Task Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_title}}</td>\n    </tr>\n\n<tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Assigned To</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_owner_firstname}} {{$json.task_owner_lastname}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_created_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task End On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_due_date}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Overdue By</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.overdue_days}} days</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_status}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title || 'N/A'}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task URL</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.task_id}}\" target=\"_blank\">View Task</a>\n      </td>\n    </tr>\n  </table>\n\n  <p>Please update the task with completion details or provide a revised plan to avoid escalation.</p>\n\n  <p>Regards,<br>\n  <strong>PMO – Escalation Desk</strong></p>\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          0,
          -224
        ],
        "id": "9f0ef697-b3b4-4b8a-8ed9-09a69c2f8129",
        "name": "PM",
        "webhookId": "2545aede-ccb9-45e9-ada0-879a7818b1e9",
        "alwaysOutputData": true,
        "credentials": {
          "smtp": {
            "id": "m6pGNPu76sBcBXtf",
            "name": "Task Management SMTP Account"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.task_owner_email}}",
          "subject": "=Task Overdue: Immediate Attention Required – {{$json.task_title}}",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <p>Dear {{$json.task_owner_firstname}} {{$json.task_owner_lastname}},</p>\n\n  <p>The task <strong>{{$json.task_title}}</strong> has exceeded its planned due date and is currently overdue.</p>\n\n  <h3 style=\"color: #2c3e50;\">Overdue Task Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_title}}</td>\n    </tr>\n\n<tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Assigned To</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_owner_firstname}} {{$json.task_owner_lastname}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_created_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task End On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_due_date}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Overdue By</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.overdue_days}} days</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_status}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title || 'N/A'}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task URL</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.task_id}}\" target=\"_blank\">View Task</a>\n      </td>\n    </tr>\n  </table>\n\n  <p>Please update the task with completion details or provide a revised plan to avoid escalation.</p>\n\n  <p>Regards,<br>\n  <strong>PMO – Escalation Desk</strong></p>\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          0,
          -16
        ],
        "id": "61d0e659-ec27-4b46-a127-f65692045752",
        "name": "Task Owner",
        "webhookId": "94dd731a-eba5-4e11-9d4e-eeea9509ade1",
        "credentials": {
          "smtp": {
            "id": "e6BxRubia0RizPKp",
            "name": "Lockated Local SMTP"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  t.id                       AS task_id,\n  t.title                    AS task_title,\n  t.created_at               AS task_created_at,\n  t.target_date              AS task_due_date,\n  t.status                   AS task_status,\n  t.parent_id                AS parent_id,\n\n  -- overdue calculation\n  TIMESTAMPDIFF(\n    DAY,\n    DATE(t.target_date),\n    DATE(UTC_TIMESTAMP())\n  )                           AS overdue_days,\n\n  -- milestone info\n  m.id                       AS milestone_id,\n  m.title                    AS milestone_title,\n\n  -- responsible person (task owner)\n  rp.email                   AS task_owner_email,\n  rp.firstname               AS task_owner_firstname,\n  rp.lastname                AS task_owner_lastname,\n\n  -- project\n  pm.id                      AS project_id,\n  pm.title                   AS project_title,\n\n  -- project manager\n  pmo.email                  AS project_manager_email,\n  pmo.firstname              AS project_manager_firstname,\n  pmo.lastname               AS project_manager_lastname\n\nFROM task_managements t\n\n-- task owner (responsible person)\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\n-- milestone (optional)\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\n-- project\nJOIN project_managements pm\n  ON pm.id = t.project_management_id\n\n-- project manager\nJOIN spree_users pmo\n  ON pmo.id = pm.owner_id\n\nWHERE\n  DATE(t.target_date) < DATE(UTC_TIMESTAMP())   -- overdue\n  AND t.status NOT IN ('completed', 'closed')  -- ignore completed tasks\n  AND t.parent_id IS NULL;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -432,
          80
        ],
        "id": "77575733-f789-41a9-8a5e-3cded1ef3943",
        "name": "Without Observers",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "FGCPCtEG47rFAJ4J",
            "name": "New FM UAT Task Management Database"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const emails = (item.json.observer_emails || '').split(',');\n  const firstNames = (item.json.observer_first_names || '').split(',');\n  const lastNames = (item.json.observer_last_names || '').split(',');\n\n  for (let i = 0; i < emails.length; i++) {\n    if (!emails[i]) continue;\n\n    items.push({\n      json: {\n        ...item.json,\n        observer_email: emails[i].trim(),\n        observer_first_name: firstNames[i]?.trim(),\n        observer_last_name: lastNames[i]?.trim()\n      }\n    });\n  }\n}\n\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -128,
          96
        ],
        "id": "3e3ef3db-3be0-4bb4-b726-1d39c3bc0bf5",
        "name": "Code in JavaScript",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.observer_email}}",
          "subject": "=Task Overdue: Immediate Attention Required – {{$json.task_title}}",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <p>Dear {{$json.observer_first_name}} {{$json.observer_last_name}},</p>\n\n  <p>The task <strong>{{$json.task_title}}</strong> has exceeded its planned due date and is currently overdue.</p>\n\n  <h3 style=\"color: #2c3e50;\">Overdue Task Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_title}}</td>\n    </tr>\n\n<tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Assigned To</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_owner_firstname}} {{$json.task_owner_lastname}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_created_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task End On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_due_date}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Overdue By</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.overdue_days}} days</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_status}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title || 'N/A'}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task URL</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.task_id}}\" target=\"_blank\">View Task</a>\n      </td>\n    </tr>\n  </table>\n\n  <p>You, as an observer, please take an update from the responsible person for the task with completion details or provide a revised plan to avoid escalation.</p>\n\n  <p>Regards,<br>\n  <strong>PMO – Escalation Desk</strong></p>\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          208,
          128
        ],
        "id": "101070cf-27e1-4460-8d9a-ea3494b5b8e9",
        "name": "Observer",
        "webhookId": "06269304-cfce-4639-be3f-c637a5ab80e5",
        "alwaysOutputData": true,
        "credentials": {
          "smtp": {
            "id": "m6pGNPu76sBcBXtf",
            "name": "Task Management SMTP Account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  t.id                       AS task_id,\n  t.title                    AS task_title,\n  CONVERT_TZ(t.created_at, '+00:00', '+05:30')               AS task_created_at,\n  t.target_date              AS task_due_date,\n  t.status                   AS task_status,\n  t.parent_id                AS parent_id,\n\n  TIMESTAMPDIFF(\n    DAY,\n    DATE(t.target_date),\n    DATE(UTC_TIMESTAMP())\n  )                           AS overdue_days,\n\n  m.id                       AS milestone_id,\n  m.title                    AS milestone_title,\n\n  rp.email                   AS task_owner_email,\n  rp.firstname               AS task_owner_firstname,\n  rp.lastname                AS task_owner_lastname,\n\n  pm.id                      AS project_id,\n  pm.title                   AS project_title,\n\n  pmo.email                  AS project_manager_email,\n  pmo.firstname              AS project_manager_firstname,\n  pmo.lastname               AS project_manager_lastname,\n\n  GROUP_CONCAT(DISTINCT obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(DISTINCT obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(DISTINCT obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(DISTINCT obs.email ORDER BY obs.id) AS observer_emails\n\nFROM task_managements t\n\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\nJOIN project_managements pm\n  ON pm.id = t.project_management_id\n\nJOIN spree_users pmo\n  ON pmo.id = pm.owner_id\n\nLEFT JOIN task_users tu\n  ON tu.task_id = t.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  DATE(t.target_date) < DATE(UTC_TIMESTAMP())\n  AND t.status NOT IN ('completed', 'closed', 'on_hold')\n  AND t.parent_id IS NULL\n\nGROUP BY t.id;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -720,
          96
        ],
        "id": "b3dc260d-8afd-465f-90ab-aba6441df326",
        "name": "Without organizational id Execute a SQL query1",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "cSpNSxxLQn5eFDMK",
            "name": "Task Management Production Database"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const grouped = {};\n\nfor (const item of $input.all()) {\n  const t = item.json;\n\n  const email = t.project_manager_email;\n  if (!email) continue;\n\n  if (!grouped[email]) {\n    grouped[email] = {\n      pm_email: email,\n      pm_name: `${t.project_manager_firstname || ''} ${t.project_manager_lastname || ''}`.trim(),\n      tasks: []\n    };\n  }\n\n  grouped[email].tasks.push({\n    task_id: t.task_id,\n    task_title: t.task_title,\n    task_created_at: t.task_created_at,\n    task_due_date: t.task_due_date,\n    task_status: t.task_status,\n    overdue_days: t.overdue_days,\n    project_title: t.project_title,\n    milestone_title: t.milestone_title,\n    task_owner_name: `${t.task_owner_firstname || ''} ${t.task_owner_lastname || ''}`.trim()\n  });\n}\n\nreturn Object.values(grouped).map(u => ({\n  json: {\n    ...u,\n    total_overdue_tasks: u.tasks.length\n  }\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -64,
          -592
        ],
        "id": "fc23886f-7806-44e6-85cf-857ae021a3d6",
        "name": "Grouped Tasks PM",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "const grouped = {};\n\nfor (const item of $input.all()) {\n  const t = item.json;\n\n  const email = t.task_owner_email;\n  if (!email) continue;\n\n  if (!grouped[email]) {\n    grouped[email] = {\n      task_owner_email: email,\n      task_owner_name: `${t.task_owner_firstname || ''} ${t.task_owner_lastname || ''}`.trim(),\n      tasks: []\n    };\n  }\n\n  grouped[email].tasks.push({\n    task_id: t.task_id,\n    task_title: t.task_title,\n    task_created_at: t.task_created_at,\n    task_due_date: t.task_due_date,\n    task_status: t.task_status,\n    overdue_days: t.overdue_days,\n    project_title: t.project_title,\n    milestone_title: t.milestone_title\n  });\n}\n\nreturn Object.values(grouped).map(u => ({\n  json: {\n    ...u,\n    total_overdue_tasks: u.tasks.length\n  }\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -96,
          -768
        ],
        "id": "0ca8a8f3-4d34-4513-ba37-37e2acfbab6c",
        "name": "Grouped Task Owner",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "const grouped = {};\n\nfor (const item of $input.all()) {\n  const t = item.json;\n\n  const emails = (t.observer_emails || '').split(',');\n  const firstNames = (t.observer_first_names || '').split(',');\n  const lastNames = (t.observer_last_names || '').split(',');\n\n  for (let i = 0; i < emails.length; i++) {\n    if (!emails[i]) continue;\n\n    const email = emails[i].trim();\n\n    if (!grouped[email]) {\n      grouped[email] = {\n        observer_email: email,\n        observer_name: `${firstNames[i] || ''} ${lastNames[i] || ''}`.trim(),\n        tasks: []\n      };\n    }\n\n    grouped[email].tasks.push({\n      task_id: t.task_id,\n      task_title: t.task_title,\n      task_created_at: t.task_created_at,\n      task_due_date: t.task_due_date,\n      task_status: t.task_status,\n      overdue_days: t.overdue_days,\n      project_title: t.project_title,\n      milestone_title: t.milestone_title,\n      task_owner_name: `${t.task_owner_firstname || ''} ${t.task_owner_lastname || ''}`.trim()\n    });\n  }\n}\n\nreturn Object.values(grouped).map(u => ({\n  json: {\n    ...u,\n    total_overdue_tasks: u.tasks.length\n  }\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          -416
        ],
        "id": "3149f853-baef-407b-ab8b-37c39ba2388e",
        "name": "Grouped Task Observers",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.task_owner_email}}",
          "subject": "=Tasks Overdue: Immediate Attention Required – {{$json.total_overdue_tasks}} tasks assigned to you has overdue",
          "html": "={{`\n<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n<p>Dear ${$json.task_owner_name},</p>\n\n<p>\nThe following is the list of overdue tasks assigned to you.\nYou currently have <strong>${$json.total_overdue_tasks}</strong> overdue task(s).\n</p>\n\n<h3>Overdue Tasks Summary</h3>\n\n<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse: collapse; width:100%; font-size:13px;\">\n<tr style=\"background:#f2f2f2;\">\n<th>Task</th>\n<th>Created</th>\n<th>Due</th>\n<th>Overdue</th>\n<th>Status</th>\n<th>Project</th>\n<th>Link</th>\n</tr>\n\n${$json.tasks.map(task => `\n<tr>\n<td>${task.task_title}</td>\n<td>${task.task_created_at}</td>\n<td>${task.task_due_date}</td>\n<td>${task.overdue_days} days</td>\n<td>${task.task_status}</td>\n<td>${task.project_title}</td>\n<td>\n<a href=\"https://web.gophygital.work/vas/tasks/${task.task_id}\" target=\"_blank\">View</a>\n</td>\n</tr>\n`).join('')}\n\n</table>\n\n<p style=\"margin-top:20px;\">\nPlease update the tasks with completion details or provide a revised plan to avoid escalation.\n</p>\n\n<p>Regards,<br>\nPMO – Escalation Desk</p>\n\n</div>\n`}}",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          256,
          -752
        ],
        "id": "a2cd2e0e-37b4-4ed3-8d43-1b64d05a7a34",
        "name": "Grouped Email Task Owner",
        "webhookId": "94dd731a-eba5-4e11-9d4e-eeea9509ade1",
        "credentials": {
          "smtp": {
            "id": "e6BxRubia0RizPKp",
            "name": "Lockated Local SMTP"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.pm_email}}",
          "subject": "=Action Required: {{$json.total_overdue_tasks}} Tasks Overdue Under Your Projects.",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>Dear {{$json.pm_name}},</p>\n\n  <p>\n    The following is the list of overdue tasks under your projects. \n    Your Projects currently have <strong>{{$json.total_overdue_tasks}}</strong> overdue task(s).\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Overdue Task Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 1100px;\">\n\n    <tr style=\"background:#f4f4f4;\">\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Task Title</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Task Owner</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Milestone</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Project</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Created</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Due</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Overdue</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Status</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Link</th>\n    </tr>\n\n    {{ $json.tasks.map(task => `\n      <tr>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.task_title}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.task_owner_name}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.milestone_title || 'N/A'}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.project_title}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.task_created_at}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.task_due_date}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.overdue_days} days</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.task_status}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">\n          <a href=\"https://web.gophygital.work/vas/tasks/${task.task_id}\" target=\"_blank\">View</a>\n        </td>\n      </tr>\n    `).join('') }}\n\n  </table>\n\n  <p style=\"margin-top:20px;\">\n    Please review these tasks and take necessary action to avoid escalation.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>PMO – Escalation Desk</strong>\n  </p>\n\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          304,
          -544
        ],
        "id": "96f14237-3cfc-4965-b4c2-23b6e9310f3f",
        "name": "Grouped Email PM",
        "webhookId": "2545aede-ccb9-45e9-ada0-879a7818b1e9",
        "alwaysOutputData": true,
        "credentials": {
          "smtp": {
            "id": "m6pGNPu76sBcBXtf",
            "name": "Task Management SMTP Account"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.observer_email}}",
          "subject": "=Action Required: {{$json.total_overdue_tasks}} tasks have been overdue under your observation.",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>Dear {{$json.observer_name}},</p>\n\n  <p>\n    You, as an oberver to the following tasks, these tasks are overdue and require your attention. \n    Total overdue tasks: <strong>{{$json.total_overdue_tasks}}</strong>\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Overdue Task Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 900px;\">\n    <tr style=\"background:#f4f4f4;\">\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Task Title</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Owner</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Created</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Due</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Overdue</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Status</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Project</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Milestone</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Link</th>\n    </tr>\n\n    {{$json.tasks.map(task => `\n      <tr>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.task_title}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.task_owner_name}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.task_created_at}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.task_due_date}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.overdue_days} days</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.task_status}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.project_title}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.milestone_title || 'N/A'}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">\n          <a href=\"https://web.gophygital.work/vas/tasks/${task.task_id}\" target=\"_blank\">View</a>\n        </td>\n      </tr>\n    `).join('')}}\n\n  </table>\n\n  <p style=\"margin-top:15px;\">\n    As an observer, please coordinate with the task owners and ensure timely closure.\n  </p>\n\n  <p>Regards,<br>\n  <strong>PMO – Escalation Desk</strong></p>\n\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          320,
          -352
        ],
        "id": "d1bd332f-a703-47f1-b476-9ba0449cfadb",
        "name": "Grouped Email Observers",
        "webhookId": "06269304-cfce-4639-be3f-c637a5ab80e5",
        "alwaysOutputData": true,
        "credentials": {
          "smtp": {
            "id": "m6pGNPu76sBcBXtf",
            "name": "Task Management SMTP Account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          []
        ]
      },
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "Grouped Task Owner",
              "type": "main",
              "index": 0
            },
            {
              "node": "Grouped Tasks PM",
              "type": "main",
              "index": 0
            },
            {
              "node": "Grouped Task Observers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PM": {
        "main": [
          []
        ]
      },
      "Task Owner": {
        "main": [
          []
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Observer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Grouped Task Owner": {
        "main": [
          [
            {
              "node": "Grouped Email Task Owner",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Grouped Tasks PM": {
        "main": [
          [
            {
              "node": "Grouped Email PM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Grouped Task Observers": {
        "main": [
          [
            {
              "node": "Grouped Email Observers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": {
      "node:Schedule Trigger": {
        "recurrenceRules": []
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "64e6a8f3-0082-43fb-93e3-ccda578c02d6",
    "activeVersionId": "64e6a8f3-0082-43fb-93e3-ccda578c02d6",
    "versionCounter": 74,
    "triggerCount": 2,
    "shared": [
      {
        "updatedAt": "2026-04-15T11:46:40.211Z",
        "createdAt": "2026-04-15T11:46:40.211Z",
        "role": "workflow:owner",
        "workflowId": "HvRi3LVN0BZ12oNI",
        "projectId": "s9jeiIUr8G6hBG6i",
        "project": {
          "updatedAt": "2026-01-28T12:34:21.552Z",
          "createdAt": "2025-12-24T09:57:24.391Z",
          "id": "s9jeiIUr8G6hBG6i",
          "name": "N8N Admin <n8n@lockated.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
          "projectRelations": [
            {
              "updatedAt": "2025-12-24T09:57:24.391Z",
              "createdAt": "2025-12-24T09:57:24.391Z",
              "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "projectId": "s9jeiIUr8G6hBG6i",
              "user": {
                "updatedAt": "2026-04-23T18:47:48.000Z",
                "createdAt": "2025-12-24T09:57:23.917Z",
                "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
                "email": "n8n@lockated.com",
                "firstName": "N8N",
                "lastName": "Admin",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "automationGoalDevops": [
                    "ci-cd",
                    "cloud-infrastructure-orchestration",
                    "monitoring-alerting",
                    "reporting"
                  ],
                  "companyType": "saas",
                  "role": "it"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                  "userActivatedAt": 1767166205042,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1770088091114
                  },
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-04-23",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [
      {
        "updatedAt": "2026-04-15T11:32:35.314Z",
        "createdAt": "2026-04-15T11:32:35.314Z",
        "id": "L0EeV7qZEpOHtqXt",
        "name": "Production Ready"
      },
      {
        "updatedAt": "2026-04-15T11:43:40.011Z",
        "createdAt": "2026-04-15T11:43:40.011Z",
        "id": "eTJLoPlvourxGwI2",
        "name": "Module 2 - TASKS, KANBAN"
      }
    ],
    "parentFolder": {
      "updatedAt": "2026-04-15T11:42:46.759Z",
      "createdAt": "2026-04-15T11:42:46.759Z",
      "id": "wEunMK7VV3S5FJHt",
      "name": "Production Ready",
      "parentFolderId": "PU5w19QcjKw8DNO8"
    },
    "activeVersion": {
      "updatedAt": "2026-04-21T07:27:54.000Z",
      "createdAt": "2026-04-21T07:27:32.604Z",
      "versionId": "64e6a8f3-0082-43fb-93e3-ccda578c02d6",
      "workflowId": "HvRi3LVN0BZ12oNI",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "7423dfdc-1da3-4489-97e0-ef846e7e466b",
            "responseMode": "responseNode",
            "options": {}
          },
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2.1,
          "position": [
            -656,
            -288
          ],
          "id": "33800d9f-11ea-4870-9653-8d5354b821e0",
          "name": "Webhook",
          "webhookId": "7423dfdc-1da3-4489-97e0-ef846e7e466b",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "respondWith": "allIncomingItems",
            "options": {}
          },
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.5,
          "position": [
            224,
            -144
          ],
          "id": "3a187c31-2891-4857-9405-f0b6d9088329",
          "name": "Respond to Webhook"
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  t.id                       AS task_id,\n  t.title                    AS task_title,\n  CONVERT_TZ(t.created_at, '+00:00', '+05:30')               AS task_created_at,\n  t.target_date              AS task_due_date,\n  t.status                   AS task_status,\n  t.parent_id                AS parent_id,\n\n  TIMESTAMPDIFF(\n    DAY,\n    DATE(t.target_date),\n    DATE(UTC_TIMESTAMP())\n  )                           AS overdue_days,\n\n  m.id                       AS milestone_id,\n  m.title                    AS milestone_title,\n\n  rp.email                   AS task_owner_email,\n  rp.firstname               AS task_owner_firstname,\n  rp.lastname                AS task_owner_lastname,\n\n  pm.id                      AS project_id,\n  pm.title                   AS project_title,\n\n  pmo.email                  AS project_manager_email,\n  pmo.firstname              AS project_manager_firstname,\n  pmo.lastname               AS project_manager_lastname,\n\n  GROUP_CONCAT(obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(obs.email ORDER BY obs.id) AS observer_emails\n\nFROM task_managements t\n\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\nJOIN project_managements pm\n  ON pm.id = t.project_management_id\n\nJOIN spree_users pmo\n  ON pmo.id = pm.owner_id\n\nLEFT JOIN task_users tu\n  ON tu.task_id = t.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  DATE(t.target_date) < DATE(UTC_TIMESTAMP())\n  AND t.status NOT IN ('completed', 'closed', 'on_hold')\n  AND t.parent_id IS NULL\n  AND rp.organization_id IN (13, 14, 59, 84)\n\nGROUP BY t.id;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -320,
            -224
          ],
          "id": "b51891a7-1e26-48e9-a611-e2ac27d5229f",
          "name": "Execute a SQL query",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "cSpNSxxLQn5eFDMK",
              "name": "Task Management Production Database"
            }
          }
        },
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "triggerAtHour": 10,
                  "triggerAtMinute": 40
                }
              ]
            }
          },
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.3,
          "position": [
            -624,
            -80
          ],
          "id": "7c012085-e54e-45de-8355-bd44eb580b38",
          "name": "Schedule Trigger",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{$json.project_manager_email}}",
            "subject": "=Task Overdue: Immediate Attention Required – {{$json.task_title}}",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <p>Dear {{$json.project_manager_firstname}} {{$json.project_manager_lastname}},</p>\n\n  <p>The task <strong>{{$json.task_title}}</strong> has exceeded its planned due date and is currently overdue.</p>\n\n  <h3 style=\"color: #2c3e50;\">Overdue Task Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_title}}</td>\n    </tr>\n\n<tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Assigned To</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_owner_firstname}} {{$json.task_owner_lastname}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_created_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task End On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_due_date}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Overdue By</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.overdue_days}} days</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_status}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title || 'N/A'}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task URL</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.task_id}}\" target=\"_blank\">View Task</a>\n      </td>\n    </tr>\n  </table>\n\n  <p>Please update the task with completion details or provide a revised plan to avoid escalation.</p>\n\n  <p>Regards,<br>\n  <strong>PMO – Escalation Desk</strong></p>\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            0,
            -224
          ],
          "id": "9f0ef697-b3b4-4b8a-8ed9-09a69c2f8129",
          "name": "PM",
          "webhookId": "2545aede-ccb9-45e9-ada0-879a7818b1e9",
          "alwaysOutputData": true,
          "credentials": {
            "smtp": {
              "id": "m6pGNPu76sBcBXtf",
              "name": "Task Management SMTP Account"
            }
          }
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{$json.task_owner_email}}",
            "subject": "=Task Overdue: Immediate Attention Required – {{$json.task_title}}",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <p>Dear {{$json.task_owner_firstname}} {{$json.task_owner_lastname}},</p>\n\n  <p>The task <strong>{{$json.task_title}}</strong> has exceeded its planned due date and is currently overdue.</p>\n\n  <h3 style=\"color: #2c3e50;\">Overdue Task Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_title}}</td>\n    </tr>\n\n<tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Assigned To</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_owner_firstname}} {{$json.task_owner_lastname}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_created_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task End On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_due_date}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Overdue By</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.overdue_days}} days</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_status}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title || 'N/A'}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task URL</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.task_id}}\" target=\"_blank\">View Task</a>\n      </td>\n    </tr>\n  </table>\n\n  <p>Please update the task with completion details or provide a revised plan to avoid escalation.</p>\n\n  <p>Regards,<br>\n  <strong>PMO – Escalation Desk</strong></p>\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            0,
            -16
          ],
          "id": "61d0e659-ec27-4b46-a127-f65692045752",
          "name": "Task Owner",
          "webhookId": "94dd731a-eba5-4e11-9d4e-eeea9509ade1",
          "credentials": {
            "smtp": {
              "id": "e6BxRubia0RizPKp",
              "name": "Lockated Local SMTP"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  t.id                       AS task_id,\n  t.title                    AS task_title,\n  t.created_at               AS task_created_at,\n  t.target_date              AS task_due_date,\n  t.status                   AS task_status,\n  t.parent_id                AS parent_id,\n\n  -- overdue calculation\n  TIMESTAMPDIFF(\n    DAY,\n    DATE(t.target_date),\n    DATE(UTC_TIMESTAMP())\n  )                           AS overdue_days,\n\n  -- milestone info\n  m.id                       AS milestone_id,\n  m.title                    AS milestone_title,\n\n  -- responsible person (task owner)\n  rp.email                   AS task_owner_email,\n  rp.firstname               AS task_owner_firstname,\n  rp.lastname                AS task_owner_lastname,\n\n  -- project\n  pm.id                      AS project_id,\n  pm.title                   AS project_title,\n\n  -- project manager\n  pmo.email                  AS project_manager_email,\n  pmo.firstname              AS project_manager_firstname,\n  pmo.lastname               AS project_manager_lastname\n\nFROM task_managements t\n\n-- task owner (responsible person)\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\n-- milestone (optional)\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\n-- project\nJOIN project_managements pm\n  ON pm.id = t.project_management_id\n\n-- project manager\nJOIN spree_users pmo\n  ON pmo.id = pm.owner_id\n\nWHERE\n  DATE(t.target_date) < DATE(UTC_TIMESTAMP())   -- overdue\n  AND t.status NOT IN ('completed', 'closed')  -- ignore completed tasks\n  AND t.parent_id IS NULL;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -432,
            80
          ],
          "id": "77575733-f789-41a9-8a5e-3cded1ef3943",
          "name": "Without Observers",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "FGCPCtEG47rFAJ4J",
              "name": "New FM UAT Task Management Database"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const emails = (item.json.observer_emails || '').split(',');\n  const firstNames = (item.json.observer_first_names || '').split(',');\n  const lastNames = (item.json.observer_last_names || '').split(',');\n\n  for (let i = 0; i < emails.length; i++) {\n    if (!emails[i]) continue;\n\n    items.push({\n      json: {\n        ...item.json,\n        observer_email: emails[i].trim(),\n        observer_first_name: firstNames[i]?.trim(),\n        observer_last_name: lastNames[i]?.trim()\n      }\n    });\n  }\n}\n\nreturn items;"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -128,
            96
          ],
          "id": "3e3ef3db-3be0-4bb4-b726-1d39c3bc0bf5",
          "name": "Code in JavaScript",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{$json.observer_email}}",
            "subject": "=Task Overdue: Immediate Attention Required – {{$json.task_title}}",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <p>Dear {{$json.observer_first_name}} {{$json.observer_last_name}},</p>\n\n  <p>The task <strong>{{$json.task_title}}</strong> has exceeded its planned due date and is currently overdue.</p>\n\n  <h3 style=\"color: #2c3e50;\">Overdue Task Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_title}}</td>\n    </tr>\n\n<tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Assigned To</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_owner_firstname}} {{$json.task_owner_lastname}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_created_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task End On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_due_date}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Overdue By</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.overdue_days}} days</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_status}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title || 'N/A'}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task URL</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.task_id}}\" target=\"_blank\">View Task</a>\n      </td>\n    </tr>\n  </table>\n\n  <p>You, as an observer, please take an update from the responsible person for the task with completion details or provide a revised plan to avoid escalation.</p>\n\n  <p>Regards,<br>\n  <strong>PMO – Escalation Desk</strong></p>\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            208,
            128
          ],
          "id": "101070cf-27e1-4460-8d9a-ea3494b5b8e9",
          "name": "Observer",
          "webhookId": "06269304-cfce-4639-be3f-c637a5ab80e5",
          "alwaysOutputData": true,
          "credentials": {
            "smtp": {
              "id": "m6pGNPu76sBcBXtf",
              "name": "Task Management SMTP Account"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  t.id                       AS task_id,\n  t.title                    AS task_title,\n  CONVERT_TZ(t.created_at, '+00:00', '+05:30')               AS task_created_at,\n  t.target_date              AS task_due_date,\n  t.status                   AS task_status,\n  t.parent_id                AS parent_id,\n\n  TIMESTAMPDIFF(\n    DAY,\n    DATE(t.target_date),\n    DATE(UTC_TIMESTAMP())\n  )                           AS overdue_days,\n\n  m.id                       AS milestone_id,\n  m.title                    AS milestone_title,\n\n  rp.email                   AS task_owner_email,\n  rp.firstname               AS task_owner_firstname,\n  rp.lastname                AS task_owner_lastname,\n\n  pm.id                      AS project_id,\n  pm.title                   AS project_title,\n\n  pmo.email                  AS project_manager_email,\n  pmo.firstname              AS project_manager_firstname,\n  pmo.lastname               AS project_manager_lastname,\n\n  GROUP_CONCAT(DISTINCT obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(DISTINCT obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(DISTINCT obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(DISTINCT obs.email ORDER BY obs.id) AS observer_emails\n\nFROM task_managements t\n\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\nJOIN project_managements pm\n  ON pm.id = t.project_management_id\n\nJOIN spree_users pmo\n  ON pmo.id = pm.owner_id\n\nLEFT JOIN task_users tu\n  ON tu.task_id = t.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  DATE(t.target_date) < DATE(UTC_TIMESTAMP())\n  AND t.status NOT IN ('completed', 'closed', 'on_hold')\n  AND t.parent_id IS NULL\n\nGROUP BY t.id;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -720,
            96
          ],
          "id": "b3dc260d-8afd-465f-90ab-aba6441df326",
          "name": "Without organizational id Execute a SQL query1",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "cSpNSxxLQn5eFDMK",
              "name": "Task Management Production Database"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const grouped = {};\n\nfor (const item of $input.all()) {\n  const t = item.json;\n\n  const email = t.project_manager_email;\n  if (!email) continue;\n\n  if (!grouped[email]) {\n    grouped[email] = {\n      pm_email: email,\n      pm_name: `${t.project_manager_firstname || ''} ${t.project_manager_lastname || ''}`.trim(),\n      tasks: []\n    };\n  }\n\n  grouped[email].tasks.push({\n    task_id: t.task_id,\n    task_title: t.task_title,\n    task_created_at: t.task_created_at,\n    task_due_date: t.task_due_date,\n    task_status: t.task_status,\n    overdue_days: t.overdue_days,\n    project_title: t.project_title,\n    milestone_title: t.milestone_title,\n    task_owner_name: `${t.task_owner_firstname || ''} ${t.task_owner_lastname || ''}`.trim()\n  });\n}\n\nreturn Object.values(grouped).map(u => ({\n  json: {\n    ...u,\n    total_overdue_tasks: u.tasks.length\n  }\n}));"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -64,
            -592
          ],
          "id": "fc23886f-7806-44e6-85cf-857ae021a3d6",
          "name": "Grouped Tasks PM",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "jsCode": "const grouped = {};\n\nfor (const item of $input.all()) {\n  const t = item.json;\n\n  const email = t.task_owner_email;\n  if (!email) continue;\n\n  if (!grouped[email]) {\n    grouped[email] = {\n      task_owner_email: email,\n      task_owner_name: `${t.task_owner_firstname || ''} ${t.task_owner_lastname || ''}`.trim(),\n      tasks: []\n    };\n  }\n\n  grouped[email].tasks.push({\n    task_id: t.task_id,\n    task_title: t.task_title,\n    task_created_at: t.task_created_at,\n    task_due_date: t.task_due_date,\n    task_status: t.task_status,\n    overdue_days: t.overdue_days,\n    project_title: t.project_title,\n    milestone_title: t.milestone_title\n  });\n}\n\nreturn Object.values(grouped).map(u => ({\n  json: {\n    ...u,\n    total_overdue_tasks: u.tasks.length\n  }\n}));"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -96,
            -768
          ],
          "id": "0ca8a8f3-4d34-4513-ba37-37e2acfbab6c",
          "name": "Grouped Task Owner",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "jsCode": "const grouped = {};\n\nfor (const item of $input.all()) {\n  const t = item.json;\n\n  const emails = (t.observer_emails || '').split(',');\n  const firstNames = (t.observer_first_names || '').split(',');\n  const lastNames = (t.observer_last_names || '').split(',');\n\n  for (let i = 0; i < emails.length; i++) {\n    if (!emails[i]) continue;\n\n    const email = emails[i].trim();\n\n    if (!grouped[email]) {\n      grouped[email] = {\n        observer_email: email,\n        observer_name: `${firstNames[i] || ''} ${lastNames[i] || ''}`.trim(),\n        tasks: []\n      };\n    }\n\n    grouped[email].tasks.push({\n      task_id: t.task_id,\n      task_title: t.task_title,\n      task_created_at: t.task_created_at,\n      task_due_date: t.task_due_date,\n      task_status: t.task_status,\n      overdue_days: t.overdue_days,\n      project_title: t.project_title,\n      milestone_title: t.milestone_title,\n      task_owner_name: `${t.task_owner_firstname || ''} ${t.task_owner_lastname || ''}`.trim()\n    });\n  }\n}\n\nreturn Object.values(grouped).map(u => ({\n  json: {\n    ...u,\n    total_overdue_tasks: u.tasks.length\n  }\n}));"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            0,
            -416
          ],
          "id": "3149f853-baef-407b-ab8b-37c39ba2388e",
          "name": "Grouped Task Observers",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{$json.task_owner_email}}",
            "subject": "=Tasks Overdue: Immediate Attention Required – {{$json.total_overdue_tasks}} tasks assigned to you has overdue",
            "html": "={{`\n<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n<p>Dear ${$json.task_owner_name},</p>\n\n<p>\nThe following is the list of overdue tasks assigned to you.\nYou currently have <strong>${$json.total_overdue_tasks}</strong> overdue task(s).\n</p>\n\n<h3>Overdue Tasks Summary</h3>\n\n<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse: collapse; width:100%; font-size:13px;\">\n<tr style=\"background:#f2f2f2;\">\n<th>Task</th>\n<th>Created</th>\n<th>Due</th>\n<th>Overdue</th>\n<th>Status</th>\n<th>Project</th>\n<th>Link</th>\n</tr>\n\n${$json.tasks.map(task => `\n<tr>\n<td>${task.task_title}</td>\n<td>${task.task_created_at}</td>\n<td>${task.task_due_date}</td>\n<td>${task.overdue_days} days</td>\n<td>${task.task_status}</td>\n<td>${task.project_title}</td>\n<td>\n<a href=\"https://web.gophygital.work/vas/tasks/${task.task_id}\" target=\"_blank\">View</a>\n</td>\n</tr>\n`).join('')}\n\n</table>\n\n<p style=\"margin-top:20px;\">\nPlease update the tasks with completion details or provide a revised plan to avoid escalation.\n</p>\n\n<p>Regards,<br>\nPMO – Escalation Desk</p>\n\n</div>\n`}}",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            256,
            -752
          ],
          "id": "a2cd2e0e-37b4-4ed3-8d43-1b64d05a7a34",
          "name": "Grouped Email Task Owner",
          "webhookId": "94dd731a-eba5-4e11-9d4e-eeea9509ade1",
          "credentials": {
            "smtp": {
              "id": "e6BxRubia0RizPKp",
              "name": "Lockated Local SMTP"
            }
          }
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{$json.pm_email}}",
            "subject": "=Action Required: {{$json.total_overdue_tasks}} Tasks Overdue Under Your Projects.",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>Dear {{$json.pm_name}},</p>\n\n  <p>\n    The following is the list of overdue tasks under your projects. \n    Your Projects currently have <strong>{{$json.total_overdue_tasks}}</strong> overdue task(s).\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Overdue Task Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 1100px;\">\n\n    <tr style=\"background:#f4f4f4;\">\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Task Title</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Task Owner</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Milestone</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Project</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Created</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Due</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Overdue</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Status</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Link</th>\n    </tr>\n\n    {{ $json.tasks.map(task => `\n      <tr>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.task_title}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.task_owner_name}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.milestone_title || 'N/A'}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.project_title}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.task_created_at}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.task_due_date}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.overdue_days} days</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.task_status}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">\n          <a href=\"https://web.gophygital.work/vas/tasks/${task.task_id}\" target=\"_blank\">View</a>\n        </td>\n      </tr>\n    `).join('') }}\n\n  </table>\n\n  <p style=\"margin-top:20px;\">\n    Please review these tasks and take necessary action to avoid escalation.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>PMO – Escalation Desk</strong>\n  </p>\n\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            304,
            -544
          ],
          "id": "96f14237-3cfc-4965-b4c2-23b6e9310f3f",
          "name": "Grouped Email PM",
          "webhookId": "2545aede-ccb9-45e9-ada0-879a7818b1e9",
          "alwaysOutputData": true,
          "credentials": {
            "smtp": {
              "id": "m6pGNPu76sBcBXtf",
              "name": "Task Management SMTP Account"
            }
          }
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{$json.observer_email}}",
            "subject": "=Action Required: {{$json.total_overdue_tasks}} tasks have been overdue under your observation.",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>Dear {{$json.observer_name}},</p>\n\n  <p>\n    You, as an oberver to the following tasks, these tasks are overdue and require your attention. \n    Total overdue tasks: <strong>{{$json.total_overdue_tasks}}</strong>\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Overdue Task Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 900px;\">\n    <tr style=\"background:#f4f4f4;\">\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Task Title</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Owner</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Created</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Due</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Overdue</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Status</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Project</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Milestone</th>\n      <th style=\"padding: 8px; border: 1px solid #ddd;\">Link</th>\n    </tr>\n\n    {{$json.tasks.map(task => `\n      <tr>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.task_title}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.task_owner_name}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.task_created_at}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.task_due_date}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.overdue_days} days</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.task_status}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.project_title}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">${task.milestone_title || 'N/A'}</td>\n        <td style=\"padding: 8px; border: 1px solid #ddd;\">\n          <a href=\"https://web.gophygital.work/vas/tasks/${task.task_id}\" target=\"_blank\">View</a>\n        </td>\n      </tr>\n    `).join('')}}\n\n  </table>\n\n  <p style=\"margin-top:15px;\">\n    As an observer, please coordinate with the task owners and ensure timely closure.\n  </p>\n\n  <p>Regards,<br>\n  <strong>PMO – Escalation Desk</strong></p>\n\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            320,
            -352
          ],
          "id": "d1bd332f-a703-47f1-b476-9ba0449cfadb",
          "name": "Grouped Email Observers",
          "webhookId": "06269304-cfce-4639-be3f-c637a5ab80e5",
          "alwaysOutputData": true,
          "credentials": {
            "smtp": {
              "id": "m6pGNPu76sBcBXtf",
              "name": "Task Management SMTP Account"
            }
          }
        }
      ],
      "connections": {
        "Webhook": {
          "main": [
            []
          ]
        },
        "Execute a SQL query": {
          "main": [
            [
              {
                "node": "Grouped Task Owner",
                "type": "main",
                "index": 0
              },
              {
                "node": "Grouped Tasks PM",
                "type": "main",
                "index": 0
              },
              {
                "node": "Grouped Task Observers",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Schedule Trigger": {
          "main": [
            [
              {
                "node": "Execute a SQL query",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "PM": {
          "main": [
            []
          ]
        },
        "Task Owner": {
          "main": [
            []
          ]
        },
        "Code in JavaScript": {
          "main": [
            [
              {
                "node": "Observer",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Grouped Task Owner": {
          "main": [
            [
              {
                "node": "Grouped Email Task Owner",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Grouped Tasks PM": {
          "main": [
            [
              {
                "node": "Grouped Email PM",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Grouped Task Observers": {
          "main": [
            [
              {
                "node": "Grouped Email Observers",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "N8N Admin",
      "name": "Version 64e6a8f3",
      "description": "",
      "autosaved": false,
      "workflowPublishHistory": [
        {
          "createdAt": "2026-04-21T07:27:54.141Z",
          "id": 165,
          "workflowId": "HvRi3LVN0BZ12oNI",
          "versionId": "64e6a8f3-0082-43fb-93e3-ccda578c02d6",
          "event": "activated",
          "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98"
        }
      ]
    },
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "3de5ac9ca997222b41469203977befa493c429a524496ae2a737980589da1aee"
  }
}