Module 7 - Minutes of Meeting (MoM)/Action items assigned.json
{
  "name": "Action items assigned",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        240,
        0
      ],
      "id": "72fd2bf7-cb4f-4345-bd07-9c8fcd42ba00",
      "name": "Respond to Webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "action-item-assigned",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        -112
      ],
      "id": "9cd1a291-98ba-4f80-aa6d-7fe0cbc9ff21",
      "name": "Webhook",
      "webhookId": "c7179830-bba2-412d-aec4-dff531303d2a",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "notificaions@lockated.com",
        "toEmail": "={{ $json.responsible_user_email }}\n",
        "subject": "=You have a new action item: {{$json.action_description}} (from meeting)",
        "emailFormat": "=Hello {{ $json.responsible_user_first_name }},\n\nYou have been assigned a new action item from MoM \"{{ $json.mom_title }}\".\n\nAction: {{ $json.action_description }}\nTarget Date: {{ $json.target_date }}\n\nPlease take necessary action.\n\nRegards,\nFM Team\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -16,
        -208
      ],
      "id": "ca198125-5fc4-4fdb-a122-e1812960ce21",
      "name": "Action Owners",
      "webhookId": "4914fb6b-7016-404b-bb7a-981e10b73456",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "m6pGNPu76sBcBXtf",
          "name": "Task Management SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  mt.id                 AS mom_task_id,\n  mt.description        AS action_description,\n  mt.target_date,\n  mt.status             AS action_status,\n  mt.created_at         AS action_created_at,\n\n  md.id                 AS mom_id,\n  md.title              AS mom_title,\n  md.meeting_date,\n\n  su.id                 AS responsible_user_id,\n  su.firstname          AS responsible_user_first_name,\n  su.lastname           AS responsible_user_last_name,\n  su.email              AS responsible_user_email\n\nFROM mom_tasks mt\n\nJOIN mom_details md\n  ON md.id = mt.mom_detail_id\n\nJOIN spree_users su\n  ON su.id = mt.responsible_person_id\n\nWHERE\n  mt.created_at >= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n  AND su.email IS NOT NULL\n  AND su.email != '';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -304,
        -224
      ],
      "id": "2ed9de4a-9b8b-4b58-8a89-23d27a55619f",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "FGCPCtEG47rFAJ4J",
          "name": "New FM UAT Task Management Database"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        48
      ],
      "id": "82026b88-8a6f-4373-a6ee-f17bdd72676f",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Owners": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Action Owners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "193d12ed-130a-4d61-9563-ab806284115c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cef8c9ed95a800214bddfac974636ee18f281f75a4bb6a9a439ad49c2d156498"
  },
  "id": "gP1p7DmOn2lyEXzN",
  "tags": []
}