n8n Backup - 20 April 2026/Marketing_Content_Pipeline_hc1XrSclRyr25xFq.json
{
  "data": {
    "updatedAt": "2026-03-01T16:00:28.215Z",
    "createdAt": "2026-03-01T15:06:09.850Z",
    "id": "hc1XrSclRyr25xFq",
    "name": "Marketing Content Pipeline",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "jsCode": "const fileName = $input.item.json.name;\nconst parentFolder = $input.item.json.parents?.[0] || '';\nconst fileId = $input.item.json.id;\n\n// Remove file extension to get a clean name\nconst productName = fileName.replace(/\\.[^/.]+$/, \"\").replace(/_/g, \" \");\n\nreturn {\n  fileId: fileId,\n  fileName: fileName,\n  productName: productName,\n  parentFolder: parentFolder,\n  timestamp: new Date().toISOString()\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3072,
          976
        ],
        "id": "9ee50e66-6c10-45b2-bab0-f1ffdcb7994d",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "=11AwKF6f9gpPKkR0LjBNKHVB6YhYRwPWM",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -2864,
          976
        ],
        "id": "1835fa7c-47de-42d3-8bda-8ff661684ee0",
        "name": "Download file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "8K9zg6ekrWyKO3bA",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -2656,
          1040
        ],
        "id": "a8c854c0-d7fd-4da5-80bc-28f9696012d5",
        "name": "HTTP Request",
        "credentials": {}
      },
      {
        "parameters": {
          "amount": 60
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -2496,
          1040
        ],
        "id": "81d7c4cf-db0c-4947-8e98-fad80644c490",
        "name": "Wait",
        "webhookId": "e14c3564-94fe-4e79-9f9d-0ffa1ec319b9"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -2288,
          1040
        ],
        "id": "6f65ca3b-018e-409d-b35d-fb6ec81f2a91",
        "name": "HTTP Request1",
        "credentials": {}
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -2080,
          1040
        ],
        "id": "c4e5052c-3b8c-41d5-8cce-c3b3832b96e1",
        "name": "HTTP Request2",
        "credentials": {}
      },
      {
        "parameters": {
          "jsCode": "const transcript = $input.item.json.candidates[0].content.parts[0].text;\n\nreturn {\n  originalTranscript: transcript,\n  productName: $('Code in JavaScript').item.json.productName\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1872,
          1040
        ],
        "id": "a528b328-5090-4046-81c7-9df8833489e9",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -2656,
          832
        ],
        "id": "1babede4-5800-4ab2-8762-d535b1676e87",
        "name": "HTTP Request3",
        "credentials": {}
      },
      {
        "parameters": {
          "jsCode": "const segments = $input.item.json;\n\n// Groq returns segments array, combine all text\nlet fullTranscript = '';\n\n// Handle both array and single segment response\nif (Array.isArray($input.all())) {\n  const allItems = $input.all();\n  allItems.forEach(item => {\n    if (item.json.text) {\n      fullTranscript += item.json.text + ' ';\n    }\n  });\n} else {\n  fullTranscript = $input.item.json.text || '';\n}\n\nreturn {\n  aiTranscript: fullTranscript.trim()\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2448,
          832
        ],
        "id": "01b85692-c74a-444c-9dbc-cb9a590a03c2",
        "name": "Code in JavaScript2"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -1696,
          880
        ],
        "id": "b16c6aa2-a70f-49ff-bab1-a2e045389206",
        "name": "Merge"
      },
      {
        "parameters": {
          "jsCode": "const geminiData = $input.first().json;\nconst groqData = $input.last().json;\n\nreturn {\n  productName: geminiData.productName,\n  originalTranscript: geminiData.originalTranscript,\n  aiTranscript: groqData.aiTranscript,\n  mergedContext: `PRODUCT NAME: ${geminiData.productName}\n\n=== ORIGINAL TRANSCRIPT (Gemini) ===\n${geminiData.originalTranscript}\n\n=== AI TRANSCRIPT (Groq Whisper) ===\n${groqData.aiTranscript}`\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1488,
          880
        ],
        "id": "863bafb2-de0a-4ee9-986d-7525a8d1aade",
        "name": "Code in JavaScript3"
      },
      {
        "parameters": {
          "jsCode": "return {\n  productName: $json.productName,\n  mergedContext: $json.mergedContext,\n  originalTranscript: $json.originalTranscript,\n  aiTranscript: $json.aiTranscript,\n  \n  // Pre-build all prompts here\n  prompt_videoSummary: \"Based on this product demo transcript, write a crisp 150-200 word video summary. Capture the core value proposition in the first sentence. Mention top 3 things demonstrated. Use present tense, active voice.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_userGuide: \"Based on this product demo transcript, create a detailed step-by-step user guide. Include: Before You Begin section, numbered steps with Action/Where/Why for each step, Pro Tips, grouped sections, Troubleshooting section. Written for non-technical users.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_productOverview: \"Write a comprehensive Product Overview Report with: Executive Summary, Product Vision, Core Features, Use Cases, Competitive Positioning, Integration Capabilities, Limitations, User Personas, Strategic Value.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_productDescription: \"Write a complete Product Description with: Target Client Profile (industry, company size, job titles, pain points), Key Features, Benefits, Unique Differentiators, CTA options (primary/secondary/retargeting), Objection Handlers.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_researchReport: \"Write a market Research Report with: Market Overview, Target Segmentation, Competitive Landscape, Market Trends, Customer Pain Points, Pricing Recommendations, GTM Opportunities, Risks, Next Steps.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_communicationStrategy: \"Build a full Communication Strategy with: Messaging Hierarchy, Channel Strategy for LinkedIn/Email/Website/YouTube, Audience Segmentation, 3-month Content Calendar Themes, Tone of Voice Guide.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_onePager: \"Create a One-Pager Feature List with: Headline, Subheadline, Feature Grid (6-8 features with benefit per feature), Integrations, Key Stats, Footer CTA. Every line must answer 'so what?' for the reader.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_elevatorPitch: \"Write a 30-second elevator pitch (75-85 words). Structure: Problem → Solution → How → Proof → CTA. Write 3 versions: Version A for CEO, Version B for VP Sales/Marketing, Version C for IT/Operations.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_industryFeatureList: \"Create an Industry-Specific Feature Relevance Map for the top 5 most relevant industries. For each: top 3 relevant features, industry use case, pain point solved, expected ROI, industry-specific CTA language.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_marketingScript: \"Write a 45-second marketing video script (110-120 words). Hook in first 5 words. Structure: Problem (0-10s), Solution (10-25s), Proof (25-35s), CTA (35-45s). Write 2 versions: pain-focused and aspiration-focused.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_storyboard: \"Create a visual storyboard with 8-10 scenes for 45 seconds. For each scene: Visual description, Camera shot type, Text overlays, Audio/VO line, Transition, Emotion target. Include color palette, music mood, visual style.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_screenplay: \"Write a production-ready 45-second video screenplay. For each scene: Location, Duration, Talent description, Action, Dialogue/VO, Technical notes. End with Production Requirements: locations, talent count, props list, effects, complexity rating.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1280,
          880
        ],
        "id": "756a905a-c5a1-4ee8-b896-6be33b26006f",
        "name": "Code in JavaScript4"
      },
      {
        "parameters": {
          "numberInputs": 10
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          656,
          752
        ],
        "id": "2a9780f9-905a-4dab-8f86-346748c5a385",
        "name": "Merge1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          0,
          0
        ],
        "id": "14d5df82-27f2-4bfb-9938-0318677440b8",
        "name": "Video Summary",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {}
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          0,
          176
        ],
        "id": "7ca39f5d-c1c4-4003-8f13-4d311925b2c7",
        "name": "User Guide",
        "credentials": {}
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          0,
          352
        ],
        "id": "7a13f17d-372a-4045-8fac-6eaac7bb68fe",
        "name": "Product Overview",
        "credentials": {}
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          0,
          528
        ],
        "id": "d9f0376c-86ae-4bd3-97c2-0045368cb609",
        "name": "Product Description",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {}
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          0,
          704
        ],
        "id": "43b56c0b-6f07-428a-b292-0e9928f6859b",
        "name": "Research Report",
        "credentials": {}
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          0,
          880
        ],
        "id": "6de317ff-6a3a-4b82-8c58-b3346b3df84d",
        "name": "Communication Strategy",
        "credentials": {}
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          0,
          1040
        ],
        "id": "b910f2ea-9b56-4ec1-baca-1cd4c9605967",
        "name": "One Pager",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {}
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          0,
          1200
        ],
        "id": "59ef6257-e6fa-495b-ad95-28ac1deaf43c",
        "name": "Elevator Pitch",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {}
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          0,
          1376
        ],
        "id": "6e90c9f9-b61d-4318-af7a-424149efbba3",
        "name": "Industry Feature List",
        "credentials": {}
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          0,
          1552
        ],
        "id": "f6d38fba-38d9-4c53-89de-57dfae524174",
        "name": "Marketing Script",
        "credentials": {}
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          0,
          1728
        ],
        "id": "002253ee-6e64-4ec2-a049-f67c0d888d27",
        "name": "Storyboard",
        "credentials": {}
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          0,
          1920
        ],
        "id": "fb1fa5c7-7cf8-476e-94eb-a39d7018966a",
        "name": "Screenplay",
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000,
        "credentials": {}
      },
      {
        "parameters": {
          "numberInputs": 3
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          640,
          1472
        ],
        "id": "786c53c8-cf91-420b-b98c-e79d6ddd430e",
        "name": "Merge2"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1264,
          896
        ],
        "id": "9fe35da6-ca68-47ce-a980-78e660124bff",
        "name": "Merge3"
      },
      {
        "parameters": {
          "jsCode": "// Stagger delay - each parallel node waits before starting\nconst delay = (ms) => new Promise(resolve => setTimeout(resolve, ms));\nawait delay(Math.random() * 5000); // Random 0-5 second delay\n\nreturn {\n  productName: $json.productName,\n  mergedContext: $json.mergedContext,\n  originalTranscript: $json.originalTranscript,\n  aiTranscript: $json.aiTranscript,\n  \n  prompt_videoSummary: \"Based on this product demo transcript, write a crisp 150-200 word video summary. Capture the core value proposition in the first sentence. Mention top 3 things demonstrated. Use present tense, active voice.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_userGuide: \"Based on this product demo transcript, create a detailed step-by-step user guide. Include: Before You Begin section, numbered steps with Action/Where/Why for each step, Pro Tips, grouped sections, Troubleshooting section. Written for non-technical users.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_productOverview: \"Write a comprehensive Product Overview Report with: Executive Summary, Product Vision, Core Features, Use Cases, Competitive Positioning, Integration Capabilities, Limitations, User Personas, Strategic Value.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_productDescription: \"Write a complete Product Description with: Target Client Profile (industry, company size, job titles, pain points), Key Features, Benefits, Unique Differentiators, CTA options (primary/secondary/retargeting), Objection Handlers.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_researchReport: \"Write a market Research Report with: Market Overview, Target Segmentation, Competitive Landscape, Market Trends, Customer Pain Points, Pricing Recommendations, GTM Opportunities, Risks, Next Steps.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_communicationStrategy: \"Build a full Communication Strategy with: Messaging Hierarchy, Channel Strategy for LinkedIn/Email/Website/YouTube, Audience Segmentation, 3-month Content Calendar Themes, Tone of Voice Guide.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_onePager: \"Create a One-Pager Feature List with: Headline, Subheadline, Feature Grid (6-8 features with benefit per feature), Integrations, Key Stats, Footer CTA. Every line must answer 'so what?' for the reader.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_elevatorPitch: \"Write a 30-second elevator pitch (75-85 words). Structure: Problem → Solution → How → Proof → CTA. Write 3 versions: Version A for CEO, Version B for VP Sales/Marketing, Version C for IT/Operations.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_industryFeatureList: \"Create an Industry-Specific Feature Relevance Map for the top 5 most relevant industries. For each: top 3 relevant features, industry use case, pain point solved, expected ROI, industry-specific CTA language.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_marketingScript: \"Write a 45-second marketing video script (110-120 words). Hook in first 5 words. Structure: Problem (0-10s), Solution (10-25s), Proof (25-35s), CTA (35-45s). Write 2 versions: pain-focused and aspiration-focused.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_storyboard: \"Create a visual storyboard with 8-10 scenes for 45 seconds. For each scene: Visual description, Camera shot type, Text overlays, Audio/VO line, Transition, Emotion target. Include color palette, music mood, visual style.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_screenplay: \"Write a production-ready 45-second video screenplay. For each scene: Location, Duration, Talent description, Action, Dialogue/VO, Technical notes. End with Production Requirements: locations, talent count, props list, effects, complexity rating.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1488,
          896
        ],
        "id": "e9e40d19-3251-4126-a469-70d0bcf4c5ad",
        "name": "Code in JavaScript5"
      },
      {
        "parameters": {
          "folderId": "1fOpz0xUSUMUU44uP7TIq-rHbpxLq6mJi",
          "title": "Video Summary — {{ $json.productName }}"
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          1920,
          896
        ],
        "id": "2d9e6f90-4083-426f-b5ef-d604ea4ccf72",
        "name": "Create a document"
      },
      {
        "parameters": {
          "operation": "update",
          "documentURL": "={{ $json.id }}",
          "actionsUi": {
            "actionFields": [
              {
                "action": "insert",
                "text": "={{ $('Code in JavaScript5').first().json.videoSummary }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          2096,
          896
        ],
        "id": "e872ebe9-dbd0-4bf0-abef-909feb852b29",
        "name": "Update a document"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nreturn {\n  productName: items[0].json.productName || \"Product\",\n  videoSummary: items[0].json.choices[0].message.content,\n  userGuide: items[1].json.choices[0].message.content,\n  productOverview: items[2].json.choices[0].message.content,\n  productDescription: items[3].json.choices[0].message.content,\n  researchReport: items[4].json.choices[0].message.content,\n  communicationStrategy: items[5].json.choices[0].message.content,\n  onePager: items[6].json.choices[0].message.content,\n  elevatorPitch: items[7].json.choices[0].message.content,\n  industryFeatureList: items[8].json.choices[0].message.content,\n  marketingScript: items[9].json.choices[0].message.content,\n  storyboard: items[10].json.choices[0].message.content,\n  screenplay: items[11].json.choices[0].message.content\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1696,
          896
        ],
        "id": "4d12e847-6a32-4d08-9bb4-130361fae0fe",
        "name": "Code in JavaScript6"
      },
      {
        "parameters": {
          "jsCode": "// Stagger delay - each parallel node waits before starting\nconst delay = (ms) => new Promise(resolve => setTimeout(resolve, ms));\nawait delay(Math.random() * 5000); // Random 0-5 second delay\n\nreturn {\n  productName: $json.productName,\n  mergedContext: $json.mergedContext.substring(0, 3000),\n  originalTranscript: $json.originalTranscript,\n  aiTranscript: $json.aiTranscript,\n  \n  prompt_videoSummary: \"Based on this product demo transcript, write a crisp 150-200 word video summary. Capture the core value proposition in the first sentence. Mention top 3 things demonstrated. Use present tense, active voice.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_userGuide: \"Based on this product demo transcript, create a detailed step-by-step user guide. Include: Before You Begin section, numbered steps with Action/Where/Why for each step, Pro Tips, grouped sections, Troubleshooting section. Written for non-technical users.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_productOverview: \"Write a comprehensive Product Overview Report with: Executive Summary, Product Vision, Core Features, Use Cases, Competitive Positioning, Integration Capabilities, Limitations, User Personas, Strategic Value.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_productDescription: \"Write a complete Product Description with: Target Client Profile (industry, company size, job titles, pain points), Key Features, Benefits, Unique Differentiators, CTA options (primary/secondary/retargeting), Objection Handlers.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_researchReport: \"Write a market Research Report with: Market Overview, Target Segmentation, Competitive Landscape, Market Trends, Customer Pain Points, Pricing Recommendations, GTM Opportunities, Risks, Next Steps.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_communicationStrategy: \"Build a full Communication Strategy with: Messaging Hierarchy, Channel Strategy for LinkedIn/Email/Website/YouTube, Audience Segmentation, 3-month Content Calendar Themes, Tone of Voice Guide.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_onePager: \"Create a One-Pager Feature List with: Headline, Subheadline, Feature Grid (6-8 features with benefit per feature), Integrations, Key Stats, Footer CTA. Every line must answer 'so what?' for the reader.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_elevatorPitch: \"Write a 30-second elevator pitch (75-85 words). Structure: Problem → Solution → How → Proof → CTA. Write 3 versions: Version A for CEO, Version B for VP Sales/Marketing, Version C for IT/Operations.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_industryFeatureList: \"Create an Industry-Specific Feature Relevance Map for the top 5 most relevant industries. For each: top 3 relevant features, industry use case, pain point solved, expected ROI, industry-specific CTA language.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_marketingScript: \"Write a 45-second marketing video script (110-120 words). Hook in first 5 words. Structure: Problem (0-10s), Solution (10-25s), Proof (25-35s), CTA (35-45s). Write 2 versions: pain-focused and aspiration-focused.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_storyboard: \"Create a visual storyboard with 8-10 scenes for 45 seconds. For each scene: Visual description, Camera shot type, Text overlays, Audio/VO line, Transition, Emotion target. Include color palette, music mood, visual style.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext,\n  \n  prompt_screenplay: \"Write a production-ready 45-second video screenplay. For each scene: Location, Duration, Talent description, Action, Dialogue/VO, Technical notes. End with Production Requirements: locations, talent count, props list, effects, complexity rating.\\n\\nProduct: \" + $json.productName + \"\\n\\nTRANSCRIPT:\\n\" + $json.mergedContext\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1120,
          880
        ],
        "id": "8017888d-07e3-4649-98e2-a5b906a6b50c",
        "name": "Code in JavaScript7"
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1rMxA3sOzxDdShMucttQM1gOj2eN4fdF7",
            "mode": "list",
            "cachedResultName": "01_Input_Videos",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1rMxA3sOzxDdShMucttQM1gOj2eN4fdF7"
          },
          "event": "fileCreated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -3280,
          976
        ],
        "id": "ba4fc3fd-4508-4b5f-a31d-2299000ad0e2",
        "name": "Google Drive Trigger",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "8K9zg6ekrWyKO3bA",
            "name": "Google Drive account"
          }
        }
      }
    ],
    "connections": {
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Code in JavaScript2": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Code in JavaScript3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript3": {
        "main": [
          [
            {
              "node": "Code in JavaScript4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript4": {
        "main": [
          [
            {
              "node": "Code in JavaScript7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Merge3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge2": {
        "main": [
          [
            {
              "node": "Merge3",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge3": {
        "main": [
          [
            {
              "node": "Code in JavaScript5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript5": {
        "main": [
          [
            {
              "node": "Code in JavaScript6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a document": {
        "main": [
          [
            {
              "node": "Update a document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript6": {
        "main": [
          [
            {
              "node": "Create a document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive Trigger": {
        "main": [
          []
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "5a4518cb-8686-4ec0-a530-92d111c7106a",
    "activeVersionId": null,
    "versionCounter": 6,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-03-01T15:06:09.854Z",
        "createdAt": "2026-03-01T15:06:09.854Z",
        "role": "workflow:owner",
        "workflowId": "hc1XrSclRyr25xFq",
        "projectId": "s9jeiIUr8G6hBG6i",
        "project": {
          "updatedAt": "2026-01-28T12:34:21.552Z",
          "createdAt": "2025-12-24T09:57:24.391Z",
          "id": "s9jeiIUr8G6hBG6i",
          "name": "N8N Admin <n8n@lockated.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
          "projectRelations": [
            {
              "updatedAt": "2025-12-24T09:57:24.391Z",
              "createdAt": "2025-12-24T09:57:24.391Z",
              "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "projectId": "s9jeiIUr8G6hBG6i",
              "user": {
                "updatedAt": "2026-04-20T08:20:33.000Z",
                "createdAt": "2025-12-24T09:57:23.917Z",
                "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
                "email": "n8n@lockated.com",
                "firstName": "N8N",
                "lastName": "Admin",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "automationGoalDevops": [
                    "ci-cd",
                    "cloud-infrastructure-orchestration",
                    "monitoring-alerting",
                    "reporting"
                  ],
                  "companyType": "saas",
                  "role": "it"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                  "userActivatedAt": 1767166205042,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1770088091114
                  },
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-04-19",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [],
    "parentFolder": null,
    "activeVersion": null,
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "1dbbf8ad52cb82ef9d4091454b825d2022d1658ace92296322a8d17c7483023f"
  }
}