n8n Backup - 26 March 2026/SubTask_Task_overdue_OQzqIisF8V7NgmhJ.json
{
  "updatedAt": "2026-03-23T12:54:00.944Z",
  "createdAt": "2026-03-20T16:12:14.676Z",
  "id": "OQzqIisF8V7NgmhJ",
  "name": "SubTask Task overdue",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "task-overdue",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "71aa75c3-0739-45d9-ad33-72bfda995e45",
      "name": "Webhook",
      "webhookId": "9e0ab543-664f-415f-8a2b-1175eb0f8fd7",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        144
      ],
      "id": "66968919-847c-438e-83b8-98789a73e859",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  t.id                       AS task_id,\n  t.title                    AS task_title,\n  t.target_date              AS task_due_date,\n  t.status                   AS task_status,\n\n  -- overdue calculation\n  TIMESTAMPDIFF(\n    DAY,\n    DATE(t.target_date),\n    DATE(UTC_TIMESTAMP())\n  )                           AS overdue_days,\n\n  -- responsible person (task owner)\n  rp.email                   AS task_owner_email,\n  rp.firstname               AS task_owner_firstname,\n  rp.lastname                AS task_owner_lastname,\n\n  -- project\n  pm.id                      AS project_id,\n  pm.title                   AS project_title,\n\n  -- project manager\n  pmo.email                  AS project_manager_email,\n  pmo.firstname              AS project_manager_firstname,\n  pmo.lastname               AS project_manager_lastname\n\nFROM task_managements t\n\n-- task owner (responsible person)\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\n-- project\nJOIN project_managements pm\n  ON pm.id = t.project_management_id\n\n-- project manager\nJOIN spree_users pmo\n  ON pmo.id = pm.owner_id\n\nWHERE\n  DATE(t.target_date) < DATE(UTC_TIMESTAMP())   -- overdue\n  AND t.status NOT IN ('completed', 'closed')   -- ignore completed tasks\n  AND t.parent_id IS NOT NULL;                  -- ✅ only subtasks",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        336,
        64
      ],
      "id": "b2dc0b11-18ac-4b76-adcd-69df9d2e94bb",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "FGCPCtEG47rFAJ4J",
          "name": "New FM UAT Task Management Database"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        32,
        208
      ],
      "id": "b0dcef06-6425-43d2-98bd-39d3888ed83c",
      "name": "Schedule Trigger",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "notifications@lockated.com",
        "toEmail": "={{$json.task_owner_email}}",
        "subject": "=Task Overdue: Immediate Attention Required – {{$json.task_title}}",
        "html": "=<p>Dear {{$json.project_manager_firstname}} {{$json.project_manager_lastname}},</p>\n\n<p>The task <b>{{$json.task_title}}</b> has exceeded its planned due date and is currently overdue.</p>\n\n<p><b>Overdue Details</b><br>\n* Task Title: {{$json.task_title}}<br>\n* Due Date: {{$json.task_due_date}}<br>\n* Overdue By: {{$json.overdue_days}} days<br>\n* Current Status: {{$json.task_status}}</p>\n\n<p>Please update the task with completion details or provide a revised plan to avoid escalation.</p>\n\n<p>Regards,<br>\nPMO – Escalation Desk</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        656,
        64
      ],
      "id": "51d5a7f0-2f06-4ab4-85f7-1b7795e36b79",
      "name": "PM",
      "webhookId": "edef3932-8417-4244-aafe-e74cf1c2d948",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "m6pGNPu76sBcBXtf",
          "name": "Task Management SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "notifications@lockated.com",
        "toEmail": "={{$json.project_manager_email}}",
        "subject": "=Task Overdue: Immediate Attention Required – {{$json.task_title}}",
        "html": "=<p>Dear {{$json.project_manager_firstname}} {{$json.project_manager_lastname}},</p>\n\n<p>The task <b>{{$json.task_title}}</b> has exceeded its planned due date and is currently overdue.</p>\n\n<p><b>Overdue Details</b><br>\n* Task Title: {{$json.task_title}}<br>\n* Due Date: {{$json.task_due_date}}<br>\n* Overdue By: {{$json.overdue_days}} days<br>\n* Current Status: {{$json.task_status}}</p>\n\n<p>Please update the task with completion details or provide a revised plan to avoid escalation.</p>\n\n<p>Regards,<br>\nPMO – Escalation Desk</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        656,
        272
      ],
      "id": "012728e0-c438-4ff9-9921-a1c2fbccbedb",
      "name": "Task Owner",
      "webhookId": "ae3d2a6b-f49d-4da7-94f9-b1535347c2d8",
      "credentials": {
        "smtp": {
          "id": "e6BxRubia0RizPKp",
          "name": "Lockated Local SMTP"
        }
      }
    }
  ],
  "connections": {
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "PM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Task Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PM": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Owner": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1057c00c-21db-4a30-8f55-68e54edda1f4",
  "activeVersionId": null,
  "versionCounter": 7,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-20T16:12:14.683Z",
      "createdAt": "2026-03-20T16:12:14.683Z",
      "role": "workflow:owner",
      "workflowId": "OQzqIisF8V7NgmhJ",
      "projectId": "s9jeiIUr8G6hBG6i",
      "project": {
        "updatedAt": "2026-01-28T12:34:21.552Z",
        "createdAt": "2025-12-24T09:57:24.391Z",
        "id": "s9jeiIUr8G6hBG6i",
        "name": "N8N Admin <n8n@lockated.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
        "projectRelations": [
          {
            "updatedAt": "2025-12-24T09:57:24.391Z",
            "createdAt": "2025-12-24T09:57:24.391Z",
            "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
            "projectId": "s9jeiIUr8G6hBG6i",
            "user": {
              "updatedAt": "2026-03-26T13:35:54.000Z",
              "createdAt": "2025-12-24T09:57:23.917Z",
              "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "email": "n8n@lockated.com",
              "firstName": "N8N",
              "lastName": "Admin",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "ci-cd",
                  "cloud-infrastructure-orchestration",
                  "monitoring-alerting",
                  "reporting"
                ],
                "companyType": "saas",
                "role": "it"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                "userActivatedAt": 1767166205042,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770088091114
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-25",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}