n8n Backup - 26 March 2026/SubTask_Due_date_approaching_rmSPFzUzqRLOFgVz.json
{
  "updatedAt": "2026-03-23T12:53:10.251Z",
  "createdAt": "2026-03-20T16:13:15.320Z",
  "id": "rmSPFzUzqRLOFgVz",
  "name": "SubTask Due date approaching",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "due-date-approaching",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        256
      ],
      "id": "d271ac0a-b465-4278-8a60-49afb31a9b10",
      "name": "Webhook",
      "webhookId": "b0d277c1-e07f-47de-b1aa-5e2492d7aae1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        752,
        208
      ],
      "id": "6ace82ac-c739-46a2-a18b-0c06ea29459a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "fromEmail": "notifications@lockated.com",
        "toEmail": "={{$json.task_owner_email}}\n",
        "subject": "=Task Due Reminder (24 Hours): {{$json.task_title}}\n\n",
        "html": "=<p>Dear {{$json.task_owner_firstname}} {{$json.task_owner_lastname}},</p>\n\n<p>This is a reminder that the task <b>{{$json.task_title}}</b> is due within the next <b>24 hours</b>.</p>\n\n<p>Task Schedule:<br>\n* Task Title: {{$json.task_title}}<br>\n* Due Date: {{$json.task_due_date}}<br>\n* Current Status: {{$json.task_status}}</p>\n\n<p>Please prioritize completion or update the task with revised timelines if required.</p>\n\n<p>Regards,<br>\nTask Management System</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        512,
        112
      ],
      "id": "05b69d83-6b2b-4231-8a94-89aaa4285bd5",
      "name": "Task Owner",
      "webhookId": "0c75e6ff-b2aa-4284-bf07-af8b1d2d9be7",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "e6BxRubia0RizPKp",
          "name": "Lockated Local SMTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  t.id                    AS task_id,\n  t.title                 AS task_title,\n  t.target_date           AS task_due_date,\n  t.status                AS task_status,\n\n  TIMESTAMPDIFF(\n    HOUR,\n    UTC_TIMESTAMP(),\n    t.target_date\n  )                       AS hours_remaining,\n\n  rp.email                AS task_owner_email,\n  rp.firstname            AS task_owner_firstname,\n  rp.lastname             AS task_owner_lastname,\n\n  pm.id                   AS project_id,\n  pm.title                AS project_title\n\nFROM task_managements t\n\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\n-- parent task\nLEFT JOIN task_managements parent_t\n  ON parent_t.id = t.parent_id\n\n-- project from self OR parent\nLEFT JOIN project_managements pm\n  ON pm.id = COALESCE(\n    t.project_management_id,\n    parent_t.project_management_id\n  )\n\nWHERE\n  t.status NOT IN ('completed', 'closed')\n  AND t.target_date > UTC_TIMESTAMP()\n  AND t.target_date <= UTC_TIMESTAMP() + INTERVAL 40 HOUR\n  AND t.parent_id IS NOT NULL;  -- ✅ only subtasks",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        288,
        16
      ],
      "id": "50f6e8f7-0329-43a2-b419-414dfd6abf00",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "FGCPCtEG47rFAJ4J",
          "name": "New FM UAT Task Management Database"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "6d07db0a-6503-457e-9612-7eba4a4c7d46",
      "name": "Schedule Trigger",
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Task Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "eda6af40-bff1-437e-a4ad-561a81b18a38",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-20T16:13:15.325Z",
      "createdAt": "2026-03-20T16:13:15.325Z",
      "role": "workflow:owner",
      "workflowId": "rmSPFzUzqRLOFgVz",
      "projectId": "s9jeiIUr8G6hBG6i",
      "project": {
        "updatedAt": "2026-01-28T12:34:21.552Z",
        "createdAt": "2025-12-24T09:57:24.391Z",
        "id": "s9jeiIUr8G6hBG6i",
        "name": "N8N Admin <n8n@lockated.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
        "projectRelations": [
          {
            "updatedAt": "2025-12-24T09:57:24.391Z",
            "createdAt": "2025-12-24T09:57:24.391Z",
            "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
            "projectId": "s9jeiIUr8G6hBG6i",
            "user": {
              "updatedAt": "2026-03-26T13:35:54.000Z",
              "createdAt": "2025-12-24T09:57:23.917Z",
              "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "email": "n8n@lockated.com",
              "firstName": "N8N",
              "lastName": "Admin",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "ci-cd",
                  "cloud-infrastructure-orchestration",
                  "monitoring-alerting",
                  "reporting"
                ],
                "companyType": "saas",
                "role": "it"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                "userActivatedAt": 1767166205042,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770088091114
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-25",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}