n8n Backup - 09 March 2026/Module 8 - Opportunity Register/New opportunity created.json
{
  "name": "New opportunity created",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        256,
        -64
      ],
      "id": "2b5ae863-124f-49e8-baa9-41a98e4da00d",
      "name": "Respond to Webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-opportunity-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -464,
        -144
      ],
      "id": "06fb3154-fb0e-4471-9cda-669b7cc45883",
      "name": "Webhook",
      "webhookId": "1cd7de88-88e7-4a67-b7d3-d21497b572aa",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "notificaions@lockated.com",
        "toEmail": "={{$json.opportunity_owner_email}}\n",
        "subject": "=New Opportunity Assigned – {{$json.opportunity_title}}\n",
        "html": "=Dear {{$json.RecipientName}},\n\nA new opportunity has been created and assigned to you for evaluation and action.\n\nOpportunity Details:\n• Title: {{$json.opportunity_title}}\n• Description: {{$json.description}}\n• Status: {{$json.opportunity_status}}\n• Created On: {{$json.opportunity_created_at}}\n\nPlease review and initiate next steps.\n\nRegards,\nOpportunity Management Offic\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        16,
        -224
      ],
      "id": "05465264-f57b-4979-b3f8-d462adde8872",
      "name": "Opportunity Owner",
      "webhookId": "30bda9ba-4dc9-4095-98f0-ff0635c99a2e",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "m6pGNPu76sBcBXtf",
          "name": "Task Management SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  o.id            AS opportunity_id,\n  o.title         AS opportunity_title,\n  o.status        AS opportunity_status,\n  o.created_at    AS opportunity_created_at,\n\n  -- opportunity owner\n  owner.email     AS opportunity_owner_email\n\nFROM opportunities o\n\nJOIN spree_users owner\n  ON owner.id = o.responsible_person_id\n\nWHERE\n  o.created_at >= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n  AND o.active = 1;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -224,
        -240
      ],
      "id": "be027ffb-078b-487e-b611-2822b0f4953d",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "FGCPCtEG47rFAJ4J",
          "name": "New FM UAT Task Management Database"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        []
      ]
    },
    "Opportunity Owner": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Opportunity Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "17cb692b-488a-4b10-8b8a-eb0e8887e706",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cef8c9ed95a800214bddfac974636ee18f281f75a4bb6a9a439ad49c2d156498"
  },
  "id": "hHx7tSNrlaDAFwot",
  "tags": []
}