n8n Backup - 30 April 2026/Production___SubTask_Assigned_copy_8q7DFmOsEqpwbqlZ.json
{
  "data": {
    "updatedAt": "2026-04-16T09:12:07.575Z",
    "createdAt": "2026-04-15T11:50:22.879Z",
    "id": "8q7DFmOsEqpwbqlZ",
    "name": "Production - SubTask Assigned copy",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "87eae782-de2a-408a-b9c2-a5e843614da5",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          672,
          160
        ],
        "id": "423f11a8-7990-4458-81dc-0b5d35447d0a",
        "name": "Webhook",
        "webhookId": "87eae782-de2a-408a-b9c2-a5e843614da5",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.responsible_person_email}}\n",
          "subject": "=New SubTask Assigned: {{$json.subtask_title}}\n\n\n",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{$json.responsible_person_first_name}} {{$json.responsible_person_last_name}},\n  </p>\n\n  <p>\n    You have been assigned a new subtask requiring your attention.\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Subtask Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Description</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.description}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.status}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Priority</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.priority}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Assigned To</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        {{$json.responsible_person_first_name}} {{$json.responsible_person_last_name}}\n      </td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Start Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_start_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>End Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_end_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Estimated Time (hrs)</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_estimated_time}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Parent Task</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.parent_task_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.subtask_id}}\" target=\"_blank\">\n          View Subtask Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    Please begin execution and keep the subtask status updated.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>Task Management System</strong>\n  </p>\n\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          368,
          192
        ],
        "id": "4573fe90-f728-48cf-a833-4873e66fe4c4",
        "name": "Task Owner",
        "webhookId": "788543c0-d7b4-4328-9c85-f63ee44161fa",
        "credentials": {
          "smtp": {
            "id": "e6BxRubia0RizPKp",
            "name": "Lockated Local SMTP"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          640,
          416
        ],
        "id": "8b94422c-ad1a-44f1-bd86-402ebc870f3a",
        "name": "Respond to Webhook",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  st.id AS subtask_id,\n  st.title AS subtask_title,\n  st.description,\n  st.status,\n  st.priority,\n  st.target_date AS subtask_target_date,\n  st.created_at AS subtask_created_at,\n  st.parent_id,\n  st.estimated_hour AS subtask_estimated_time,\n\n  CONVERT_TZ(st.expected_start_date, '+00:00', '+05:30') AS subtask_start_date,\n  CONVERT_TZ(st.target_date, '+00:00', '+05:30') AS subtask_end_date,\n\n  u.id AS responsible_person_id,\n  u.firstname AS responsible_person_first_name,\n  u.lastname AS responsible_person_last_name,\n  u.email AS responsible_person_email,\n\n  pt.id AS parent_task_id,\n  pt.title AS parent_task_title,\n\n  m.id AS milestone_id,\n  m.title AS milestone_title,\n\n  pm.id AS project_id,\n  pm.title AS project_title,\n\n  GROUP_CONCAT(obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(obs.email ORDER BY obs.id) AS observer_emails\n\nFROM task_managements st\n\nJOIN spree_users u\n  ON u.id = st.responsible_person_id\n\nLEFT JOIN task_managements pt\n  ON pt.id = st.parent_id\n\nLEFT JOIN milestones m\n  ON m.id = pt.milestone_id\n\nLEFT JOIN project_managements pm\n  ON pm.id = pt.project_management_id\n\nLEFT JOIN task_users tu\n  ON tu.task_id = st.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  st.created_at >= UTC_TIMESTAMP() - INTERVAL 10 MINUTE\n  AND st.parent_id IS NOT NULL\n  AND u.organization_id IN (13, 14, 59, 84)\n\nGROUP BY st.id;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          96,
          208
        ],
        "id": "b28c6095-cabd-4a0f-9635-c9b0398432bb",
        "name": "Fetch the created annd assigned tasks in pas 1 hr",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "cSpNSxxLQn5eFDMK",
            "name": "Task Management Production Database"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 10
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -176,
          464
        ],
        "id": "8e5ddf73-d071-4202-9514-f9bc428e80c4",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * from task_managements ORDER by created_at DESC LIMIT 5;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          0,
          0
        ],
        "id": "92ed5779-0112-4fe3-9a88-3cce8f1218ea",
        "name": "Execute a SQL query",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "FGCPCtEG47rFAJ4J",
            "name": "New FM UAT Task Management Database"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  st.id AS subtask_id,\n  st.title AS subtask_title,\n  st.description,\n  st.status,\n  st.priority,\n  st.target_date AS subtask_target_date,\n  st.created_at AS subtask_created_at,\n  st.parent_id,\n  st.estimated_hour AS subtask_estimated_time,\n\n  CONVERT_TZ(st.expected_start_date, '+00:00', '+05:30') AS subtask_start_date,\n  CONVERT_TZ(st.target_date, '+00:00', '+05:30') AS subtask_end_date,\n\n  u.id AS responsible_person_id,\n  u.firstname AS responsible_person_first_name,\n  u.lastname AS responsible_person_last_name,\n  u.email AS responsible_person_email,\n\n  pt.id AS parent_task_id,\n  pt.title AS parent_task_title,\n\n  m.id AS milestone_id,\n  m.title AS milestone_title,\n\n  pm.id AS project_id,\n  pm.title AS project_title\n\nFROM task_managements st\n\nJOIN spree_users u\n  ON u.id = st.responsible_person_id\n\nLEFT JOIN task_managements pt\n  ON pt.id = st.parent_id\n\n-- milestone (can be NULL safely)\nLEFT JOIN milestones m\n  ON m.id = pt.milestone_id\n\n-- ✅ FIX: project directly from parent task\nLEFT JOIN project_managements pm\n  ON pm.id = pt.project_management_id\n\nWHERE\n  st.created_at >= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n  AND st.parent_id IS NOT NULL;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -160,
          640
        ],
        "id": "2722a8fd-1b86-48f0-936c-f2aab7112453",
        "name": "Fetch the created annd assigned tasks in pas 1 hr1 Without Observers",
        "credentials": {
          "mySql": {
            "id": "FGCPCtEG47rFAJ4J",
            "name": "New FM UAT Task Management Database"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  st.id AS subtask_id,\n  st.title AS subtask_title,\n  st.description,\n  st.status,\n  st.priority,\n  st.target_date AS subtask_target_date,\n  st.created_at AS subtask_created_at,\n  st.parent_id,\n  st.estimated_hour AS subtask_estimated_time,\n\n  CONVERT_TZ(st.expected_start_date, '+00:00', '+05:30') AS subtask_start_date,\n  CONVERT_TZ(st.target_date, '+00:00', '+05:30') AS subtask_end_date,\n\n  u.id AS responsible_person_id,\n  u.firstname AS responsible_person_first_name,\n  u.lastname AS responsible_person_last_name,\n  u.email AS responsible_person_email,\n\n  pt.id AS parent_task_id,\n  pt.title AS parent_task_title,\n\n  m.id AS milestone_id,\n  m.title AS milestone_title,\n\n  pm.id AS project_id,\n  pm.title AS project_title\n\nFROM task_managements st\n\nJOIN spree_users u\n  ON u.id = st.responsible_person_id\n\nLEFT JOIN task_managements pt\n  ON pt.id = st.parent_id\n\n-- milestone (can be NULL safely)\nLEFT JOIN milestones m\n  ON m.id = pt.milestone_id\n\n-- ✅ FIX: project directly from parent task\nLEFT JOIN project_managements pm\n  ON pm.id = pt.project_management_id\n\nWHERE\n  st.created_at >= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n  AND st.parent_id IS NOT NULL;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          176,
          512
        ],
        "id": "ad1f35f6-9f31-47b1-8831-a1067a2c426e",
        "name": "Fetch the created annd assigned tasks in pas 1 hr1 Without Observer",
        "credentials": {
          "mySql": {
            "id": "FGCPCtEG47rFAJ4J",
            "name": "New FM UAT Task Management Database"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  // Split observer fields by comma (from GROUP_CONCAT)\n  const emails = (item.json.observer_emails || '').split(',');\n  const firstNames = (item.json.observer_first_names || '').split(',');\n  const lastNames = (item.json.observer_last_names || '').split(',');\n\n  for (let i = 0; i < emails.length; i++) {\n    if (!emails[i]) continue;\n\n    items.push({\n      json: {\n        ...item.json, // keep all subtask details\n\n        observer_email: emails[i].trim(),\n        observer_first_name: firstNames[i]?.trim(),\n        observer_last_name: lastNames[i]?.trim()\n      }\n    });\n  }\n}\n\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          320,
          384
        ],
        "id": "1a593c61-1578-4363-b6d8-a552af62fdd6",
        "name": "Code in JavaScript",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{ $json.observer_email }}",
          "subject": "=You have been added as an observer to the SubTask: {{$json.subtask_title}}\n\n\n",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{ $json.observer_first_name }} {{ $json.observer_last_name }},\n  </p>\n\n  <p>\n    You have been added as an observer to this task to monitor its progress.\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Subtask Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Description</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.description}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.status}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Priority</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.priority}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Assigned To</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        {{$json.responsible_person_first_name}} {{$json.responsible_person_last_name}}\n      </td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Start Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_start_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>End Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_end_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Estimated Time (hrs)</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_estimated_time}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Parent Task</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.parent_task_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.subtask_id}}\" target=\"_blank\">\n          View Subtask Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    No action is required from your side. You will be notified of any updates.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>Task Management System</strong>\n  </p>\n\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          512,
          560
        ],
        "id": "4112d809-032b-42ae-839d-b3315cbceebd",
        "name": "Observers",
        "webhookId": "627d7456-3466-4474-9f9b-a74667ca69c8",
        "credentials": {
          "smtp": {
            "id": "e6BxRubia0RizPKp",
            "name": "Lockated Local SMTP"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  st.id AS subtask_id,\n  st.title AS subtask_title,\n  st.description,\n  st.status,\n  st.priority,\n  st.target_date AS subtask_target_date,\n  st.created_at AS subtask_created_at,\n  st.parent_id,\n  st.estimated_hour AS subtask_estimated_time,\n\n  CONVERT_TZ(st.expected_start_date, '+00:00', '+05:30') AS subtask_start_date,\n  CONVERT_TZ(st.target_date, '+00:00', '+05:30') AS subtask_end_date,\n\n  -- Responsible person\n  u.id AS responsible_person_id,\n  u.firstname AS responsible_person_first_name,\n  u.lastname AS responsible_person_last_name,\n  u.email AS responsible_person_email,\n\n  -- Parent task info\n  pt.id AS parent_task_id,\n  pt.title AS parent_task_title,\n\n  -- Milestone\n  m.id AS milestone_id,\n  m.title AS milestone_title,\n\n  -- Project (from parent task)\n  pm.id AS project_id,\n  pm.title AS project_title,\n\n  -- Observers\n  GROUP_CONCAT(DISTINCT obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(DISTINCT obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(DISTINCT obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(DISTINCT obs.email ORDER BY obs.id) AS observer_emails\n\nFROM task_managements st\n\nJOIN spree_users u\n  ON u.id = st.responsible_person_id\n\nLEFT JOIN task_managements pt\n  ON pt.id = st.parent_id\n\nLEFT JOIN milestones m\n  ON m.id = pt.milestone_id\n\nLEFT JOIN project_managements pm\n  ON pm.id = pt.project_management_id\n\n-- Observers from task_users (only active observers)\nLEFT JOIN task_users tu\n  ON tu.task_id = st.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  st.created_at >= UTC_TIMESTAMP() - INTERVAL 10 MINUTE\n  AND st.parent_id IS NOT NULL\n\nGROUP BY st.id;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -432,
          512
        ],
        "id": "37505803-f7f8-4ba4-b464-ae312e2a2900",
        "name": "Without organization id Fetch the created annd assigned tasks in pas 1 hr1",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "cSpNSxxLQn5eFDMK",
            "name": "Task Management Production Database"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Task Owner": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch the created annd assigned tasks in pas 1 hr": {
        "main": [
          [
            {
              "node": "Task Owner",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            },
            {
              "node": "Fetch the created annd assigned tasks in pas 1 hr",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Observers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Observers": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": {
      "node:Schedule Trigger": {
        "recurrenceRules": []
      }
    },
    "meta": null,
    "pinData": {},
    "versionId": "9a4b0519-88f8-4d9e-9942-a806057776e4",
    "activeVersionId": "9a4b0519-88f8-4d9e-9942-a806057776e4",
    "versionCounter": 35,
    "triggerCount": 2,
    "shared": [
      {
        "updatedAt": "2026-04-15T11:50:22.885Z",
        "createdAt": "2026-04-15T11:50:22.885Z",
        "role": "workflow:owner",
        "workflowId": "8q7DFmOsEqpwbqlZ",
        "projectId": "s9jeiIUr8G6hBG6i",
        "project": {
          "updatedAt": "2026-01-28T12:34:21.552Z",
          "createdAt": "2025-12-24T09:57:24.391Z",
          "id": "s9jeiIUr8G6hBG6i",
          "name": "N8N Admin <n8n@lockated.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
          "projectRelations": [
            {
              "updatedAt": "2025-12-24T09:57:24.391Z",
              "createdAt": "2025-12-24T09:57:24.391Z",
              "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "projectId": "s9jeiIUr8G6hBG6i",
              "user": {
                "updatedAt": "2026-04-29T19:04:52.000Z",
                "createdAt": "2025-12-24T09:57:23.917Z",
                "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
                "email": "n8n@lockated.com",
                "firstName": "N8N",
                "lastName": "Admin",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "automationGoalDevops": [
                    "ci-cd",
                    "cloud-infrastructure-orchestration",
                    "monitoring-alerting",
                    "reporting"
                  ],
                  "companyType": "saas",
                  "role": "it"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                  "userActivatedAt": 1767166205042,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1770088091114
                  },
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-04-29",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [
      {
        "updatedAt": "2026-04-15T11:32:35.314Z",
        "createdAt": "2026-04-15T11:32:35.314Z",
        "id": "L0EeV7qZEpOHtqXt",
        "name": "Production Ready"
      },
      {
        "updatedAt": "2026-04-15T11:50:19.612Z",
        "createdAt": "2026-04-15T11:50:19.612Z",
        "id": "Uq7B4y56s5FTtmhz",
        "name": "Module 2.1 - SUBTASKS"
      }
    ],
    "parentFolder": {
      "updatedAt": "2026-04-15T11:49:33.471Z",
      "createdAt": "2026-04-15T11:49:33.471Z",
      "id": "JZBEQrtRyogrut64",
      "name": "Production Ready",
      "parentFolderId": "2EgLHgrVJNh2U0Rt"
    },
    "activeVersion": {
      "updatedAt": "2026-04-16T09:12:09.000Z",
      "createdAt": "2026-04-16T09:12:07.577Z",
      "versionId": "9a4b0519-88f8-4d9e-9942-a806057776e4",
      "workflowId": "8q7DFmOsEqpwbqlZ",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "87eae782-de2a-408a-b9c2-a5e843614da5",
            "responseMode": "responseNode",
            "options": {}
          },
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2.1,
          "position": [
            672,
            160
          ],
          "id": "423f11a8-7990-4458-81dc-0b5d35447d0a",
          "name": "Webhook",
          "webhookId": "87eae782-de2a-408a-b9c2-a5e843614da5",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{$json.responsible_person_email}}\n",
            "subject": "=New SubTask Assigned: {{$json.subtask_title}}\n\n\n",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{$json.responsible_person_first_name}} {{$json.responsible_person_last_name}},\n  </p>\n\n  <p>\n    You have been assigned a new subtask requiring your attention.\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Subtask Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Description</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.description}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.status}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Priority</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.priority}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Assigned To</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        {{$json.responsible_person_first_name}} {{$json.responsible_person_last_name}}\n      </td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Start Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_start_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>End Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_end_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Estimated Time (hrs)</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_estimated_time}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Parent Task</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.parent_task_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.subtask_id}}\" target=\"_blank\">\n          View Subtask Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    Please begin execution and keep the subtask status updated.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>Task Management System</strong>\n  </p>\n\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            368,
            192
          ],
          "id": "4573fe90-f728-48cf-a833-4873e66fe4c4",
          "name": "Task Owner",
          "webhookId": "788543c0-d7b4-4328-9c85-f63ee44161fa",
          "credentials": {
            "smtp": {
              "id": "e6BxRubia0RizPKp",
              "name": "Lockated Local SMTP"
            }
          }
        },
        {
          "parameters": {
            "respondWith": "allIncomingItems",
            "options": {}
          },
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.5,
          "position": [
            640,
            416
          ],
          "id": "8b94422c-ad1a-44f1-bd86-402ebc870f3a",
          "name": "Respond to Webhook",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  st.id AS subtask_id,\n  st.title AS subtask_title,\n  st.description,\n  st.status,\n  st.priority,\n  st.target_date AS subtask_target_date,\n  st.created_at AS subtask_created_at,\n  st.parent_id,\n  st.estimated_hour AS subtask_estimated_time,\n\n  CONVERT_TZ(st.expected_start_date, '+00:00', '+05:30') AS subtask_start_date,\n  CONVERT_TZ(st.target_date, '+00:00', '+05:30') AS subtask_end_date,\n\n  u.id AS responsible_person_id,\n  u.firstname AS responsible_person_first_name,\n  u.lastname AS responsible_person_last_name,\n  u.email AS responsible_person_email,\n\n  pt.id AS parent_task_id,\n  pt.title AS parent_task_title,\n\n  m.id AS milestone_id,\n  m.title AS milestone_title,\n\n  pm.id AS project_id,\n  pm.title AS project_title,\n\n  GROUP_CONCAT(obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(obs.email ORDER BY obs.id) AS observer_emails\n\nFROM task_managements st\n\nJOIN spree_users u\n  ON u.id = st.responsible_person_id\n\nLEFT JOIN task_managements pt\n  ON pt.id = st.parent_id\n\nLEFT JOIN milestones m\n  ON m.id = pt.milestone_id\n\nLEFT JOIN project_managements pm\n  ON pm.id = pt.project_management_id\n\nLEFT JOIN task_users tu\n  ON tu.task_id = st.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  st.created_at >= UTC_TIMESTAMP() - INTERVAL 10 MINUTE\n  AND st.parent_id IS NOT NULL\n  AND u.organization_id IN (13, 14, 59, 84)\n\nGROUP BY st.id;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            96,
            208
          ],
          "id": "b28c6095-cabd-4a0f-9635-c9b0398432bb",
          "name": "Fetch the created annd assigned tasks in pas 1 hr",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "cSpNSxxLQn5eFDMK",
              "name": "Task Management Production Database"
            }
          }
        },
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "minutes",
                  "minutesInterval": 10
                }
              ]
            }
          },
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.3,
          "position": [
            -176,
            464
          ],
          "id": "8e5ddf73-d071-4202-9514-f9bc428e80c4",
          "name": "Schedule Trigger"
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT * from task_managements ORDER by created_at DESC LIMIT 5;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            0,
            0
          ],
          "id": "92ed5779-0112-4fe3-9a88-3cce8f1218ea",
          "name": "Execute a SQL query",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "FGCPCtEG47rFAJ4J",
              "name": "New FM UAT Task Management Database"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  st.id AS subtask_id,\n  st.title AS subtask_title,\n  st.description,\n  st.status,\n  st.priority,\n  st.target_date AS subtask_target_date,\n  st.created_at AS subtask_created_at,\n  st.parent_id,\n  st.estimated_hour AS subtask_estimated_time,\n\n  CONVERT_TZ(st.expected_start_date, '+00:00', '+05:30') AS subtask_start_date,\n  CONVERT_TZ(st.target_date, '+00:00', '+05:30') AS subtask_end_date,\n\n  u.id AS responsible_person_id,\n  u.firstname AS responsible_person_first_name,\n  u.lastname AS responsible_person_last_name,\n  u.email AS responsible_person_email,\n\n  pt.id AS parent_task_id,\n  pt.title AS parent_task_title,\n\n  m.id AS milestone_id,\n  m.title AS milestone_title,\n\n  pm.id AS project_id,\n  pm.title AS project_title\n\nFROM task_managements st\n\nJOIN spree_users u\n  ON u.id = st.responsible_person_id\n\nLEFT JOIN task_managements pt\n  ON pt.id = st.parent_id\n\n-- milestone (can be NULL safely)\nLEFT JOIN milestones m\n  ON m.id = pt.milestone_id\n\n-- ✅ FIX: project directly from parent task\nLEFT JOIN project_managements pm\n  ON pm.id = pt.project_management_id\n\nWHERE\n  st.created_at >= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n  AND st.parent_id IS NOT NULL;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -160,
            640
          ],
          "id": "2722a8fd-1b86-48f0-936c-f2aab7112453",
          "name": "Fetch the created annd assigned tasks in pas 1 hr1 Without Observers",
          "credentials": {
            "mySql": {
              "id": "FGCPCtEG47rFAJ4J",
              "name": "New FM UAT Task Management Database"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  st.id AS subtask_id,\n  st.title AS subtask_title,\n  st.description,\n  st.status,\n  st.priority,\n  st.target_date AS subtask_target_date,\n  st.created_at AS subtask_created_at,\n  st.parent_id,\n  st.estimated_hour AS subtask_estimated_time,\n\n  CONVERT_TZ(st.expected_start_date, '+00:00', '+05:30') AS subtask_start_date,\n  CONVERT_TZ(st.target_date, '+00:00', '+05:30') AS subtask_end_date,\n\n  u.id AS responsible_person_id,\n  u.firstname AS responsible_person_first_name,\n  u.lastname AS responsible_person_last_name,\n  u.email AS responsible_person_email,\n\n  pt.id AS parent_task_id,\n  pt.title AS parent_task_title,\n\n  m.id AS milestone_id,\n  m.title AS milestone_title,\n\n  pm.id AS project_id,\n  pm.title AS project_title\n\nFROM task_managements st\n\nJOIN spree_users u\n  ON u.id = st.responsible_person_id\n\nLEFT JOIN task_managements pt\n  ON pt.id = st.parent_id\n\n-- milestone (can be NULL safely)\nLEFT JOIN milestones m\n  ON m.id = pt.milestone_id\n\n-- ✅ FIX: project directly from parent task\nLEFT JOIN project_managements pm\n  ON pm.id = pt.project_management_id\n\nWHERE\n  st.created_at >= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n  AND st.parent_id IS NOT NULL;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            176,
            512
          ],
          "id": "ad1f35f6-9f31-47b1-8831-a1067a2c426e",
          "name": "Fetch the created annd assigned tasks in pas 1 hr1 Without Observer",
          "credentials": {
            "mySql": {
              "id": "FGCPCtEG47rFAJ4J",
              "name": "New FM UAT Task Management Database"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  // Split observer fields by comma (from GROUP_CONCAT)\n  const emails = (item.json.observer_emails || '').split(',');\n  const firstNames = (item.json.observer_first_names || '').split(',');\n  const lastNames = (item.json.observer_last_names || '').split(',');\n\n  for (let i = 0; i < emails.length; i++) {\n    if (!emails[i]) continue;\n\n    items.push({\n      json: {\n        ...item.json, // keep all subtask details\n\n        observer_email: emails[i].trim(),\n        observer_first_name: firstNames[i]?.trim(),\n        observer_last_name: lastNames[i]?.trim()\n      }\n    });\n  }\n}\n\nreturn items;"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            320,
            384
          ],
          "id": "1a593c61-1578-4363-b6d8-a552af62fdd6",
          "name": "Code in JavaScript",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{ $json.observer_email }}",
            "subject": "=You have been added as an observer to the SubTask: {{$json.subtask_title}}\n\n\n",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{ $json.observer_first_name }} {{ $json.observer_last_name }},\n  </p>\n\n  <p>\n    You have been added as an observer to this task to monitor its progress.\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Subtask Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Description</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.description}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.status}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Priority</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.priority}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Assigned To</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        {{$json.responsible_person_first_name}} {{$json.responsible_person_last_name}}\n      </td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Start Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_start_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>End Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_end_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Estimated Time (hrs)</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_estimated_time}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Parent Task</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.parent_task_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.subtask_id}}\" target=\"_blank\">\n          View Subtask Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    No action is required from your side. You will be notified of any updates.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>Task Management System</strong>\n  </p>\n\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            512,
            560
          ],
          "id": "4112d809-032b-42ae-839d-b3315cbceebd",
          "name": "Observers",
          "webhookId": "627d7456-3466-4474-9f9b-a74667ca69c8",
          "credentials": {
            "smtp": {
              "id": "e6BxRubia0RizPKp",
              "name": "Lockated Local SMTP"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  st.id AS subtask_id,\n  st.title AS subtask_title,\n  st.description,\n  st.status,\n  st.priority,\n  st.target_date AS subtask_target_date,\n  st.created_at AS subtask_created_at,\n  st.parent_id,\n  st.estimated_hour AS subtask_estimated_time,\n\n  CONVERT_TZ(st.expected_start_date, '+00:00', '+05:30') AS subtask_start_date,\n  CONVERT_TZ(st.target_date, '+00:00', '+05:30') AS subtask_end_date,\n\n  -- Responsible person\n  u.id AS responsible_person_id,\n  u.firstname AS responsible_person_first_name,\n  u.lastname AS responsible_person_last_name,\n  u.email AS responsible_person_email,\n\n  -- Parent task info\n  pt.id AS parent_task_id,\n  pt.title AS parent_task_title,\n\n  -- Milestone\n  m.id AS milestone_id,\n  m.title AS milestone_title,\n\n  -- Project (from parent task)\n  pm.id AS project_id,\n  pm.title AS project_title,\n\n  -- Observers\n  GROUP_CONCAT(DISTINCT obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(DISTINCT obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(DISTINCT obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(DISTINCT obs.email ORDER BY obs.id) AS observer_emails\n\nFROM task_managements st\n\nJOIN spree_users u\n  ON u.id = st.responsible_person_id\n\nLEFT JOIN task_managements pt\n  ON pt.id = st.parent_id\n\nLEFT JOIN milestones m\n  ON m.id = pt.milestone_id\n\nLEFT JOIN project_managements pm\n  ON pm.id = pt.project_management_id\n\n-- Observers from task_users (only active observers)\nLEFT JOIN task_users tu\n  ON tu.task_id = st.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  st.created_at >= UTC_TIMESTAMP() - INTERVAL 10 MINUTE\n  AND st.parent_id IS NOT NULL\n\nGROUP BY st.id;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -432,
            512
          ],
          "id": "37505803-f7f8-4ba4-b464-ae312e2a2900",
          "name": "Without organization id Fetch the created annd assigned tasks in pas 1 hr1",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "cSpNSxxLQn5eFDMK",
              "name": "Task Management Production Database"
            }
          }
        }
      ],
      "connections": {
        "Webhook": {
          "main": [
            [
              {
                "node": "Respond to Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Task Owner": {
          "main": [
            [
              {
                "node": "Respond to Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Fetch the created annd assigned tasks in pas 1 hr": {
          "main": [
            [
              {
                "node": "Task Owner",
                "type": "main",
                "index": 0
              },
              {
                "node": "Code in JavaScript",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Schedule Trigger": {
          "main": [
            [
              {
                "node": "Execute a SQL query",
                "type": "main",
                "index": 0
              },
              {
                "node": "Fetch the created annd assigned tasks in pas 1 hr",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code in JavaScript": {
          "main": [
            [
              {
                "node": "Observers",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Observers": {
          "main": [
            [
              {
                "node": "Respond to Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "N8N Admin",
      "name": "Version 9a4b0519",
      "description": "",
      "autosaved": false,
      "workflowPublishHistory": [
        {
          "createdAt": "2026-04-16T09:12:09.796Z",
          "id": 151,
          "workflowId": "8q7DFmOsEqpwbqlZ",
          "versionId": "9a4b0519-88f8-4d9e-9942-a806057776e4",
          "event": "activated",
          "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98"
        }
      ]
    },
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "2d35b80d19c3bd9fe06dca9652d2820bdd57e12ca86fd2c91802f705e5a25d27"
  }
}