n8n Backup - 30 April 2026/Production___SubTask_moved_in_Kanban__To_Do___In_Progress__copy_3HusV1evxXX3P67Q.json
{
  "data": {
    "updatedAt": "2026-04-16T09:00:09.459Z",
    "createdAt": "2026-04-15T11:51:34.282Z",
    "id": "3HusV1evxXX3P67Q",
    "name": "Production - SubTask moved in Kanban (To Do → In Progress) copy",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "8c8feb48-a105-4485-8c67-9dfb5cb32e0e",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "a3ac66fa-5834-4918-9031-abca422b2735",
        "name": "Webhook",
        "webhookId": "8c8feb48-a105-4485-8c67-9dfb5cb32e0e",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.project_manager_email}}",
          "subject": "=SubTask Started: {{$json.subtask_title}}\n\n",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{$json.project_manager_firstname}} {{$json.project_manager_lastname}},\n  </p>\n\n  <p>\n    The subtask <b>{{$json.subtask_title}}</b> has been moved to <b>{{$json.new_subtask_status}}</b>, indicating that work has commenced.\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Subtask Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Parent Task</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.parent_task_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Started By</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        {{$json.started_by_firstname}} {{$json.started_by_lastname}}\n      </td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Start Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_start_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask End Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_end_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title || 'N/A'}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Estimated Time (hrs)</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_estimated_time}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.subtask_id}}\" target=\"_blank\">\n          View Subtask Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    This update is shared for visibility and tracking purposes.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>Project Monitoring Team</strong>\n  </p>\n\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          -240,
          64
        ],
        "id": "e7653cf4-1253-4165-b3fe-d88d39a2922f",
        "name": "PM",
        "webhookId": "b5d6ff99-a903-497b-93df-496c71f69bb8",
        "alwaysOutputData": true,
        "credentials": {
          "smtp": {
            "id": "e6BxRubia0RizPKp",
            "name": "Lockated Local SMTP"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          16,
          176
        ],
        "id": "dcc08d48-e2d0-4991-833e-53e7556d53b9",
        "name": "Respond to Webhook",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH latest_subtask_status AS (\n  SELECT\n    tsl.*,\n    ROW_NUMBER() OVER (\n      PARTITION BY tsl.task_management_id\n      ORDER BY tsl.created_at DESC\n    ) AS rn\n  FROM task_status_logs tsl\n  WHERE tsl.created_at >= UTC_TIMESTAMP() - INTERVAL 10 MINUTE\n)\n\nSELECT\n  lts.id AS subtask_status_log_id,\n  ANY_VALUE(lts.status) AS new_subtask_status,\n  ANY_VALUE(lts.created_at) AS status_changed_at,\n  ANY_VALUE(lts.created_by_id) AS started_by,\n\n  ANY_VALUE(su.firstname) AS started_by_firstname,\n  ANY_VALUE(su.lastname) AS started_by_lastname,\n  ANY_VALUE(su.email) AS started_by_email,\n\n  ANY_VALUE(st.id) AS subtask_id,\n  ANY_VALUE(st.title) AS subtask_title,\n  ANY_VALUE(st.description) AS subtask_description,\n  ANY_VALUE(st.priority) AS subtask_priority,\n  ANY_VALUE(st.target_date) AS subtask_target_date,\n  ANY_VALUE(st.estimated_hour) AS subtask_estimated_time,\n  ANY_VALUE(CONVERT_TZ(st.expected_start_date, '+00:00', '+05:30')) AS subtask_start_date,\n  ANY_VALUE(CONVERT_TZ(st.target_date, '+00:00', '+05:30')) AS subtask_end_date,\n\n  ANY_VALUE(st.parent_id) AS parent_task_id,\n  ANY_VALUE(pt.title) AS parent_task_title,\n\n  ANY_VALUE(m.id) AS milestone_id,\n  ANY_VALUE(m.title) AS milestone_title,\n\n  ANY_VALUE(pm.id) AS project_id,\n  ANY_VALUE(pm.title) AS project_title,\n\n  ANY_VALUE(pm_owner.email) AS project_manager_email,\n  ANY_VALUE(pm_owner.firstname) AS project_manager_firstname,\n  ANY_VALUE(pm_owner.lastname) AS project_manager_lastname,\n\n  GROUP_CONCAT(obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(obs.email ORDER BY obs.id) AS observer_emails\n\nFROM latest_subtask_status lts\n\nLEFT JOIN task_managements st\n  ON st.id = lts.task_management_id\n\nLEFT JOIN task_managements pt\n  ON pt.id = st.parent_id\n\nLEFT JOIN milestones m\n  ON m.id = pt.milestone_id\n\nLEFT JOIN project_managements pm\n  ON pm.id = COALESCE(st.project_management_id, pt.project_management_id)\n\nLEFT JOIN spree_users pm_owner\n  ON pm_owner.id = pm.owner_id\n\nLEFT JOIN spree_users su\n  ON su.id = lts.created_by_id\n\nLEFT JOIN task_users tu\n  ON tu.task_id = st.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE lts.rn = 1\n  AND st.parent_id IS NOT NULL\n  AND EXISTS (\n    SELECT 1\n    FROM spree_users su2\n    WHERE su2.id = st.responsible_person_id\n      AND su2.organization_id IN (13, 14, 59, 84)\n  )\n\nGROUP BY lts.id;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -512,
          32
        ],
        "id": "e044a5d2-3362-449c-8053-bf6ef78feefe",
        "name": "Execute a SQL query",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "cSpNSxxLQn5eFDMK",
            "name": "Task Management Production Database"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 10
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -704,
          160
        ],
        "id": "b3476d8e-c396-4d53-b3ba-8543e65159f4",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * FROM task_status_logs;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -464,
          240
        ],
        "id": "ba946654-abdc-403e-9b47-0db4ac7c407e",
        "name": "Execute a SQL query1",
        "credentials": {
          "mySql": {
            "id": "FGCPCtEG47rFAJ4J",
            "name": "New FM UAT Task Management Database"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH latest_task_status AS (\n  SELECT\n    tsl.*,\n    ROW_NUMBER() OVER (\n      PARTITION BY tsl.task_management_id\n      ORDER BY tsl.created_at DESC\n    ) AS rn\n  FROM task_status_logs tsl\n  WHERE tsl.created_at >= UTC_TIMESTAMP() - INTERVAL 10 MINUTE\n)\n\nSELECT\n  lts.id                 AS task_status_log_id,\n  lts.status             AS new_task_status,\n  lts.created_at         AS status_changed_at,\n  lts.created_by_id      AS started_by,\n\n  su.firstname           AS started_by_firstname,\n  su.lastname            AS started_by_lastname,\n  su.email               AS started_by_email,\n\n  tm.id                  AS task_id,\n  tm.title               AS task_title,\n\n  tm.parent_id           AS parent_task_id,\n\n  pm.id                  AS project_id,\n  pm.title               AS project_title,\n\n  pm_owner.email         AS project_manager_email,\n  pm_owner.firstname     AS project_manager_firstname,\n  pm_owner.lastname      AS project_manager_lastname\n\nFROM latest_task_status lts\n\nLEFT JOIN task_managements tm\n  ON tm.id = lts.task_management_id\n\nLEFT JOIN task_managements parent_tm\n  ON parent_tm.id = tm.parent_id\n\n-- 🔥 KEY FIX: take project from self OR parent\nLEFT JOIN project_managements pm\n  ON pm.id = COALESCE(\n    tm.project_management_id,\n    parent_tm.project_management_id\n  )\n\nLEFT JOIN spree_users pm_owner\n  ON pm_owner.id = pm.owner_id\n\nLEFT JOIN spree_users su\n  ON su.id = lts.created_by_id\n\nWHERE lts.rn = 1;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -528,
          -112
        ],
        "id": "bc22215a-39ab-4c73-896d-30a87e3579b2",
        "name": "Execute a SQL query2",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "FGCPCtEG47rFAJ4J",
            "name": "New FM UAT Task Management Database"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH latest_subtask_status AS (\n  SELECT\n    tsl.*,\n    ROW_NUMBER() OVER (\n      PARTITION BY tsl.task_management_id\n      ORDER BY tsl.created_at DESC\n    ) AS rn\n  FROM task_status_logs tsl\n  WHERE tsl.created_at >= UTC_TIMESTAMP() - INTERVAL 140 MINUTE\n)\n\nSELECT\n  lts.id                   AS subtask_status_log_id,\n  lts.status               AS new_subtask_status,\n  lts.created_at           AS status_changed_at,\n  lts.created_by_id        AS started_by,\n\n  su.firstname             AS started_by_firstname,\n  su.lastname              AS started_by_lastname,\n  su.email                 AS started_by_email,\n\n  st.id                    AS subtask_id,\n  st.title                 AS subtask_title,\n  st.description           AS subtask_description,\n  st.priority              AS subtask_priority,\n  st.target_date           AS subtask_target_date,\n  st.estimated_hour        AS subtask_estimated_time,\n  CONVERT_TZ(st.expected_start_date, '+00:00', '+05:30') AS subtask_start_date,\n  CONVERT_TZ(st.target_date, '+00:00', '+05:30') AS subtask_end_date,\n\n  st.parent_id             AS parent_task_id,\n  pt.title                 AS parent_task_title,\n\n  -- Milestone from parent task\n  m.id                     AS milestone_id,\n  m.title                  AS milestone_title,\n\n  -- Project from subtask OR parent task\n  pm.id                    AS project_id,\n  pm.title                 AS project_title,\n\n  pm_owner.email           AS project_manager_email,\n  pm_owner.firstname       AS project_manager_firstname,\n  pm_owner.lastname        AS project_manager_lastname\n\nFROM latest_subtask_status lts\n\n-- Subtask itself\nLEFT JOIN task_managements st\n  ON st.id = lts.task_management_id\n\n-- Parent task\nLEFT JOIN task_managements pt\n  ON pt.id = st.parent_id\n\n-- Milestone (via parent task)\nLEFT JOIN milestones m\n  ON m.id = pt.milestone_id\n\n-- Project (from subtask or parent)\nLEFT JOIN project_managements pm\n  ON pm.id = COALESCE(st.project_management_id, pt.project_management_id)\n\n-- Project manager info\nLEFT JOIN spree_users pm_owner\n  ON pm_owner.id = pm.owner_id\n\n-- User who changed status\nLEFT JOIN spree_users su\n  ON su.id = lts.created_by_id\n\nWHERE \n  lts.rn = 1\n  AND st.parent_id IS NOT NULL;  -- Only subtasks",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -688,
          352
        ],
        "id": "8f86fb97-7da9-4ac6-8a82-f049b79817f5",
        "name": "Without Observers",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "FGCPCtEG47rFAJ4J",
            "name": "New FM UAT Task Management Database"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = [];\n\n// Loop through all rows returned from the query\nfor (const item of $input.all()) {\n  // Split the observer fields (they are comma-separated from GROUP_CONCAT)\n  const emails = (item.json.observer_emails || '').split(',');\n  const firstNames = (item.json.observer_first_names || '').split(',');\n  const lastNames = (item.json.observer_last_names || '').split(',');\n\n  for (let i = 0; i < emails.length; i++) {\n    // Skip empty emails\n    if (!emails[i]) continue;\n\n    items.push({\n      json: {\n        ...item.json, // keep all other subtask info\n\n        // Observer-specific fields\n        observer_email: emails[i].trim(),\n        observer_first_name: firstNames[i]?.trim(),\n        observer_last_name: lastNames[i]?.trim()\n      }\n    });\n  }\n}\n\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -240,
          208
        ],
        "id": "8e4c049c-134e-47b2-a64b-372d365e357e",
        "name": "Code in JavaScript",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{ $json.observer_email }}",
          "subject": "=SubTask Started: {{$json.subtask_title}}\n\n",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>Dear {{$json.observer_first_name}} {{$json.observer_last_name}},</p>\n\n  <p>\n    The subtask <b>{{$json.subtask_title}}</b> has been moved to <b>{{$json.new_subtask_status}}</b> by {{$json.started_by_firstname}} {{$json.started_by_lastname}}, indicating that work has commenced., indicating that work has commenced.\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Subtask Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Parent Task</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.parent_task_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Started By</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        {{$json.started_by_firstname}} {{$json.started_by_lastname}}\n      </td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Start Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_start_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask End Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_end_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title || 'N/A'}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Estimated Time (hrs)</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_estimated_time}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.subtask_id}}\" target=\"_blank\">\n          View Subtask Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    You, as an observer for this task, this update is shared for visibility and tracking purposes.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>Project Monitoring Team</strong>\n  </p>\n\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          -64,
          320
        ],
        "id": "b69595d7-a085-4846-af15-b7626f783b71",
        "name": "Observers",
        "webhookId": "6f215ecc-6a8a-4e03-b2dc-92884d357caf",
        "alwaysOutputData": true,
        "credentials": {
          "smtp": {
            "id": "e6BxRubia0RizPKp",
            "name": "Lockated Local SMTP"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH latest_subtask_status AS (\n  SELECT\n    tsl.*,\n    ROW_NUMBER() OVER (\n      PARTITION BY tsl.task_management_id\n      ORDER BY tsl.created_at DESC\n    ) AS rn\n  FROM task_status_logs tsl\n  WHERE tsl.created_at >= UTC_TIMESTAMP() - INTERVAL 10 MINUTE\n)\n\nSELECT\n  lts.id AS subtask_status_log_id,\n  ANY_VALUE(lts.status) AS new_subtask_status,\n  ANY_VALUE(lts.created_at) AS status_changed_at,\n  ANY_VALUE(lts.created_by_id) AS started_by,\n\n  ANY_VALUE(su.firstname) AS started_by_firstname,\n  ANY_VALUE(su.lastname) AS started_by_lastname,\n  ANY_VALUE(su.email) AS started_by_email,\n\n  ANY_VALUE(st.id) AS subtask_id,\n  ANY_VALUE(st.title) AS subtask_title,\n  ANY_VALUE(st.description) AS subtask_description,\n  ANY_VALUE(st.priority) AS subtask_priority,\n  ANY_VALUE(st.target_date) AS subtask_target_date,\n  ANY_VALUE(st.estimated_hour) AS subtask_estimated_time,\n  ANY_VALUE(CONVERT_TZ(st.expected_start_date, '+00:00', '+05:30')) AS subtask_start_date,\n  ANY_VALUE(CONVERT_TZ(st.target_date, '+00:00', '+05:30')) AS subtask_end_date,\n\n  ANY_VALUE(st.parent_id) AS parent_task_id,\n  ANY_VALUE(pt.title) AS parent_task_title,\n\n  ANY_VALUE(m.id) AS milestone_id,\n  ANY_VALUE(m.title) AS milestone_title,\n\n  ANY_VALUE(pm.id) AS project_id,\n  ANY_VALUE(pm.title) AS project_title,\n\n  ANY_VALUE(pm_owner.email) AS project_manager_email,\n  ANY_VALUE(pm_owner.firstname) AS project_manager_firstname,\n  ANY_VALUE(pm_owner.lastname) AS project_manager_lastname,\n\n  GROUP_CONCAT(obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(obs.email ORDER BY obs.id) AS observer_emails\n\nFROM latest_subtask_status lts\n\nLEFT JOIN task_managements st\n  ON st.id = lts.task_management_id\n\nLEFT JOIN task_managements pt\n  ON pt.id = st.parent_id\n\nLEFT JOIN milestones m\n  ON m.id = pt.milestone_id\n\nLEFT JOIN project_managements pm\n  ON pm.id = COALESCE(st.project_management_id, pt.project_management_id)\n\nLEFT JOIN spree_users pm_owner\n  ON pm_owner.id = pm.owner_id\n\nLEFT JOIN spree_users su\n  ON su.id = lts.created_by_id\n\nLEFT JOIN task_users tu\n  ON tu.task_id = st.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE lts.rn = 1\n  AND st.parent_id IS NOT NULL\n  AND EXISTS (\n    SELECT 1\n    FROM spree_users su2\n    WHERE su2.id = st.responsible_person_id\n  )\n\nGROUP BY lts.id;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -944,
          240
        ],
        "id": "caf6e9a1-227a-49de-9550-766c19d9eebe",
        "name": "Without Organizational id Execute a SQL query3",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "cSpNSxxLQn5eFDMK",
            "name": "Task Management Production Database"
          }
        }
      }
    ],
    "connections": {
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "PM",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            },
            {
              "node": "Execute a SQL query1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Execute a SQL query2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Observers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": {
      "node:Schedule Trigger": {
        "recurrenceRules": []
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "f78e79c0-1438-4038-a731-8d8f1534a056",
    "activeVersionId": "f78e79c0-1438-4038-a731-8d8f1534a056",
    "versionCounter": 30,
    "triggerCount": 2,
    "shared": [
      {
        "updatedAt": "2026-04-15T11:51:34.291Z",
        "createdAt": "2026-04-15T11:51:34.291Z",
        "role": "workflow:owner",
        "workflowId": "3HusV1evxXX3P67Q",
        "projectId": "s9jeiIUr8G6hBG6i",
        "project": {
          "updatedAt": "2026-01-28T12:34:21.552Z",
          "createdAt": "2025-12-24T09:57:24.391Z",
          "id": "s9jeiIUr8G6hBG6i",
          "name": "N8N Admin <n8n@lockated.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
          "projectRelations": [
            {
              "updatedAt": "2025-12-24T09:57:24.391Z",
              "createdAt": "2025-12-24T09:57:24.391Z",
              "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "projectId": "s9jeiIUr8G6hBG6i",
              "user": {
                "updatedAt": "2026-04-29T19:04:52.000Z",
                "createdAt": "2025-12-24T09:57:23.917Z",
                "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
                "email": "n8n@lockated.com",
                "firstName": "N8N",
                "lastName": "Admin",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "automationGoalDevops": [
                    "ci-cd",
                    "cloud-infrastructure-orchestration",
                    "monitoring-alerting",
                    "reporting"
                  ],
                  "companyType": "saas",
                  "role": "it"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                  "userActivatedAt": 1767166205042,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1770088091114
                  },
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-04-29",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [
      {
        "updatedAt": "2026-04-15T11:32:35.314Z",
        "createdAt": "2026-04-15T11:32:35.314Z",
        "id": "L0EeV7qZEpOHtqXt",
        "name": "Production Ready"
      },
      {
        "updatedAt": "2026-04-15T11:50:19.612Z",
        "createdAt": "2026-04-15T11:50:19.612Z",
        "id": "Uq7B4y56s5FTtmhz",
        "name": "Module 2.1 - SUBTASKS"
      }
    ],
    "parentFolder": {
      "updatedAt": "2026-04-15T11:49:33.471Z",
      "createdAt": "2026-04-15T11:49:33.471Z",
      "id": "JZBEQrtRyogrut64",
      "name": "Production Ready",
      "parentFolderId": "2EgLHgrVJNh2U0Rt"
    },
    "activeVersion": {
      "updatedAt": "2026-04-16T09:00:11.000Z",
      "createdAt": "2026-04-16T09:00:09.462Z",
      "versionId": "f78e79c0-1438-4038-a731-8d8f1534a056",
      "workflowId": "3HusV1evxXX3P67Q",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "8c8feb48-a105-4485-8c67-9dfb5cb32e0e",
            "responseMode": "responseNode",
            "options": {}
          },
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2.1,
          "position": [
            0,
            0
          ],
          "id": "a3ac66fa-5834-4918-9031-abca422b2735",
          "name": "Webhook",
          "webhookId": "8c8feb48-a105-4485-8c67-9dfb5cb32e0e",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{$json.project_manager_email}}",
            "subject": "=SubTask Started: {{$json.subtask_title}}\n\n",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{$json.project_manager_firstname}} {{$json.project_manager_lastname}},\n  </p>\n\n  <p>\n    The subtask <b>{{$json.subtask_title}}</b> has been moved to <b>{{$json.new_subtask_status}}</b>, indicating that work has commenced.\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Subtask Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Parent Task</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.parent_task_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Started By</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        {{$json.started_by_firstname}} {{$json.started_by_lastname}}\n      </td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Start Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_start_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask End Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_end_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title || 'N/A'}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Estimated Time (hrs)</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_estimated_time}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.subtask_id}}\" target=\"_blank\">\n          View Subtask Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    This update is shared for visibility and tracking purposes.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>Project Monitoring Team</strong>\n  </p>\n\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            -240,
            64
          ],
          "id": "e7653cf4-1253-4165-b3fe-d88d39a2922f",
          "name": "PM",
          "webhookId": "b5d6ff99-a903-497b-93df-496c71f69bb8",
          "alwaysOutputData": true,
          "credentials": {
            "smtp": {
              "id": "e6BxRubia0RizPKp",
              "name": "Lockated Local SMTP"
            }
          }
        },
        {
          "parameters": {
            "respondWith": "allIncomingItems",
            "options": {}
          },
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.5,
          "position": [
            16,
            176
          ],
          "id": "dcc08d48-e2d0-4991-833e-53e7556d53b9",
          "name": "Respond to Webhook",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "WITH latest_subtask_status AS (\n  SELECT\n    tsl.*,\n    ROW_NUMBER() OVER (\n      PARTITION BY tsl.task_management_id\n      ORDER BY tsl.created_at DESC\n    ) AS rn\n  FROM task_status_logs tsl\n  WHERE tsl.created_at >= UTC_TIMESTAMP() - INTERVAL 10 MINUTE\n)\n\nSELECT\n  lts.id AS subtask_status_log_id,\n  ANY_VALUE(lts.status) AS new_subtask_status,\n  ANY_VALUE(lts.created_at) AS status_changed_at,\n  ANY_VALUE(lts.created_by_id) AS started_by,\n\n  ANY_VALUE(su.firstname) AS started_by_firstname,\n  ANY_VALUE(su.lastname) AS started_by_lastname,\n  ANY_VALUE(su.email) AS started_by_email,\n\n  ANY_VALUE(st.id) AS subtask_id,\n  ANY_VALUE(st.title) AS subtask_title,\n  ANY_VALUE(st.description) AS subtask_description,\n  ANY_VALUE(st.priority) AS subtask_priority,\n  ANY_VALUE(st.target_date) AS subtask_target_date,\n  ANY_VALUE(st.estimated_hour) AS subtask_estimated_time,\n  ANY_VALUE(CONVERT_TZ(st.expected_start_date, '+00:00', '+05:30')) AS subtask_start_date,\n  ANY_VALUE(CONVERT_TZ(st.target_date, '+00:00', '+05:30')) AS subtask_end_date,\n\n  ANY_VALUE(st.parent_id) AS parent_task_id,\n  ANY_VALUE(pt.title) AS parent_task_title,\n\n  ANY_VALUE(m.id) AS milestone_id,\n  ANY_VALUE(m.title) AS milestone_title,\n\n  ANY_VALUE(pm.id) AS project_id,\n  ANY_VALUE(pm.title) AS project_title,\n\n  ANY_VALUE(pm_owner.email) AS project_manager_email,\n  ANY_VALUE(pm_owner.firstname) AS project_manager_firstname,\n  ANY_VALUE(pm_owner.lastname) AS project_manager_lastname,\n\n  GROUP_CONCAT(obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(obs.email ORDER BY obs.id) AS observer_emails\n\nFROM latest_subtask_status lts\n\nLEFT JOIN task_managements st\n  ON st.id = lts.task_management_id\n\nLEFT JOIN task_managements pt\n  ON pt.id = st.parent_id\n\nLEFT JOIN milestones m\n  ON m.id = pt.milestone_id\n\nLEFT JOIN project_managements pm\n  ON pm.id = COALESCE(st.project_management_id, pt.project_management_id)\n\nLEFT JOIN spree_users pm_owner\n  ON pm_owner.id = pm.owner_id\n\nLEFT JOIN spree_users su\n  ON su.id = lts.created_by_id\n\nLEFT JOIN task_users tu\n  ON tu.task_id = st.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE lts.rn = 1\n  AND st.parent_id IS NOT NULL\n  AND EXISTS (\n    SELECT 1\n    FROM spree_users su2\n    WHERE su2.id = st.responsible_person_id\n      AND su2.organization_id IN (13, 14, 59, 84)\n  )\n\nGROUP BY lts.id;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -512,
            32
          ],
          "id": "e044a5d2-3362-449c-8053-bf6ef78feefe",
          "name": "Execute a SQL query",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "cSpNSxxLQn5eFDMK",
              "name": "Task Management Production Database"
            }
          }
        },
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "minutes",
                  "minutesInterval": 10
                }
              ]
            }
          },
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.3,
          "position": [
            -704,
            160
          ],
          "id": "b3476d8e-c396-4d53-b3ba-8543e65159f4",
          "name": "Schedule Trigger"
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT * FROM task_status_logs;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -464,
            240
          ],
          "id": "ba946654-abdc-403e-9b47-0db4ac7c407e",
          "name": "Execute a SQL query1",
          "credentials": {
            "mySql": {
              "id": "FGCPCtEG47rFAJ4J",
              "name": "New FM UAT Task Management Database"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "WITH latest_task_status AS (\n  SELECT\n    tsl.*,\n    ROW_NUMBER() OVER (\n      PARTITION BY tsl.task_management_id\n      ORDER BY tsl.created_at DESC\n    ) AS rn\n  FROM task_status_logs tsl\n  WHERE tsl.created_at >= UTC_TIMESTAMP() - INTERVAL 10 MINUTE\n)\n\nSELECT\n  lts.id                 AS task_status_log_id,\n  lts.status             AS new_task_status,\n  lts.created_at         AS status_changed_at,\n  lts.created_by_id      AS started_by,\n\n  su.firstname           AS started_by_firstname,\n  su.lastname            AS started_by_lastname,\n  su.email               AS started_by_email,\n\n  tm.id                  AS task_id,\n  tm.title               AS task_title,\n\n  tm.parent_id           AS parent_task_id,\n\n  pm.id                  AS project_id,\n  pm.title               AS project_title,\n\n  pm_owner.email         AS project_manager_email,\n  pm_owner.firstname     AS project_manager_firstname,\n  pm_owner.lastname      AS project_manager_lastname\n\nFROM latest_task_status lts\n\nLEFT JOIN task_managements tm\n  ON tm.id = lts.task_management_id\n\nLEFT JOIN task_managements parent_tm\n  ON parent_tm.id = tm.parent_id\n\n-- 🔥 KEY FIX: take project from self OR parent\nLEFT JOIN project_managements pm\n  ON pm.id = COALESCE(\n    tm.project_management_id,\n    parent_tm.project_management_id\n  )\n\nLEFT JOIN spree_users pm_owner\n  ON pm_owner.id = pm.owner_id\n\nLEFT JOIN spree_users su\n  ON su.id = lts.created_by_id\n\nWHERE lts.rn = 1;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -528,
            -112
          ],
          "id": "bc22215a-39ab-4c73-896d-30a87e3579b2",
          "name": "Execute a SQL query2",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "FGCPCtEG47rFAJ4J",
              "name": "New FM UAT Task Management Database"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "WITH latest_subtask_status AS (\n  SELECT\n    tsl.*,\n    ROW_NUMBER() OVER (\n      PARTITION BY tsl.task_management_id\n      ORDER BY tsl.created_at DESC\n    ) AS rn\n  FROM task_status_logs tsl\n  WHERE tsl.created_at >= UTC_TIMESTAMP() - INTERVAL 140 MINUTE\n)\n\nSELECT\n  lts.id                   AS subtask_status_log_id,\n  lts.status               AS new_subtask_status,\n  lts.created_at           AS status_changed_at,\n  lts.created_by_id        AS started_by,\n\n  su.firstname             AS started_by_firstname,\n  su.lastname              AS started_by_lastname,\n  su.email                 AS started_by_email,\n\n  st.id                    AS subtask_id,\n  st.title                 AS subtask_title,\n  st.description           AS subtask_description,\n  st.priority              AS subtask_priority,\n  st.target_date           AS subtask_target_date,\n  st.estimated_hour        AS subtask_estimated_time,\n  CONVERT_TZ(st.expected_start_date, '+00:00', '+05:30') AS subtask_start_date,\n  CONVERT_TZ(st.target_date, '+00:00', '+05:30') AS subtask_end_date,\n\n  st.parent_id             AS parent_task_id,\n  pt.title                 AS parent_task_title,\n\n  -- Milestone from parent task\n  m.id                     AS milestone_id,\n  m.title                  AS milestone_title,\n\n  -- Project from subtask OR parent task\n  pm.id                    AS project_id,\n  pm.title                 AS project_title,\n\n  pm_owner.email           AS project_manager_email,\n  pm_owner.firstname       AS project_manager_firstname,\n  pm_owner.lastname        AS project_manager_lastname\n\nFROM latest_subtask_status lts\n\n-- Subtask itself\nLEFT JOIN task_managements st\n  ON st.id = lts.task_management_id\n\n-- Parent task\nLEFT JOIN task_managements pt\n  ON pt.id = st.parent_id\n\n-- Milestone (via parent task)\nLEFT JOIN milestones m\n  ON m.id = pt.milestone_id\n\n-- Project (from subtask or parent)\nLEFT JOIN project_managements pm\n  ON pm.id = COALESCE(st.project_management_id, pt.project_management_id)\n\n-- Project manager info\nLEFT JOIN spree_users pm_owner\n  ON pm_owner.id = pm.owner_id\n\n-- User who changed status\nLEFT JOIN spree_users su\n  ON su.id = lts.created_by_id\n\nWHERE \n  lts.rn = 1\n  AND st.parent_id IS NOT NULL;  -- Only subtasks",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -688,
            352
          ],
          "id": "8f86fb97-7da9-4ac6-8a82-f049b79817f5",
          "name": "Without Observers",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "FGCPCtEG47rFAJ4J",
              "name": "New FM UAT Task Management Database"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const items = [];\n\n// Loop through all rows returned from the query\nfor (const item of $input.all()) {\n  // Split the observer fields (they are comma-separated from GROUP_CONCAT)\n  const emails = (item.json.observer_emails || '').split(',');\n  const firstNames = (item.json.observer_first_names || '').split(',');\n  const lastNames = (item.json.observer_last_names || '').split(',');\n\n  for (let i = 0; i < emails.length; i++) {\n    // Skip empty emails\n    if (!emails[i]) continue;\n\n    items.push({\n      json: {\n        ...item.json, // keep all other subtask info\n\n        // Observer-specific fields\n        observer_email: emails[i].trim(),\n        observer_first_name: firstNames[i]?.trim(),\n        observer_last_name: lastNames[i]?.trim()\n      }\n    });\n  }\n}\n\nreturn items;"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -240,
            208
          ],
          "id": "8e4c049c-134e-47b2-a64b-372d365e357e",
          "name": "Code in JavaScript",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{ $json.observer_email }}",
            "subject": "=SubTask Started: {{$json.subtask_title}}\n\n",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>Dear {{$json.observer_first_name}} {{$json.observer_last_name}},</p>\n\n  <p>\n    The subtask <b>{{$json.subtask_title}}</b> has been moved to <b>{{$json.new_subtask_status}}</b> by {{$json.started_by_firstname}} {{$json.started_by_lastname}}, indicating that work has commenced., indicating that work has commenced.\n  </p>\n\n  <h3 style=\"color: #2c3e50;\">Subtask Details</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Parent Task</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.parent_task_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Started By</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        {{$json.started_by_firstname}} {{$json.started_by_lastname}}\n      </td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Start Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_start_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask End Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_end_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title || 'N/A'}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Estimated Time (hrs)</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.subtask_estimated_time}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Subtask Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.subtask_id}}\" target=\"_blank\">\n          View Subtask Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    You, as an observer for this task, this update is shared for visibility and tracking purposes.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>Project Monitoring Team</strong>\n  </p>\n\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            -64,
            320
          ],
          "id": "b69595d7-a085-4846-af15-b7626f783b71",
          "name": "Observers",
          "webhookId": "6f215ecc-6a8a-4e03-b2dc-92884d357caf",
          "alwaysOutputData": true,
          "credentials": {
            "smtp": {
              "id": "e6BxRubia0RizPKp",
              "name": "Lockated Local SMTP"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "WITH latest_subtask_status AS (\n  SELECT\n    tsl.*,\n    ROW_NUMBER() OVER (\n      PARTITION BY tsl.task_management_id\n      ORDER BY tsl.created_at DESC\n    ) AS rn\n  FROM task_status_logs tsl\n  WHERE tsl.created_at >= UTC_TIMESTAMP() - INTERVAL 10 MINUTE\n)\n\nSELECT\n  lts.id AS subtask_status_log_id,\n  ANY_VALUE(lts.status) AS new_subtask_status,\n  ANY_VALUE(lts.created_at) AS status_changed_at,\n  ANY_VALUE(lts.created_by_id) AS started_by,\n\n  ANY_VALUE(su.firstname) AS started_by_firstname,\n  ANY_VALUE(su.lastname) AS started_by_lastname,\n  ANY_VALUE(su.email) AS started_by_email,\n\n  ANY_VALUE(st.id) AS subtask_id,\n  ANY_VALUE(st.title) AS subtask_title,\n  ANY_VALUE(st.description) AS subtask_description,\n  ANY_VALUE(st.priority) AS subtask_priority,\n  ANY_VALUE(st.target_date) AS subtask_target_date,\n  ANY_VALUE(st.estimated_hour) AS subtask_estimated_time,\n  ANY_VALUE(CONVERT_TZ(st.expected_start_date, '+00:00', '+05:30')) AS subtask_start_date,\n  ANY_VALUE(CONVERT_TZ(st.target_date, '+00:00', '+05:30')) AS subtask_end_date,\n\n  ANY_VALUE(st.parent_id) AS parent_task_id,\n  ANY_VALUE(pt.title) AS parent_task_title,\n\n  ANY_VALUE(m.id) AS milestone_id,\n  ANY_VALUE(m.title) AS milestone_title,\n\n  ANY_VALUE(pm.id) AS project_id,\n  ANY_VALUE(pm.title) AS project_title,\n\n  ANY_VALUE(pm_owner.email) AS project_manager_email,\n  ANY_VALUE(pm_owner.firstname) AS project_manager_firstname,\n  ANY_VALUE(pm_owner.lastname) AS project_manager_lastname,\n\n  GROUP_CONCAT(obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(obs.email ORDER BY obs.id) AS observer_emails\n\nFROM latest_subtask_status lts\n\nLEFT JOIN task_managements st\n  ON st.id = lts.task_management_id\n\nLEFT JOIN task_managements pt\n  ON pt.id = st.parent_id\n\nLEFT JOIN milestones m\n  ON m.id = pt.milestone_id\n\nLEFT JOIN project_managements pm\n  ON pm.id = COALESCE(st.project_management_id, pt.project_management_id)\n\nLEFT JOIN spree_users pm_owner\n  ON pm_owner.id = pm.owner_id\n\nLEFT JOIN spree_users su\n  ON su.id = lts.created_by_id\n\nLEFT JOIN task_users tu\n  ON tu.task_id = st.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE lts.rn = 1\n  AND st.parent_id IS NOT NULL\n  AND EXISTS (\n    SELECT 1\n    FROM spree_users su2\n    WHERE su2.id = st.responsible_person_id\n  )\n\nGROUP BY lts.id;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -944,
            240
          ],
          "id": "caf6e9a1-227a-49de-9550-766c19d9eebe",
          "name": "Without Organizational id Execute a SQL query3",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "cSpNSxxLQn5eFDMK",
              "name": "Task Management Production Database"
            }
          }
        }
      ],
      "connections": {
        "Execute a SQL query": {
          "main": [
            [
              {
                "node": "PM",
                "type": "main",
                "index": 0
              },
              {
                "node": "Code in JavaScript",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Schedule Trigger": {
          "main": [
            [
              {
                "node": "Execute a SQL query",
                "type": "main",
                "index": 0
              },
              {
                "node": "Execute a SQL query1",
                "type": "main",
                "index": 0
              },
              {
                "node": "Execute a SQL query2",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code in JavaScript": {
          "main": [
            [
              {
                "node": "Observers",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "N8N Admin",
      "name": "Version f78e79c0",
      "description": "",
      "autosaved": false,
      "workflowPublishHistory": [
        {
          "createdAt": "2026-04-16T09:00:11.524Z",
          "id": 148,
          "workflowId": "3HusV1evxXX3P67Q",
          "versionId": "f78e79c0-1438-4038-a731-8d8f1534a056",
          "event": "activated",
          "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98"
        }
      ]
    },
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "8a0356335095998eee1e1024201bb9aebc352ea3bb6c9d60305decfedd0f6eea"
  }
}