n8n Backup - 30 April 2026/Role_assigned_removed_Vz13HsBBpCHnozoY.json
{
  "data": {
    "updatedAt": "2026-01-12T08:26:52.935Z",
    "createdAt": "2025-12-26T08:59:40.689Z",
    "id": "Vz13HsBBpCHnozoY",
    "name": "Role assigned/removed",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          128,
          16
        ],
        "id": "b0183413-481d-4dfe-aedd-a26c1851beb9",
        "name": "Respond to Webhook",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "role-assigned-removed",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -464,
          -144
        ],
        "id": "691d10af-c82d-43f4-9be7-f3efd74c13d1",
        "name": "Webhook",
        "webhookId": "f87eaf31-a4ff-49b5-81ed-7f0789499113",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "fromEmail": "notificaions@lockated.com",
          "toEmail": "heypiyush112@gmail.com",
          "subject": "System Role Update Notification",
          "html": "=Dear {{$json.RecipientName}},\n\nYour system role has been {{$json.action}}.\n\nDetails:\n• Role: {{$json.role_name}}\n• Effective Date: {{$json.updated_at}}\n\nFor any clarification, please contact system administration.\n\nRegards,\nUser Administration\n",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          -144,
          -48
        ],
        "id": "26ee6f65-07d8-4791-a590-5ececf727b9c",
        "name": "User",
        "webhookId": "b9eb0545-fec3-4212-9701-1f2f846c0c63",
        "alwaysOutputData": true,
        "credentials": {
          "smtp": {
            "id": "m6pGNPu76sBcBXtf",
            "name": "Task Management SMTP Account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "User": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "5e03d324-0758-4310-b2f8-05966fabdd7c",
    "activeVersionId": null,
    "versionCounter": 45,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2025-12-26T08:59:40.692Z",
        "createdAt": "2025-12-26T08:59:40.692Z",
        "role": "workflow:owner",
        "workflowId": "Vz13HsBBpCHnozoY",
        "projectId": "s9jeiIUr8G6hBG6i",
        "project": {
          "updatedAt": "2026-01-28T12:34:21.552Z",
          "createdAt": "2025-12-24T09:57:24.391Z",
          "id": "s9jeiIUr8G6hBG6i",
          "name": "N8N Admin <n8n@lockated.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
          "projectRelations": [
            {
              "updatedAt": "2025-12-24T09:57:24.391Z",
              "createdAt": "2025-12-24T09:57:24.391Z",
              "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "projectId": "s9jeiIUr8G6hBG6i",
              "user": {
                "updatedAt": "2026-04-29T19:04:52.000Z",
                "createdAt": "2025-12-24T09:57:23.917Z",
                "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
                "email": "n8n@lockated.com",
                "firstName": "N8N",
                "lastName": "Admin",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "automationGoalDevops": [
                    "ci-cd",
                    "cloud-infrastructure-orchestration",
                    "monitoring-alerting",
                    "reporting"
                  ],
                  "companyType": "saas",
                  "role": "it"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                  "userActivatedAt": 1767166205042,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1770088091114
                  },
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-04-29",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [],
    "parentFolder": {
      "updatedAt": "2025-12-26T09:00:07.087Z",
      "createdAt": "2025-12-26T09:00:07.087Z",
      "id": "dwpm7igDIDsDlEHw",
      "name": "Module 11 - User Management & Roles",
      "parentFolderId": null
    },
    "activeVersion": null,
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "977eda848fc87482d080d9088d9d8beda42c99ddae853d57931949e37da9824b"
  }
}