n8n Backup - 02 May 2026/Production___Due_date_approaching_copy_Is4FYjGE14BKRfYn.json
{
  "data": {
    "updatedAt": "2026-04-16T09:25:25.501Z",
    "createdAt": "2026-04-15T11:46:08.218Z",
    "id": "Is4FYjGE14BKRfYn",
    "name": "Production - Due date approaching copy",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "5f51f01f-103c-4c2a-8468-ab33519e555b",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -448,
          -32
        ],
        "id": "4814995c-7def-4641-91a6-058f75e76631",
        "name": "Webhook",
        "webhookId": "5f51f01f-103c-4c2a-8468-ab33519e555b",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          272,
          -80
        ],
        "id": "a9d94c0b-c8e7-4383-9403-c2b39711d56b",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.task_owner_email}}",
          "subject": "=Task Due Reminder (24 Hours): {{$json.task_title}}\n\n",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <p>Dear {{$json.task_owner_firstname}} {{$json.task_owner_lastname}},</p>\n\n  <p>This is a reminder that the task <strong>{{$json.task_title}}</strong> is due within the next <strong>24 hours</strong>.</p>\n\n  <h3 style=\"color: #2c3e50;\">Task Schedule</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_title}}</td>\n    </tr>\n\n<tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Assigned To</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_owner_firstname}} {{$json.task_owner_lastname}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_created_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task End / Due Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_due_date}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_status}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title || 'N/A'}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task URL</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.task_id}}\" target=\"_blank\">\n          View Task\n        </a>\n      </td>\n    </tr>\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    Please prioritize completion or update the task with revised timelines if required.\n  </p>\n\n  <p>Regards,<br/>\n    <strong>Task Management System</strong>\n  </p>\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          32,
          -176
        ],
        "id": "97d406d5-5e0d-4c5d-8167-a42e97c3715b",
        "name": "Task Owner",
        "webhookId": "c9be3c9f-8775-4a3f-aef3-383f8c5d62ed",
        "alwaysOutputData": true,
        "credentials": {
          "smtp": {
            "id": "e6BxRubia0RizPKp",
            "name": "Lockated Local SMTP"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  t.id                    AS task_id,\n  t.title                 AS task_title,\n  CONVERT_TZ(t.created_at, '+00:00', '+05:30')            AS task_created_at,\n  t.target_date           AS task_due_date,\n  t.status                AS task_status,\n  t.parent_id             AS parent_id,\n\n  TIMESTAMPDIFF(\n    HOUR,\n    UTC_TIMESTAMP(),\n    t.target_date\n  )                       AS hours_remaining,\n\n  rp.email                AS task_owner_email,\n  rp.firstname            AS task_owner_firstname,\n  rp.lastname             AS task_owner_lastname,\n\n  m.id                    AS milestone_id,\n  m.title                 AS milestone_title,\n\n  pm.id                   AS project_id,\n  pm.title                AS project_title,\n\n  GROUP_CONCAT(obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(obs.email ORDER BY obs.id) AS observer_emails\n\nFROM task_managements t\n\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\nJOIN project_managements pm\n  ON pm.id = t.project_management_id\n\nLEFT JOIN task_users tu\n  ON tu.task_id = t.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  t.status NOT IN ('completed', 'closed')\n  AND t.target_date > UTC_TIMESTAMP()\n  AND t.target_date <= UTC_TIMESTAMP() + INTERVAL 40 HOUR\n  AND t.parent_id IS NULL\n  AND rp.organization_id IN (13, 14, 59, 84)\n\nGROUP BY t.id;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -192,
          -272
        ],
        "id": "f77e687d-3494-4e1c-b7a0-76fafe8dfe18",
        "name": "Execute a SQL query",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "cSpNSxxLQn5eFDMK",
            "name": "Task Management Production Database"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 10,
                "triggerAtMinute": 20
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -480,
          -288
        ],
        "id": "4b9d0784-6aef-48bc-b1bf-99c9314f0f8b",
        "name": "Schedule Trigger",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  t.id                    AS task_id,\n  t.title                 AS task_title,\n  t.created_at            AS task_created_at,\n  t.target_date           AS task_due_date,\n  t.status                AS task_status,\n  t.parent_id             AS parent_id,\n\n  -- hours remaining\n  TIMESTAMPDIFF(\n    HOUR,\n    UTC_TIMESTAMP(),\n    t.target_date\n  )                       AS hours_remaining,\n\n  -- task owner\n  rp.email                AS task_owner_email,\n  rp.firstname            AS task_owner_firstname,\n  rp.lastname             AS task_owner_lastname,\n\n  -- milestone info\n  m.id                    AS milestone_id,\n  m.title                 AS milestone_title,\n\n  -- project info\n  pm.id                   AS project_id,\n  pm.title                AS project_title\n\nFROM task_managements t\n\n-- task owner\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\n-- milestone (optional)\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\n-- project\nJOIN project_managements pm\n  ON pm.id = t.project_management_id\n\nWHERE\n  t.status NOT IN ('completed', 'closed')\n  AND t.target_date > UTC_TIMESTAMP()                     -- not overdue\n  AND t.target_date <= UTC_TIMESTAMP() + INTERVAL 40 HOUR\n  AND t.parent_id IS NULL;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -208,
          64
        ],
        "id": "773e30a9-3dc3-4b6f-acdc-2360e00edd48",
        "name": "Without Observers",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "FGCPCtEG47rFAJ4J",
            "name": "New FM UAT Task Management Database"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const emails = (item.json.observer_emails || '').split(',');\n  const firstNames = (item.json.observer_first_names || '').split(',');\n  const lastNames = (item.json.observer_last_names || '').split(',');\n\n  for (let i = 0; i < emails.length; i++) {\n    if (!emails[i]) continue;\n\n    items.push({\n      json: {\n        ...item.json,\n        observer_email: emails[i].trim(),\n        observer_first_name: firstNames[i]?.trim(),\n        observer_last_name: lastNames[i]?.trim()\n      }\n    });\n  }\n}\n\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "id": "dbf5ae29-20ca-48cc-9461-14fc86161ba3",
        "name": "Code in JavaScript",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.observer_email}}",
          "subject": "=Task Due Reminder (24 Hours): {{$json.task_title}}\n\n",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <p>Dear {{$json.observer_first_name}} {{$json.observer_last_name}},</p>\n\n  <p>You, as an observer to this task, this is a reminder that the task <strong>{{$json.task_title}}</strong> is due within the next <strong>24 hours</strong>.</p>\n\n  <h3 style=\"color: #2c3e50;\">Task Schedule</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_title}}</td>\n    </tr>\n\n<tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Assigned To</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_owner_firstname}} {{$json.task_owner_lastname}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_created_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task End / Due Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_due_date}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_status}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title || 'N/A'}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task URL</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.task_id}}\" target=\"_blank\">\n          View Task\n        </a>\n      </td>\n    </tr>\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    You, as an observer, please prioritize completion or update the task with revised timelines if required.\n  </p>\n\n  <p>Regards,<br/>\n    <strong>Task Management System</strong>\n  </p>\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          208,
          96
        ],
        "id": "cf2fdfa9-c9e3-42a4-a119-b2ee7d0d1cc9",
        "name": "Observers",
        "webhookId": "4ef6c85f-0c05-41bc-9a11-782cac7b4e04",
        "alwaysOutputData": true,
        "credentials": {
          "smtp": {
            "id": "e6BxRubia0RizPKp",
            "name": "Lockated Local SMTP"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  t.id                    AS task_id,\n  t.title                 AS task_title,\n  CONVERT_TZ(t.created_at, '+00:00', '+05:30')            AS task_created_at,\n  t.target_date           AS task_due_date,\n  t.status                AS task_status,\n  t.parent_id             AS parent_id,\n\n  -- hours remaining\n  TIMESTAMPDIFF(\n    HOUR,\n    UTC_TIMESTAMP(),\n    t.target_date\n  )                       AS hours_remaining,\n\n  -- task owner\n  rp.email                AS task_owner_email,\n  rp.firstname            AS task_owner_firstname,\n  rp.lastname             AS task_owner_lastname,\n\n  -- milestone info\n  m.id                    AS milestone_id,\n  m.title                 AS milestone_title,\n\n  -- project info\n  pm.id                   AS project_id,\n  pm.title                AS project_title,\n\n  -- observers (aggregated)\n  GROUP_CONCAT(DISTINCT obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(DISTINCT obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(DISTINCT obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(DISTINCT obs.email ORDER BY obs.id) AS observer_emails\n\nFROM task_managements t\n\n-- task owner\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\n-- milestone (optional)\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\n-- project\nJOIN project_managements pm\n  ON pm.id = t.project_management_id\n\n-- observers\nLEFT JOIN task_users tu\n  ON tu.task_id = t.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  t.status NOT IN ('completed', 'closed')\n  AND t.target_date > UTC_TIMESTAMP()                     -- not overdue\n  AND t.target_date <= UTC_TIMESTAMP() + INTERVAL 40 HOUR\n  AND t.parent_id IS NULL\n\nGROUP BY t.id;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -640,
          80
        ],
        "id": "b22a3aab-f28d-42ed-8127-dbd32fc684b1",
        "name": "Without Organiation id Execute a SQL query1",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "cSpNSxxLQn5eFDMK",
            "name": "Task Management Production Database"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          []
        ]
      },
      "Task Owner": {
        "main": [
          []
        ]
      },
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "Task Owner",
              "type": "main",
              "index": 0
            },
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Observers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": {
      "node:Schedule Trigger": {
        "recurrenceRules": []
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "785465b5-99c4-4db8-8518-53ca5af37aef",
    "activeVersionId": "785465b5-99c4-4db8-8518-53ca5af37aef",
    "versionCounter": 65,
    "triggerCount": 2,
    "shared": [
      {
        "updatedAt": "2026-04-15T11:46:08.223Z",
        "createdAt": "2026-04-15T11:46:08.223Z",
        "role": "workflow:owner",
        "workflowId": "Is4FYjGE14BKRfYn",
        "projectId": "s9jeiIUr8G6hBG6i",
        "project": {
          "updatedAt": "2026-01-28T12:34:21.552Z",
          "createdAt": "2025-12-24T09:57:24.391Z",
          "id": "s9jeiIUr8G6hBG6i",
          "name": "N8N Admin <n8n@lockated.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
          "projectRelations": [
            {
              "updatedAt": "2025-12-24T09:57:24.391Z",
              "createdAt": "2025-12-24T09:57:24.391Z",
              "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "projectId": "s9jeiIUr8G6hBG6i",
              "user": {
                "updatedAt": "2026-05-02T07:29:56.000Z",
                "createdAt": "2025-12-24T09:57:23.917Z",
                "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
                "email": "n8n@lockated.com",
                "firstName": "N8N",
                "lastName": "Admin",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "automationGoalDevops": [
                    "ci-cd",
                    "cloud-infrastructure-orchestration",
                    "monitoring-alerting",
                    "reporting"
                  ],
                  "companyType": "saas",
                  "role": "it"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                  "userActivatedAt": 1767166205042,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1770088091114
                  },
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-05-01",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [
      {
        "updatedAt": "2026-04-15T11:32:35.314Z",
        "createdAt": "2026-04-15T11:32:35.314Z",
        "id": "L0EeV7qZEpOHtqXt",
        "name": "Production Ready"
      },
      {
        "updatedAt": "2026-04-15T11:43:40.011Z",
        "createdAt": "2026-04-15T11:43:40.011Z",
        "id": "eTJLoPlvourxGwI2",
        "name": "Module 2 - TASKS, KANBAN"
      }
    ],
    "parentFolder": {
      "updatedAt": "2026-04-15T11:42:46.759Z",
      "createdAt": "2026-04-15T11:42:46.759Z",
      "id": "wEunMK7VV3S5FJHt",
      "name": "Production Ready",
      "parentFolderId": "PU5w19QcjKw8DNO8"
    },
    "activeVersion": {
      "updatedAt": "2026-04-16T09:25:27.000Z",
      "createdAt": "2026-04-16T09:25:25.502Z",
      "versionId": "785465b5-99c4-4db8-8518-53ca5af37aef",
      "workflowId": "Is4FYjGE14BKRfYn",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "5f51f01f-103c-4c2a-8468-ab33519e555b",
            "responseMode": "responseNode",
            "options": {}
          },
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 2.1,
          "position": [
            -448,
            -32
          ],
          "id": "4814995c-7def-4641-91a6-058f75e76631",
          "name": "Webhook",
          "webhookId": "5f51f01f-103c-4c2a-8468-ab33519e555b",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "respondWith": "allIncomingItems",
            "options": {}
          },
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1.5,
          "position": [
            272,
            -80
          ],
          "id": "a9d94c0b-c8e7-4383-9403-c2b39711d56b",
          "name": "Respond to Webhook"
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{$json.task_owner_email}}",
            "subject": "=Task Due Reminder (24 Hours): {{$json.task_title}}\n\n",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <p>Dear {{$json.task_owner_firstname}} {{$json.task_owner_lastname}},</p>\n\n  <p>This is a reminder that the task <strong>{{$json.task_title}}</strong> is due within the next <strong>24 hours</strong>.</p>\n\n  <h3 style=\"color: #2c3e50;\">Task Schedule</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_title}}</td>\n    </tr>\n\n<tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Assigned To</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_owner_firstname}} {{$json.task_owner_lastname}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_created_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task End / Due Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_due_date}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_status}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title || 'N/A'}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task URL</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.task_id}}\" target=\"_blank\">\n          View Task\n        </a>\n      </td>\n    </tr>\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    Please prioritize completion or update the task with revised timelines if required.\n  </p>\n\n  <p>Regards,<br/>\n    <strong>Task Management System</strong>\n  </p>\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            32,
            -176
          ],
          "id": "97d406d5-5e0d-4c5d-8167-a42e97c3715b",
          "name": "Task Owner",
          "webhookId": "c9be3c9f-8775-4a3f-aef3-383f8c5d62ed",
          "alwaysOutputData": true,
          "credentials": {
            "smtp": {
              "id": "e6BxRubia0RizPKp",
              "name": "Lockated Local SMTP"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  t.id                    AS task_id,\n  t.title                 AS task_title,\n  CONVERT_TZ(t.created_at, '+00:00', '+05:30')            AS task_created_at,\n  t.target_date           AS task_due_date,\n  t.status                AS task_status,\n  t.parent_id             AS parent_id,\n\n  TIMESTAMPDIFF(\n    HOUR,\n    UTC_TIMESTAMP(),\n    t.target_date\n  )                       AS hours_remaining,\n\n  rp.email                AS task_owner_email,\n  rp.firstname            AS task_owner_firstname,\n  rp.lastname             AS task_owner_lastname,\n\n  m.id                    AS milestone_id,\n  m.title                 AS milestone_title,\n\n  pm.id                   AS project_id,\n  pm.title                AS project_title,\n\n  GROUP_CONCAT(obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(obs.email ORDER BY obs.id) AS observer_emails\n\nFROM task_managements t\n\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\nJOIN project_managements pm\n  ON pm.id = t.project_management_id\n\nLEFT JOIN task_users tu\n  ON tu.task_id = t.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  t.status NOT IN ('completed', 'closed')\n  AND t.target_date > UTC_TIMESTAMP()\n  AND t.target_date <= UTC_TIMESTAMP() + INTERVAL 40 HOUR\n  AND t.parent_id IS NULL\n  AND rp.organization_id IN (13, 14, 59, 84)\n\nGROUP BY t.id;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -192,
            -272
          ],
          "id": "f77e687d-3494-4e1c-b7a0-76fafe8dfe18",
          "name": "Execute a SQL query",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "cSpNSxxLQn5eFDMK",
              "name": "Task Management Production Database"
            }
          }
        },
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "triggerAtHour": 10,
                  "triggerAtMinute": 20
                }
              ]
            }
          },
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.3,
          "position": [
            -480,
            -288
          ],
          "id": "4b9d0784-6aef-48bc-b1bf-99c9314f0f8b",
          "name": "Schedule Trigger",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  t.id                    AS task_id,\n  t.title                 AS task_title,\n  t.created_at            AS task_created_at,\n  t.target_date           AS task_due_date,\n  t.status                AS task_status,\n  t.parent_id             AS parent_id,\n\n  -- hours remaining\n  TIMESTAMPDIFF(\n    HOUR,\n    UTC_TIMESTAMP(),\n    t.target_date\n  )                       AS hours_remaining,\n\n  -- task owner\n  rp.email                AS task_owner_email,\n  rp.firstname            AS task_owner_firstname,\n  rp.lastname             AS task_owner_lastname,\n\n  -- milestone info\n  m.id                    AS milestone_id,\n  m.title                 AS milestone_title,\n\n  -- project info\n  pm.id                   AS project_id,\n  pm.title                AS project_title\n\nFROM task_managements t\n\n-- task owner\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\n-- milestone (optional)\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\n-- project\nJOIN project_managements pm\n  ON pm.id = t.project_management_id\n\nWHERE\n  t.status NOT IN ('completed', 'closed')\n  AND t.target_date > UTC_TIMESTAMP()                     -- not overdue\n  AND t.target_date <= UTC_TIMESTAMP() + INTERVAL 40 HOUR\n  AND t.parent_id IS NULL;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -208,
            64
          ],
          "id": "773e30a9-3dc3-4b6f-acdc-2360e00edd48",
          "name": "Without Observers",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "FGCPCtEG47rFAJ4J",
              "name": "New FM UAT Task Management Database"
            }
          }
        },
        {
          "parameters": {
            "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const emails = (item.json.observer_emails || '').split(',');\n  const firstNames = (item.json.observer_first_names || '').split(',');\n  const lastNames = (item.json.observer_last_names || '').split(',');\n\n  for (let i = 0; i < emails.length; i++) {\n    if (!emails[i]) continue;\n\n    items.push({\n      json: {\n        ...item.json,\n        observer_email: emails[i].trim(),\n        observer_first_name: firstNames[i]?.trim(),\n        observer_last_name: lastNames[i]?.trim()\n      }\n    });\n  }\n}\n\nreturn items;"
          },
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            0,
            0
          ],
          "id": "dbf5ae29-20ca-48cc-9461-14fc86161ba3",
          "name": "Code in JavaScript",
          "alwaysOutputData": true
        },
        {
          "parameters": {
            "fromEmail": "notifications@lockated.com",
            "toEmail": "={{$json.observer_email}}",
            "subject": "=Task Due Reminder (24 Hours): {{$json.task_title}}\n\n",
            "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  <p>Dear {{$json.observer_first_name}} {{$json.observer_last_name}},</p>\n\n  <p>You, as an observer to this task, this is a reminder that the task <strong>{{$json.task_title}}</strong> is due within the next <strong>24 hours</strong>.</p>\n\n  <h3 style=\"color: #2c3e50;\">Task Schedule</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Title</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_title}}</td>\n    </tr>\n\n<tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Assigned To</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_owner_firstname}} {{$json.task_owner_lastname}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task Created On</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_created_at}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task End / Due Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_due_date}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Current Status</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.task_status}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title || 'N/A'}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Task URL</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/tasks/{{$json.task_id}}\" target=\"_blank\">\n          View Task\n        </a>\n      </td>\n    </tr>\n  </table>\n\n  <p style=\"margin-top: 15px;\">\n    You, as an observer, please prioritize completion or update the task with revised timelines if required.\n  </p>\n\n  <p>Regards,<br/>\n    <strong>Task Management System</strong>\n  </p>\n</div>",
            "options": {}
          },
          "type": "n8n-nodes-base.emailSend",
          "typeVersion": 2.1,
          "position": [
            208,
            96
          ],
          "id": "cf2fdfa9-c9e3-42a4-a119-b2ee7d0d1cc9",
          "name": "Observers",
          "webhookId": "4ef6c85f-0c05-41bc-9a11-782cac7b4e04",
          "alwaysOutputData": true,
          "credentials": {
            "smtp": {
              "id": "e6BxRubia0RizPKp",
              "name": "Lockated Local SMTP"
            }
          }
        },
        {
          "parameters": {
            "operation": "executeQuery",
            "query": "SELECT\n  t.id                    AS task_id,\n  t.title                 AS task_title,\n  CONVERT_TZ(t.created_at, '+00:00', '+05:30')            AS task_created_at,\n  t.target_date           AS task_due_date,\n  t.status                AS task_status,\n  t.parent_id             AS parent_id,\n\n  -- hours remaining\n  TIMESTAMPDIFF(\n    HOUR,\n    UTC_TIMESTAMP(),\n    t.target_date\n  )                       AS hours_remaining,\n\n  -- task owner\n  rp.email                AS task_owner_email,\n  rp.firstname            AS task_owner_firstname,\n  rp.lastname             AS task_owner_lastname,\n\n  -- milestone info\n  m.id                    AS milestone_id,\n  m.title                 AS milestone_title,\n\n  -- project info\n  pm.id                   AS project_id,\n  pm.title                AS project_title,\n\n  -- observers (aggregated)\n  GROUP_CONCAT(DISTINCT obs.id ORDER BY obs.id) AS observer_ids,\n  GROUP_CONCAT(DISTINCT obs.firstname ORDER BY obs.id) AS observer_first_names,\n  GROUP_CONCAT(DISTINCT obs.lastname ORDER BY obs.id) AS observer_last_names,\n  GROUP_CONCAT(DISTINCT obs.email ORDER BY obs.id) AS observer_emails\n\nFROM task_managements t\n\n-- task owner\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\n-- milestone (optional)\nLEFT JOIN milestones m\n  ON m.id = t.milestone_id\n\n-- project\nJOIN project_managements pm\n  ON pm.id = t.project_management_id\n\n-- observers\nLEFT JOIN task_users tu\n  ON tu.task_id = t.id\n  AND tu.user_type = 'observer'\n  AND tu.active = 1\n\nLEFT JOIN spree_users obs\n  ON obs.id = tu.user_id\n\nWHERE\n  t.status NOT IN ('completed', 'closed')\n  AND t.target_date > UTC_TIMESTAMP()                     -- not overdue\n  AND t.target_date <= UTC_TIMESTAMP() + INTERVAL 40 HOUR\n  AND t.parent_id IS NULL\n\nGROUP BY t.id;",
            "options": {}
          },
          "type": "n8n-nodes-base.mySql",
          "typeVersion": 2.5,
          "position": [
            -640,
            80
          ],
          "id": "b22a3aab-f28d-42ed-8127-dbd32fc684b1",
          "name": "Without Organiation id Execute a SQL query1",
          "alwaysOutputData": true,
          "credentials": {
            "mySql": {
              "id": "cSpNSxxLQn5eFDMK",
              "name": "Task Management Production Database"
            }
          }
        }
      ],
      "connections": {
        "Webhook": {
          "main": [
            []
          ]
        },
        "Task Owner": {
          "main": [
            []
          ]
        },
        "Execute a SQL query": {
          "main": [
            [
              {
                "node": "Task Owner",
                "type": "main",
                "index": 0
              },
              {
                "node": "Code in JavaScript",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Schedule Trigger": {
          "main": [
            [
              {
                "node": "Execute a SQL query",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Code in JavaScript": {
          "main": [
            [
              {
                "node": "Observers",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "N8N Admin",
      "name": "Version 785465b5",
      "description": "",
      "autosaved": false,
      "workflowPublishHistory": [
        {
          "createdAt": "2026-04-16T09:25:27.945Z",
          "id": 157,
          "workflowId": "Is4FYjGE14BKRfYn",
          "versionId": "785465b5-99c4-4db8-8518-53ca5af37aef",
          "event": "activated",
          "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98"
        }
      ]
    },
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "90b282eac3e3acfb4306ea63fabc17a09aac8f27e298ffa9e116cc6bff8d961e"
  }
}