n8n Backup - 02 May 2026/PTM_LinkedIn_Content_Publisher_MRXmQvW0wkwbfhq0.json
{
  "data": {
    "updatedAt": "2026-04-24T12:07:22.474Z",
    "createdAt": "2026-04-24T09:30:42.211Z",
    "id": "MRXmQvW0wkwbfhq0",
    "name": "PTM LinkedIn Content Publisher",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 9
              }
            ]
          }
        },
        "id": "83b1565a-91d6-4181-bf60-0e9bb862874b",
        "name": "Daily Schedule (9 AM)",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -2960,
          112
        ]
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "documentId": {
            "__rl": true,
            "value": "1j9-ZpnstCgjX-P0ccLMyHcFbiruCY6kMnin1mpvz8OM",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Content Calendar",
            "mode": "name"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Platform",
                "lookupValue": "LinkedIn"
              },
              {
                "lookupColumn": "Status",
                "lookupValue": "Approved"
              },
              {
                "lookupColumn": "Post Date",
                "lookupValue": "24/04/2026"
              }
            ]
          },
          "options": {}
        },
        "id": "11b58f5b-abe5-4e4b-825e-1700775967f3",
        "name": "Read Content Calendar",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -2736,
          112
        ],
        "credentials": {
          "googleApi": {
            "id": "2WI4zaOhhsTGtgv0",
            "name": "Google Service Account account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n\n  const content = (data['Posting Content'] || '').trim();\n  const hashtags = (data['Hashtags'] || '').trim();\n  const emojis = (data['Emojis'] || '').trim();\n\n  let postText = content;\n  if (hashtags || emojis) {\n    postText += '\\n\\n';\n    if (emojis) postText += emojis + ' ';\n    if (hashtags) postText += hashtags;\n  }\n\n  const imageUrl = (data['Image URL'] || '').trim();\n  const hasImage = imageUrl !== '' && imageUrl !== '(Leave blank for now)';\n\n  const linkedInBody = JSON.stringify({\n    author: \"urn:li:person:U8RrGddXCf\",\n    commentary: postText.trim(),\n    visibility: \"PUBLIC\",\n    distribution: {\n      feedDistribution: \"MAIN_FEED\",\n      targetEntities: [],\n      thirdPartyDistributionChannels: []\n    },\n    lifecycleState: \"PUBLISHED\",\n    isReshareDisabledByAuthor: false\n  });\n\n  return {\n    json: {\n      ...data,\n      composedText: postText.trim(),\n      imageUrl: hasImage ? imageUrl : null,\n      hasImage: hasImage,\n      rowNumber: data['#'],\n      linkedInBody: linkedInBody\n    }\n  };\n});"
        },
        "id": "987783e3-09e4-4bbb-b77c-e70720245252",
        "name": "Compose Post Text",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2512,
          112
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-has-image",
                "leftValue": "={{ $json.hasImage }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "7b8cc884-c7c0-4ed3-aaa4-4b879ad861d7",
        "name": "Has Image?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -2288,
          112
        ]
      },
      {
        "parameters": {
          "authentication": "communityManagement",
          "person": "={{ $('node-compose').item.json.linkedInPersonUrn }}",
          "text": "={{ $json.composedText }}",
          "shareMediaCategory": "IMAGE",
          "additionalFields": {}
        },
        "id": "1df10311-9a9a-4486-8cf9-c0a04cee1edd",
        "name": "Post to LinkedIn (With Image)",
        "type": "n8n-nodes-base.linkedIn",
        "typeVersion": 1,
        "position": [
          -2064,
          16
        ],
        "credentials": {
          "linkedInCommunityManagementOAuth2Api": {
            "id": "tyknwX4meAHrPjDG",
            "name": "CP Management Page"
          }
        }
      },
      {
        "parameters": {
          "mode": "chooseBranch",
          "output": "input1"
        },
        "id": "697c55fb-05f0-4079-a4f3-c1d2beb3a720",
        "name": "Merge Results",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          -1840,
          112
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const postUrl = item.json?.id \n    ? `https://www.linkedin.com/feed/update/${item.json.id}/` \n    : '';\n\n  return {\n    json: {\n      ...item.json,\n      resolvedPostUrl: postUrl,\n      publishedDate: $now.toFormat('yyyy-MM-dd')\n    }\n  };\n});"
        },
        "id": "121d1bd2-4ec5-4d7d-bc72-41bc4e272ff1",
        "name": "Extract Post URL",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1616,
          112
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1j9-ZpnstCgjX-P0ccLMyHcFbiruCY6kMnin1mpvz8OM",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Content Calendar",
            "mode": "name"
          },
          "options": {}
        },
        "id": "47051b9a-3055-42b4-b8b1-2a815550d71e",
        "name": "Update Sheet Row",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          -1392,
          112
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "c25RiFbKBIOL37LL",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.linkedin.com/rest/posts",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "linkedInOAuth2Api",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer "
              },
              {
                "name": "LinkedIn-Version",
                "value": "202601"
              },
              {
                "name": "X-Restli-Protocol-Version",
                "value": "2.0.0"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $('Compose Post Text').item.json.linkedInBody }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -2064,
          208
        ],
        "id": "0b992f8f-22a0-4d22-acf9-41a039c797a9",
        "name": "HTTP Request",
        "credentials": {
          "linkedInOAuth2Api": {
            "id": "MXJcK4hA8CgFDpLl",
            "name": "Demo Marketing Account"
          }
        }
      },
      {
        "parameters": {
          "person": "U8RrGddXCf",
          "text": "={{ $json.composedText }}",
          "additionalFields": {}
        },
        "id": "816ae6cc-984d-4e0d-aa4b-0bb1cfe13c95",
        "name": "Post to LinkedIn (Text)",
        "type": "n8n-nodes-base.linkedIn",
        "typeVersion": 1,
        "position": [
          -2960,
          432
        ],
        "credentials": {
          "linkedInOAuth2Api": {
            "id": "MXJcK4hA8CgFDpLl",
            "name": "Demo Marketing Account"
          }
        }
      }
    ],
    "connections": {
      "Daily Schedule (9 AM)": {
        "main": [
          [
            {
              "node": "Read Content Calendar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Content Calendar": {
        "main": [
          [
            {
              "node": "Compose Post Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compose Post Text": {
        "main": [
          [
            {
              "node": "Has Image?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Image?": {
        "main": [
          [
            {
              "node": "Post to LinkedIn (With Image)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Post to LinkedIn (With Image)": {
        "main": [
          [
            {
              "node": "Merge Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Results": {
        "main": [
          [
            {
              "node": "Extract Post URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Post URL": {
        "main": [
          [
            {
              "node": "Update Sheet Row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Merge Results",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Post to LinkedIn (Text)": {
        "main": [
          []
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "62ab65f8-cf86-4148-b399-d8144320923f",
    "activeVersionId": null,
    "versionCounter": 6,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-04-24T09:30:42.216Z",
        "createdAt": "2026-04-24T09:30:42.216Z",
        "role": "workflow:owner",
        "workflowId": "MRXmQvW0wkwbfhq0",
        "projectId": "s9jeiIUr8G6hBG6i",
        "project": {
          "updatedAt": "2026-01-28T12:34:21.552Z",
          "createdAt": "2025-12-24T09:57:24.391Z",
          "id": "s9jeiIUr8G6hBG6i",
          "name": "N8N Admin <n8n@lockated.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
          "projectRelations": [
            {
              "updatedAt": "2025-12-24T09:57:24.391Z",
              "createdAt": "2025-12-24T09:57:24.391Z",
              "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "projectId": "s9jeiIUr8G6hBG6i",
              "user": {
                "updatedAt": "2026-05-02T07:29:56.000Z",
                "createdAt": "2025-12-24T09:57:23.917Z",
                "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
                "email": "n8n@lockated.com",
                "firstName": "N8N",
                "lastName": "Admin",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "automationGoalDevops": [
                    "ci-cd",
                    "cloud-infrastructure-orchestration",
                    "monitoring-alerting",
                    "reporting"
                  ],
                  "companyType": "saas",
                  "role": "it"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                  "userActivatedAt": 1767166205042,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1770088091114
                  },
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-05-01",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [],
    "parentFolder": null,
    "activeVersion": null,
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "feb7c68166c9e5dfe157b770b4d396fe27ce349825f567c4fb2ad38ffafd96df"
  }
}