n8n Backup - 02 May 2026/Rustomjee_BigQuery_Category___Personal_Events__1___Points_on_Birthdays_ABvTorJrxHjPg2yl.json
{
  "data": {
    "updatedAt": "2026-05-02T07:55:46.105Z",
    "createdAt": "2026-03-07T05:12:49.137Z",
    "id": "ABvTorJrxHjPg2yl",
    "name": "Rustomjee BigQuery Category - Personal Events- 1 - Points on Birthdays",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {},
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -336,
          48
        ],
        "id": "70505f03-d5da-4cf0-a8bb-24e8f3258637",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT *\nFROM \n  powerbi-implementation.dataWarehouse_prod.account_summary_person LIMIT 100\n",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          -16,
          -272
        ],
        "id": "18ad6f6f-5879-4593-8cf8-25646313e062",
        "name": "Execute a SQL query",
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT *\nFROM \n  powerbi-implementation.dataWarehouse_prod.sales_leads \n  WHERE LeadSource = \"Loyalty\"",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          512,
          -352
        ],
        "id": "b2f25761-ddab-4893-881d-efe2bfb18b51",
        "name": "Execute a SQL query1",
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT\n  Id,\n  today_delta_additions,\n  FirstName,\n  LastName,\n  Person_Account_Email__c AS email,\n  COALESCE(PersonMobilePhone, Person_Account_Mobile__c) AS mobile,\n  Birth_Date__c\nFROM `powerbi-implementation.dataWarehouse_prod.account_summary_person`\nWHERE\n  Birth_Date__c IS NOT NULL\n  AND COALESCE(PersonMobilePhone, Person_Account_Mobile__c) IS NOT NULL\n  AND EXTRACT(MONTH FROM DATE(Birth_Date__c)) = EXTRACT(MONTH FROM CURRENT_DATE())\n  AND EXTRACT(DAY FROM DATE(Birth_Date__c)) = EXTRACT(DAY FROM CURRENT_DATE())",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          -112,
          48
        ],
        "id": "79e9af84-3163-4da1-a426-270fd33f2ac2",
        "name": "Query to fetch details of Person Having Birthday On Today's Date",
        "alwaysOutputData": true,
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "ab1a59da-346c-4d34-bfff-50d160cb4000",
                "leftValue": "={{$json[\"mobile\"]}}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          112,
          48
        ],
        "id": "2e1df2aa-45a0-409b-82b4-05749c0d3b02",
        "name": "If",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://runwal-api.lockated.com/loyalty/members/credit_wallet.json",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "QsUjajggGCYJJGKndHkRidBxJN2cIUC06lr42Vru1EQ"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"customer_code\": \"{{ $json.customer_mobile }}\",\n  \"amount\": {{ $json.points }},\n  \"remarks\": \"{{ $json.reason }}\",\n  \"transaction_note\": \"Demand payment reward\",\n  \"payment_mode\": \"system\",\n  \"topup_by\": \"automation\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          576,
          160
        ],
        "id": "31676d1f-ca79-4a05-9f90-6258c919586a",
        "name": "HTTP Request",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "content": "Sample Payload -\nUnique Identifiers -\ncustomer_id = Id\ntoday_delta_additions\n\n{\n  \"customer_code\": \"1C5000007rMxKIAU\",\n  \"customer_mobile\": \"9818100660\",\n  \"customer_name\": \"Sanjay Banga\",\n  \"amount\": 1000,\n  \"remarks\": \"Birthday Reward\",\n  \"transaction_note\": \"Credit points on birthday\",\n  \"payment_mode\": \"cash\",\n  \"topup_by\": \"automation\",\n  \"email\": \"sanjay.banga@tatapower.com\",\n  \"birthday\": \"1944-04-28\",\n  \"today_delta_additions\": null\n}",
          "height": 400,
          "width": 352
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -592,
          -416
        ],
        "id": "4355f32e-fa6b-4fa5-a45f-eba5d584f736",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT EXISTS (\n  SELECT 1\n  FROM wallet_transaction_logs\n  WHERE customer_code = '{{$json.customer_code}}'\n  AND remarks = '{{$json.remarks}}'\n  AND status = 'SUCCESS'\n);\n\n/* SELECT status\nFROM wallet_transaction_logs\nWHERE customer_code = '{{$json.customer_code}}'\nAND remarks = '{{$json.remarks}}'\nAND status = 'SUCCESS'\nLIMIT 1; */",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          480,
          -160
        ],
        "id": "fd21b651-cdfe-42ac-b861-042717f1cf93",
        "name": "Check Duplicates",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          672,
          -48
        ],
        "id": "6c610430-fb21-4e6c-ae08-00da372de774",
        "name": "Merge",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "0a538946-c5b1-47ce-aada-9f10cca56fc2",
                "leftValue": "={{$json.exists}}",
                "rightValue": "false",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          864,
          -112
        ],
        "id": "adb1e4cd-10ca-4a72-91b6-a89a75ea8193",
        "name": "If1",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://runwal-api.lockated.com/loyalty/members/credit_wallet.json",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "QsUjajggGCYJJGKndHkRidBxJN2cIUC06lr42Vru1EQ"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"customer_code\": \"{{$json.customer_code}}\",\n  \"amount\": {{$json.amount || 0}},\n  \"remarks\": \"{{$json.remarks || 'NA'}}\",\n  \"transaction_note\": \"Demand payment reward\",\n  \"payment_mode\": \"system\",\n  \"topup_by\": \"automation\"\n}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1056,
          -16
        ],
        "id": "d745ad62-6fe7-41a1-a731-af4a5c4b88e4",
        "name": "HTTP Request to credit points3",
        "alwaysOutputData": true,
        "retryOnFail": true,
        "waitBetweenTries": 1500,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8b311af8-f014-4910-b04d-608e1847c9a0",
                "name": "customer_code",
                "value": "={{$node[\"Streamline data for birthday points\"].json.customer_code}}",
                "type": "string"
              },
              {
                "id": "751ef75e-fe0a-4f82-ac88-6434d2a0629b",
                "name": "amount",
                "value": "={{$node[\"Streamline data for birthday points\"].json.amount}}",
                "type": "number"
              },
              {
                "id": "b1145a55-a695-4cfa-81d1-79f7f51abc14",
                "name": "remarks",
                "value": "={{$node[\"Streamline data for birthday points\"].json.remarks}}",
                "type": "string"
              },
              {
                "id": "38f3dae0-4ba1-4391-a7f6-5af5b6f2fcbe",
                "name": "=reference_id",
                "value": "={{$node[\"Streamline data for birthday points\"].json.reference_id}}",
                "type": "string"
              },
              {
                "id": "dcf52459-b151-4db8-b465-7a890da209c6",
                "name": "transaction_note",
                "value": "={{$node[\"Streamline data for birthday points\"].json.transaction_note}}",
                "type": "string"
              },
              {
                "id": "9045fe70-369a-4af3-bc3a-3780061fbae0",
                "name": "status",
                "value": "={{$json.error ? \"FAILED\" : ($json.statusCode >= 200 && $json.statusCode < 300 ? \"SUCCESS\" : \"FAILED\")}}",
                "type": "string"
              },
              {
                "id": "fc9a41e4-3d87-47ef-bec1-ec7679e81d0a",
                "name": "status_code",
                "value": "={{$json.statusCode || $json.error?.status || 500}}",
                "type": "number"
              },
              {
                "id": "2a2f8faa-b24f-46c3-ae66-201da970f5db",
                "name": "transaction_id",
                "value": "={{$json.body?.transaction_id || null}}",
                "type": "string"
              },
              {
                "id": "a6029dde-70bd-44d7-a004-ff1e9d317785",
                "name": "message",
                "value": "={{$json.body?.error || $json.error?.message?.split(\"\\n\")[0]}}",
                "type": "string"
              },
              {
                "id": "ab7c1a10-7953-4d1e-bbe1-ae422f4bc70e",
                "name": "request_payload",
                "value": "={{$json}}",
                "type": "object"
              },
              {
                "id": "44f2b0f0-8e91-439f-aec5-a355e2705ff9",
                "name": "response_payload",
                "value": "={{$json}}",
                "type": "object"
              },
              {
                "id": "96ed068c-7dc1-4cbf-9384-4abcdde9eb86",
                "name": "execution_id",
                "value": "{{$json.execution_id}}",
                "type": "string"
              },
              {
                "id": "d4fdcaae-ae9c-4296-96fb-eb4ac2c8c591",
                "name": "created_at",
                "value": "={{new Date().toISOString()}}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1248,
          -112
        ],
        "id": "ce8aa540-7313-4d38-9217-bc7316e3506b",
        "name": "Edit Fields3",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO wallet_transaction_logs (\n    customer_code,\n    amount,\n    remarks,\n    reference_id,\n    transaction_note,\n    status,\n    status_code,\n    message,\n    request_payload,\n    response_payload,\n    execution_id,\n    created_at\n)\nVALUES (\n    '{{$json.customer_code}}',\n    {{$json.amount || 0}},\n    '{{($json.remarks || \"\").replace(/'/g, \"''\")}}',\n    {{$json.reference_id ? `'${$json.reference_id}'` : 'NULL'}},\n    '{{($json.transaction_note || \"\").replace(/'/g, \"''\")}}',\n    '{{($json.status || \"\").replace(/'/g, \"''\")}}',\n    {{$json.status_code || 500}},\n    '{{($json.message || \"\").replace(/'/g, \"''\")}}',\n    '{{JSON.stringify($json.request_payload || {}).replace(/'/g, \"''\")}}'::jsonb,\n    '{{JSON.stringify($json.response_payload || {}).replace(/'/g, \"''\")}}'::jsonb,\n    {{$json.execution_id ? `'${$json.execution_id}'` : 'NULL'}},\n    NOW()\n);",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1424,
          32
        ],
        "id": "f7caf161-ac8d-4a3f-a895-21eafe056c40",
        "name": "Add entry to logs4",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  return {\n    json: {\n      customer_code: item.json.Id,\n      customer_mobile: item.json.mobile,\n      customer_name: `${item.json.FirstName} ${item.json.LastName}`,\n      amount: 1000,\n      remarks: \"Birthday Reward\",\n      transaction_note: \"Credit points on birthday\",\n      payment_mode: \"cash\",\n      topup_by: \"automation\",\n      email: item.json.email,\n      birthday: item.json.Birth_Date__c,\n      today_delta_additions: item.json.today_delta_additions\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          320,
          16
        ],
        "id": "930a07d2-e19d-4cc4-b873-666c5fb41450",
        "name": "Streamline data for birthday points",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * \nFROM wallet_transaction_logs WHERE remarks = 'Birthday Reward'\nORDER BY created_at DESC;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          880,
          240
        ],
        "id": "ae3758fb-8adf-4c88-86fe-1af473ae5e16",
        "name": "Check entries for logs",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "CREATE TABLE wallet_transaction_logs (\n    customer_code TEXT,\n    points NUMERIC,\n    remarks TEXT,\n    reference_id TEXT,\n    transaction_note TEXT,\n\n    status TEXT,\n    status_code INTEGER,\n    message TEXT,\n\n    request_payload JSONB,\n    response_payload JSONB,\n\n    execution_id TEXT,\n    created_at TIMESTAMP DEFAULT NOW()\n);",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1152,
          288
        ],
        "id": "12d93fa5-438f-42d2-971d-ad9327e0ae5e",
        "name": "Create table for logs query",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Query to fetch details of Person Having Birthday On Today's Date",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          []
        ]
      },
      "Query to fetch details of Person Having Birthday On Today's Date": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Streamline data for birthday points",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Duplicates": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "HTTP Request to credit points3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request to credit points3": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Add entry to logs4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Streamline data for birthday points": {
        "main": [
          [
            {
              "node": "Check Duplicates",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "b63464f0-5662-46fc-8059-d1a28c5f6dad",
    "activeVersionId": null,
    "versionCounter": 48,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-03-07T05:12:49.144Z",
        "createdAt": "2026-03-07T05:12:49.144Z",
        "role": "workflow:owner",
        "workflowId": "ABvTorJrxHjPg2yl",
        "projectId": "s9jeiIUr8G6hBG6i",
        "project": {
          "updatedAt": "2026-01-28T12:34:21.552Z",
          "createdAt": "2025-12-24T09:57:24.391Z",
          "id": "s9jeiIUr8G6hBG6i",
          "name": "N8N Admin <n8n@lockated.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
          "projectRelations": [
            {
              "updatedAt": "2025-12-24T09:57:24.391Z",
              "createdAt": "2025-12-24T09:57:24.391Z",
              "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "projectId": "s9jeiIUr8G6hBG6i",
              "user": {
                "updatedAt": "2026-05-02T07:29:56.000Z",
                "createdAt": "2025-12-24T09:57:23.917Z",
                "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
                "email": "n8n@lockated.com",
                "firstName": "N8N",
                "lastName": "Admin",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "automationGoalDevops": [
                    "ci-cd",
                    "cloud-infrastructure-orchestration",
                    "monitoring-alerting",
                    "reporting"
                  ],
                  "companyType": "saas",
                  "role": "it"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                  "userActivatedAt": 1767166205042,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1770088091114
                  },
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-05-01",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [],
    "parentFolder": {
      "updatedAt": "2026-03-02T14:34:11.511Z",
      "createdAt": "2026-03-02T14:34:11.511Z",
      "id": "Y9zGEIC6huRvstXD",
      "name": "Rustomjee Bigquery",
      "parentFolderId": null
    },
    "activeVersion": null,
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "11798444ccc15dbacc14d774b42a4a57fc661deff0f2d8643c69670055c9c224"
  }
}