n8n Backup - 02 May 2026/Rustomjee_BigQuery_Category___Long_Term_Loyalty___Credit_Points_on_Anniversaries_882hIACmGS7wVwVs.json
{
  "data": {
    "updatedAt": "2026-05-02T08:52:59.084Z",
    "createdAt": "2026-03-09T11:32:28.459Z",
    "id": "882hIACmGS7wVwVs",
    "name": "Rustomjee BigQuery Category - Long Term Loyalty - Credit Points on Anniversaries",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {},
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -336,
          16
        ],
        "id": "c9388437-84e8-47f0-a5a7-477736f240b2",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT *\nFROM \n  powerbi-implementation.dataWarehouse_prod.sales_booking LIMIT 1000\n",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          176,
          -240
        ],
        "id": "2669ead6-19f6-419c-951b-e68962405a2d",
        "name": "Execute a SQL query",
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT *\nFROM \n  powerbi-implementation.dataWarehouse_prod.sales_leads \n  WHERE LeadSource = \"Loyalty\"",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          480,
          -240
        ],
        "id": "0481cb37-c9b5-49ce-8580-3291ab693cdb",
        "name": "Execute a SQL query1",
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT\nID,\ntoday_delta_additions,\nBooking_Date,\nAgreement_Value__c,\nStatus__c,\nKUNNR,\nAccount_Mobile_Number__c,\nAccount_Mobile_1__c,\nMobile_Number__c,\nFirst_Name__c,\nLast_Name__c,\nProject_Text__c\nFROM `powerbi-implementation.dataWarehouse_prod.sales_booking`\nWHERE Status__c = 'Booked'\nAND Booking_Date IS NOT NULL",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          -144,
          -128
        ],
        "id": "8dad275d-ea58-4f57-81a8-03a0dc93963a",
        "name": "Query to fetch details of Booking - File already shared, File name is Booking",
        "alwaysOutputData": true,
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const today = new Date();\n\nconst todayMonth = today.getMonth();\nconst todayDate = today.getDate();\n\nreturn items.map(item => {\n\nconst bookingDate = new Date(item.json.booking_date);\n\nconst bookingMonth = bookingDate.getMonth();\nconst bookingDay = bookingDate.getDate();\n\nconst yearsCompleted =\ntoday.getFullYear() - bookingDate.getFullYear();\n\nlet points = 0;\n\nif (yearsCompleted === 1) {\npoints = 200;\n}\nelse if (yearsCompleted === 5) {\npoints = 500;\n}\nelse if (yearsCompleted === 10) {\npoints = 1000;\n}\nelse if (yearsCompleted === 15) {\npoints = 1500;\n}\n\nconst isAnniversary =\ntodayMonth === bookingMonth &&\ntodayDate === bookingDay;\n\nreturn {\njson: {\n...item.json,\nyears_completed: yearsCompleted,\npoints: points,\nis_anniversary: isAnniversary\n}\n};\n\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          192,
          16
        ],
        "id": "88ee56dd-7086-437a-bd0b-48435d685946",
        "name": "Calculate years completed and points",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n\nconst data = item.json;\n\nconst mobile =\ndata.Account_Mobile_Number__c ||\ndata.Account_Mobile_1__c ||\ndata.Mobile_Number__c ||\nnull;\n\nconst customer_id =\ndata.KUNNR || mobile;\n\nreturn {\njson: {\nid: data.ID,\ntoday_delta_additions : data.today_delta_additions,\ncustomer_id: customer_id,\nmobile: mobile,\nbooking_date: data.Booking_Date,\nfirst_name: data.First_Name__c,\nlast_name: data.Last_Name__c,\nproject: data.Project_Text__c\n}\n};\n\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          32,
          -32
        ],
        "id": "60273ba4-1ab9-4fe2-926a-9e2f7b40300d",
        "name": "Streamline the data",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "45c60d50-a338-4395-8028-3a71e6bda291",
                "leftValue": "={{$json.is_anniversary}}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "4ff9e130-380b-456e-9c6f-7d8452ab677e",
                "leftValue": "={{$json.points}}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          368,
          0
        ],
        "id": "0d497aeb-6161-40d1-96b9-247e0388f646",
        "name": "If anniversary = true and points is greater than 0",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n\nreturn {\njson: {\nid: item.json.id,\ncustomer_code: item.json.customer_id,\nmobile: item.json.mobile,\namount: item.json.points,\nremarks: \"BOOKING_ANNIVERSARY\",\ntransaction_note: \"Credited points for booking anniversary\",\npayment_mode: \"cash\",\ntopup_by: \"automation\",\nyears_completed: item.json.years_completed,\nbooking_date: item.json.booking_date,\ntoday_delta_additions: item.json.today_delta_additions\n}\n};\n\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          576,
          -96
        ],
        "id": "0515187e-4a86-43b1-a549-acb1f82f0509",
        "name": "Filtered data - today is anniversary",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://runwal-api.lockated.com/loyalty/members/credit_wallet.json",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "QsUjajggGCYJJGKndHkRidBxJN2cIUC06lr42Vru1EQ"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"customer_code\": \"{{ $json.customer_id }}\",\n  \"amount\": {{ $json.points }},\n  \"remarks\": \"{{ $json.event }}\",\n  \"transaction_note\": \"Demand payment reward\",\n  \"payment_mode\": \"system\",\n  \"topup_by\": \"automation\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          768,
          48
        ],
        "id": "3efd36f0-f47b-495c-85f8-576dd4efbdb6",
        "name": "HTTP Request",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "content": "Sample Payload - \nUnique Identifiers - \ncustomer_id = KUNNR,\nid =ID,\ntoday_delta_additions\n\n{\n  \"id\": \"a0EOW000007xhBN2AY\",\n  \"customer_code\": \"474398\",\n  \"mobile\": \"9009443238\",\n  \"amount\": 200,\n  \"remarks\": \"BOOKING_ANNIVERSARY\",\n  \"transaction_note\": \"Credited points for booking anniversary\",\n  \"payment_mode\": \"cash\",\n  \"topup_by\": \"automation\",\n  \"years_completed\": 1,\n  \"booking_date\": \"2025-04-28 12:37:00\",\n  \"today_delta_additions\": \"2026-04-28\"\n}",
          "height": 416,
          "width": 416
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -512,
          -496
        ],
        "id": "86be507a-acc2-4066-870b-dd000664ae46",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT EXISTS (\n  SELECT 1\n  FROM wallet_transaction_logs\n  WHERE customer_code = '{{$json.customer_code}}'\n  AND remarks = '{{$json.remarks}}'\n  AND status = 'SUCCESS'\n);\n\n/* SELECT status\nFROM wallet_transaction_logs\nWHERE customer_code = '{{$json.customer_code}}'\nAND remarks = '{{$json.remarks}}'\nAND status = 'SUCCESS'\nLIMIT 1; */",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          752,
          -192
        ],
        "id": "17ae3190-ae94-4151-a2cb-f3ef6d681698",
        "name": "Check Duplicates",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          960,
          -128
        ],
        "id": "bc0cd236-c91d-4142-9088-3b83dedf92d2",
        "name": "Merge",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "0a538946-c5b1-47ce-aada-9f10cca56fc2",
                "leftValue": "={{$json.exists}}",
                "rightValue": "false",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1136,
          -32
        ],
        "id": "d4742d9f-f1ea-4181-b74e-35ccc5fe5509",
        "name": "If",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://runwal-api.lockated.com/loyalty/members/credit_wallet.json",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "QsUjajggGCYJJGKndHkRidBxJN2cIUC06lr42Vru1EQ"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"customer_code\": \"{{$json.customer_code}}\",\n  \"amount\": {{$json.amount || 0}},\n  \"remarks\": \"{{$json.remarks || 'NA'}}\",\n  \"transaction_note\": \"Demand payment reward\",\n  \"payment_mode\": \"system\",\n  \"topup_by\": \"automation\"\n}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1360,
          16
        ],
        "id": "f713cc04-afbe-4022-ad7a-694fdd431a46",
        "name": "HTTP Request to credit points3",
        "alwaysOutputData": true,
        "retryOnFail": true,
        "waitBetweenTries": 1500,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8b311af8-f014-4910-b04d-608e1847c9a0",
                "name": "customer_code",
                "value": "={{$node[\"Filtered data - today is anniversary\"].json.customer_code}}",
                "type": "string"
              },
              {
                "id": "751ef75e-fe0a-4f82-ac88-6434d2a0629b",
                "name": "amount",
                "value": "={{$node[\"Filtered data - today is anniversary\"].json.amount}}",
                "type": "number"
              },
              {
                "id": "b1145a55-a695-4cfa-81d1-79f7f51abc14",
                "name": "remarks",
                "value": "={{$node[\"Filtered data - today is anniversary\"].json.remarks}}",
                "type": "string"
              },
              {
                "id": "38f3dae0-4ba1-4391-a7f6-5af5b6f2fcbe",
                "name": "=reference_id",
                "value": "={{$node[\"Filtered data - today is anniversary\"].json.reference_id}}",
                "type": "string"
              },
              {
                "id": "dcf52459-b151-4db8-b465-7a890da209c6",
                "name": "transaction_note",
                "value": "={{$node[\"Filtered data - today is anniversary\"].json.transaction_note}}",
                "type": "string"
              },
              {
                "id": "9045fe70-369a-4af3-bc3a-3780061fbae0",
                "name": "status",
                "value": "={{$json.error ? \"FAILED\" : ($json.statusCode >= 200 && $json.statusCode < 300 ? \"SUCCESS\" : \"FAILED\")}}",
                "type": "string"
              },
              {
                "id": "fc9a41e4-3d87-47ef-bec1-ec7679e81d0a",
                "name": "status_code",
                "value": "={{$json.statusCode || $json.error?.status || 500}}",
                "type": "number"
              },
              {
                "id": "2a2f8faa-b24f-46c3-ae66-201da970f5db",
                "name": "transaction_id",
                "value": "={{$json.body?.transaction_id || null}}",
                "type": "string"
              },
              {
                "id": "a6029dde-70bd-44d7-a004-ff1e9d317785",
                "name": "message",
                "value": "={{$json.body?.error || $json.error?.message?.split(\"\\n\")[0]}}",
                "type": "string"
              },
              {
                "id": "ab7c1a10-7953-4d1e-bbe1-ae422f4bc70e",
                "name": "request_payload",
                "value": "={{$json}}",
                "type": "object"
              },
              {
                "id": "44f2b0f0-8e91-439f-aec5-a355e2705ff9",
                "name": "response_payload",
                "value": "={{$json}}",
                "type": "object"
              },
              {
                "id": "96ed068c-7dc1-4cbf-9384-4abcdde9eb86",
                "name": "execution_id",
                "value": "{{$json.execution_id}}",
                "type": "string"
              },
              {
                "id": "d4fdcaae-ae9c-4296-96fb-eb4ac2c8c591",
                "name": "created_at",
                "value": "={{new Date().toISOString()}}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1552,
          80
        ],
        "id": "3fc3ca9b-63c2-409a-9f0e-19111951c5c4",
        "name": "Edit Fields3",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO wallet_transaction_logs (\n    customer_code,\n    amount,\n    remarks,\n    reference_id,\n    transaction_note,\n    status,\n    status_code,\n    message,\n    request_payload,\n    response_payload,\n    execution_id,\n    created_at\n)\nVALUES (\n    {{$json.customer_code}},\n    {{$json.amount || 0}},\n    '{{($json.remarks || \"\").replace(/'/g, \"''\")}}',\n    {{$json.reference_id ? `'${$json.reference_id}'` : 'NULL'}},\n    '{{($json.transaction_note || \"\").replace(/'/g, \"''\")}}',\n    '{{($json.status || \"\").replace(/'/g, \"''\")}}',\n    {{$json.status_code || 500}},\n    '{{($json.message || \"\").replace(/'/g, \"''\")}}',\n    '{{JSON.stringify($json.request_payload || {}).replace(/'/g, \"''\")}}'::jsonb,\n    '{{JSON.stringify($json.response_payload || {}).replace(/'/g, \"''\")}}'::jsonb,\n    {{$json.execution_id ? `'${$json.execution_id}'` : 'NULL'}},\n    NOW()\n);",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1760,
          112
        ],
        "id": "fdfb4cdc-be97-4d8c-bfbb-51c07b64f791",
        "name": "Add entry to logs4",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * \nFROM wallet_transaction_logs WHERE remarks = 'BOOKING_ANNIVERSARY'\nORDER BY created_at DESC;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1392,
          224
        ],
        "id": "970c2fb2-8786-4a2b-a90b-92a3c9ffd7cc",
        "name": "Check entries for logs",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Query to fetch details of Booking - File already shared, File name is Booking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          []
        ]
      },
      "Query to fetch details of Booking - File already shared, File name is Booking": {
        "main": [
          [
            {
              "node": "Streamline the data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate years completed and points": {
        "main": [
          [
            {
              "node": "If anniversary = true and points is greater than 0",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Streamline the data": {
        "main": [
          [
            {
              "node": "Calculate years completed and points",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If anniversary = true and points is greater than 0": {
        "main": [
          [
            {
              "node": "Filtered data - today is anniversary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtered data - today is anniversary": {
        "main": [
          [
            {
              "node": "Check Duplicates",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Duplicates": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "HTTP Request to credit points3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request to credit points3": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Add entry to logs4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "8393842a-3994-4ea3-99c0-3f5098c3e52b",
    "activeVersionId": null,
    "versionCounter": 53,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-03-09T11:32:28.467Z",
        "createdAt": "2026-03-09T11:32:28.467Z",
        "role": "workflow:owner",
        "workflowId": "882hIACmGS7wVwVs",
        "projectId": "s9jeiIUr8G6hBG6i",
        "project": {
          "updatedAt": "2026-01-28T12:34:21.552Z",
          "createdAt": "2025-12-24T09:57:24.391Z",
          "id": "s9jeiIUr8G6hBG6i",
          "name": "N8N Admin <n8n@lockated.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
          "projectRelations": [
            {
              "updatedAt": "2025-12-24T09:57:24.391Z",
              "createdAt": "2025-12-24T09:57:24.391Z",
              "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "projectId": "s9jeiIUr8G6hBG6i",
              "user": {
                "updatedAt": "2026-05-02T07:29:56.000Z",
                "createdAt": "2025-12-24T09:57:23.917Z",
                "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
                "email": "n8n@lockated.com",
                "firstName": "N8N",
                "lastName": "Admin",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "automationGoalDevops": [
                    "ci-cd",
                    "cloud-infrastructure-orchestration",
                    "monitoring-alerting",
                    "reporting"
                  ],
                  "companyType": "saas",
                  "role": "it"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                  "userActivatedAt": 1767166205042,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1770088091114
                  },
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-05-01",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [],
    "parentFolder": {
      "updatedAt": "2026-03-02T14:34:11.511Z",
      "createdAt": "2026-03-02T14:34:11.511Z",
      "id": "Y9zGEIC6huRvstXD",
      "name": "Rustomjee Bigquery",
      "parentFolderId": null
    },
    "activeVersion": null,
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "049c547d230ae49148e0a8c56b83209a978db25c9a03da0c79b6d027a26d4c82"
  }
}