n8n Backup - 09 June 2026/Rustomjee_BigQuery_Category___Survey__1___Clients_who_respond_to_surveys_related_to_sales_copy_hIy0HXFwdmC8ZNII.json
{
  "data": {
    "updatedAt": "2026-05-30T12:08:57.724Z",
    "createdAt": "2026-05-27T14:04:11.660Z",
    "id": "hIy0HXFwdmC8ZNII",
    "name": "Rustomjee BigQuery Category - Survey- 1 - Clients who respond to surveys related to sales copy",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {},
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -288,
          -64
        ],
        "id": "654ebb89-5a10-4305-bfb8-d69cc3b2c220",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT *\nFROM \n  powerbi-implementation.dataWarehouse_prod.sales_sv_oppr LIMIT 1000\n",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          -160,
          -288
        ],
        "id": "6cffbd7f-a780-468c-8b55-c781f40530a7",
        "name": "Execute a SQL query",
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT *\nFROM \n  powerbi-implementation.dataWarehouse_prod.opportunity_survey LIMIT 100",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          192,
          -240
        ],
        "id": "a5f37dc6-dac4-4ea5-bbe6-4f4ff7ba5ebb",
        "name": "Execute a SQL query1",
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT \n  ID,\n  Account_Email__c,\n\n  -- ✅ Single unified mobile field\n  REGEXP_REPLACE(\n    COALESCE(\n      Account_Mobile_1__c,\n      Account_Mobile_2__c,\n      Account_Mobile_Number__c\n    ),\n    r'[^0-9]',\n    ''\n  ) AS customer_mobile,\n\n  today_delta_additions\n\nFROM `powerbi-implementation.dataWarehouse_prod.opportunity_survey`\n\nWHERE \n  Survey_Name__c = 'OpportunityClosedWonLostSurvey'\n  AND Status__c = 'Completed'\n  AND StageName IN ('Closed Won', 'Booking In Process', 'Booking Confirmed', 'ClosedWon', 'BookingInProcess', 'BookingConfirmed')\n  -- AND today_delta_additions = CURRENT_DATE()\n\n  -- ✅ Ensure at least one mobile exists\n  AND (\n    Account_Mobile_1__c IS NOT NULL OR\n    Account_Mobile_2__c IS NOT NULL OR\n    Account_Mobile_Number__c IS NOT NULL\n  )\n\n  -- ✅ Ensure email exists\n  AND Account_Email__c IS NOT NULL",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          -16,
          -32
        ],
        "id": "56d67ac1-a0c3-42b0-90b7-2aa35ad1b5b7",
        "name": "Query to fetch details of person done booking within first 30 days from the site visit",
        "alwaysOutputData": true,
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://runwal-api.lockated.com/loyalty/members/credit_wallet.json",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "QsUjajggGCYJJGKndHkRidBxJN2cIUC06lr42Vru1EQ"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"customer_code\": \"{{ $json.customer_id }}\",\n  \"amount\": {{ $json.points }},\n  \"remarks\": \"{{ $json.reason }}\",\n  \"transaction_note\": \"Demand payment reward\",\n  \"payment_mode\": \"system\",\n  \"topup_by\": \"automation\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          592,
          128
        ],
        "id": "14eb86db-4a29-4efa-a07a-9bd3f55cd679",
        "name": "HTTP Request",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "content": "Payload Sample - \nUnique Identifiers - \n\ncustomer_id = ID,\ntoday_delta_additions\n\n{\n  \"customer_code\": \"6OW00000KYSIBYA5\",\n  \"customer_mobile\": \"9967630264\",\n  \"email\": \"shital.nevarekar@yahoo.com\",\n  \"customer_unique_key\": \"9967630264_shital.nevarekar@yahoo.com\",\n  \"today_date\": \"2026-04-28\",\n  \"amount\": 1000,\n  \"remarks\": \"OpportunityClosedLostSurvey\",\n  \"transaction_note\": \"Credit point for taking survey\",\n  \"payment_mode\": \"cash\",\n  \"topup_by\": \"automation\",\n  \"today_delta_additions\": \"2026-04-28\"\n}",
          "height": 400,
          "width": 528
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          416,
          -416
        ],
        "id": "92e78fd4-e5c8-4aec-94db-3ad34288c623",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT EXISTS (\n  SELECT 1\n  FROM wallet_transaction_logs\n  WHERE customer_code = '{{$json.customer_code}}'\n  AND remarks = '{{$json.remarks}}'\n  AND status = 'SUCCESS'\n);\n\n/* SELECT status\nFROM wallet_transaction_logs\nWHERE customer_code = '{{$json.customer_code}}'\nAND remarks = '{{$json.remarks}}'\nAND status = 'SUCCESS'\nLIMIT 1; */",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          480,
          -48
        ],
        "id": "dadc7651-0249-47d7-bfc4-11546b87a8cb",
        "name": "Check Duplicates",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          688,
          0
        ],
        "id": "1dbfcade-43ce-4857-82e3-db4fffc29b0e",
        "name": "Merge",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "0a538946-c5b1-47ce-aada-9f10cca56fc2",
                "leftValue": "={{$json.exists}}",
                "rightValue": "false",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          896,
          80
        ],
        "id": "26ae4894-5698-409c-86d4-f9a76317792d",
        "name": "If",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://hi-society.lockated.com/loyalty/members/credit_wallet.json",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "f4725ada33bd6cd9724db65f352308f913b3d5bea2eea2c6"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"customer_code\": \"{{$json.customer_code}}\",\n  \"amount\": {{$json.amount || 0}},\n  \"remarks\": \"{{$json.remarks || 'NA'}}\",\n  \"transaction_note\": \"Demand payment reward\",\n  \"payment_mode\": \"system\",\n  \"topup_by\": \"automation\"\n}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1104,
          160
        ],
        "id": "796aa380-216b-43b8-9932-ccd110477d2b",
        "name": "HTTP Request to credit points3",
        "alwaysOutputData": true,
        "retryOnFail": true,
        "waitBetweenTries": 1500,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8b311af8-f014-4910-b04d-608e1847c9a0",
                "name": "customer_code",
                "value": "={{$node[\"Streamline data for credit point on completing survey1\"].json.customer_code}}",
                "type": "string"
              },
              {
                "id": "751ef75e-fe0a-4f82-ac88-6434d2a0629b",
                "name": "amount",
                "value": "={{$node[\"Streamline data for credit point on completing survey1\"].json.amount}}",
                "type": "number"
              },
              {
                "id": "b1145a55-a695-4cfa-81d1-79f7f51abc14",
                "name": "remarks",
                "value": "={{$node[\"Streamline data for credit point on completing survey1\"].json.remarks}}",
                "type": "string"
              },
              {
                "id": "38f3dae0-4ba1-4391-a7f6-5af5b6f2fcbe",
                "name": "=reference_id",
                "value": "={{$node[\"Streamline data for credit point on completing survey1\"].json.reference_id}}",
                "type": "string"
              },
              {
                "id": "dcf52459-b151-4db8-b465-7a890da209c6",
                "name": "transaction_note",
                "value": "={{$node[\"Streamline data for credit point on completing survey1\"].json.transaction_note}}",
                "type": "string"
              },
              {
                "id": "9045fe70-369a-4af3-bc3a-3780061fbae0",
                "name": "status",
                "value": "={{$json.error ? \"FAILED\" : ($json.statusCode >= 200 && $json.statusCode < 300 ? \"SUCCESS\" : \"FAILED\")}}",
                "type": "string"
              },
              {
                "id": "fc9a41e4-3d87-47ef-bec1-ec7679e81d0a",
                "name": "status_code",
                "value": "={{$json.statusCode || $json.error?.status || 500}}",
                "type": "number"
              },
              {
                "id": "2a2f8faa-b24f-46c3-ae66-201da970f5db",
                "name": "transaction_id",
                "value": "={{$json.body?.transaction_id || null}}",
                "type": "string"
              },
              {
                "id": "a6029dde-70bd-44d7-a004-ff1e9d317785",
                "name": "message",
                "value": "={{$json.body?.error || $json.error?.message?.split(\"\\n\")[0]}}",
                "type": "string"
              },
              {
                "id": "ab7c1a10-7953-4d1e-bbe1-ae422f4bc70e",
                "name": "request_payload",
                "value": "={{$json}}",
                "type": "object"
              },
              {
                "id": "44f2b0f0-8e91-439f-aec5-a355e2705ff9",
                "name": "response_payload",
                "value": "={{$json}}",
                "type": "object"
              },
              {
                "id": "96ed068c-7dc1-4cbf-9384-4abcdde9eb86",
                "name": "execution_id",
                "value": "{{$json.execution_id}}",
                "type": "string"
              },
              {
                "id": "d4fdcaae-ae9c-4296-96fb-eb4ac2c8c591",
                "name": "created_at",
                "value": "={{new Date().toISOString()}}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1296,
          240
        ],
        "id": "455c55d7-ec8b-4f55-887c-52b6674fd783",
        "name": "Edit Fields3",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO wallet_transaction_logs (\n    customer_code,\n    amount,\n    remarks,\n    reference_id,\n    transaction_note,\n    status,\n    status_code,\n    message,\n    request_payload,\n    response_payload,\n    execution_id,\n    created_at\n)\nVALUES (\n    '{{$json.customer_code}}',\n    {{$json.amount || 0}},\n    '{{($json.remarks || \"\").replace(/'/g, \"''\")}}',\n    {{$json.reference_id ? `'${$json.reference_id}'` : 'NULL'}},\n    '{{($json.transaction_note || \"\").replace(/'/g, \"''\")}}',\n    '{{($json.status || \"\").replace(/'/g, \"''\")}}',\n    {{$json.status_code || 500}},\n    '{{($json.message || \"\").replace(/'/g, \"''\")}}',\n    '{{JSON.stringify($json.request_payload || {}).replace(/'/g, \"''\")}}'::jsonb,\n    '{{JSON.stringify($json.response_payload || {}).replace(/'/g, \"''\")}}'::jsonb,\n    {{$json.execution_id ? `'${$json.execution_id}'` : 'NULL'}},\n    NOW()\n);",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1520,
          304
        ],
        "id": "0a526705-bbc8-4094-a0d8-352fb0457536",
        "name": "Add entry to logs4",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  return {\n    json: {\n      customer_code: item.json.ID,\n      customer_mobile: item.json.customer_mobile,\n      email: item.json.Account_Email__c,\n      customer_unique_key: `${item.json.customer_mobile}_${item.json.Account_Email__c}`,\n      opportunity_id: item.json.Id,\n      today_date: item.json.today_delta_additions,\n      amount: 1000,\n      remarks: \"OpportunityClosedLostSurvey\",\n      transaction_note: \"Credit point for taking survey\",\n      payment_mode: \"cash\",\n      topup_by: \"automation\",\n      today_delta_additions: item.json.today_delta_additions\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          320,
          48
        ],
        "id": "cc1f0fff-7e01-4c6d-8626-fdaf6e5bfab5",
        "name": "Streamline data for credit point on completing survey",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * \nFROM wallet_transaction_logs WHERE remarks = 'OpportunityClosedLostSurvey'\nORDER BY created_at DESC;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          800,
          288
        ],
        "id": "3d0ac1eb-0370-434a-813a-d6fec970894b",
        "name": "Check entries for logs",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1n0Jszalajr8FyKG4X5L4zVD5eT_L8YgardL2LXNAPdo",
            "mode": "list",
            "cachedResultName": "Rustomjee Rule Engine Report",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n0Jszalajr8FyKG4X5L4zVD5eT_L8YgardL2LXNAPdo/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 693074421,
            "mode": "list",
            "cachedResultName": "Survey Rule",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n0Jszalajr8FyKG4X5L4zVD5eT_L8YgardL2LXNAPdo/edit#gid=693074421"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          0,
          -176
        ],
        "id": "e713faec-e01e-4c38-90c1-4d97238e785f",
        "name": "Get row(s) in sheet",
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "h8W4AxPAHtomi8R3",
            "name": "Rustomjee Dummy Data Testing"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const allowedStages = [\n  \"Closed Won\",\n  \"Booking In Process\",\n  \"Booking Confirmed\",\n  \"ClosedWon\",\n  \"BookingInProcess\",\n  \"BookingConfirmed\"\n];\n\nreturn items\n\n  .map(item => {\n\n    const data = item.json;\n\n    // Pick first available mobile\n    const rawMobile =\n      data.Account_Mobile_1__c ||\n      data.Account_Mobile_2__c ||\n      data.Account_Mobile_Number__c ||\n      null;\n\n    // Remove non-numeric chars\n    const customer_mobile =\n      rawMobile\n        ? String(rawMobile).replace(/\\D/g, \"\")\n        : null;\n\n    // Validations\n    if (\n      data.Survey_Name__c !==\n        \"OpportunityClosedWonLostSurvey\" ||\n\n      data.Status__c !== \"Completed\" ||\n\n      !allowedStages.includes(data.StageName) ||\n\n      !customer_mobile ||\n\n      !data.Account_Email__c\n    ) {\n      return null;\n    }\n\n    return {\n      json: {\n\n        customer_code:\n          data.KUNNR,\n\n        customer_mobile:\n          customer_mobile,\n\n        email:\n          data.Account_Email__c,\n\n        customer_unique_key:\n          `${customer_mobile}_${data.Account_Email__c}`,\n\n        opportunity_id:\n          data.KUNNR,\n\n        today_date:\n          data.today_delta_additions,\n\n        amount: 1000,\n\n        remarks:\n          \"OpportunityClosedLostSurvey\",\n\n        transaction_note:\n          \"Credit point for taking survey\",\n\n        payment_mode: \"cash\",\n\n        topup_by: \"automation\",\n\n        today_delta_additions:\n          data.today_delta_additions\n      }\n    };\n\n  })\n\n  .filter(Boolean);"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          272,
          -160
        ],
        "id": "905c0a19-7976-4196-8054-34d99e14a2cb",
        "name": "Streamline data for credit point on completing survey1",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "DELETE FROM wallet_transaction_logs\nWHERE customer_code = '476035' AND remarks = 'OpportunityClosedLostSurvey';",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1088,
          -400
        ],
        "id": "f1f34a1d-e013-4c7d-852d-a02bf0346d18",
        "name": "Check entries for logs1",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          []
        ]
      },
      "Query to fetch details of person done booking within first 30 days from the site visit": {
        "main": [
          [
            {
              "node": "Streamline data for credit point on completing survey",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Duplicates": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "HTTP Request to credit points3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request to credit points3": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Add entry to logs4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Streamline data for credit point on completing survey": {
        "main": [
          []
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Streamline data for credit point on completing survey1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Streamline data for credit point on completing survey1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check Duplicates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "25f88628-00a2-4819-8469-881d53bfe84f",
    "activeVersionId": null,
    "versionCounter": 69,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-05-27T14:04:11.665Z",
        "createdAt": "2026-05-27T14:04:11.665Z",
        "role": "workflow:owner",
        "workflowId": "hIy0HXFwdmC8ZNII",
        "projectId": "s9jeiIUr8G6hBG6i",
        "project": {
          "updatedAt": "2026-01-28T12:34:21.552Z",
          "createdAt": "2025-12-24T09:57:24.391Z",
          "id": "s9jeiIUr8G6hBG6i",
          "name": "N8N Admin <n8n@lockated.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
          "projectRelations": [
            {
              "updatedAt": "2025-12-24T09:57:24.391Z",
              "createdAt": "2025-12-24T09:57:24.391Z",
              "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "projectId": "s9jeiIUr8G6hBG6i",
              "user": {
                "updatedAt": "2026-06-09T10:04:21.000Z",
                "createdAt": "2025-12-24T09:57:23.917Z",
                "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
                "email": "n8n@lockated.com",
                "firstName": "N8N",
                "lastName": "Admin",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "automationGoalDevops": [
                    "ci-cd",
                    "cloud-infrastructure-orchestration",
                    "monitoring-alerting",
                    "reporting"
                  ],
                  "companyType": "saas",
                  "role": "it"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                  "userActivatedAt": 1767166205042,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1770088091114
                  },
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-06-08",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [
      {
        "updatedAt": "2026-05-27T14:03:19.258Z",
        "createdAt": "2026-05-27T14:03:19.258Z",
        "id": "JAzcttXOsL9MnA8J",
        "name": "Rustomjee Testing"
      }
    ],
    "parentFolder": {
      "updatedAt": "2026-05-27T14:08:13.936Z",
      "createdAt": "2026-05-27T14:08:13.936Z",
      "id": "2dGiSdbAmTSvpw1f",
      "name": "Testing Through Dummy Data",
      "parentFolderId": "Y9zGEIC6huRvstXD"
    },
    "activeVersion": null,
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "bf153e6cdba4cfc2e28ae7c912059acc0cb72ac653b2725cc6d1dcee9c5d6393"
  }
}