n8n Backup - 09 June 2026/Rustomjee_BigQuery_Category___Onboarding___Credit_Points_on_register_through_app_copy_PDvUJ8Monu9I8BeA.json
{
  "data": {
    "updatedAt": "2026-06-01T09:56:54.932Z",
    "createdAt": "2026-05-27T14:06:23.086Z",
    "id": "PDvUJ8Monu9I8BeA",
    "name": "Rustomjee BigQuery Category - Onboarding - Credit Points on register through app copy",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {},
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -336,
          16
        ],
        "id": "4d8f4b3e-0863-4e96-b25d-0979e5347f18",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT *\nFROM \n  powerbi-implementation.dataWarehouse_prod.sales_booking LIMIT 1000\n",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          176,
          288
        ],
        "id": "8c8d6340-47ac-4000-9d0d-1e54167cba97",
        "name": "Execute a SQL query",
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT *\nFROM \n  powerbi-implementation.dataWarehouse_prod.sales_leads \n  WHERE LeadSource = \"Loyalty\"",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          416,
          288
        ],
        "id": "ed323283-fd0f-4a12-9857-09bbe950c194",
        "name": "Execute a SQL query1",
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "USE storejust;\n\nSELECT DISTINCT\n    su.customer_code,\n    su.mobile,\n    su.email,\n    su.id AS user_id\nFROM spree_users su\nINNER JOIN user_devices ud\n    ON su.id = ud.user_id\nWHERE\n    su.organization_id = 9\n    AND su.customer_code IS NOT NULL\n    AND su.customer_code <> ''\n    AND ud.device_id IN (1,2);\n\n/* USE storejust;\n\nSELECT\n    su.customer_code,\n    su.mobile,\n    su.email,\n    su.id AS user_id,\n    ud.device_type,\n    ud.device_id\nFROM spree_users su\nINNER JOIN user_devices ud\n    ON su.id = ud.user_id\nWHERE\n    su.organization_id = 9\n    AND su.customer_code IS NOT NULL\n    AND su.customer_code <> ''\n    AND ud.device_id IN (1,2);\n*/",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -96,
          -16
        ],
        "id": "21b22a3c-e6a6-400f-8e0d-a835561c7edb",
        "name": "Execute a SQL query2",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "9o26nKWGDCVPYje6",
            "name": "StoreJust Database Loyalty"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "USE storejust;\n\n-- SELECT * FROM user_devices LIMIT 100;\nSELECT * FROM spree_users WHERE organization_id = '9' AND customer_code IS NOT NULL LIMIT 100;",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          288,
          -432
        ],
        "id": "f1e27fb2-90ba-42d0-9d43-8216bed0a688",
        "name": "Execute a SQL query3",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "9o26nKWGDCVPYje6",
            "name": "StoreJust Database Loyalty"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT EXISTS (\n  SELECT 1\n  FROM wallet_transaction_logs\n  WHERE customer_code = '{{$json.customer_code}}'\n  AND remarks = '{{$json.remarks}}'\n  AND status = 'SUCCESS'\n);\n\n/* SELECT status\nFROM wallet_transaction_logs\nWHERE customer_code = '{{$json.customer_code}}'\nAND remarks = '{{$json.remarks}}'\nAND status = 'SUCCESS'\nLIMIT 1; */",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          464,
          -192
        ],
        "id": "b19203a3-85bc-4f51-bf91-049422b26f16",
        "name": "Check Duplicates",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          608,
          -16
        ],
        "id": "aec1e9a4-fc84-4d6b-9326-24425770dda9",
        "name": "Merge",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "0a538946-c5b1-47ce-aada-9f10cca56fc2",
                "leftValue": "={{$json.exists}}",
                "rightValue": "false",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          848,
          0
        ],
        "id": "538a5839-72b3-4a2b-ac56-1f2975cfc9f8",
        "name": "If",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO wallet_transaction_logs (\n    customer_code,\n    amount,\n    remarks,\n    reference_id,\n    transaction_note,\n    status,\n    status_code,\n    message,\n    request_payload,\n    response_payload,\n    execution_id,\n    created_at\n)\nVALUES (\n    '{{$json.customer_code}}',\n    {{$json.amount || 0}},\n    '{{($json.remarks || \"\").replace(/'/g, \"''\")}}',\n    {{$json.reference_id ? `'${$json.reference_id}'` : 'NULL'}},\n    '{{($json.transaction_note || \"\").replace(/'/g, \"''\")}}',\n    '{{($json.status || \"\").replace(/'/g, \"''\")}}',\n    {{$json.status_code || 500}},\n    '{{($json.message || \"\").replace(/'/g, \"''\")}}',\n    '{{JSON.stringify($json.request_payload || {}).replace(/'/g, \"''\")}}'::jsonb,\n    '{{JSON.stringify($json.response_payload || {}).replace(/'/g, \"''\")}}'::jsonb,\n    {{$json.execution_id ? `'${$json.execution_id}'` : 'NULL'}},\n    NOW()\n);",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1568,
          224
        ],
        "id": "4df158fd-234a-471e-a1a9-ea6c2e3ac6de",
        "name": "Add entry to logs4",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT *\nFROM wallet_transaction_logs WHERE remarks = 'App Download Reward' AND STATUS = 'SUCCESS'\nORDER BY created_at DESC ;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          672,
          304
        ],
        "id": "b494958f-27d2-4461-ba73-23e5ef585282",
        "name": "Check entries for logs",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const today = new Date().toISOString().split('T')[0];\n\nreturn items.map(item => {\n\n  const customerCode = item.json.customer_code;\n  const mobile = item.json.mobile || '';\n  const email = item.json.email || '';\n\n  return {\n    json: {\n      customer_code: customerCode,\n      customer_mobile: mobile,\n      email: email,\n      customer_unique_key: `${mobile}_${email}`,\n      opportunity_id: customerCode,\n      today_date: today,\n      amount: 1000,\n      remarks: \"App Download Reward\",\n      transaction_note: \"Credit point for taking survey\",\n      payment_mode: \"cash\",\n      topup_by: \"automation\",\n      today_delta_additions: today\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          176,
          -96
        ],
        "id": "042eced4-a87b-47c7-a624-d0a91a042e88",
        "name": "Streamline Customers With App Downloaded",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://hi-society.lockated.com/loyalty/members/credit_wallet.json",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "f4725ada33bd6cd9724db65f352308f913b3d5bea2eea2c6"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"customer_code\": \"{{$json.customer_code}}\",\n  \"amount\": {{$json.amount || 0}},\n  \"remarks\": \"{{$json.remarks || 'NA'}}\",\n  \"transaction_note\": \"Demand payment reward\",\n  \"payment_mode\": \"system\",\n  \"topup_by\": \"automation\"\n}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1104,
          16
        ],
        "id": "7a468f25-ce6e-4f6e-90be-0f6af1a5e4b3",
        "name": "HTTP Request to credit points3",
        "alwaysOutputData": true,
        "retryOnFail": true,
        "waitBetweenTries": 1500,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8b311af8-f014-4910-b04d-608e1847c9a0",
                "name": "customer_code",
                "value": "={{$node[\"Streamline Customers With App Downloaded\"].json.customer_code}}",
                "type": "string"
              },
              {
                "id": "751ef75e-fe0a-4f82-ac88-6434d2a0629b",
                "name": "amount",
                "value": "={{$node[\"Streamline Customers With App Downloaded\"].json.amount}}",
                "type": "number"
              },
              {
                "id": "b1145a55-a695-4cfa-81d1-79f7f51abc14",
                "name": "remarks",
                "value": "={{$node[\"Streamline Customers With App Downloaded\"].json.remarks}}",
                "type": "string"
              },
              {
                "id": "38f3dae0-4ba1-4391-a7f6-5af5b6f2fcbe",
                "name": "=reference_id",
                "value": "={{$node[\"Streamline Customers With App Downloaded\"].json.reference_id}}",
                "type": "string"
              },
              {
                "id": "dcf52459-b151-4db8-b465-7a890da209c6",
                "name": "transaction_note",
                "value": "={{$node[\"Streamline Customers With App Downloaded\"].json.transaction_note}}",
                "type": "string"
              },
              {
                "id": "9045fe70-369a-4af3-bc3a-3780061fbae0",
                "name": "status",
                "value": "={{$json.error ? \"FAILED\" : ($json.statusCode >= 200 && $json.statusCode < 300 ? \"SUCCESS\" : \"FAILED\")}}",
                "type": "string"
              },
              {
                "id": "fc9a41e4-3d87-47ef-bec1-ec7679e81d0a",
                "name": "status_code",
                "value": "={{$json.statusCode || $json.error?.status || 500}}",
                "type": "number"
              },
              {
                "id": "2a2f8faa-b24f-46c3-ae66-201da970f5db",
                "name": "transaction_id",
                "value": "={{$json.body?.transaction_id || null}}",
                "type": "string"
              },
              {
                "id": "a6029dde-70bd-44d7-a004-ff1e9d317785",
                "name": "message",
                "value": "={{$json.body?.error || $json.error?.message?.split(\"\\n\")[0]}}",
                "type": "string"
              },
              {
                "id": "ab7c1a10-7953-4d1e-bbe1-ae422f4bc70e",
                "name": "request_payload",
                "value": "={{$json}}",
                "type": "object"
              },
              {
                "id": "44f2b0f0-8e91-439f-aec5-a355e2705ff9",
                "name": "response_payload",
                "value": "={{$json}}",
                "type": "object"
              },
              {
                "id": "96ed068c-7dc1-4cbf-9384-4abcdde9eb86",
                "name": "execution_id",
                "value": "{{$json.execution_id}}",
                "type": "string"
              },
              {
                "id": "d4fdcaae-ae9c-4296-96fb-eb4ac2c8c591",
                "name": "created_at",
                "value": "={{new Date().toISOString()}}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1328,
          112
        ],
        "id": "c336ad0a-ba7d-40d4-9382-b15d98107536",
        "name": "Edit Fields3",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "DELETE FROM wallet_transaction_logs\nWHERE customer_code = '476035';",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          960,
          -432
        ],
        "id": "8f5adedc-4a40-4dd7-82b5-52860e6881cc",
        "name": "Delete Entries From Logs",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Execute a SQL query2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          []
        ]
      },
      "Execute a SQL query2": {
        "main": [
          [
            {
              "node": "Streamline Customers With App Downloaded",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Duplicates": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "HTTP Request to credit points3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Streamline Customers With App Downloaded": {
        "main": [
          [
            {
              "node": "Check Duplicates",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request to credit points3": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Add entry to logs4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "d77048bb-6750-4d91-9a31-897eeccd8b46",
    "activeVersionId": null,
    "versionCounter": 65,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-05-27T14:06:23.093Z",
        "createdAt": "2026-05-27T14:06:23.093Z",
        "role": "workflow:owner",
        "workflowId": "PDvUJ8Monu9I8BeA",
        "projectId": "s9jeiIUr8G6hBG6i",
        "project": {
          "updatedAt": "2026-01-28T12:34:21.552Z",
          "createdAt": "2025-12-24T09:57:24.391Z",
          "id": "s9jeiIUr8G6hBG6i",
          "name": "N8N Admin <n8n@lockated.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
          "projectRelations": [
            {
              "updatedAt": "2025-12-24T09:57:24.391Z",
              "createdAt": "2025-12-24T09:57:24.391Z",
              "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "projectId": "s9jeiIUr8G6hBG6i",
              "user": {
                "updatedAt": "2026-06-09T10:04:21.000Z",
                "createdAt": "2025-12-24T09:57:23.917Z",
                "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
                "email": "n8n@lockated.com",
                "firstName": "N8N",
                "lastName": "Admin",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "automationGoalDevops": [
                    "ci-cd",
                    "cloud-infrastructure-orchestration",
                    "monitoring-alerting",
                    "reporting"
                  ],
                  "companyType": "saas",
                  "role": "it"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                  "userActivatedAt": 1767166205042,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1770088091114
                  },
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-06-08",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [
      {
        "updatedAt": "2026-05-27T14:03:19.258Z",
        "createdAt": "2026-05-27T14:03:19.258Z",
        "id": "JAzcttXOsL9MnA8J",
        "name": "Rustomjee Testing"
      }
    ],
    "parentFolder": {
      "updatedAt": "2026-05-27T14:08:13.936Z",
      "createdAt": "2026-05-27T14:08:13.936Z",
      "id": "2dGiSdbAmTSvpw1f",
      "name": "Testing Through Dummy Data",
      "parentFolderId": "Y9zGEIC6huRvstXD"
    },
    "activeVersion": null,
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "562f35d123e9a1839476cbfd428d5936248ed6c2c09db691002d2655842e302c"
  }
}