n8n Backup - 09 June 2026/Rustomjee_BigQuery_Category___Home_Loan__1___Banking_Table_copy_qCLsgb2UO5NzwXLu.json
{
  "data": {
    "updatedAt": "2026-06-02T11:59:18.208Z",
    "createdAt": "2026-05-27T14:03:58.183Z",
    "id": "qCLsgb2UO5NzwXLu",
    "name": "Rustomjee BigQuery Category - Home Loan- 1 - Banking Table copy",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {},
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -304,
          48
        ],
        "id": "a2eb4d63-0737-4303-b902-c4ad3f149ce6",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT *\nFROM \n  powerbi-implementation.dataWarehouse_prod.banking_report_1 LIMIT 50;\n\n",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          -16,
          -528
        ],
        "id": "03003598-8f65-4078-b41c-0487fded1927",
        "name": "Execute a SQL query",
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT *\nFROM \n  powerbi-implementation.dataWarehouse_prod.sales_leads \n  WHERE LeadSource = \"Loyalty\"",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          224,
          -528
        ],
        "id": "22a37348-d017-4a14-951f-c1f51deebc4c",
        "name": "Execute a SQL query1",
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT *\nFROM `powerbi-implementation.dataWarehouse_prod.banking_report_1`\nWHERE Bank_Loan__c = 'Finserv' AND KUNNR = \"476035\"",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          -32,
          80
        ],
        "id": "e6a29acd-91be-44c9-9b9d-af8458d0b125",
        "name": "Query to fetch details of Banking Home Loan Funded_by_Banking_Team__c - True",
        "alwaysOutputData": true,
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://runwal-api.lockated.com/loyalty/members/credit_wallet.json",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "QsUjajggGCYJJGKndHkRidBxJN2cIUC06lr42Vru1EQ"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"customer_code\": \"{{ $json.customer_id }}\",\n  \"amount\": {{ $json.points_to_credit }},\n  \"remarks\": \"{{ $json.description }}\",\n  \"transaction_note\": \"Demand payment reward\",\n  \"payment_mode\": \"system\",\n  \"topup_by\": \"automation\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          944,
          -528
        ],
        "id": "b7facdcd-8473-45ef-a7bc-c0c51010f58c",
        "name": "HTTP Request",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "content": "Sample Payload -\nUnique Identifiers-\ncustomer_id = KUNNR\nId = Id\n\n{\n  \"customer_code\": \"474513\",\n  \"Id\": \"a1kOW000004ruwDYAQ\",\n  \"booking_id\": \"a0POW00000L1RdF2AV\",\n  \"customer_name\": null,\n  \"email\": null,\n  \"amount\": 1000,\n  \"remarks\": \"BOOKING_BANKING_FUNDED\",\n  \"transaction_note\": \"points credited for Banking Funded Booking\",\n  \"payment_mode\": \"cash\",\n  \"topup_by\": \"automation\",\n  \"transaction_date\": \"2026-04-28T04:38:13.434Z\"\n}",
          "height": 432,
          "width": 432
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -512,
          -416
        ],
        "id": "cdaebf75-9288-4b71-b78b-8088bab4ac96",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT EXISTS (\n  SELECT 1\n  FROM wallet_transaction_logs\n  WHERE customer_code = '{{$json.customer_code}}'\n  AND remarks = '{{$json.remarks}}'\n  AND status = 'SUCCESS'\n);\n\n/* SELECT status\nFROM wallet_transaction_logs\nWHERE customer_code = '{{$json.customer_code}}'\nAND remarks = '{{$json.remarks}}'\nAND status = 'SUCCESS'\nLIMIT 1; */",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          416,
          -144
        ],
        "id": "407345ed-5ad4-49ae-a018-87f71bdbc589",
        "name": "Check Duplicates",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          640,
          -112
        ],
        "id": "4b4193cf-95a2-40b3-bc24-c6b51de73894",
        "name": "Merge",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "0a538946-c5b1-47ce-aada-9f10cca56fc2",
                "leftValue": "={{$json.exists}}",
                "rightValue": "false",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          928,
          -64
        ],
        "id": "74dbe562-931e-4715-b28c-efcf9cc326e0",
        "name": "If",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://hi-society.lockated.com/loyalty/members/credit_wallet.json",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "f4725ada33bd6cd9724db65f352308f913b3d5bea2eea2c6"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"customer_code\": \"{{$json.customer_code}}\",\n  \"amount\": {{$json.amount || 0}},\n  \"remarks\": \"{{$json.remarks || 'NA'}}\",\n  \"transaction_note\": \"Demand payment reward\",\n  \"payment_mode\": \"system\",\n  \"topup_by\": \"automation\"\n}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1200,
          -112
        ],
        "id": "786eac38-afbe-407f-9eca-a80f01179653",
        "name": "HTTP Request to credit points3",
        "alwaysOutputData": true,
        "retryOnFail": true,
        "waitBetweenTries": 1500,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8b311af8-f014-4910-b04d-608e1847c9a0",
                "name": "customer_code",
                "value": "={{$node[\"Banking Table Streamline Output1\"].json.customer_code}}",
                "type": "string"
              },
              {
                "id": "751ef75e-fe0a-4f82-ac88-6434d2a0629b",
                "name": "amount",
                "value": "={{$node[\"Banking Table Streamline Output1\"].json.amount}}",
                "type": "number"
              },
              {
                "id": "b1145a55-a695-4cfa-81d1-79f7f51abc14",
                "name": "remarks",
                "value": "={{$node[\"Banking Table Streamline Output1\"].json.remarks}}",
                "type": "string"
              },
              {
                "id": "38f3dae0-4ba1-4391-a7f6-5af5b6f2fcbe",
                "name": "=reference_id",
                "value": "={{$node[\"Banking Table Streamline Output1\"].json.reference_id}}",
                "type": "string"
              },
              {
                "id": "dcf52459-b151-4db8-b465-7a890da209c6",
                "name": "transaction_note",
                "value": "={{$node[\"Banking Table Streamline Output1\"].json.transaction_note}}",
                "type": "string"
              },
              {
                "id": "9045fe70-369a-4af3-bc3a-3780061fbae0",
                "name": "status",
                "value": "={{$json.error ? \"FAILED\" : ($json.statusCode >= 200 && $json.statusCode < 300 ? \"SUCCESS\" : \"FAILED\")}}",
                "type": "string"
              },
              {
                "id": "fc9a41e4-3d87-47ef-bec1-ec7679e81d0a",
                "name": "status_code",
                "value": "={{$json.statusCode || $json.error?.status || 500}}",
                "type": "number"
              },
              {
                "id": "2a2f8faa-b24f-46c3-ae66-201da970f5db",
                "name": "transaction_id",
                "value": "={{$json.body?.transaction_id || null}}",
                "type": "string"
              },
              {
                "id": "a6029dde-70bd-44d7-a004-ff1e9d317785",
                "name": "message",
                "value": "={{$json.body?.error || $json.error?.message?.split(\"\\n\")[0]}}",
                "type": "string"
              },
              {
                "id": "ab7c1a10-7953-4d1e-bbe1-ae422f4bc70e",
                "name": "request_payload",
                "value": "={{$json}}",
                "type": "object"
              },
              {
                "id": "44f2b0f0-8e91-439f-aec5-a355e2705ff9",
                "name": "response_payload",
                "value": "={{$json}}",
                "type": "object"
              },
              {
                "id": "96ed068c-7dc1-4cbf-9384-4abcdde9eb86",
                "name": "execution_id",
                "value": "{{$json.execution_id}}",
                "type": "string"
              },
              {
                "id": "d4fdcaae-ae9c-4296-96fb-eb4ac2c8c591",
                "name": "created_at",
                "value": "={{new Date().toISOString()}}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1392,
          64
        ],
        "id": "0b3fd9f1-c67c-4118-8cf9-f5338ed6fbaa",
        "name": "Edit Fields3",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO wallet_transaction_logs (\n    customer_code,\n    amount,\n    remarks,\n    reference_id,\n    transaction_note,\n    status,\n    status_code,\n    message,\n    request_payload,\n    response_payload,\n    execution_id,\n    created_at\n)\nVALUES (\n    {{$json.customer_code}},\n    {{$json.amount || 0}},\n    '{{($json.remarks || \"\").replace(/'/g, \"''\")}}',\n    {{$json.reference_id ? `'${$json.reference_id}'` : 'NULL'}},\n    '{{($json.transaction_note || \"\").replace(/'/g, \"''\")}}',\n    '{{($json.status || \"\").replace(/'/g, \"''\")}}',\n    {{$json.status_code || 500}},\n    '{{($json.message || \"\").replace(/'/g, \"''\")}}',\n    '{{JSON.stringify($json.request_payload || {}).replace(/'/g, \"''\")}}'::jsonb,\n    '{{JSON.stringify($json.response_payload || {}).replace(/'/g, \"''\")}}'::jsonb,\n    {{$json.execution_id ? `'${$json.execution_id}'` : 'NULL'}},\n    NOW()\n);",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1616,
          160
        ],
        "id": "4abfb9c4-4860-444a-90eb-a2043dc7784d",
        "name": "Add entry to logs4",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * \nFROM wallet_transaction_logs WHERE remarks = 'BOOKING BANKING FUNDED'\nORDER BY created_at DESC;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          704,
          -528
        ],
        "id": "66b2569e-e6e9-417b-ae16-130c58ef50ce",
        "name": "Check entries for logs",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  return {\n    json: {\n      customer_code: item.json.KUNNR,   // Customer ID\n      Id: item.json.Id,\n      booking_id: item.json.X18_Digit_Booking_ID__c,\n      customer_name: item.json.Name_of_Customer__c,\n      email: item.json.Email_Id__c,\n      amount: 1000,\n      remarks: \"BOOKING BANKING FUNDED\",\n      transaction_note: \"points credited for Banking Funded Booking\",\n      payment_mode: \"cash\",\n      topup_by: \"automation\",\n      transaction_date: new Date().toISOString(),\n      today_delta_additions: item.json.today_delta_additions\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          112
        ],
        "id": "3bfdc2a8-565b-462c-b4eb-028034152d03",
        "name": "Banking Table Streamline Output",
        "alwaysOutputData": true,
        "disabled": true
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT *\nFROM `powerbi-implementation.dataWarehouse_prod.banking_report_1`\nWHERE Funded_by_Banking_Team__c = 'true'",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          464,
          -528
        ],
        "id": "33cbaa71-4bd4-48fc-9116-cf55c58ae008",
        "name": "Query to fetch details of Banking Home Loan Funded_by_Banking_Team__c - True1",
        "alwaysOutputData": true,
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1n0Jszalajr8FyKG4X5L4zVD5eT_L8YgardL2LXNAPdo",
            "mode": "list",
            "cachedResultName": "Rustomjee Rule Engine Report",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n0Jszalajr8FyKG4X5L4zVD5eT_L8YgardL2LXNAPdo/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1921242970,
            "mode": "list",
            "cachedResultName": "Taking Home Loan Through Rustomjee",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n0Jszalajr8FyKG4X5L4zVD5eT_L8YgardL2LXNAPdo/edit#gid=1921242970"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          0,
          -256
        ],
        "id": "193b6056-0709-4408-ac00-b11ceb2cc207",
        "name": "Get row(s) in sheet",
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "h8W4AxPAHtomi8R3",
            "name": "Rustomjee Dummy Data Testing"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return items\n  .filter(item =>\n    item.json.Bank_Loan__c === \"Finserv\"\n  )\n  .map(item => {\n\n    return {\n      json: {\n\n        customer_code: item.json.KUNNR,\n\n        Id: item.json.Id,\n\n        booking_id:\n          item.json.X18_Digit_Booking_ID__c,\n\n        customer_name:\n          item.json.Name_of_Customer__c,\n\n        email:\n          item.json.Email_Id__c,\n\n        amount: 50,\n\n        remarks: \"BOOKING BANKING FUNDED\",\n\n        transaction_note:\n          \"points credited for Banking Funded Booking\",\n\n        payment_mode: \"cash\",\n\n        topup_by: \"automation\",\n\n        transaction_date:\n          new Date().toISOString(),\n\n        today_delta_additions:\n          item.json.today_delta_additions\n      }\n    };\n  });"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          -272
        ],
        "id": "f5314572-221e-447e-a356-41c240b8e77d",
        "name": "Banking Table Streamline Output1",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "DELETE FROM wallet_transaction_logs\nWHERE customer_code = '476035' AND remarks = 'BOOKING BANKING FUNDED';",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1168,
          -528
        ],
        "id": "a347aa95-7228-4143-a802-00e036ca8568",
        "name": "Delete Entries",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          []
        ]
      },
      "Query to fetch details of Banking Home Loan Funded_by_Banking_Team__c - True": {
        "main": [
          [
            {
              "node": "Banking Table Streamline Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Duplicates": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "HTTP Request to credit points3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request to credit points3": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Add entry to logs4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Banking Table Streamline Output": {
        "main": [
          []
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Banking Table Streamline Output1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Banking Table Streamline Output1": {
        "main": [
          [
            {
              "node": "Check Duplicates",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "010f788b-9fd3-4d9b-9962-ea8bfce2a8ca",
    "activeVersionId": null,
    "versionCounter": 49,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-05-27T14:03:58.191Z",
        "createdAt": "2026-05-27T14:03:58.191Z",
        "role": "workflow:owner",
        "workflowId": "qCLsgb2UO5NzwXLu",
        "projectId": "s9jeiIUr8G6hBG6i",
        "project": {
          "updatedAt": "2026-01-28T12:34:21.552Z",
          "createdAt": "2025-12-24T09:57:24.391Z",
          "id": "s9jeiIUr8G6hBG6i",
          "name": "N8N Admin <n8n@lockated.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
          "projectRelations": [
            {
              "updatedAt": "2025-12-24T09:57:24.391Z",
              "createdAt": "2025-12-24T09:57:24.391Z",
              "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "projectId": "s9jeiIUr8G6hBG6i",
              "user": {
                "updatedAt": "2026-06-09T10:04:21.000Z",
                "createdAt": "2025-12-24T09:57:23.917Z",
                "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
                "email": "n8n@lockated.com",
                "firstName": "N8N",
                "lastName": "Admin",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "automationGoalDevops": [
                    "ci-cd",
                    "cloud-infrastructure-orchestration",
                    "monitoring-alerting",
                    "reporting"
                  ],
                  "companyType": "saas",
                  "role": "it"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                  "userActivatedAt": 1767166205042,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1770088091114
                  },
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-06-08",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [
      {
        "updatedAt": "2026-05-27T14:03:19.258Z",
        "createdAt": "2026-05-27T14:03:19.258Z",
        "id": "JAzcttXOsL9MnA8J",
        "name": "Rustomjee Testing"
      }
    ],
    "parentFolder": {
      "updatedAt": "2026-05-27T14:08:13.936Z",
      "createdAt": "2026-05-27T14:08:13.936Z",
      "id": "2dGiSdbAmTSvpw1f",
      "name": "Testing Through Dummy Data",
      "parentFolderId": "Y9zGEIC6huRvstXD"
    },
    "activeVersion": null,
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "f4b4e32a06b915535898bbc7fbfa235fadb7a999b0d650cb6b38d8da2c8c7cf0"
  }
}