n8n Backup - 27 March 2026/SubTask_Inactivity__no_update_for_3_days__3GnC2PF1oOmNbeMT.json
{
  "updatedAt": "2026-03-23T12:51:54.788Z",
  "createdAt": "2026-03-20T16:09:27.872Z",
  "id": "3GnC2PF1oOmNbeMT",
  "name": "SubTask Inactivity (no update for 3 days)",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "task-inactivity",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f3f188f4-7f9a-453f-bd7e-4d74161ad5f1",
      "name": "Webhook",
      "webhookId": "2ad6cc43-a612-4a42-864e-d67b2bc2797a",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "notifications@lockated.com",
        "toEmail": "{{$json.manager_email}}",
        "subject": "=No Recent Update on Task: {{$json.task_title}}",
        "html": "=Dear {{$json.manager_first_name}} {{$json.manager_last_name}},\n\nWe noticed that there has been no update on the task <b>{{$json.task_title}}</b> for the past <b>3 days</b>.\n\n<b>Task Snapshot</b>\n* Task Title: {{$json.task_title}}\n* Current Status: {{$json.status}}\n* Last Updated On: {{$json.last_updated_at}}\n* Responsible Owner: {{$json.owner_first_name}} {{$json.owner_last_name}}\n\nPlease review the task and update the status or add comments to avoid potential delays.\n\nRegards,\n<b>PMO – Task Governance</b>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        544,
        96
      ],
      "id": "a4ad6a44-0fa0-4a2d-8de2-1c237ca6a6e0",
      "name": "Task Owner, PM",
      "webhookId": "ee070c71-f118-42d2-bcbd-5c969ad2943b",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "e6BxRubia0RizPKp",
          "name": "Lockated Local SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        256
      ],
      "id": "0adf1f0b-0b43-4f04-902f-02fb75d276b4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        32,
        288
      ],
      "id": "0c29df71-e7ba-4fd2-afca-32281c5381c5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  t.id            AS task_id,\n  t.title         AS task_title,\n  t.description,\n  t.status,\n  t.priority,\n  t.target_date,\n  t.created_at    AS task_created_at,\n  t.updated_at    AS last_updated_at,\n\n  -- Task Owner\n  rp.id           AS owner_id,\n  rp.firstname    AS owner_first_name,\n  rp.lastname     AS owner_last_name,\n  rp.email        AS owner_email,\n\n  -- Project\n  pm.id           AS project_id,\n  pm.title        AS project_title,\n\n  -- Project Manager\n  pmo.id          AS manager_id,\n  pmo.firstname   AS manager_first_name,\n  pmo.lastname    AS manager_last_name,\n  pmo.email       AS manager_email\n\nFROM task_managements t\n\nJOIN spree_users rp\n  ON rp.id = t.responsible_person_id\n\nJOIN project_managements pm\n  ON pm.id = t.project_management_id\n\nJOIN spree_users pmo\n  ON pmo.id = pm.owner_id\n\nWHERE\n  t.status IN ('open', 'in_progress', 'on_hold', 'overdue', 'started')\n  AND t.updated_at <= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n  AND t.active = 1\n  AND t.parent_id IS NOT NULL;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        288,
        96
      ],
      "id": "195c31f4-da34-4dd5-956d-cbcf35c9facc",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "FGCPCtEG47rFAJ4J",
          "name": "New FM UAT Task Management Database"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "notifications@lockated.com",
        "toEmail": "{{$json.owner_email}}",
        "subject": "=No Recent Update on Task: {{$json.task_title}}",
        "html": "=Dear {{$json.owner_first_name}} {{$json.owner_last_name}},\n\nWe noticed that there has been no update on the task <b>{{$json.task_title}}</b> for the past <b>3 days</b>.\n\n<b>Task Snapshot</b>\n* Task Title: {{$json.task_title}}\n* Current Status: {{$json.status}}\n* Last Updated On: {{$json.last_updated_at}}\n* Responsible Owner: {{$json.owner_first_name}} {{$json.owner_last_name}}\n\nPlease review the task and update the status or add comments to avoid potential delays.\n\nRegards,\n<b>PMO – Task Governance</b>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        528,
        304
      ],
      "id": "848209bd-7ad3-4004-ae80-2665ee77f0d9",
      "name": "Task Owner, PM1",
      "webhookId": "ee070c71-f118-42d2-bcbd-5c969ad2943b",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "e6BxRubia0RizPKp",
          "name": "Lockated Local SMTP"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Task Owner, PM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Task Owner, PM1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "505fa9e4-05e2-44db-b84c-389c10467f24",
  "activeVersionId": null,
  "versionCounter": 6,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-20T16:09:27.876Z",
      "createdAt": "2026-03-20T16:09:27.876Z",
      "role": "workflow:owner",
      "workflowId": "3GnC2PF1oOmNbeMT",
      "projectId": "s9jeiIUr8G6hBG6i",
      "project": {
        "updatedAt": "2026-01-28T12:34:21.552Z",
        "createdAt": "2025-12-24T09:57:24.391Z",
        "id": "s9jeiIUr8G6hBG6i",
        "name": "N8N Admin <n8n@lockated.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
        "projectRelations": [
          {
            "updatedAt": "2025-12-24T09:57:24.391Z",
            "createdAt": "2025-12-24T09:57:24.391Z",
            "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
            "projectId": "s9jeiIUr8G6hBG6i",
            "user": {
              "updatedAt": "2026-03-28T03:51:57.000Z",
              "createdAt": "2025-12-24T09:57:23.917Z",
              "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "email": "n8n@lockated.com",
              "firstName": "N8N",
              "lastName": "Admin",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "ci-cd",
                  "cloud-infrastructure-orchestration",
                  "monitoring-alerting",
                  "reporting"
                ],
                "companyType": "saas",
                "role": "it"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                "userActivatedAt": 1767166205042,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770088091114
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-27",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}