n8n Backup - 27 March 2026/Task_moved_in_Kanban__To_Do___In_Progress__u08iNlc4I6HEzXVw.json
{
  "updatedAt": "2026-03-23T12:10:07.620Z",
  "createdAt": "2025-12-26T08:09:54.184Z",
  "id": "u08iNlc4I6HEzXVw",
  "name": "Task moved in Kanban (To Do → In Progress)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "task-moved-in-kanban",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        -256
      ],
      "id": "daaae539-d31a-46af-bbf5-906147c31911",
      "name": "Webhook",
      "webhookId": "90e28b99-32b5-4674-b3da-38c7889fec3b",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "notifications@lockated.com",
        "toEmail": "={{$json.project_manager_email}}",
        "subject": "=Task Started: {{$json.task_title}}\n\n",
        "html": "=<p>Dear {{$json.project_manager_firstname}} {{$json.project_manager_lastname}},</p>\n\n<p>The task <b>{{$json.task_title}}</b> has been moved to <b>In Progress</b>, indicating that work has commenced.</p>\n\n<p><b>Task Details</b><br>\n* Task Title: {{$json.task_title}}<br>\n* Started By: {{$json.started_by_firstname}} {{$json.started_by_lastname}}<br>\n* Current Status: {{$json.new_task_status}}<br>\n* Project: {{$json.project_title}}</p>\n\n<p>This update is shared for visibility and tracking purposes.</p>\n\n<p>Regards,<br>\nProject Monitoring Team</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        16,
        -192
      ],
      "id": "b82e5703-bd67-42f8-83d1-763e9699ff53",
      "name": "PM",
      "webhookId": "ae807e0d-a553-41ea-9374-fe4557ded8be",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "e6BxRubia0RizPKp",
          "name": "Lockated Local SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        272,
        -80
      ],
      "id": "5e881cc4-3969-4bcc-ac83-8fb024e160b4",
      "name": "Respond to Webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH latest_task_status AS (\n  SELECT\n    tsl.*,\n    ROW_NUMBER() OVER (\n      PARTITION BY tsl.task_management_id\n      ORDER BY tsl.created_at DESC\n    ) AS rn\n  FROM task_status_logs tsl\n  WHERE tsl.created_at >= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n)\n\nSELECT\n  lts.id                 AS task_status_log_id,\n  lts.status             AS new_task_status,\n  lts.created_at         AS status_changed_at,\n  lts.created_by_id      AS started_by,\n\n  su.firstname           AS started_by_firstname,\n  su.lastname            AS started_by_lastname,\n  su.email               AS started_by_email,\n\n  tm.id                  AS task_id,\n  tm.title               AS task_title,\n  tm.parent_id           AS parent_id,\n\n  pm.id                  AS project_id,\n  pm.title               AS project_title,\n\n  -- project manager\n  pm_owner.email         AS project_manager_email,\n  pm_owner.firstname     AS project_manager_firstname,\n  pm_owner.lastname      AS project_manager_lastname\n\nFROM latest_task_status lts\n\nJOIN task_managements tm\n  ON tm.id = lts.task_management_id\n\nJOIN project_managements pm\n  ON pm.id = tm.project_management_id\n\n-- project manager\nJOIN spree_users pm_owner\n  ON pm_owner.id = pm.owner_id\n\n-- started by user\nLEFT JOIN spree_users su\n  ON su.id = lts.created_by_id\n\nWHERE\n  lts.rn = 1\n  AND tm.parent_id IS NULL;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -256,
        -224
      ],
      "id": "aac53951-3762-49f6-849d-1a0c2c73cd3f",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "FGCPCtEG47rFAJ4J",
          "name": "New FM UAT Task Management Database"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        -96
      ],
      "id": "67655246-ebf9-4a91-9ea6-d024dabf07f2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM task_status_logs;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -208,
        -16
      ],
      "id": "dde1ec39-8409-4bf2-8ca8-e11ca739c425",
      "name": "Execute a SQL query1",
      "credentials": {
        "mySql": {
          "id": "FGCPCtEG47rFAJ4J",
          "name": "New FM UAT Task Management Database"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        []
      ]
    },
    "PM": {
      "main": [
        []
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "PM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ada8d1eb-f480-46b5-ae5b-c66c0652ba54",
  "activeVersionId": "98bb829e-33ba-4f3f-94e4-3743fbcd9a42",
  "versionCounter": 30,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2025-12-26T08:09:54.188Z",
      "createdAt": "2025-12-26T08:09:54.188Z",
      "role": "workflow:owner",
      "workflowId": "u08iNlc4I6HEzXVw",
      "projectId": "s9jeiIUr8G6hBG6i",
      "project": {
        "updatedAt": "2026-01-28T12:34:21.552Z",
        "createdAt": "2025-12-24T09:57:24.391Z",
        "id": "s9jeiIUr8G6hBG6i",
        "name": "N8N Admin <n8n@lockated.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
        "projectRelations": [
          {
            "updatedAt": "2025-12-24T09:57:24.391Z",
            "createdAt": "2025-12-24T09:57:24.391Z",
            "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
            "projectId": "s9jeiIUr8G6hBG6i",
            "user": {
              "updatedAt": "2026-03-28T03:51:57.000Z",
              "createdAt": "2025-12-24T09:57:23.917Z",
              "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "email": "n8n@lockated.com",
              "firstName": "N8N",
              "lastName": "Admin",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "ci-cd",
                  "cloud-infrastructure-orchestration",
                  "monitoring-alerting",
                  "reporting"
                ],
                "companyType": "saas",
                "role": "it"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                "userActivatedAt": 1767166205042,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770088091114
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-27",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-06T08:52:22.000Z",
    "createdAt": "2026-03-06T08:52:19.894Z",
    "versionId": "98bb829e-33ba-4f3f-94e4-3743fbcd9a42",
    "workflowId": "u08iNlc4I6HEzXVw",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "task-moved-in-kanban",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          256,
          -256
        ],
        "id": "daaae539-d31a-46af-bbf5-906147c31911",
        "name": "Webhook",
        "webhookId": "90e28b99-32b5-4674-b3da-38c7889fec3b",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.project_manager_email}}",
          "subject": "=Task Started: {{$json.task_title}}\n\n",
          "html": "=Dear {{$json.project_manager_firstname}} {{$json.project_manager_lastname}},\n\nThe task <b>{{$json.task_title}}</b> has been moved to <b>In Progress</b>, indicating that work has commenced.\n\n<b>Task Details</b>\n* Task Title: {{$json.task_title}}\n* Updated Status: {{$json.new_task_status}}\n* Project: {{$json.project_title}}\n\nThis update is shared for visibility and tracking purposes.\n\nRegards,\nProject Monitoring Team\n\n\n\n\n",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          16,
          -192
        ],
        "id": "b82e5703-bd67-42f8-83d1-763e9699ff53",
        "name": "PM",
        "webhookId": "ae807e0d-a553-41ea-9374-fe4557ded8be",
        "alwaysOutputData": true,
        "credentials": {
          "smtp": {
            "id": "m6pGNPu76sBcBXtf",
            "name": "Task Management SMTP Account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          272,
          -80
        ],
        "id": "5e881cc4-3969-4bcc-ac83-8fb024e160b4",
        "name": "Respond to Webhook",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH latest_task_status AS (\n  SELECT\n    tsl.*,\n    ROW_NUMBER() OVER (\n      PARTITION BY tsl.task_management_id\n      ORDER BY tsl.created_at DESC\n    ) AS rn\n  FROM task_status_logs tsl\n  WHERE tsl.created_at >= UTC_TIMESTAMP() - INTERVAL 60 MINUTE\n)\n\nSELECT\n  lts.id                 AS task_status_log_id,\n  lts.status             AS new_task_status,\n  lts.created_at         AS status_changed_at,\n\n  tm.id                  AS task_id,\n  tm.title               AS task_title,\n\n  pm.id                  AS project_id,\n  pm.title               AS project_title,\n\n  -- project manager\n  pm_owner.email         AS project_manager_email,\n  pm_owner.firstname     AS project_manager_firstname,\n  pm_owner.lastname     AS project_manager_lastname\n\nFROM latest_task_status lts\n\nJOIN task_managements tm\n  ON tm.id = lts.task_management_id\n\nJOIN project_managements pm\n  ON pm.id = tm.project_management_id\n\nJOIN spree_users pm_owner\n  ON pm_owner.id = pm.owner_id\n\nWHERE\n  lts.rn = 1;   -- ✅ ONLY latest status per task\n",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -256,
          -224
        ],
        "id": "aac53951-3762-49f6-849d-1a0c2c73cd3f",
        "name": "Execute a SQL query",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "FGCPCtEG47rFAJ4J",
            "name": "New FM UAT Task Management Database"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -448,
          -96
        ],
        "id": "67655246-ebf9-4a91-9ea6-d024dabf07f2",
        "name": "Schedule Trigger"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          []
        ]
      },
      "PM": {
        "main": [
          []
        ]
      },
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "PM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "N8N Admin",
    "name": "Version 98bb829e",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-06T08:52:22.278Z",
        "id": 75,
        "workflowId": "u08iNlc4I6HEzXVw",
        "versionId": "98bb829e-33ba-4f3f-94e4-3743fbcd9a42",
        "event": "activated",
        "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98"
      }
    ]
  }
}