n8n Backup - 29 March 2026/Project_delay_forecast_ChOrTgwGJuidFEh6.json
{
  "updatedAt": "2026-01-12T07:24:18.673Z",
  "createdAt": "2025-12-26T08:24:53.140Z",
  "id": "ChOrTgwGJuidFEh6",
  "name": "Project delay forecast",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "project-delay-forecast",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -464,
        -144
      ],
      "id": "d4b8a6d9-3f7d-4009-a63c-3db18b8aaba5",
      "name": "Webhook",
      "webhookId": "fe0cfd86-3c46-44fc-89c4-0d930f0299c0",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        128,
        16
      ],
      "id": "8ee82efb-06ca-4d5c-9979-4296cf0b80b5",
      "name": "Respond to Webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "notificaions@lockated.com",
        "toEmail": "heypiyush112@gmail.com",
        "subject": "=Dear {{$json.RecipientName}}",
        "html": "=Based on the current project execution data and schedule analysis, a potential delay has been forecasted for the project <b>{{$json.project_title}}</b>.\n\n<b>Delay Forecast Summary</b>\n* Project Name: {{$json.project_title}}\n* Forecasted Delay: {{$json.forecast_delay_days}} days\n* Primary Contributing Factors: {{$json.delay_reasons}}\n* Current Project Status: {{$json.status}}\n\nWe recommend reviewing the project plan and initiating corrective or recovery measures to minimize the projected impact.\n\nRegards,\n<b>Project Controls & Portfolio Office</b>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -144,
        -48
      ],
      "id": "33523f4e-abba-46dc-9628-24e5fda8c285",
      "name": "PM, Leadership",
      "webhookId": "750e3a37-d015-4eff-b0be-8076cf3ca1e4",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "m6pGNPu76sBcBXtf",
          "name": "Task Management SMTP Account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "PM, Leadership",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PM, Leadership": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8fe0facd-5f4a-411f-9f22-8e00880e3f9c",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-26T08:24:53.142Z",
      "createdAt": "2025-12-26T08:24:53.142Z",
      "role": "workflow:owner",
      "workflowId": "ChOrTgwGJuidFEh6",
      "projectId": "s9jeiIUr8G6hBG6i",
      "project": {
        "updatedAt": "2026-01-28T12:34:21.552Z",
        "createdAt": "2025-12-24T09:57:24.391Z",
        "id": "s9jeiIUr8G6hBG6i",
        "name": "N8N Admin <n8n@lockated.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
        "projectRelations": [
          {
            "updatedAt": "2025-12-24T09:57:24.391Z",
            "createdAt": "2025-12-24T09:57:24.391Z",
            "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
            "projectId": "s9jeiIUr8G6hBG6i",
            "user": {
              "updatedAt": "2026-03-29T03:55:50.000Z",
              "createdAt": "2025-12-24T09:57:23.917Z",
              "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "email": "n8n@lockated.com",
              "firstName": "N8N",
              "lastName": "Admin",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "ci-cd",
                  "cloud-infrastructure-orchestration",
                  "monitoring-alerting",
                  "reporting"
                ],
                "companyType": "saas",
                "role": "it"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                "userActivatedAt": 1767166205042,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770088091114
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}