n8n Backup - 29 March 2026/Rustomjee_BigQuery___Collections__2___Incentive_Credit_Cae5konIaCmt5leX.json
{
  "updatedAt": "2026-03-11T07:54:53.896Z",
  "createdAt": "2026-02-25T10:17:50.464Z",
  "id": "Cae5konIaCmt5leX",
  "name": "Rustomjee BigQuery - Collections- 2 - Incentive Credit",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {},
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9aa9cc85-7d7e-4e24-acaa-605244be711d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": {
          "__rl": true,
          "value": "powerbi-implementation",
          "mode": "list",
          "cachedResultName": "PowerBI Implementation",
          "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
        },
        "sqlQuery": "SELECT *\nFROM \n  powerbi-implementation.dataWarehouse_prod.collections_demand_groupby LIMIT 50\n",
        "options": {}
      },
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        224,
        -112
      ],
      "id": "e3b7d9e1-cf27-42ea-8101-f88713a96e25",
      "name": "Execute a SQL query",
      "credentials": {
        "googleApi": {
          "id": "nmAIqj1Sf2UOZ6ZZ",
          "name": "Rustomjee - BigQuery Google Service Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items\n  .map(item => {\n    const demandDate = new Date(item.json.FKDAT);\n    const paymentDate = new Date(item.json.PAY_DATE);\n\n    const diffDays = (paymentDate - demandDate) / (1000 * 60 * 60 * 24);\n\n    if (diffDays >= 0 && diffDays <= 5) {\n      return {\n        json: {\n          customer_id: item.json.KUNNR,\n          demand_date: item.json.FKDAT,\n          payment_date: item.json.PAY_DATE,\n          diff_days: diffDays,\n          points: 6000,\n          rule: \"Paid within 5 days\"\n        }\n      };\n    }\n\n    return null;\n  })\n  .filter(Boolean);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -16
      ],
      "id": "d920f2d2-35f6-4c27-a674-a1a416be03b0",
      "name": "Adding 6000 Incentive for the payment within 5 days",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": {
          "__rl": true,
          "value": "powerbi-implementation",
          "mode": "list",
          "cachedResultName": "PowerBI Implementation",
          "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
        },
        "sqlQuery": "SELECT\n  KUNNR,\n  FKDAT,\n  PAY_DATE,\n  paid_status\nFROM\n  `powerbi-implementation.dataWarehouse_prod.collections_demand_groupby`\nWHERE\n  paid_status IN ('Fully Paid', 'Partially Paid')\n  AND FKDAT IS NOT NULL\n  AND PAY_DATE IS NOT NULL",
        "options": {}
      },
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        256,
        80
      ],
      "id": "551ab040-82a1-40a4-b5e5-3cd72bd80922",
      "name": "Fetching Details of the Fully and Partially Paid Customers",
      "credentials": {
        "googleApi": {
          "id": "nmAIqj1Sf2UOZ6ZZ",
          "name": "Rustomjee - BigQuery Google Service Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": {
          "__rl": true,
          "value": "powerbi-implementation",
          "mode": "list",
          "cachedResultName": "PowerBI Implementation",
          "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
        },
        "sqlQuery": "SELECT *\nFROM \n  powerbi-implementation.dataWarehouse_prod.sales_leads \n  WHERE LeadSource = \"Loyalty\"",
        "options": {}
      },
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        -176
      ],
      "id": "f5352482-932a-4772-9b00-963633aaec92",
      "name": "Execute a SQL query1",
      "credentials": {
        "googleApi": {
          "id": "nmAIqj1Sf2UOZ6ZZ",
          "name": "Rustomjee - BigQuery Google Service Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://runwal-api.lockated.com/loyalty/members/credit_wallet.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "QsUjajggGCYJJGKndHkRidBxJN2cIUC06lr42Vru1EQ"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customer_code\": \"{{ $json.customer_id }}\",\n  \"amount\": {{ $json.points }},\n  \"remarks\": \"{{ $json.rule }}\",\n  \"transaction_note\": \"Demand payment reward\",\n  \"payment_mode\": \"system\",\n  \"topup_by\": \"automation\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        864,
        -96
      ],
      "id": "feeccf5e-95fc-47f3-a544-c8f8856522a5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return items\n  .map(item => {\n    const demandDate = new Date(item.json.FKDAT);\n    const paymentDate = new Date(item.json.PAY_DATE);\n\n    const diffDays = (paymentDate - demandDate) / (1000 * 60 * 60 * 24);\n\n    if (diffDays > 5 && diffDays <= 10) {\n      return {\n        json: {\n          customer_id: item.json.KUNNR,\n          demand_date: item.json.FKDAT,\n          payment_date: item.json.PAY_DATE,\n          diff_days: diffDays,\n          points: 3000, // 👈 example, change as needed\n          rule: \"Paid within 10 days\"\n        }\n      };\n    }\n\n    return null;\n  })\n  .filter(Boolean);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        224
      ],
      "id": "ae4d95d8-ccbd-469c-9752-5759ab3356b3",
      "name": "Adding 3000 Incentive for the payment within 10 days",
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetching Details of the Fully and Partially Paid Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        []
      ]
    },
    "Fetching Details of the Fully and Partially Paid Customers": {
      "main": [
        [
          {
            "node": "Adding 6000 Incentive for the payment within 5 days",
            "type": "main",
            "index": 0
          },
          {
            "node": "Adding 3000 Incentive for the payment within 10 days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adding 6000 Incentive for the payment within 5 days": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "913aeaa8-61f8-40b8-bddc-160d0a81e7d7",
  "activeVersionId": null,
  "versionCounter": 20,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-25T10:17:50.466Z",
      "createdAt": "2026-02-25T10:17:50.466Z",
      "role": "workflow:owner",
      "workflowId": "Cae5konIaCmt5leX",
      "projectId": "s9jeiIUr8G6hBG6i",
      "project": {
        "updatedAt": "2026-01-28T12:34:21.552Z",
        "createdAt": "2025-12-24T09:57:24.391Z",
        "id": "s9jeiIUr8G6hBG6i",
        "name": "N8N Admin <n8n@lockated.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
        "projectRelations": [
          {
            "updatedAt": "2025-12-24T09:57:24.391Z",
            "createdAt": "2025-12-24T09:57:24.391Z",
            "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
            "projectId": "s9jeiIUr8G6hBG6i",
            "user": {
              "updatedAt": "2026-03-29T03:55:50.000Z",
              "createdAt": "2025-12-24T09:57:23.917Z",
              "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "email": "n8n@lockated.com",
              "firstName": "N8N",
              "lastName": "Admin",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "ci-cd",
                  "cloud-infrastructure-orchestration",
                  "monitoring-alerting",
                  "reporting"
                ],
                "companyType": "saas",
                "role": "it"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                "userActivatedAt": 1767166205042,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770088091114
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}