n8n Backup - 05 July 2026/Rustomjee_BigQuery_Category___Booking___To_incentise_the_client_if_he_she_makes_payment_before_7_days_from_the_first_token_date_JQm11GNcTtFXUFCS.json
{
  "data": {
    "updatedAt": "2026-05-30T12:00:31.321Z",
    "createdAt": "2026-05-27T14:05:52.868Z",
    "id": "JQm11GNcTtFXUFCS",
    "name": "Rustomjee BigQuery Category - Booking - To incentise the client if he/she makes payment before 7 days from the first token date",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {},
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -336,
          16
        ],
        "id": "7f5f6070-12f8-480b-8867-dfad89d23f38",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT *\nFROM \n  powerbi-implementation.dataWarehouse_prod.sales_booking LIMIT 1000\n",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          112,
          -416
        ],
        "id": "c54ae67a-0c85-40f8-91e3-99420d5af032",
        "name": "Execute a SQL query",
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT *\nFROM \n  powerbi-implementation.dataWarehouse_prod.sales_leads \n  WHERE LeadSource = \"Loyalty\"",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          384,
          -464
        ],
        "id": "319b5503-844e-4983-88d7-934143aab12a",
        "name": "Execute a SQL query1",
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return items\n  .map(item => {\n\n    const data = item.json;\n\n    const mobile =\n      data.Account_Mobile_Number__c ||\n      data.Account_Mobile_1__c ||\n      data.Mobile_Number__c ||\n      null;\n\n    const customer_id = data.KUNNR || null;\n\n    return {\n      json: {\n        id: data.ID,\n        mobile: mobile,\n        customer_id: customer_id,\n        agreement_value: Number(data.Agreement_Value__c) || 0,\n        booking_date: data.Booking_Date,\n        token_date: data.X9_9_Received_Date__c,\n        today_delta_additions: data.today_delta_additions\n      }\n    };\n  })\n\n  // 🚨 remove invalid rows\n  .filter(item => item.json.mobile !== null);"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          32,
          -32
        ],
        "id": "423acd00-40e5-4dbf-af2f-591f76f16cb7",
        "name": "Code in JavaScript3",
        "alwaysOutputData": true,
        "disabled": true
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "projectId": {
            "__rl": true,
            "value": "powerbi-implementation",
            "mode": "list",
            "cachedResultName": "PowerBI Implementation",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
          },
          "sqlQuery": "SELECT\n  ID,\n  today_delta_additions,\n  Booking_Date,\n  X9_9_Received_Date__c,\n  KUNNR,\n  Account_Mobile_Number__c,\n  Account_Mobile_1__c,\n  Mobile_Number__c,\n  Agreement_Value__c\nFROM powerbi-implementation.dataWarehouse_prod.sales_booking\nWHERE \n  Status__c = 'Processed'\n\n  -- Ensure values exist\n  AND X9_9_Received_Date__c IS NOT NULL\n  AND Booking_Date IS NOT NULL\n\n  -- Convert STRING → DATE\n  AND DATE(Booking_Date) BETWEEN \n      PARSE_DATE('%Y-%m-%d', X9_9_Received_Date__c)\n      AND DATE_ADD(\n            PARSE_DATE('%Y-%m-%d', X9_9_Received_Date__c),\n            INTERVAL 7 DAY\n      )",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          -144,
          -128
        ],
        "id": "e72e2859-0824-4eaf-add7-02f583cfe259",
        "name": "Query to fetch details of Booking - File already shared, File name is Booking",
        "alwaysOutputData": true,
        "credentials": {
          "googleApi": {
            "id": "nmAIqj1Sf2UOZ6ZZ",
            "name": "Rustomjee - BigQuery Google Service Account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n\n  return {\n    json: {\n      customer_mobile: item.json.mobile,\n      customer_id: item.json.customer_id,\n      points: 1000,\n      reason: \"Booking within 7 days reward\",\n      event: \"booking_reward\",\n      created_at: new Date().toISOString()\n    }\n  };\n\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          544,
          160
        ],
        "id": "bbb131d5-adaf-4b0c-b0d4-cb68dfd28dba",
        "name": "Code in JavaScript1",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "45c60d50-a338-4395-8028-3a71e6bda291",
                "leftValue": "={{$json.eligible}}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          304,
          224
        ],
        "id": "04aeaba9-899e-431f-85c2-98de24d58dae",
        "name": "If",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://runwal-api.lockated.com/loyalty/members/credit_wallet.json",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "QsUjajggGCYJJGKndHkRidBxJN2cIUC06lr42Vru1EQ"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"customer_code\": \"{{ $json.customer_id }}\",\n  \"amount\": {{ $json.points }},\n  \"remarks\": \"{{ $json.event }}\",\n  \"transaction_note\": \"Demand payment reward\",\n  \"payment_mode\": \"system\",\n  \"topup_by\": \"automation\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          448,
          16
        ],
        "id": "d9a9ac75-f724-49fe-85fa-c8f4d931c6af",
        "name": "HTTP Request",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "content": "Sample Payload -\nUnique Identifiers - \ncustomer_id = KUNNR,\nid = ID,\ntoday_delta_additions\n\n{\n  \"id\": \"a0EOW000003Oc5d2AC\",\n  \"customer_mobile\": \"9819797292\",\n  \"customer_code\": \"472037\",\n  \"amount\": 1000,\n  \"remarks\": \"booking_within_7_days_of_token_date\",\n  \"transaction_note\": \"Payment done within 7 days of token date\",\n  \"payment_mode\": \"cash\",\n  \"topup_by\": \"automation\",\n  \"booking_date\": \"2024-07-16 15:07:03\",\n  \"token_date\": \"2024-07-16\",\n  \"created_at\": \"2026-04-28T04:28:03.794Z\",\n  \"today_delta_additions\": \"2026-04-28\"\n}",
          "height": 368,
          "width": 400
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -624,
          -336
        ],
        "id": "c37d6548-818c-4e0a-af1a-6427d20047e2",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n\n  return {\n    json: {\n      id: item.json.id,\n      customer_mobile: item.json.mobile,\n      customer_code: item.json.customer_id,\n\n      amount: 1000, // fixed reward (can make dynamic later)\n\n      remarks: \"booking_within_7_days_of_token_date\",\n      transaction_note: \"Payment done within 7 days of token date\",\n      payment_mode: \"cash\",\n      topup_by: \"automation\",\n\n      booking_date: item.json.booking_date,\n      token_date: item.json.token_date,\n\n      created_at: new Date().toISOString(),\n      today_delta_additions: item.json.today_delta_additions\n    }\n  };\n\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          192,
          16
        ],
        "id": "32f463fb-eebe-4647-97c5-925e3ac89f33",
        "name": "Streamline data for payment made within 7 days of the first token date",
        "alwaysOutputData": true,
        "disabled": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT EXISTS (\n  SELECT 1\n  FROM wallet_transaction_logs\n  WHERE customer_code = '{{$json.customer_code}}'\n  AND remarks = '{{$json.remarks}}'\n  AND status = 'SUCCESS'\n);\n\n/* SELECT status\nFROM wallet_transaction_logs\nWHERE customer_code = '{{$json.customer_code}}'\nAND remarks = '{{$json.remarks}}'\nAND status = 'SUCCESS'\nLIMIT 1; */",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          368,
          -160
        ],
        "id": "88ef06c0-6d28-4329-a686-bc75443a3031",
        "name": "Check Duplicates",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          560,
          -96
        ],
        "id": "10af700f-c047-4689-8a1d-66a3f0e76b3f",
        "name": "Merge",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "0a538946-c5b1-47ce-aada-9f10cca56fc2",
                "leftValue": "={{$json.exists}}",
                "rightValue": "false",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          784,
          -48
        ],
        "id": "4cea3c38-3bc6-4ffa-801e-bd347422da62",
        "name": "If1",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://hi-society.lockated.com/loyalty/members/credit_wallet.json",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Authorization",
                "value": "f4725ada33bd6cd9724db65f352308f913b3d5bea2eea2c6"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"customer_code\": \"{{$json.customer_code}}\",\n  \"amount\": {{$json.amount || 0}},\n  \"remarks\": \"{{$json.remarks || 'NA'}}\",\n  \"transaction_note\": \"Demand payment reward\",\n  \"payment_mode\": \"system\",\n  \"topup_by\": \"automation\"\n}",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          992,
          48
        ],
        "id": "166ed5be-e66b-4837-88be-3c8a039a96bd",
        "name": "HTTP Request to credit points3",
        "alwaysOutputData": true,
        "retryOnFail": true,
        "waitBetweenTries": 1500,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8b311af8-f014-4910-b04d-608e1847c9a0",
                "name": "customer_code",
                "value": "={{$node[\"Streamline data for payment made within 7 days of the first token date1\"].json.customer_code}}",
                "type": "string"
              },
              {
                "id": "751ef75e-fe0a-4f82-ac88-6434d2a0629b",
                "name": "amount",
                "value": "={{$node[\"Streamline data for payment made within 7 days of the first token date1\"].json.amount}}",
                "type": "number"
              },
              {
                "id": "b1145a55-a695-4cfa-81d1-79f7f51abc14",
                "name": "remarks",
                "value": "={{$node[\"Streamline data for payment made within 7 days of the first token date1\"].json.remarks}}",
                "type": "string"
              },
              {
                "id": "38f3dae0-4ba1-4391-a7f6-5af5b6f2fcbe",
                "name": "=reference_id",
                "value": "={{$node[\"Streamline data for payment made within 7 days of the first token date1\"].json.reference_id}}",
                "type": "string"
              },
              {
                "id": "dcf52459-b151-4db8-b465-7a890da209c6",
                "name": "transaction_note",
                "value": "={{$node[\"Streamline data for payment made within 7 days of the first token date1\"].json.transaction_note}}",
                "type": "string"
              },
              {
                "id": "9045fe70-369a-4af3-bc3a-3780061fbae0",
                "name": "status",
                "value": "={{$json.error ? \"FAILED\" : ($json.statusCode >= 200 && $json.statusCode < 300 ? \"SUCCESS\" : \"FAILED\")}}",
                "type": "string"
              },
              {
                "id": "fc9a41e4-3d87-47ef-bec1-ec7679e81d0a",
                "name": "status_code",
                "value": "={{$json.statusCode || $json.error?.status || 500}}",
                "type": "number"
              },
              {
                "id": "2a2f8faa-b24f-46c3-ae66-201da970f5db",
                "name": "transaction_id",
                "value": "={{$json.body?.transaction_id || null}}",
                "type": "string"
              },
              {
                "id": "a6029dde-70bd-44d7-a004-ff1e9d317785",
                "name": "message",
                "value": "={{$json.body?.error || $json.error?.message?.split(\"\\n\")[0]}}",
                "type": "string"
              },
              {
                "id": "ab7c1a10-7953-4d1e-bbe1-ae422f4bc70e",
                "name": "request_payload",
                "value": "={{$json}}",
                "type": "object"
              },
              {
                "id": "44f2b0f0-8e91-439f-aec5-a355e2705ff9",
                "name": "response_payload",
                "value": "={{$json}}",
                "type": "object"
              },
              {
                "id": "96ed068c-7dc1-4cbf-9384-4abcdde9eb86",
                "name": "execution_id",
                "value": "{{$json.execution_id}}",
                "type": "string"
              },
              {
                "id": "d4fdcaae-ae9c-4296-96fb-eb4ac2c8c591",
                "name": "created_at",
                "value": "={{new Date().toISOString()}}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1184,
          96
        ],
        "id": "634a0af7-300b-4503-a74f-7d0e8e3c6133",
        "name": "Edit Fields3",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO wallet_transaction_logs (\n    customer_code,\n    amount,\n    remarks,\n    reference_id,\n    transaction_note,\n    status,\n    status_code,\n    message,\n    request_payload,\n    response_payload,\n    execution_id,\n    created_at\n)\nVALUES (\n    {{$json.customer_code}},\n    {{$json.amount || 0}},\n    '{{($json.remarks || \"\").replace(/'/g, \"''\")}}',\n    {{$json.reference_id ? `'${$json.reference_id}'` : 'NULL'}},\n    '{{($json.transaction_note || \"\").replace(/'/g, \"''\")}}',\n    '{{($json.status || \"\").replace(/'/g, \"''\")}}',\n    {{$json.status_code || 500}},\n    '{{($json.message || \"\").replace(/'/g, \"''\")}}',\n    '{{JSON.stringify($json.request_payload || {}).replace(/'/g, \"''\")}}'::jsonb,\n    '{{JSON.stringify($json.response_payload || {}).replace(/'/g, \"''\")}}'::jsonb,\n    {{$json.execution_id ? `'${$json.execution_id}'` : 'NULL'}},\n    NOW()\n);",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1376,
          176
        ],
        "id": "05428429-d099-4c22-ba3d-10c92f244bec",
        "name": "Add entry to logs4",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * \nFROM wallet_transaction_logs WHERE remarks = 'booking_within_7_days_of_token_date'\nORDER BY created_at DESC;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1024,
          304
        ],
        "id": "98851ecb-fe24-44a0-abfc-278e6bf03334",
        "name": "Check entries for logs",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1n0Jszalajr8FyKG4X5L4zVD5eT_L8YgardL2LXNAPdo",
            "mode": "list",
            "cachedResultName": "Rustomjee Rule Engine Report",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n0Jszalajr8FyKG4X5L4zVD5eT_L8YgardL2LXNAPdo/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 152814508,
            "mode": "list",
            "cachedResultName": "Payment within 7 days from first token date",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1n0Jszalajr8FyKG4X5L4zVD5eT_L8YgardL2LXNAPdo/edit#gid=152814508"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -144,
          -272
        ],
        "id": "318ed8bb-897a-4d6b-ad5e-dc77d42bbf39",
        "name": "Get row(s) in sheet",
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "h8W4AxPAHtomi8R3",
            "name": "Rustomjee Dummy Data Testing"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return items\n  .map(item => {\n\n    const data = item.json;\n\n    // Pick first available mobile\n    const mobile =\n      data.Account_Mobile_Number__c ||\n      data.Account_Mobile_1__c ||\n      data.Mobile_Number__c ||\n      null;\n\n    // Skip no mobile\n    if (!mobile) {\n      return null;\n    }\n\n    // Status validation\n    if (data.Status__c !== \"Processed\") {\n      return null;\n    }\n\n    // Parse dates\n    const bookingDate =\n      new Date(data.Booking_Date);\n\n    const tokenDate =\n      new Date(data.X9_9_Received_Date__c);\n\n    // Invalid dates\n    if (\n      isNaN(bookingDate.getTime()) ||\n      isNaN(tokenDate.getTime())\n    ) {\n      return null;\n    }\n\n    // Difference in days\n    const diffDays = Math.floor(\n      (bookingDate - tokenDate) /\n      (1000 * 60 * 60 * 24)\n    );\n\n    // Only within 7 days\n    if (\n      diffDays < 0 ||\n      diffDays > 7\n    ) {\n      return null;\n    }\n\n    return {\n      json: {\n\n        id: data.ID,\n\n        mobile: mobile,\n\n        customer_id:\n          data.KUNNR || null,\n\n        agreement_value:\n          Number(data.Agreement_Value__c) || 0,\n\n        booking_date:\n          data.Booking_Date,\n\n        token_date:\n          data.X9_9_Received_Date__c,\n\n        days_difference:\n          diffDays,\n\n        today_delta_additions:\n          data.today_delta_additions\n      }\n    };\n  })\n\n  .filter(Boolean);"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          32,
          -256
        ],
        "id": "c2facafb-b32d-417b-9aa9-17d03f8a0c03",
        "name": "Code in JavaScript",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n\n  return {\n    json: {\n\n      id: item.json.id,\n\n      customer_mobile:\n        item.json.mobile,\n\n      customer_code:\n        item.json.customer_id,\n\n      amount: 1000,\n\n      remarks:\n        \"booking_within_7_days_of_token_date\",\n\n      transaction_note:\n        \"Payment done within 7 days of token date\",\n\n      payment_mode: \"cash\",\n\n      topup_by: \"automation\",\n\n      booking_date:\n        item.json.booking_date,\n\n      token_date:\n        item.json.token_date,\n\n      days_difference:\n        item.json.days_difference,\n\n      agreement_value:\n        item.json.agreement_value,\n\n      created_at:\n        new Date().toISOString(),\n\n      today_delta_additions:\n        item.json.today_delta_additions\n    }\n  };\n\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          -256
        ],
        "id": "230ec2dc-ab30-4af9-bf30-eaadcb9f083e",
        "name": "Streamline data for payment made within 7 days of the first token date1",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "DELETE FROM wallet_transaction_logs\nWHERE customer_code = '476035' AND remarks = 'booking_within_7_days_of_token_date';",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          960,
          -480
        ],
        "id": "3b94481a-57e4-45eb-9a8c-90d139a42c60",
        "name": "Check entries for logs1",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "b50IVtOHRFxnli6C",
            "name": "Postgres n8n_db"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Query to fetch details of Booking - File already shared, File name is Booking",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          []
        ]
      },
      "Query to fetch details of Booking - File already shared, File name is Booking": {
        "main": [
          [
            {
              "node": "Code in JavaScript3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript3": {
        "main": [
          [
            {
              "node": "Streamline data for payment made within 7 days of the first token date",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Streamline data for payment made within 7 days of the first token date": {
        "main": [
          []
        ]
      },
      "Check Duplicates": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "HTTP Request to credit points3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request to credit points3": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Add entry to logs4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Streamline data for payment made within 7 days of the first token date1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Streamline data for payment made within 7 days of the first token date1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            },
            {
              "node": "Check Duplicates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "availableInMCP": false
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "60f1c36b-db63-42ad-92c2-ce201ef51688",
    "activeVersionId": null,
    "versionCounter": 58,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-05-27T14:05:52.872Z",
        "createdAt": "2026-05-27T14:05:52.872Z",
        "role": "workflow:owner",
        "workflowId": "JQm11GNcTtFXUFCS",
        "projectId": "s9jeiIUr8G6hBG6i",
        "project": {
          "updatedAt": "2026-01-28T12:34:21.552Z",
          "createdAt": "2025-12-24T09:57:24.391Z",
          "id": "s9jeiIUr8G6hBG6i",
          "name": "N8N Admin <n8n@lockated.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
          "projectRelations": [
            {
              "updatedAt": "2025-12-24T09:57:24.391Z",
              "createdAt": "2025-12-24T09:57:24.391Z",
              "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "projectId": "s9jeiIUr8G6hBG6i",
              "user": {
                "updatedAt": "2026-07-05T17:39:09.000Z",
                "createdAt": "2025-12-24T09:57:23.917Z",
                "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
                "email": "n8n@lockated.com",
                "firstName": "N8N",
                "lastName": "Admin",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                  "personalization_survey_n8n_version": "2.1.4",
                  "automationGoalDevops": [
                    "ci-cd",
                    "cloud-infrastructure-orchestration",
                    "monitoring-alerting",
                    "reporting"
                  ],
                  "companyType": "saas",
                  "role": "it"
                },
                "settings": {
                  "userActivated": true,
                  "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                  "userActivatedAt": 1767166205042,
                  "npsSurvey": {
                    "responded": true,
                    "lastShownAt": 1770088091114
                  },
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2026-07-04",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": [
      {
        "updatedAt": "2026-05-27T14:03:19.258Z",
        "createdAt": "2026-05-27T14:03:19.258Z",
        "id": "JAzcttXOsL9MnA8J",
        "name": "Rustomjee Testing"
      }
    ],
    "parentFolder": {
      "updatedAt": "2026-05-27T14:08:13.936Z",
      "createdAt": "2026-05-27T14:08:13.936Z",
      "id": "2dGiSdbAmTSvpw1f",
      "name": "Testing Through Dummy Data",
      "parentFolderId": "Y9zGEIC6huRvstXD"
    },
    "activeVersion": null,
    "scopes": [
      "workflow:create",
      "workflow:delete",
      "workflow:execute",
      "workflow:execute-chat",
      "workflow:list",
      "workflow:move",
      "workflow:read",
      "workflow:share",
      "workflow:update"
    ],
    "checksum": "a1438773e6659000267966f25a0dd45fcc7e1d1aa03b2b3e4b4aa0f17721f943"
  }
}