n8n Backup - 16 April 2026/Production___Milestone_overdue_copy_92wJg4fIkz5Lwbsu.json
{
  "updatedAt": "2026-04-16T06:46:52.471Z",
  "createdAt": "2026-04-15T11:40:53.623Z",
  "id": "92wJg4fIkz5Lwbsu",
  "name": "Production - Milestone overdue copy",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0e1f8b49-50ad-4869-b356-c8bef04305cd",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        128,
        -256
      ],
      "id": "bac3e0bf-fe38-4a47-b4e4-8f17d2ef7f88",
      "name": "Webhook",
      "webhookId": "0e1f8b49-50ad-4869-b356-c8bef04305cd",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        112,
        96
      ],
      "id": "c2f514d2-db26-4e8e-8b11-065ef2a375bf",
      "name": "Respond to Webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  m.id                    AS milestone_id,\n  m.title                 AS milestone_title,\n  m.end_date              AS milestone_end_date,\n  m.start_date            AS milestone_start_date,\n\n  DATEDIFF(CURDATE(), DATE(m.end_date)) AS overdue_days,\n\n  pm.id                   AS project_id,\n  pm.title                AS project_title,\n\n  mo.email                AS milestone_owner_email,\n  mo.firstname            AS milestone_owner_firstname,\n  mo.lastname             AS milestone_owner_lastname,\n\n  pmo.email               AS project_manager_email,\n  pmo.firstname           AS project_manager_firstname,\n  pmo.lastname            AS project_manager_lastname,\n\n  tm.id                   AS team_user_id,\n  tm.firstname            AS team_user_first_name,\n  tm.lastname             AS team_user_last_name,\n  tm.email                AS team_user_email\n\nFROM milestones m\n\nJOIN users mo\n  ON mo.id = m.owner_id\n\nJOIN project_managements pm\n  ON pm.id = m.project_management_id\n\nJOIN users pmo\n  ON pmo.id = pm.owner_id\n\nJOIN project_team_members ptm\n  ON ptm.project_team_id = pm.project_team_id\n\nJOIN users tm\n  ON tm.id = ptm.user_id\n\nWHERE\n  DATE(m.end_date) < CURDATE()\n  AND (m.status IS NULL OR m.status != 'Completed')\n  AND pmo.organization_id IN (13, 14, 59, 84);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -432,
        -160
      ],
      "id": "d6ba82ab-bc56-4bc4-8993-a57a385a30e6",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "cSpNSxxLQn5eFDMK",
          "name": "Task Management Production Database"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -752,
        -192
      ],
      "id": "b5edec42-f366-490b-95ad-4ab579ed7c52",
      "name": "Schedule Trigger",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "notifications@lockated.com",
        "toEmail": "={{$json.project_manager_email}",
        "subject": "=Milestone Overdue: {{$json.milestone_title}}\n\n\n",
        "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{$json.project_manager_firstname}} {{$json.project_manager_lastname}},\n  </p>\n\n  <p>\n    This is to formally notify you that the milestone <strong>{{$json.milestone_title}}</strong> has exceeded its planned completion date and is currently overdue.\n  </p>\n\n  <h3 style=\"color: #c0392b;\">Milestone Status</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Start Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_start_date || 'N/A'}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Planned End Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_end_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Overdue By</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd; color: #c0392b;\">\n        <strong>{{$json.overdue_days}} days</strong>\n      </td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/projects/{{$json.project_id}}/milestones/{{$json.milestone_id}}\" target=\"_blank\">\n          View Milestone Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <h3 style=\"color: #2c3e50; margin-top: 20px;\">Impact & Action Required</h3>\n\n  <p>\n    The delay may impact dependent tasks and overall project timelines. We request an immediate status update along with a recovery or mitigation plan.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>PMO – Escalation Desk</strong>\n  </p>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -192,
        -96
      ],
      "id": "4747aab0-43b1-454f-bbc2-1f72c54ace0f",
      "name": "PM",
      "webhookId": "f237f226-e1b5-45c7-89f8-18c31dcaa511",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "m6pGNPu76sBcBXtf",
          "name": "Task Management SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "notifications@lockated.com",
        "toEmail": "={{$json.project_manager_email}",
        "subject": "=Milestone Overdue: {{$json.milestone_title}}\n\n\n",
        "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{$json.milestone_owner_firstname}} {{$json.milestone_owner_lastname}},\n  </p>\n\n  <p>\n    This is to formally notify you that the milestone <strong>{{$json.milestone_title}}</strong> has exceeded its planned completion date and is currently overdue.\n  </p>\n\n  <h3 style=\"color: #c0392b;\">Milestone Status</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Start Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_start_date || 'N/A'}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Planned End Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_end_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Overdue By</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd; color: #c0392b;\">\n        <strong>{{$json.overdue_days}} days</strong>\n      </td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://fm-matrix.lockated.com/vas/projects/{{$json.project_id}}/milestones/{{$json.milestone_id}}\" target=\"_blank\">\n          View Milestone Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <h3 style=\"color: #2c3e50; margin-top: 20px;\">Impact & Action Required</h3>\n\n  <p>\n    The delay may impact dependent tasks and overall project timelines. We request an immediate status update along with a recovery or mitigation plan.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>PMO – Escalation Desk</strong>\n  </p>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -208,
        80
      ],
      "id": "de7ff7ac-2cdf-4c58-a694-dd1a49390d02",
      "name": "Leadership Task Owner",
      "webhookId": "a45b7af5-7faf-4172-a54b-ba8b4be4dcbd",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "m6pGNPu76sBcBXtf",
          "name": "Task Management SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  m.id                    AS milestone_id,\n  m.title                 AS milestone_title,\n  m.end_date              AS milestone_end_date,\n  m.start_date            AS milestone_start_date,\n\n  -- overdue calculation\n  DATEDIFF(CURDATE(), DATE(m.end_date)) AS overdue_days,\n\n  pm.id                   AS project_id,\n  pm.title                AS project_title,\n\n  -- milestone owner\n  mo.email                AS milestone_owner_email,\n  mo.firstname            AS milestone_owner_firstname,\n  mo.lastname             AS milestone_owner_lastname,\n\n  -- project manager\n  pmo.email               AS project_manager_email,\n  pmo.firstname           AS project_manager_firstname,\n  pmo.lastname            AS project_manager_lastname,\n\n  -- team member\n  tm.id                   AS team_user_id,\n  tm.firstname            AS team_user_first_name,\n  tm.lastname             AS team_user_last_name,\n  tm.email                AS team_user_email\n\nFROM milestones m\n\n-- milestone owner\nJOIN users mo\n  ON mo.id = m.owner_id\n\n-- project\nJOIN project_managements pm\n  ON pm.id = m.project_management_id\n\n-- project manager\nJOIN users pmo\n  ON pmo.id = pm.owner_id\n\n-- project team\nJOIN project_team_members ptm\n  ON ptm.project_team_id = pm.project_team_id\n\n-- team members\nJOIN users tm\n  ON tm.id = ptm.user_id\n\nWHERE\n  DATE(m.end_date) < CURDATE()\n  AND (m.status IS NULL OR m.status != 'Completed');",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -656,
        80
      ],
      "id": "991b3066-a3f0-407c-a900-f4103211d2db",
      "name": "Without organization id Execute a SQL query1",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "cSpNSxxLQn5eFDMK",
          "name": "Task Management Production Database"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "PM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leadership Task Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PM": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leadership Task Owner": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c1dfdf4c-aa4b-421c-a6d6-b3e1a7252d1a",
  "activeVersionId": "c1dfdf4c-aa4b-421c-a6d6-b3e1a7252d1a",
  "versionCounter": 57,
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-04-15T11:40:53.631Z",
      "createdAt": "2026-04-15T11:40:53.631Z",
      "role": "workflow:owner",
      "workflowId": "92wJg4fIkz5Lwbsu",
      "projectId": "s9jeiIUr8G6hBG6i",
      "project": {
        "updatedAt": "2026-01-28T12:34:21.552Z",
        "createdAt": "2025-12-24T09:57:24.391Z",
        "id": "s9jeiIUr8G6hBG6i",
        "name": "N8N Admin <n8n@lockated.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
        "projectRelations": [
          {
            "updatedAt": "2025-12-24T09:57:24.391Z",
            "createdAt": "2025-12-24T09:57:24.391Z",
            "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
            "projectId": "s9jeiIUr8G6hBG6i",
            "user": {
              "updatedAt": "2026-04-16T03:51:58.000Z",
              "createdAt": "2025-12-24T09:57:23.917Z",
              "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "email": "n8n@lockated.com",
              "firstName": "N8N",
              "lastName": "Admin",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "ci-cd",
                  "cloud-infrastructure-orchestration",
                  "monitoring-alerting",
                  "reporting"
                ],
                "companyType": "saas",
                "role": "it"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                "userActivatedAt": 1767166205042,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770088091114
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-15",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-04-15T11:32:35.314Z",
      "createdAt": "2026-04-15T11:32:35.314Z",
      "id": "L0EeV7qZEpOHtqXt",
      "name": "Production Ready"
    },
    {
      "updatedAt": "2025-12-26T06:34:13.189Z",
      "createdAt": "2025-12-26T06:34:13.189Z",
      "id": "ntOn6pa6wD5AUrNk",
      "name": "Module 1 - Projects"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-16T06:47:07.000Z",
    "createdAt": "2026-04-16T06:46:52.472Z",
    "versionId": "c1dfdf4c-aa4b-421c-a6d6-b3e1a7252d1a",
    "workflowId": "92wJg4fIkz5Lwbsu",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "0e1f8b49-50ad-4869-b356-c8bef04305cd",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          128,
          -256
        ],
        "id": "bac3e0bf-fe38-4a47-b4e4-8f17d2ef7f88",
        "name": "Webhook",
        "webhookId": "0e1f8b49-50ad-4869-b356-c8bef04305cd",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          112,
          96
        ],
        "id": "c2f514d2-db26-4e8e-8b11-065ef2a375bf",
        "name": "Respond to Webhook",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  m.id                    AS milestone_id,\n  m.title                 AS milestone_title,\n  m.end_date              AS milestone_end_date,\n  m.start_date            AS milestone_start_date,\n\n  DATEDIFF(CURDATE(), DATE(m.end_date)) AS overdue_days,\n\n  pm.id                   AS project_id,\n  pm.title                AS project_title,\n\n  mo.email                AS milestone_owner_email,\n  mo.firstname            AS milestone_owner_firstname,\n  mo.lastname             AS milestone_owner_lastname,\n\n  pmo.email               AS project_manager_email,\n  pmo.firstname           AS project_manager_firstname,\n  pmo.lastname            AS project_manager_lastname,\n\n  tm.id                   AS team_user_id,\n  tm.firstname            AS team_user_first_name,\n  tm.lastname             AS team_user_last_name,\n  tm.email                AS team_user_email\n\nFROM milestones m\n\nJOIN users mo\n  ON mo.id = m.owner_id\n\nJOIN project_managements pm\n  ON pm.id = m.project_management_id\n\nJOIN users pmo\n  ON pmo.id = pm.owner_id\n\nJOIN project_team_members ptm\n  ON ptm.project_team_id = pm.project_team_id\n\nJOIN users tm\n  ON tm.id = ptm.user_id\n\nWHERE\n  DATE(m.end_date) < CURDATE()\n  AND (m.status IS NULL OR m.status != 'Completed')\n  AND pmo.organization_id IN (13, 14, 59, 84);",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -432,
          -160
        ],
        "id": "d6ba82ab-bc56-4bc4-8993-a57a385a30e6",
        "name": "Execute a SQL query",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "cSpNSxxLQn5eFDMK",
            "name": "Task Management Production Database"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 11
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -752,
          -192
        ],
        "id": "b5edec42-f366-490b-95ad-4ab579ed7c52",
        "name": "Schedule Trigger",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.project_manager_email}",
          "subject": "=Milestone Overdue: {{$json.milestone_title}}\n\n\n",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{$json.project_manager_firstname}} {{$json.project_manager_lastname}},\n  </p>\n\n  <p>\n    This is to formally notify you that the milestone <strong>{{$json.milestone_title}}</strong> has exceeded its planned completion date and is currently overdue.\n  </p>\n\n  <h3 style=\"color: #c0392b;\">Milestone Status</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Start Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_start_date || 'N/A'}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Planned End Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_end_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Overdue By</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd; color: #c0392b;\">\n        <strong>{{$json.overdue_days}} days</strong>\n      </td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://web.gophygital.work/vas/projects/{{$json.project_id}}/milestones/{{$json.milestone_id}}\" target=\"_blank\">\n          View Milestone Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <h3 style=\"color: #2c3e50; margin-top: 20px;\">Impact & Action Required</h3>\n\n  <p>\n    The delay may impact dependent tasks and overall project timelines. We request an immediate status update along with a recovery or mitigation plan.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>PMO – Escalation Desk</strong>\n  </p>\n\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          -192,
          -96
        ],
        "id": "4747aab0-43b1-454f-bbc2-1f72c54ace0f",
        "name": "PM",
        "webhookId": "f237f226-e1b5-45c7-89f8-18c31dcaa511",
        "alwaysOutputData": true,
        "credentials": {
          "smtp": {
            "id": "m6pGNPu76sBcBXtf",
            "name": "Task Management SMTP Account"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "notifications@lockated.com",
          "toEmail": "={{$json.project_manager_email}",
          "subject": "=Milestone Overdue: {{$json.milestone_title}}\n\n\n",
          "html": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n\n  <p>\n    Dear {{$json.milestone_owner_firstname}} {{$json.milestone_owner_lastname}},\n  </p>\n\n  <p>\n    This is to formally notify you that the milestone <strong>{{$json.milestone_title}}</strong> has exceeded its planned completion date and is currently overdue.\n  </p>\n\n  <h3 style=\"color: #c0392b;\">Milestone Status</h3>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px;\">\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Project Name</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.project_title}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Start Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_start_date || 'N/A'}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Planned End Date</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">{{$json.milestone_end_date}}</td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Overdue By</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd; color: #c0392b;\">\n        <strong>{{$json.overdue_days}} days</strong>\n      </td>\n    </tr>\n\n    <tr>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\"><strong>Milestone Link</strong></td>\n      <td style=\"padding: 8px; border: 1px solid #ddd;\">\n        <a href=\"https://fm-matrix.lockated.com/vas/projects/{{$json.project_id}}/milestones/{{$json.milestone_id}}\" target=\"_blank\">\n          View Milestone Details\n        </a>\n      </td>\n    </tr>\n\n  </table>\n\n  <h3 style=\"color: #2c3e50; margin-top: 20px;\">Impact & Action Required</h3>\n\n  <p>\n    The delay may impact dependent tasks and overall project timelines. We request an immediate status update along with a recovery or mitigation plan.\n  </p>\n\n  <p>\n    Regards,<br>\n    <strong>PMO – Escalation Desk</strong>\n  </p>\n\n</div>",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          -208,
          80
        ],
        "id": "de7ff7ac-2cdf-4c58-a694-dd1a49390d02",
        "name": "Leadership Task Owner",
        "webhookId": "a45b7af5-7faf-4172-a54b-ba8b4be4dcbd",
        "alwaysOutputData": true,
        "credentials": {
          "smtp": {
            "id": "m6pGNPu76sBcBXtf",
            "name": "Task Management SMTP Account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  m.id                    AS milestone_id,\n  m.title                 AS milestone_title,\n  m.end_date              AS milestone_end_date,\n  m.start_date            AS milestone_start_date,\n\n  -- overdue calculation\n  DATEDIFF(CURDATE(), DATE(m.end_date)) AS overdue_days,\n\n  pm.id                   AS project_id,\n  pm.title                AS project_title,\n\n  -- milestone owner\n  mo.email                AS milestone_owner_email,\n  mo.firstname            AS milestone_owner_firstname,\n  mo.lastname             AS milestone_owner_lastname,\n\n  -- project manager\n  pmo.email               AS project_manager_email,\n  pmo.firstname           AS project_manager_firstname,\n  pmo.lastname            AS project_manager_lastname,\n\n  -- team member\n  tm.id                   AS team_user_id,\n  tm.firstname            AS team_user_first_name,\n  tm.lastname             AS team_user_last_name,\n  tm.email                AS team_user_email\n\nFROM milestones m\n\n-- milestone owner\nJOIN users mo\n  ON mo.id = m.owner_id\n\n-- project\nJOIN project_managements pm\n  ON pm.id = m.project_management_id\n\n-- project manager\nJOIN users pmo\n  ON pmo.id = pm.owner_id\n\n-- project team\nJOIN project_team_members ptm\n  ON ptm.project_team_id = pm.project_team_id\n\n-- team members\nJOIN users tm\n  ON tm.id = ptm.user_id\n\nWHERE\n  DATE(m.end_date) < CURDATE()\n  AND (m.status IS NULL OR m.status != 'Completed');",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          -656,
          80
        ],
        "id": "991b3066-a3f0-407c-a900-f4103211d2db",
        "name": "Without organization id Execute a SQL query1",
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "cSpNSxxLQn5eFDMK",
            "name": "Task Management Production Database"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "PM",
              "type": "main",
              "index": 0
            },
            {
              "node": "Leadership Task Owner",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PM": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leadership Task Owner": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "N8N Admin",
    "name": "Version c1dfdf4c",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-16T06:47:07.191Z",
        "id": 121,
        "workflowId": "92wJg4fIkz5Lwbsu",
        "versionId": "c1dfdf4c-aa4b-421c-a6d6-b3e1a7252d1a",
        "event": "activated",
        "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98"
      }
    ]
  }
}