n8n Backup - 16 April 2026/WFO_1_content_Edit___Sheet_Updation_m3Csa2IrMz1Ph7So.json
{
  "updatedAt": "2026-04-14T06:04:56.560Z",
  "createdAt": "2026-04-14T04:36:41.359Z",
  "id": "m3Csa2IrMz1Ph7So",
  "name": "WFO-1(content Edit - Sheet Updation",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "linkedin-review-edit-response",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        -48
      ],
      "id": "1afcec72-d830-463f-bdfd-91cb5bbf5730",
      "name": "Webhook",
      "webhookId": "653fb472-a57e-43bc-8003-e79306318210"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NQe4GqzUU4V1DtBT_kPmHYTuAq2c1c2MM9AxrAZvtbs",
          "mode": "list",
          "cachedResultName": "Lockated — Drafts Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NQe4GqzUU4V1DtBT_kPmHYTuAq2c1c2MM9AxrAZvtbs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NQe4GqzUU4V1DtBT_kPmHYTuAq2c1c2MM9AxrAZvtbs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $json.query.action }}",
            "Draft_ID": "={{ $json.query.id }}",
            "Post_Content": "={{ $json.query.content }}",
            "Action_Taken_by": "={{ $json.query.reply_to }},{{ $json.query.cc }}"
          },
          "matchingColumns": [
            "Draft_ID"
          ],
          "schema": [
            {
              "id": "Draft_ID",
              "displayName": "Draft_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Day_of_Week",
              "displayName": "Day_of_Week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Format",
              "displayName": "Format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ICP_Persona",
              "displayName": "ICP_Persona",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TG",
              "displayName": "TG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post_Content",
              "displayName": "Post_Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Scheduled_Time",
              "displayName": "Scheduled_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Engagement_Log",
              "displayName": "Engagement_Log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Action_Taken_by",
              "displayName": "Action_Taken_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post_In",
              "displayName": "Post_In",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post_Location",
              "displayName": "Post_Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        96,
        -48
      ],
      "id": "99628cb7-8547-402c-b856-eedf5e3ed95e",
      "name": "Update row in sheet1",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "googleApi": {
          "id": "2WI4zaOhhsTGtgv0",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "114f0421-ae1f-449f-a541-d204813f5352",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        320,
        -48
      ],
      "id": "28660c41-39b1-41f4-9b21-8b0b3c89c91c",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "marketing@lockated.com",
        "toEmail": "suyash.jagdale@lockated.com",
        "subject": "=Content Approved",
        "html": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>Content Approved — FM Matrix</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&family=DM+Mono:wght@400;500&display=swap\" rel=\"stylesheet\"/>\n  <style>\n    *, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }\n\n    :root {\n      --bg:        #F5F4F0;\n      --surface:   #FFFFFF;\n      --surface2:  #F9F8F5;\n      --border:    rgba(0,0,0,0.08);\n      --text-1:    #1A1916;\n      --text-2:    #5C5A54;\n      --text-3:    #9B9890;\n      --green-bg:  #E4F5EC;\n      --green-bd:  #34A85A;\n      --green-tx:  #1A5E34;\n      --radius-md: 10px;\n      --radius-lg: 16px;\n    }\n\n    body {\n      font-family: 'DM Sans', sans-serif;\n      background: var(--bg);\n      min-height: 100vh;\n      display: flex;\n      align-items: flex-start;\n      justify-content: center;\n      padding: 40px 16px;\n      color: var(--text-1);\n    }\n\n    .wrapper { width: 100%; max-width: 780px; }\n\n    .topbar {\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      margin-bottom: 20px;\n    }\n    .topbar-brand {\n      font-size: 13px;\n      font-weight: 500;\n      color: var(--text-3);\n      letter-spacing: 0.04em;\n      text-transform: uppercase;\n    }\n    .topbar-brand span { color: var(--text-1); }\n\n    .card {\n      background: var(--surface);\n      border: 1px solid var(--border);\n      border-radius: var(--radius-lg);\n      overflow: hidden;\n      box-shadow: 0 2px 12px rgba(0,0,0,0.05);\n      animation: slideUp 0.6s ease-out;\n    }\n\n    .card-header {\n      padding: 28px;\n      text-align: center;\n      border-bottom: 1px solid var(--border);\n    }\n\n    .status-badge {\n      display: inline-flex;\n      align-items: center;\n      gap: 10px;\n      background: var(--green-bg);\n      border: 1px solid var(--green-bd);\n      color: var(--green-tx);\n      padding: 12px 20px;\n      border-radius: 24px;\n      font-size: 15px;\n      font-weight: 500;\n      margin-bottom: 16px;\n      animation: slideDown 0.5s ease-out 0.1s both;\n    }\n\n    .status-badge svg {\n      width: 18px;\n      height: 18px;\n      stroke: currentColor;\n      fill: none;\n      stroke-width: 2;\n      stroke-linecap: round;\n      stroke-linejoin: round;\n    }\n\n    .subject {\n      font-size: 24px;\n      font-weight: 500;\n      line-height: 1.4;\n      color: var(--text-1);\n    }\n\n    .card-body {\n      padding: 28px;\n    }\n\n    .section-label {\n      font-size: 11px;\n      font-weight: 600;\n      color: var(--text-3);\n      letter-spacing: 0.08em;\n      text-transform: uppercase;\n      margin-bottom: 12px;\n      margin-top: 24px;\n    }\n\n    .section-label:first-child {\n      margin-top: 0;\n    }\n\n    .content-block {\n      background: var(--surface2);\n      border: 1px solid var(--border);\n      border-radius: var(--radius-md);\n      padding: 22px 24px;\n      margin-bottom: 20px;\n      animation: slideUp 0.6s ease-out 0.2s both;\n    }\n\n    .content-block p {\n      font-size: 15px;\n      line-height: 1.8;\n      color: var(--text-1);\n      white-space: pre-wrap;\n      word-wrap: break-word;\n    }\n\n    .meta-grid {\n      display: grid;\n      grid-template-columns: 1fr 1fr;\n      gap: 16px;\n      animation: slideUp 0.6s ease-out 0.3s both;\n    }\n\n    .meta-item {\n      background: var(--surface2);\n      border: 1px solid var(--border);\n      border-radius: var(--radius-md);\n      padding: 16px 18px;\n    }\n\n    .meta-label {\n      font-size: 11px;\n      font-weight: 600;\n      color: var(--text-3);\n      letter-spacing: 0.08em;\n      text-transform: uppercase;\n      display: block;\n      margin-bottom: 8px;\n    }\n\n    .meta-value {\n      font-size: 15px;\n      font-weight: 500;\n      color: var(--text-1);\n    }\n\n    .card-footer {\n      padding: 16px 28px;\n      border-top: 1px solid var(--border);\n      background: var(--surface2);\n      text-align: center;\n      font-size: 12px;\n      color: var(--text-3);\n      animation: slideUp 0.6s ease-out 0.4s both;\n    }\n\n    @keyframes slideUp {\n      from {\n        opacity: 0;\n        transform: translateY(20px);\n      }\n      to {\n        opacity: 1;\n        transform: translateY(0);\n      }\n    }\n\n    @keyframes slideDown {\n      from {\n        opacity: 0;\n        transform: translateY(-20px);\n      }\n      to {\n        opacity: 1;\n        transform: translateY(0);\n      }\n    }\n\n    @media (max-width: 520px) {\n      .subject { font-size: 20px; }\n      .card-header, .card-body { padding: 20px 18px; }\n      .meta-grid {\n        grid-template-columns: 1fr;\n      }\n    }\n  </style>\n</head>\n<body>\n<div class=\"wrapper\">\n  <div class=\"card\">\n\n    <!-- Header -->\n    <div class=\"card-header\">\n      <div class=\"status-badge\">\n        <svg viewBox=\"0 0 16 16\">\n          <path d=\"M3 8L6.5 11.5L13 5\"/>\n        </svg>\n        Content Approved\n      </div>\n      <h1 class=\"subject\">DFID-{{ $('Update row in sheet1').item.json.Draft_ID }}</h1>\n    </div>\n\n    <!-- Body -->\n    <div class=\"card-body\">\n\n      <div class=\"section-label\">Approved content</div>\n      <div class=\"content-block\">\n        <p>{{ $('Update row in sheet1').item.json.Post_Content }}</p>\n      </div>\n\n      <div class=\"section-label\">Approval details</div>\n      <div class=\"meta-grid\">\n        <div class=\"meta-item\">\n          <span class=\"meta-label\">Draft ID</span>\n          <div class=\"meta-value\">{{ $('Update row in sheet1').item.json.Draft_ID }}</div>\n        </div>\n        <div class=\"meta-item\">\n          <span class=\"meta-label\">Approved by</span>\n          <div class=\"meta-value\" id=\"approverName\">{{ $('Update row in sheet1').item.json.Action_Taken_by }}</div>\n        </div>\n      </div>\n\n    </div>\n\n    <!-- Footer -->\n    <div class=\"card-footer\">\n      ✓ Review completed • Ready for publication\n    </div>\n\n  </div>\n\n</div>\n\n<script>\n// Format email(s) to name(s) - handles single or multiple emails\nwindow.addEventListener('DOMContentLoaded', function(){\n  const emailEl = document.getElementById('approverName');\n  const emailText = emailEl.textContent.trim();\n  \n  if(emailText && emailText.includes('@')){\n    // Handle multiple emails separated by commas\n    const names = emailText\n      .split(',')\n      .map(email => {\n        email = email.trim();\n        // Get part before @\n        let name = email.split('@')[0];\n        // Split by dots and capitalize each part\n        return name\n          .split('.')\n          .map(part => part.charAt(0).toUpperCase() + part.slice(1))\n          .join(' ');\n      })\n      .join(', ');\n    \n    emailEl.textContent = names;\n  }\n});\n</script>\n</body>\n</html>",
        "options": {
          "ccEmail": "manav.gandhi@lockated.com"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        560,
        -288
      ],
      "id": "d1719ab7-fb90-4d5d-869e-381469e3716a",
      "name": "Approval Email",
      "webhookId": "3648c3e4-85f7-4851-8673-6155f0f38d40",
      "credentials": {
        "smtp": {
          "id": "m6pGNPu76sBcBXtf",
          "name": "Task Management SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>Content Review</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&family=DM+Mono:wght@400;500&display=swap\" rel=\"stylesheet\"/>\n  <style>\n    *, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }\n\n    :root {\n      --bg:        #F5F4F0;\n      --surface:   #FFFFFF;\n      --surface2:  #F9F8F5;\n      --border:    rgba(0,0,0,0.08);\n      --text-1:    #1A1916;\n      --text-2:    #5C5A54;\n      --text-3:    #9B9890;\n      --green-bg:  #E4F5EC;\n      --green-bd:  #34A85A;\n      --green-tx:  #1A5E34;\n      --radius-md: 10px;\n      --radius-lg: 16px;\n    }\n\n    body {\n      font-family: 'DM Sans', sans-serif;\n      background: var(--bg);\n      min-height: 100vh;\n      display: flex;\n      align-items: flex-start;\n      justify-content: center;\n      padding: 40px 16px;\n      color: var(--text-1);\n    }\n\n    .wrapper { \n      width: 100%; \n      max-width: 780px; \n    }\n\n    .card {\n      background: var(--surface);\n      border: 1px solid var(--border);\n      border-radius: var(--radius-lg);\n      overflow: hidden;\n      box-shadow: 0 2px 12px rgba(0,0,0,0.05);\n      animation: slideUp 0.6s ease-out;\n    }\n\n    /* Header */\n    .card-header {\n      padding: 28px;\n      text-align: center;\n      border-bottom: 1px solid var(--border);\n    }\n\n    .subject {\n      font-size: 28px;\n      font-weight: 500;\n      line-height: 1.4;\n      color: var(--text-1);\n      margin-bottom: 16px;\n    }\n\n    .status-badge {\n      display: inline-flex;\n      align-items: center;\n      gap: 8px;\n      background: var(--green-bg);\n      border: 1px solid var(--green-bd);\n      color: var(--green-tx);\n      padding: 10px 16px;\n      border-radius: 20px;\n      font-size: 14px;\n      font-weight: 500;\n      animation: slideDown 0.5s ease-out 0.1s both;\n    }\n\n    .status-badge svg {\n      width: 16px;\n      height: 16px;\n    }\n\n    /* Body */\n    .card-body {\n      padding: 28px;\n    }\n\n    .section-label {\n      font-size: 11px;\n      font-weight: 600;\n      color: var(--text-3);\n      letter-spacing: 0.08em;\n      text-transform: uppercase;\n      margin-bottom: 12px;\n      margin-top: 24px;\n    }\n\n    .section-label:first-child {\n      margin-top: 0;\n    }\n\n    /* Content Block */\n    .content-block {\n      background: var(--surface2);\n      border: 1px solid var(--border);\n      border-radius: var(--radius-md);\n      padding: 22px 24px;\n      margin-bottom: 20px;\n      animation: slideUp 0.6s ease-out 0.2s both;\n    }\n\n    .content-block p {\n      font-size: 15px;\n      line-height: 1.8;\n      color: var(--text-1);\n      white-space: pre-wrap;\n      word-wrap: break-word;\n    }\n\n    /* Meta Information */\n    .meta-grid {\n      display: grid;\n      grid-template-columns: 1fr 1fr;\n      gap: 20px;\n      margin-bottom: 20px;\n      animation: slideUp 0.6s ease-out 0.3s both;\n    }\n\n    .meta-item {\n      background: var(--surface2);\n      border: 1px solid var(--border);\n      border-radius: var(--radius-md);\n      padding: 16px;\n    }\n\n    .meta-label {\n      font-size: 11px;\n      font-weight: 600;\n      color: var(--text-3);\n      letter-spacing: 0.08em;\n      text-transform: uppercase;\n      display: block;\n      margin-bottom: 8px;\n    }\n\n    .meta-value {\n      font-size: 15px;\n      font-weight: 500;\n      color: var(--text-1);\n    }\n\n    .meta-subtext {\n      font-size: 13px;\n      color: var(--text-2);\n      margin-top: 4px;\n    }\n\n    .meta-grid-3 {\n      grid-template-columns: 1fr;\n    }\n\n    /* Footer */\n    .card-footer {\n      padding: 16px 28px;\n      border-top: 1px solid var(--border);\n      background: var(--surface2);\n      text-align: center;\n      font-size: 12px;\n      color: var(--text-3);\n      animation: slideUp 0.6s ease-out 0.4s both;\n    }\n\n    @keyframes slideUp {\n      from {\n        opacity: 0;\n        transform: translateY(20px);\n      }\n      to {\n        opacity: 1;\n        transform: translateY(0);\n      }\n    }\n\n    @keyframes slideDown {\n      from {\n        opacity: 0;\n        transform: translateY(-20px);\n      }\n      to {\n        opacity: 1;\n        transform: translateY(0);\n      }\n    }\n\n    @media (max-width: 520px) {\n      .subject { font-size: 22px; }\n      .card-header, .card-body { padding: 20px 18px; }\n      .meta-grid {\n        grid-template-columns: 1fr;\n      }\n    }\n  </style>\n</head>\n<body>\n<div class=\"wrapper\">\n\n  <div class=\"card\">\n\n    <!-- Header -->\n    <div class=\"card-header\">\n      <h1 class=\"subject\">Content Review</h1>\n      <div class=\"status-badge\">\n        <svg viewBox=\"0 0 16 16\" fill=\"none\">\n          <path d=\"M3 8L6.5 11.5L13 5\" stroke=\"currentColor\" stroke-width=\"1.8\" stroke-linecap=\"round\" stroke-linejoin=\"round\"/>\n        </svg>\n        Approved\n      </div>\n    </div>\n\n    <!-- Body -->\n    <div class=\"card-body\">\n\n      <div class=\"section-label\">Content Reviewed</div>\n      <div class=\"content-block\">\n        <p>{{$json.Post_Content}}</p>\n      </div>\n\n      <div class=\"section-label\">Approver Details</div>\n      <div class=\"meta-grid\">\n        <div class=\"meta-item\">\n          <span class=\"meta-label\">Approved By</span>\n            <div class=\"meta-value\">\n            {{\n              $json.Action_Taken_by\n                .split(',')\n                .map(email => {\n                  let name = email.split('@')[0]; // remove domain\n                  return name\n                    .split('.')\n                    .map(part => part.charAt(0).toUpperCase() + part.slice(1))\n                    .join(' ');\n                })\n                .join(', ')\n            }}\n            </div>\n        </div>\n      </div>\n\n    </div>\n\n    <!-- Footer -->\n    <div class=\"card-footer\">\n      ✓ Review completed • Ready for publication\n    </div>\n\n  </div>\n\n</div>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        544,
        -128
      ],
      "id": "c5946208-7fd1-49e1-8ef3-e5b5c0138082",
      "name": "Approved Page",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>Draft Saved — FM Matrix</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&family=DM+Mono:wght@400;500&display=swap\" rel=\"stylesheet\"/>\n  <style>\n    *, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }\n\n    :root {\n      --bg:        #F5F4F0;\n      --surface:   #FFFFFF;\n      --surface2:  #F9F8F5;\n      --border:    rgba(0,0,0,0.08);\n      --text-1:    #1A1916;\n      --text-2:    #5C5A54;\n      --text-3:    #9B9890;\n      --blue-bg:   #EAF1FD;\n      --blue-bd:   #3A7BDB;\n      --blue-tx:   #1B3D7A;\n      --radius-md: 10px;\n      --radius-lg: 16px;\n    }\n\n    body {\n      font-family: 'DM Sans', sans-serif;\n      background: var(--bg);\n      min-height: 100vh;\n      display: flex;\n      align-items: flex-start;\n      justify-content: center;\n      padding: 40px 16px;\n      color: var(--text-1);\n    }\n\n    .wrapper { width: 100%; max-width: 780px; }\n\n    .card {\n      background: var(--surface);\n      border: 1px solid var(--border);\n      border-radius: var(--radius-lg);\n      overflow: hidden;\n      box-shadow: 0 2px 12px rgba(0,0,0,0.05);\n      animation: slideUp 0.6s ease-out;\n    }\n\n    .card-header {\n      padding: 28px;\n      text-align: center;\n      border-bottom: 1px solid var(--border);\n    }\n\n    .status-badge {\n      display: inline-flex;\n      align-items: center;\n      gap: 10px;\n      background: var(--blue-bg);\n      border: 1px solid var(--blue-bd);\n      color: var(--blue-tx);\n      padding: 12px 20px;\n      border-radius: 24px;\n      font-size: 15px;\n      font-weight: 500;\n      margin-bottom: 16px;\n      animation: slideDown 0.5s ease-out 0.1s both;\n    }\n\n    .status-badge svg {\n      width: 18px;\n      height: 18px;\n      stroke: currentColor;\n      fill: none;\n      stroke-width: 2;\n      stroke-linecap: round;\n      stroke-linejoin: round;\n    }\n\n    .subject {\n      font-size: 24px;\n      font-weight: 500;\n      line-height: 1.4;\n      color: var(--text-1);\n    }\n\n    .card-body {\n      padding: 28px;\n    }\n\n    .section-label {\n      font-size: 11px;\n      font-weight: 600;\n      color: var(--text-3);\n      letter-spacing: 0.08em;\n      text-transform: uppercase;\n      margin-bottom: 12px;\n      margin-top: 24px;\n    }\n\n    .section-label:first-child {\n      margin-top: 0;\n    }\n\n    .content-block {\n      background: var(--surface2);\n      border: 1px solid var(--border);\n      border-radius: var(--radius-md);\n      padding: 22px 24px;\n      margin-bottom: 20px;\n      animation: slideUp 0.6s ease-out 0.2s both;\n    }\n\n    .content-block p {\n      font-size: 15px;\n      line-height: 1.8;\n      color: var(--text-1);\n      white-space: pre-wrap;\n      word-wrap: break-word;\n    }\n\n    .meta-grid {\n      display: grid;\n      grid-template-columns: 1fr 1fr;\n      gap: 16px;\n      animation: slideUp 0.6s ease-out 0.3s both;\n    }\n\n    .meta-item {\n      background: var(--surface2);\n      border: 1px solid var(--border);\n      border-radius: var(--radius-md);\n      padding: 16px 18px;\n    }\n\n    .meta-label {\n      font-size: 11px;\n      font-weight: 600;\n      color: var(--text-3);\n      letter-spacing: 0.08em;\n      text-transform: uppercase;\n      display: block;\n      margin-bottom: 8px;\n    }\n\n    .meta-value {\n      font-size: 15px;\n      font-weight: 500;\n      color: var(--text-1);\n    }\n\n    .card-footer {\n      padding: 16px 28px;\n      border-top: 1px solid var(--border);\n      background: var(--surface2);\n      text-align: center;\n      font-size: 12px;\n      color: var(--text-3);\n      animation: slideUp 0.6s ease-out 0.4s both;\n    }\n\n    @keyframes slideUp {\n      from {\n        opacity: 0;\n        transform: translateY(20px);\n      }\n      to {\n        opacity: 1;\n        transform: translateY(0);\n      }\n    }\n\n    @keyframes slideDown {\n      from {\n        opacity: 0;\n        transform: translateY(-20px);\n      }\n      to {\n        opacity: 1;\n        transform: translateY(0);\n      }\n    }\n\n    @media (max-width: 520px) {\n      .subject { font-size: 20px; }\n      .card-header, .card-body { padding: 20px 18px; }\n      .meta-grid {\n        grid-template-columns: 1fr;\n      }\n    }\n  </style>\n</head>\n<body>\n<div class=\"wrapper\">\n  <div class=\"card\">\n\n    <!-- Header -->\n    <div class=\"card-header\">\n      <div class=\"status-badge\">\n        <svg viewBox=\"0 0 16 16\">\n          <path d=\"M2 3h12M2 8h12M2 13h12\"/>\n        </svg>\n        Saved as Draft\n      </div>\n      <h1 class=\"subject\">DFID-{{ $('Update row in sheet1').item.json.Draft_ID }}</h1>\n    </div>\n\n    <!-- Body -->\n    <div class=\"card-body\">\n\n      <div class=\"section-label\">Draft content</div>\n      <div class=\"content-block\">\n        <p>{{ $('Update row in sheet1').item.json.Post_Content }}</p>\n      </div>\n\n      <div class=\"section-label\">Save details</div>\n      <div class=\"meta-grid\">\n        <div class=\"meta-item\">\n          <span class=\"meta-label\">Draft ID</span>\n          <div class=\"meta-value\">{{ $('Update row in sheet1').item.json.Draft_ID }}</div>\n        </div>\n        <div class=\"meta-item\">\n          <span class=\"meta-label\">Saved by</span>\n          <div class=\"meta-value\" id=\"approverName\">{{ $('Update row in sheet1').item.json.Action_Taken_by }}</div>\n        </div>\n      </div>\n\n    </div>\n\n    <!-- Footer -->\n    <div class=\"card-footer\">\n      📝 Draft saved • Can be edited or approved later\n    </div>\n\n  </div>\n\n</div>\n\n<script>\n// Format email(s) to name(s) - handles single or multiple emails\nwindow.addEventListener('DOMContentLoaded', function(){\n  const emailEl = document.getElementById('approverName');\n  const emailText = emailEl.textContent.trim();\n  \n  if(emailText && emailText.includes('@')){\n    // Handle multiple emails separated by commas\n    const names = emailText\n      .split(',')\n      .map(email => {\n        email = email.trim();\n        // Get part before @\n        let name = email.split('@')[0];\n        // Split by dots and capitalize each part\n        return name\n          .split('.')\n          .map(part => part.charAt(0).toUpperCase() + part.slice(1))\n          .join(' ');\n      })\n      .join(', ');\n    \n    emailEl.textContent = names;\n  }\n});\n</script>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        544,
        64
      ],
      "id": "f2cdf69d-9fc5-40ae-9c2c-01c218db0879",
      "name": "Draft Page"
    },
    {
      "parameters": {
        "enableResponseOutput": true,
        "respondWith": "text",
        "responseBody": "={{$json.html}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        816,
        -48
      ],
      "id": "4cc1a994-2d7c-443f-a1eb-6bf5d5410f13",
      "name": "Respond to Webhook1",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "fromEmail": "marketing@lockated.com",
        "toEmail": "suyash.jagdale@lockated.com",
        "subject": "=Content Drafted & Saved",
        "html": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>Draft Saved — FM Matrix</title>\n  <link href=\"https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&family=DM+Mono:wght@400;500&display=swap\" rel=\"stylesheet\"/>\n  <style>\n    *, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }\n\n    :root {\n      --bg:        #F5F4F0;\n      --surface:   #FFFFFF;\n      --surface2:  #F9F8F5;\n      --border:    rgba(0,0,0,0.08);\n      --text-1:    #1A1916;\n      --text-2:    #5C5A54;\n      --text-3:    #9B9890;\n      --blue-bg:   #EAF1FD;\n      --blue-bd:   #3A7BDB;\n      --blue-tx:   #1B3D7A;\n      --radius-md: 10px;\n      --radius-lg: 16px;\n    }\n\n    body {\n      font-family: 'DM Sans', sans-serif;\n      background: var(--bg);\n      min-height: 100vh;\n      display: flex;\n      align-items: flex-start;\n      justify-content: center;\n      padding: 40px 16px;\n      color: var(--text-1);\n    }\n\n    .wrapper { width: 100%; max-width: 780px; }\n\n    .card {\n      background: var(--surface);\n      border: 1px solid var(--border);\n      border-radius: var(--radius-lg);\n      overflow: hidden;\n      box-shadow: 0 2px 12px rgba(0,0,0,0.05);\n      animation: slideUp 0.6s ease-out;\n    }\n\n    .card-header {\n      padding: 28px;\n      text-align: center;\n      border-bottom: 1px solid var(--border);\n    }\n\n    .status-badge {\n      display: inline-flex;\n      align-items: center;\n      gap: 10px;\n      background: var(--blue-bg);\n      border: 1px solid var(--blue-bd);\n      color: var(--blue-tx);\n      padding: 12px 20px;\n      border-radius: 24px;\n      font-size: 15px;\n      font-weight: 500;\n      margin-bottom: 16px;\n      animation: slideDown 0.5s ease-out 0.1s both;\n    }\n\n    .status-badge svg {\n      width: 18px;\n      height: 18px;\n      stroke: currentColor;\n      fill: none;\n      stroke-width: 2;\n      stroke-linecap: round;\n      stroke-linejoin: round;\n    }\n\n    .subject {\n      font-size: 24px;\n      font-weight: 500;\n      line-height: 1.4;\n      color: var(--text-1);\n    }\n\n    .card-body {\n      padding: 28px;\n    }\n\n    .section-label {\n      font-size: 11px;\n      font-weight: 600;\n      color: var(--text-3);\n      letter-spacing: 0.08em;\n      text-transform: uppercase;\n      margin-bottom: 12px;\n      margin-top: 24px;\n    }\n\n    .section-label:first-child {\n      margin-top: 0;\n    }\n\n    .content-block {\n      background: var(--surface2);\n      border: 1px solid var(--border);\n      border-radius: var(--radius-md);\n      padding: 22px 24px;\n      margin-bottom: 20px;\n      animation: slideUp 0.6s ease-out 0.2s both;\n    }\n\n    .content-block p {\n      font-size: 15px;\n      line-height: 1.8;\n      color: var(--text-1);\n      white-space: pre-wrap;\n      word-wrap: break-word;\n    }\n\n    .meta-grid {\n      display: grid;\n      grid-template-columns: 1fr 1fr;\n      gap: 16px;\n      animation: slideUp 0.6s ease-out 0.3s both;\n    }\n\n    .meta-item {\n      background: var(--surface2);\n      border: 1px solid var(--border);\n      border-radius: var(--radius-md);\n      padding: 16px 18px;\n    }\n\n    .meta-label {\n      font-size: 11px;\n      font-weight: 600;\n      color: var(--text-3);\n      letter-spacing: 0.08em;\n      text-transform: uppercase;\n      display: block;\n      margin-bottom: 8px;\n    }\n\n    .meta-value {\n      font-size: 15px;\n      font-weight: 500;\n      color: var(--text-1);\n    }\n\n    .card-footer {\n      padding: 16px 28px;\n      border-top: 1px solid var(--border);\n      background: var(--surface2);\n      text-align: center;\n      font-size: 12px;\n      color: var(--text-3);\n      animation: slideUp 0.6s ease-out 0.4s both;\n    }\n\n    @keyframes slideUp {\n      from {\n        opacity: 0;\n        transform: translateY(20px);\n      }\n      to {\n        opacity: 1;\n        transform: translateY(0);\n      }\n    }\n\n    @keyframes slideDown {\n      from {\n        opacity: 0;\n        transform: translateY(-20px);\n      }\n      to {\n        opacity: 1;\n        transform: translateY(0);\n      }\n    }\n\n    @media (max-width: 520px) {\n      .subject { font-size: 20px; }\n      .card-header, .card-body { padding: 20px 18px; }\n      .meta-grid {\n        grid-template-columns: 1fr;\n      }\n    }\n  </style>\n</head>\n<body>\n<div class=\"wrapper\">\n  <div class=\"card\">\n\n    <!-- Header -->\n    <div class=\"card-header\">\n      <div class=\"status-badge\">\n        <svg viewBox=\"0 0 16 16\">\n          <path d=\"M2 3h12M2 8h12M2 13h12\"/>\n        </svg>\n        Saved as Draft\n      </div>\n      <h1 class=\"subject\">DFID-{{ $('Update row in sheet1').item.json.Draft_ID }}</h1>\n    </div>\n\n    <!-- Body -->\n    <div class=\"card-body\">\n\n      <div class=\"section-label\">Draft content</div>\n      <div class=\"content-block\">\n        <p>{{ $('Update row in sheet1').item.json.Post_Content }}</p>\n      </div>\n\n      <div class=\"section-label\">Save details</div>\n      <div class=\"meta-grid\">\n        <div class=\"meta-item\">\n          <span class=\"meta-label\">Draft ID</span>\n          <div class=\"meta-value\">{{ $('Update row in sheet1').item.json.Draft_ID }}</div>\n        </div>\n        <div class=\"meta-item\">\n          <span class=\"meta-label\">Saved by</span>\n          <div class=\"meta-value\" id=\"approverName\">{{ $('Update row in sheet1').item.json.Action_Taken_by }}</div>\n        </div>\n      </div>\n\n    </div>\n\n    <!-- Footer -->\n    <div class=\"card-footer\">\n      📝 Draft saved • Can be edited or approved later\n    </div>\n\n  </div>\n\n</div>\n\n<script>\n// Format email(s) to name(s) - handles single or multiple emails\nwindow.addEventListener('DOMContentLoaded', function(){\n  const emailEl = document.getElementById('approverName');\n  const emailText = emailEl.textContent.trim();\n  \n  if(emailText && emailText.includes('@')){\n    // Handle multiple emails separated by commas\n    const names = emailText\n      .split(',')\n      .map(email => {\n        email = email.trim();\n        // Get part before @\n        let name = email.split('@')[0];\n        // Split by dots and capitalize each part\n        return name\n          .split('.')\n          .map(part => part.charAt(0).toUpperCase() + part.slice(1))\n          .join(' ');\n      })\n      .join(', ');\n    \n    emailEl.textContent = names;\n  }\n});\n</script>\n</body>\n</html>",
        "options": {
          "ccEmail": "manav.gandhi@lockated.com"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        544,
        240
      ],
      "id": "88e521bd-feb6-4b6b-a230-2321b1057b91",
      "name": "Draft Email",
      "webhookId": "3648c3e4-85f7-4851-8673-6155f0f38d40",
      "credentials": {
        "smtp": {
          "id": "m6pGNPu76sBcBXtf",
          "name": "Task Management SMTP Account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Approval Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Approved Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Draft Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Draft Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved Page": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Page": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "dded261f-03c1-43c5-ae9d-6241cd3237b4",
  "activeVersionId": null,
  "versionCounter": 9,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-14T04:36:41.364Z",
      "createdAt": "2026-04-14T04:36:41.364Z",
      "role": "workflow:owner",
      "workflowId": "m3Csa2IrMz1Ph7So",
      "projectId": "s9jeiIUr8G6hBG6i",
      "project": {
        "updatedAt": "2026-01-28T12:34:21.552Z",
        "createdAt": "2025-12-24T09:57:24.391Z",
        "id": "s9jeiIUr8G6hBG6i",
        "name": "N8N Admin <n8n@lockated.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
        "projectRelations": [
          {
            "updatedAt": "2025-12-24T09:57:24.391Z",
            "createdAt": "2025-12-24T09:57:24.391Z",
            "userId": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
            "projectId": "s9jeiIUr8G6hBG6i",
            "user": {
              "updatedAt": "2026-04-16T03:51:58.000Z",
              "createdAt": "2025-12-24T09:57:23.917Z",
              "id": "c0d3bba5-1555-40ed-ab2f-0518b8a1ae98",
              "email": "n8n@lockated.com",
              "firstName": "N8N",
              "lastName": "Admin",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-24T10:09:47.905Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "ci-cd",
                  "cloud-infrastructure-orchestration",
                  "monitoring-alerting",
                  "reporting"
                ],
                "companyType": "saas",
                "role": "it"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "Xc0BOlt0NinXhZcC",
                "userActivatedAt": 1767166205042,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770088091114
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-15",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-04-09T05:50:06.216Z",
      "createdAt": "2026-04-09T05:50:06.216Z",
      "id": "G3nbvWMHGcGbTeOI",
      "name": "marketing-support"
    }
  ],
  "activeVersion": null
}