n8n Backup - 09 March 2026/Module 9 - To-Do List/To-do overdue.json
{
  "name": "To-do overdue",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        256,
        -96
      ],
      "id": "1f702309-884b-42be-85a7-6fefe1a6906b",
      "name": "Respond to Webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "to-do-overdue",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        -64
      ],
      "id": "8b34b502-8c19-4856-8325-512b3699fa76",
      "name": "Webhook",
      "webhookId": "118b1276-84c7-435f-b8de-4f46889d1049",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "notificaions@lockated.com",
        "toEmail": "={{$json.todo_owner_email}}\n",
        "subject": "= To-Do Overdue – {{$json.todo_title}}\n",
        "html": "=Dear {{$json.todo_owner_firstname}} {{$json.todo_owner_lastname}},\n\nYour to-do item <b>{{$json.todo_title}}</b> is overdue.\n\nDetails:\n• Target Date: {{$json.target_date}}\n• Overdue By: {{$json.overdue_days}} days\n\nImmediate action is required.\n\nRegards,\nTask Governance\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        -192
      ],
      "id": "5ff420d1-0024-449f-b6be-95e74cad3b0f",
      "name": "User",
      "webhookId": "c3c831e5-4123-4473-9a75-79e0d38e4a2b",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "e6BxRubia0RizPKp",
          "name": "Lockated Local SMTP"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  t.id                        AS todo_id,\n  t.title                     AS todo_title,\n  t.target_date,\n  t.status                    AS todo_status,\n\n  DATEDIFF(UTC_DATE(), t.target_date) AS overdue_days,\n\n  u.email                     AS todo_owner_email,\n  u.firstname                 AS todo_owner_firstname,\n  u.lastname                  AS todo_owner_lastname\n\nFROM todos t\n\nJOIN spree_users u\n  ON u.id = t.user_id\n\nWHERE\n  t.status != 'completed'\n  AND t.target_date < UTC_DATE();\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -240,
        -224
      ],
      "id": "0a3fb075-9243-457a-b00e-6176a960cc64",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "FGCPCtEG47rFAJ4J",
          "name": "New FM UAT Task Management Database"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -544,
        -288
      ],
      "id": "153f7d74-0d7d-47fd-8220-6299e6faf56d",
      "name": "Schedule Trigger",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        []
      ]
    },
    "User": {
      "main": [
        []
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "41d3a367-3856-4c17-bfdb-dc2eba69b24b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cef8c9ed95a800214bddfac974636ee18f281f75a4bb6a9a439ad49c2d156498"
  },
  "id": "mbmQyGKC6ytZevH7",
  "tags": []
}