n8n Backup - 09 March 2026/Rustomjee Bigquery Backup 09-03-2026/Rustomjee BigQuery Category - Personal Events- 1 - Points on Birthdays.json
{
  "name": "Rustomjee BigQuery Category - Personal Events- 1 - Points on Birthdays",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {},
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -336,
        48
      ],
      "id": "70505f03-d5da-4cf0-a8bb-24e8f3258637",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": {
          "__rl": true,
          "value": "powerbi-implementation",
          "mode": "list",
          "cachedResultName": "PowerBI Implementation",
          "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
        },
        "sqlQuery": "SELECT *\nFROM \n  powerbi-implementation.dataWarehouse_prod.account_summary_person LIMIT 10000\n",
        "options": {}
      },
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        0,
        -112
      ],
      "id": "18ad6f6f-5879-4593-8cf8-25646313e062",
      "name": "Execute a SQL query",
      "credentials": {
        "googleApi": {
          "id": "nmAIqj1Sf2UOZ6ZZ",
          "name": "Rustomjee - BigQuery Google Service Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": {
          "__rl": true,
          "value": "powerbi-implementation",
          "mode": "list",
          "cachedResultName": "PowerBI Implementation",
          "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
        },
        "sqlQuery": "SELECT *\nFROM \n  powerbi-implementation.dataWarehouse_prod.sales_leads \n  WHERE LeadSource = \"Loyalty\"",
        "options": {}
      },
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        -240
      ],
      "id": "b2f25761-ddab-4893-881d-efe2bfb18b51",
      "name": "Execute a SQL query1",
      "credentials": {
        "googleApi": {
          "id": "nmAIqj1Sf2UOZ6ZZ",
          "name": "Rustomjee - BigQuery Google Service Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      customer_mobile: item.json.mobile,\n      customer_name: `${item.json.FirstName} ${item.json.LastName}`,\n      points: 1000,\n      reason: \"Birthday Reward\",\n      email: item.json.email,\n      birthday: item.json.Birth_Date__c\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        16
      ],
      "id": "930a07d2-e19d-4cc4-b873-666c5fb41450",
      "name": "Code in JavaScript3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": {
          "__rl": true,
          "value": "powerbi-implementation",
          "mode": "list",
          "cachedResultName": "PowerBI Implementation",
          "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=powerbi-implementation"
        },
        "sqlQuery": "SELECT\n  FirstName,\n  LastName,\n  Person_Account_Email__c AS email,\n  COALESCE(PersonMobilePhone, Person_Account_Mobile__c) AS mobile,\n  Birth_Date__c\nFROM `powerbi-implementation.dataWarehouse_prod.account_summary_person`\nWHERE\n  Birth_Date__c IS NOT NULL\n  AND COALESCE(PersonMobilePhone, Person_Account_Mobile__c) IS NOT NULL\n  AND EXTRACT(MONTH FROM DATE(Birth_Date__c)) = EXTRACT(MONTH FROM CURRENT_DATE())\n  AND EXTRACT(DAY FROM DATE(Birth_Date__c)) = EXTRACT(DAY FROM CURRENT_DATE())",
        "options": {}
      },
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        -112,
        48
      ],
      "id": "79e9af84-3163-4da1-a426-270fd33f2ac2",
      "name": "Query to fetch details of Person Having Birthday On Today's Date",
      "alwaysOutputData": true,
      "credentials": {
        "googleApi": {
          "id": "nmAIqj1Sf2UOZ6ZZ",
          "name": "Rustomjee - BigQuery Google Service Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ab1a59da-346c-4d34-bfff-50d160cb4000",
              "leftValue": "={{$json[\"mobile\"]}}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        48
      ],
      "id": "2e1df2aa-45a0-409b-82b4-05749c0d3b02",
      "name": "If",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Query to fetch details of Person Having Birthday On Today's Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        []
      ]
    },
    "Query to fetch details of Person Having Birthday On Today's Date": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7565827d-4484-4563-804b-877fee33e396",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cef8c9ed95a800214bddfac974636ee18f281f75a4bb6a9a439ad49c2d156498"
  },
  "id": "ABvTorJrxHjPg2yl",
  "tags": []
}