n8n Backup - 09 March 2026/Module 2 - TASKS, KANBAN, MY TASKS/Task reassigned.json
{
  "name": "Task reassigned",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "teask-reassigned",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        -128
      ],
      "id": "1438b8ee-be44-43fd-8901-061a39e0c429",
      "name": "Webhook",
      "webhookId": "208761de-4f79-449a-bbe1-fdf096c1cebf",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "notifications@lockated.com",
        "toEmail": "heypiyush112@gmail.com",
        "subject": "=Task Reassigned: {{$json.title}}",
        "html": "=Dear {{$json.RecipientName}},\n\nThis is to inform you that the task <b>{{$json.title}}</b> has been reassigned.\n\n<b>Task Reassignment Details</b>\n* Task Title: {{$json.title}}\n* Previous Owner: {{$json.previous_owner_name}}\n* New Owner: {{$json.new_owner_name}}\n* Project: {{$json.project_title}}\n* Updated On: {{$json.updated_at}}\n\nPlease take note of this change and proceed accordingly.\n\nRegards,\n<b>Task Management System</b>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        -256
      ],
      "id": "e478e915-ba84-4ffa-b16b-f112674b738f",
      "name": "Previous & New Owner",
      "webhookId": "80dbd401-6741-430b-9502-00d1743d1cf3",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "m6pGNPu76sBcBXtf",
          "name": "Task Management SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        176,
        -128
      ],
      "id": "8a56df53-f842-4f4e-95cd-62ff34565909",
      "name": "Respond to Webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM task_managements;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -256,
        -240
      ],
      "id": "df66ce04-a5a9-4040-827b-328a00753c9d",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "FGCPCtEG47rFAJ4J",
          "name": "New FM UAT Task Management Database"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Previous & New Owner": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Previous & New Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "85094e3c-cad9-40de-9abc-f5cc78efc208",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cef8c9ed95a800214bddfac974636ee18f281f75a4bb6a9a439ad49c2d156498"
  },
  "id": "nHxMUka0jsaQDTFW",
  "tags": []
}