Module 1 - Projects/Milestone overdue (1).json
{
  "name": "Milestone overdue",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "milestone-overdue",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        128,
        -256
      ],
      "id": "8e353046-4bda-439d-998d-3d7a270a291c",
      "name": "Webhook",
      "webhookId": "c6a14b85-6361-4540-937a-f01b1c71ac0e",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "notifications@lockated.com",
        "toEmail": "={{$json.project_manager_email}}, {{$json.milestone_owner_email}}",
        "subject": "=Milestone {{$json.milestone_title}} is overdue by {{$json.overdue_days}} days.",
        "html": "=Milestone {{$json.milestone_title}} is overdue by {{$json.overdue_days}} days.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -192,
        -96
      ],
      "id": "a62f0f05-4b9d-4f94-a013-77991180969e",
      "name": "PM, Leadership",
      "webhookId": "ea698c2a-375b-4cb1-9564-6c4c71d854c6",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "m6pGNPu76sBcBXtf",
          "name": "Task Management SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        112,
        96
      ],
      "id": "e29861c6-922c-4e6a-8286-9391904cb8dd",
      "name": "Respond to Webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  m.id                    AS milestone_id,\n  m.title                 AS milestone_title,\n  m.end_date              AS milestone_end_date,\n\n  -- overdue calculation\n  DATEDIFF(CURDATE(), DATE(m.end_date)) AS overdue_days,\n\n  pm.id                   AS project_id,\n  pm.title                AS project_title,\n\n  -- milestone owner\n  mo.email                AS milestone_owner_email,\n\n  -- project manager\n  pmo.email               AS project_manager_email,\n\n  -- team member\n  tm.id                   AS team_user_id,\n  tm.firstname           AS team_user_first_name,\n  tm.lastname            AS team_user_last_name,\n  tm.email                AS team_user_email\n\nFROM milestones m\n\n-- milestone owner\nJOIN users mo\n  ON mo.id = m.owner_id\n\n-- project\nJOIN project_managements pm\n  ON pm.id = m.project_management_id\n\n-- project manager\nJOIN users pmo\n  ON pmo.id = pm.owner_id\n\n-- project team\nJOIN project_team_members ptm\n  ON ptm.project_team_id = pm.project_team_id\n\n-- team members\nJOIN users tm\n  ON tm.id = ptm.user_id\n\nWHERE\n  DATE(m.end_date) < CURDATE()\n  AND (m.status IS NULL OR m.status != 'Completed');\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -432,
        -160
      ],
      "id": "f3507fee-152a-45e4-9784-2a6dba68e791",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "jlXMRexTLx3v7Dee",
          "name": "Task Management MySQL"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -752,
        -192
      ],
      "id": "265aa3ba-f062-4526-b96d-95a70ea73854",
      "name": "Schedule Trigger",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PM, Leadership": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "PM, Leadership",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "597a9b92-b4ef-447d-8004-e9920ae2ec0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cef8c9ed95a800214bddfac974636ee18f281f75a4bb6a9a439ad49c2d156498"
  },
  "id": "Xc0BOlt0NinXhZcC",
  "tags": [
    {
      "updatedAt": "2025-12-26T06:34:13.189Z",
      "createdAt": "2025-12-26T06:34:13.189Z",
      "id": "ntOn6pa6wD5AUrNk",
      "name": "Module 1 - Projects"
    }
  ]
}