Module 1 - Projects/New Project Created (1).json
{
  "name": "New Project Created",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-project-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        320,
        -160
      ],
      "id": "c554c455-d937-4469-ba7e-9fc0357d4461",
      "name": "Webhook",
      "webhookId": "3f93e63c-6264-4fb9-b464-a2231c67b835",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "notifications@lockated.com",
        "toEmail": "={{$json.owner_email}}",
        "subject": "=Project {{$json.title}} has been created.",
        "emailFormat": "text",
        "text": "=Hi User, Project {{$json.title}} has been created. You are assigned as Project Manager.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        64,
        -128
      ],
      "id": "764e54d2-4d42-4b87-92bf-33e9d02b2b26",
      "name": "Send email to project manager",
      "webhookId": "2ace0806-01e8-4926-a67d-ff087c746a5e",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "m6pGNPu76sBcBXtf",
          "name": "Task Management SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "notifications@lockated.com",
        "toEmail": "={{$json.team_user_email}}\n",
        "subject": "=Project {{$json.project_title}} has been created. You are assigned as Team Member.",
        "emailFormat": "text",
        "text": "=Project {{$json.project_title}} has been created. You are assigned as Project Team Member.",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        80,
        160
      ],
      "id": "7afd563e-868d-4d73-965f-5ea024fed049",
      "name": "Send email to team members",
      "webhookId": "9804636d-0814-4329-bc14-38bdc05a9ab2",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "m6pGNPu76sBcBXtf",
          "name": "Task Management SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  pm.*,\n  u.email AS owner_email\nFROM project_managements pm\nJOIN spree_users u\n  ON u.id = pm.owner_id\nWHERE\n  pm.created_at >= UTC_TIMESTAMP() - INTERVAL 60 MINUTE;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -192,
        -128
      ],
      "id": "d4c038f0-3603-4ec5-b1f8-cd29dc2941f3",
      "name": "Get Newly Created Projects within 30 minutes",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "FGCPCtEG47rFAJ4J",
          "name": "New FM UAT Task Management Database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  pm.id                AS project_id,\n  pm.title             AS project_title,\n  pm.project_team_id,\n  ptm.user_id          AS team_user_id,\n  u.firstname          AS first_name,\n  u.lastname           AS last_name,\n  u.email              AS team_user_email\nFROM project_managements pm\nJOIN project_team_members ptm\n  ON ptm.project_team_id = pm.project_team_id\nJOIN spree_users u\n  ON u.id = ptm.user_id\nWHERE pm.created_at >= UTC_TIMESTAMP() - INTERVAL 60 MINUTE;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -192,
        160
      ],
      "id": "dc13a544-37bc-4ab8-b967-01192978d29b",
      "name": "Get Project Team Members",
      "credentials": {
        "mySql": {
          "id": "FGCPCtEG47rFAJ4J",
          "name": "New FM UAT Task Management Database"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        400,
        32
      ],
      "id": "0bc650f7-873e-471b-81fd-676aaaa2dbf2",
      "name": "Respond to webhook"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -576,
        0
      ],
      "id": "fdd305a2-fb48-4f26-bc5b-488dcc2b35dd",
      "name": "1 hour repetition trigger",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email to project manager": {
      "main": [
        [
          {
            "node": "Respond to webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email to team members": {
      "main": [
        [
          {
            "node": "Respond to webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Newly Created Projects within 30 minutes": {
      "main": [
        [
          {
            "node": "Send email to project manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Team Members": {
      "main": [
        [
          {
            "node": "Send email to team members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 hour repetition trigger": {
      "main": [
        [
          {
            "node": "Get Newly Created Projects within 30 minutes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Project Team Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dee7f2e4-6098-4bca-8dee-14ca6d4697c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cef8c9ed95a800214bddfac974636ee18f281f75a4bb6a9a439ad49c2d156498"
  },
  "id": "buB1HlRNjRvOUeaG",
  "tags": [
    {
      "updatedAt": "2025-12-26T06:34:13.189Z",
      "createdAt": "2025-12-26T06:34:13.189Z",
      "id": "ntOn6pa6wD5AUrNk",
      "name": "Module 1 - Projects"
    }
  ]
}